<style type="text/css">
	.list-function-print a{
		display: inline-block;
		color: var(--color-black);
		font-size: var(--fz-15);
		font-family: var(--ff-regular);
		margin-left: 20px;
	}

	.list-function-print a.active{
		color: var(--color-primary);
		font-family: var(--ff-bold);
		font-weight: var(--fw-700);
	}

	.container-customer-talk > div:first-child{
		padding-top: 100px;
		padding-bottom: 120px;
		margin-top: 100px !important;
		background-color: #F4F4F4;
	}

	.container-customer-talk .customer-title{
		width: 320px;
		color: var(--color-sub-dark);
		font-size: 30px;
		font-family: var(--ff-bold);
		font-weight: var(--fw-700);
	}

	.container-customer-talk .customer-title span{
		color: var(--color-primary);
	}

	.container-customer-talk .customer-description span{
		font-weight: var(--fw-700);
	}

	.swiper-container.swiper-customer {
		width: 85%;
		height: 213px;
		background: #F4F4F4;
		overflow-x: clip !important;
		/*overflow-x: hidden !important;*/
		overflow-y: visible !important;
	}

	.swiper-slide {
		text-align: center;
		font-size: 18px;
		background: #fff;

		/* Center slide text vertically */
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
	}

	.swiper-slide img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.slide-customer-item{
		padding: 30px;
		border-radius: 16px;
		filter: drop-shadow(0 30px 60px, rgba(226,226,226, .64));
	}

	.slide-customer-item img{
		width: 90px;
	}

	.slide-customer-item .customer-intro h6{
		font-size: 18px;
		font-family: var(--ff-bold);
		font-weight: var(--fw-700);
		margin-bottom: -2px;
	}

	.slide-customer-item .customer-intro i{
		color: #5D5D5D;
		font-size: var(--fz-15);
		/*font-family: var(--ff-italic);*/
	}

	.slide-customer-item .customer-intro p{
		font-size: var(--fz-15);
		font-family: var(--ff-regular);
	}

	.swiper-customer .swiper-pagination span{
		width: 13px;
		height: 13px;
	}

	.swiper-customer .swiper-pagination .swiper-pagination-bullet:not(.swiper-pagination-bullet-active){
		border: 1px solid #707070;
	}

	.swiper-customer .swiper-pagination .swiper-pagination-bullet-active{
		background-color: var(--color-primary);
	}
	.swiper-pagination {
		bottom: -50px !important;
	}

	@media only screen and (max-width: 900px) {
		.container-customer-talk,
		.container-segment-list-service{
			display: none;
		}
	}
</style>
<% if (infoMenu) { %>
	<br><br>
	<div class="container-common container-title-search mt-5">
		<h5><%= infoMenu.name %></h5>
		<p><%= infoMenu.description %></p>
	</div>
<% } %>

<% if (slug == "flash-sale") { %>
	<div class="container-common container-title-search mt-5">
		<h5>flash sale</h5>
	</div>
<% } %>

<% if (slug == "moi-nhat") { %>
	<div class="container-common container-title-search mt-5">
		<h5>Ấn phẩm mới</h5>
	</div>
<% } %>

<!-- ==============================  START LIST RESULT SEARCH ================================== -->
<div class="container-common container-list-service">
	<div class="container mb-4">
		<div class="row">
			<% if (infoMenu && infoMenu.level == 1) { %>
				<div class="col-12 col-sm-9 d-flex justify-content-end list-function-print overflow-auto">
					<div class="d-flex">
						<% listMenu.forEach((menu, index) => { %>
							<% 
								let active = slug == menu.slug ? " active" : ""
							%> 
							<a href="/danh-muc/<%= menu.slug%>?hien-thi=1" class="<%=active%>">
								<img src="/template/hailuu-fe/assets/images/Mask Group <%= 27 + index + active%>.svg" alt="Print" class="me-1">
								<span><%= menu.name%></span>
							</a>
						<% }) %>
					</div>
				</div>
			<% } %>
			<div class="col-12 <%= infoMenu && infoMenu.level == 1 && 'col-sm-3' %> d-flex justify-content-end list-filter-result-search list-filter-result-search--mobile" style="position: relative;" >
				<div class="btn-toggle-menu-filter__wrap">
					<a href="javascript:void(0)" class="btn-toggle-menu-filter"  aria-expanded="false" isShow=1>
						<span>Bộ lọc hiển thị</span>
						<img src="/template/hailuu-fe/assets/images/XMLID_467_.png" alt="Sort Filter" class="ms-1">
					</a>
					<%
						let listSort = [
							{ 
								value: "1", text: "Giá: Từ cao đến thấp",
							},
							{
								value: "2", text: "Giá: Từ thấp đến cao",
							},
							{
								value: "3", text: "Thời gian: mới nhất",
							},
							{
								value: "4", text: "Thời gian: cũ nhất",
							}
						]
					%>
					<ul class="dropdown-menu dropdown-menu-end dropdown-menu-filter" >
						<li class="text-uppercase">
							Sắp xếp theo
						</li>
					
						<% listSort.forEach(item => { %>
							<% 
								let classActive = ""
								let liChecked = ""
								if(sort == item.value){
									classActive = "active"
									liChecked = `<i class="fas fa-check ms-5"></i>`
								}
							%>
							<li class="<%= classActive%>">
								<a href="/danh-muc/<%= slug %>?hien-thi=<%= item.value %>" class="dropdown-item"><%= item.text%> <%- liChecked%></a>
							</li>
						<% }) %>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row justify-content-center">
			<div class="d-flex justify-content-start flex-wrap mt-3 wrapper-list-service">
				<!-- <div class="list-service-item wrapper-item-card-common me-3">
					<div class="card wrapper-card">
						<img src="/template/hailuu-fe/assets/images/two-event-ticket-mockup_1150-37639.png" class="card-img-top img-fluid" alt="...">
						<div class="card-body">
							<h5 class="card-title">
								In Ấn Namecard
							</h5>
							<p class="card-price">
								<span class="card-price-text">365.000 Đ</span>
							</p>
							<div class="d-grid gap-2">
								<a href="javascript:void(0)" class="btn btn-primary btn-add-cart">
									Thêm vào giỏ
								</a>
							</div>
						</div>
					</div>
				</div> -->
				<% listProduct.forEach(product => { %>
					<%-include ./utils/item_product_serviceLayout.ejs %>
				<% }) %>
			</div>
		</div>
	</div>

</div>

<!-- ==============================  END LIST SERVICE ================================== -->


<!-- ==============================  START SEGMENT ================================== -->

<div class="container-segment container-segment-list-service">
	<div class="row container-common">
		<div class="d-flex align-items-center justify-content-between overflow-auto">
			<div class="wrapper-segment mb-2 d-flex justify-content-center col-12 col-sm-6 col-md-4">
				<div class="d-flex">
					<img src="/template/hailuu-fe/assets/images/Mask Group 123.svg" alt="Group" class="img-fluid me-4">
					<div class="segment-text">
						<div class="segment-title mb-1">
							Phục vụ chuyên nghiệp
						</div>
						<div class="segment-description">
							Khách hàng sẽ được tư vấn và thiết kế chuyên nghiệp và nhiệt tình, tới khi ưng ý nhất.
						</div>
					</div>
				</div>
			</div>
			<div class="wrapper-segment mb-2 d-flex justify-content-center col-12 col-sm-6 col-md-4">
				<div class="d-flex">
					<img src="/template/hailuu-fe/assets/images/Mask Group 120.svg" alt="Group" class="img-fluid me-4">
					<div class="segment-text">
						<div class="segment-title mb-1">
							Giá thành tốt nhất
						</div>
						<div class="segment-description">
							Chúng tôi cam kết gửi tới Quý khách hàng báo giá cạnh tranh nhất trên thị trường hiện nay.
						</div>
					</div>
				</div>
			</div>
			<div class="wrapper-segment mb-2 d-flex justify-content-center col-12 col-sm-6 col-md-4">
				<div class="d-flex">
					<img src="/template/hailuu-fe/assets/images/Mask Group 124.svg" alt="Group" class="img-fluid me-4">
					<div class="segment-text">
						<div class="segment-title mb-1">
							Giao hàng tận nơi
						</div>
						<div class="segment-description">
							Hỗ trợ dịch vụ giao hàng trong nội thành Cần Thơ và bến xe đối với Khách hàng ngoại tỉnh.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- ==============================  END SEGMENT ================================== -->
<!-- KHÁCH HÀNG NÓI GÌ VỀ CHÚNG TÔI -->
<%- include ./utils/list_customer_review.ejs%>
