<style>
	body{
		background-color: #F7F7F7;
	}

	/* START CSS ACCOUNT */

	.container-detail-account .breadcrumb a,
	.container-detail-account .breadcrumb li{
		color: #525F7E;
		font-size: var(--fz-13);
		font-family: var(--ff-regular);
	}

	.box-detail-account{
		background-color: var(--color-white);
		border-radius: 12px;
		border: 1px solid #E2E2E2;
		padding: 30px;
		box-sizing: border-box;
	}

	.box-detail-account.box-personal-category,
	.box-detail-account.box-contact{
		padding: 0;
	}

	.box-detail-account h6{
		padding: 20px 0 0 40px;
		font-size: 20px;
		font-family: var(--ff-playfair-display);
	}

	.box-detail-account .wrapper-personal-tab ul li{
		list-style: none;
		line-height: 29px;
		display: block;
		padding: 10px;
	}

	.box-detail-account .wrapper-personal-tab ul li.active a{
		color: var(--color-primary);
	}

	.box-detail-account .wrapper-personal-tab ul li a{
		color: var(--color-black);
		font-size: var(--fz-14);
		font-family: var(--ff-semibold);
	}

	.box-contact{
		background: url(/template/hailuu-fe/assets/images/bg-18104.png);
		background-repeat: no-repeat;
		/*background-size: 100%;*/
	}

	.box-contact .wrapper-contact{
		padding: 25px;
	}

	.box-contact .wrapper-contact h5{
		color: var(--color-white);
		font-size: 25px;
		font-family: var(--ff-extra-bold);
	}

	.box-contact .wrapper-contact p{
		color: var(--color-white);
		font-size: var(--fz-14);
		font-family: var(--ff-regular);
	}

	.box-contact .wrapper-contact button{
		background-color: #045D81;
		border-radius: 8px;
		height: 47px;
		font-size: var(--fz-16);
		font-family: var(--ff-bold);
		font-weight: var(--fw-700);
	}

	.wrapper-detail-account h5{
		text-transform: capitalize;
		color: var(--color-sub-dark);
		font-size: 30px;
		font-family: var(--ff-bold);
		font-weight: var(--fw-700);
	}

	.wrapper-detail-account .group-field label{
		font-size: var(--fz-15);
		font-family: var(--ff-regular);
	}

	.wrapper-detail-account .group-field input:not([type="radio"]){
		border-radius: 8px;
		background-color: #F4F4F4;
		height: 47px;
		border: none;
	}

	.wrapper-detail-account .group-field button{
		width: 196px;
		height: 50px;
		border-radius: 8px;
		background-color: var(--color-primary);
		color: var(--color-white);
		font-size: var(--fz-16);
		font-family: var(--ff-bold);
		font-weight: var(--fw-700);
	}

	@media only screen and (max-width: 1000px) {
		.box-contact{
			background-size: cover;
		}
	}

	@media only screen and (max-width: 750px) {
		.box-detail-account.box-contact{
			display: none;
		}
		.box-contact.box-contact-responsive{
			display: block !important;
		}
	}

	@media only screen and (max-width: 525px) {
		.container-detail-account{
			padding-left: 0;
			padding-right: 0;
		}
	}

	/* END CSS ACCOUNT */
</style>

<div class="container-common container-detail-account mt-5 mb-5">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-3">
				<%-include ./utils/leftbar_account.ejs %>
			</div>
			<div class="col-12 col-md-9">

				<div class="box-detail-account box-form-account">

					<div class="row">
						<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
						  <ol class="breadcrumb">
							<li class="breadcrumb-item">
								<a href="/">
									<img src="/template/hailuu-fe/assets/images/Mask Group 98.svg" alt="Home" class="mb-1">
									<span>Trang Chủ</span>
								</a>
							</li>
							<li class="breadcrumb-item active" aria-current="page">
								<a href="/tai-khoan">
									Thông tin tài khoản
								</a>
							</li>
							<li class="breadcrumb-item active" aria-current="page">
								Thay đổi mật khẩu
							</li>
						  </ol>
						</nav>
					</div>

					<div class="row wrapper-detail-account">
						<h5>Thay Đổi Mật Khẩu</h5>
						<div class="p-4">
							<div class="mb-4 row group-field">
								<label for="inputOldPassword" class="col-sm-2 col-form-label">Mật khẩu cũ</label>
								<div class="col-sm-10">
									<input type="password" placeholder="● ● ● ● ● ●" class="form-control" id="inputOldPassword">
								</div>
							</div>
							<div class="mb-4 row group-field">
								<label for="inputNewPassword" class="col-sm-2 col-form-label">Mật khẩu mới</label>
								<div class="col-sm-10">
									<input type="password" placeholder="● ● ● ● ● ●" class="form-control" id="inputNewPassword">
								</div>
							</div>
							<div class="mb-2 row group-field">
								<label for="inputConfirmPassword" class="col-sm-2 col-form-label">Xác nhận mật khẩu</label>
								<div class="col-sm-10">
									<input type="password" placeholder="● ● ● ● ● ●" class="form-control" id="inputConfirmPassword">
								</div>
							</div>
							<div class="mb-3 row group-field">
								<label class="col-sm-2 col-form-label"></label>
								<div class="col-sm-10">
									<button class="btn btn-outline-primary" id="btnUpdatePassword">Cập Nhật Mật Khẩu</button>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>

		<div class="row">
			<div class="col-12 col-md-9">
				<div class="box-detail-account box-contact box-contact-responsive mt-4 text-center" style="display: none">
					<img src="/template/hailuu-fe/assets/images/bg-18105.svg" alt="" class="mt-4">
					<div class="wrapper-contact">
						<h5>Bạn có thắc mắc</h5>
						<p>Hãy để chúng tôi có thể giải đáp các thắc mắc và yêu cầu của bạn.</p>
						<div class="d-grid gap-2">
						   <button class="btn btn-primary btn-contact">
								<img src="/template/hailuu-fe/assets/images/Mask Group 18.svg" alt="Phone" class="me-1">
								<span><a href="tel:<%= infoCompanyEndUser && infoCompanyEndUser.hotline %>"><%= infoCompanyEndUser && infoCompanyEndUser.hotline %></a></span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
