<!-- ============================== STYPE AND SHOW HÌNH ẢNH BỘ SƯU TÂPJ ================================== -->
<style>

	.container-gallery .main-image-gallery{
		background-image: url('<%= listGallery[0] && listGallery[0].image && listGallery[0].image.path %>');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 432px;
		margin-bottom: 15px;
	}
	.container-all-product-or-menu-product {
		justify-content: space-between !important;
	}

	.container-gallery .sub-image-gallery div:nth-child(1){
		background-image: url('<%= listGallery[1] && listGallery[1].image && listGallery[1].image.path %>');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 204px;
		margin-bottom: 17px;
		margin-left: 17px;
	}

	.container-gallery .sub-image-gallery div:nth-child(2){
		background-image: url('<%= listGallery[2] && listGallery[2].image && listGallery[2].image.path %>');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 211px;
		margin-left: 17px;
	}



</style>
<!-- ============================== START SLIDE BANNER ================================== -->

<div class="container-slide">
	<div class="row">
		<div class="swiper-container slide-banner">
			<div class="swiper-wrapper">
				<% listSlide.forEach(slide => { %>
					<div class="swiper-slide">
						<img src="<%= slide.image && slide.image.path %>">
					</div>
				<% }) %>
			</div>
			<div class="swiper-pagination"></div>
		</div>
	</div>
</div>

<!-- ==============================  END SLIDE BANNER ================================== -->

<!-- ==============================  START SEGMENT ================================== -->

<div class="container-segment">
	<div class="row container-common">
		<div class="d-flex align-items-center justify-content-between wrapper-tab-common overflow-auto container-common--wrap">
			<div class="wrapper-segment mb-2 d-flex justify-content-center col-12 col-sm-6 col-md-4">
				<div class="d-flex">
					<img src="./template/hailuu-fe/assets/images/Mask Group 123.svg" alt="Group" class="img-fluid me-4">
					<div class="segment-text">
						<div class="segment-title mb-1">
							Phục vụ chuyên nghiệp
						</div>
						<div class="segment-description">
							Khách hàng sẽ được tư vấn và thiết kế chuyên nghiệp và nhiệt tình, tới khi ưng ý nhất.
						</div>
					</div>
				</div>
			</div>
			<div class="wrapper-segment mb-2 d-flex justify-content-center col-12 col-sm-6 col-md-4">
				<div class="d-flex">
					<img src="./template/hailuu-fe/assets/images/Mask Group 120.svg" alt="Group" class="img-fluid me-4">
					<div class="segment-text">
						<div class="segment-title mb-1">
							Giá thành tốt nhất
						</div>
						<div class="segment-description">
							Chúng tôi cam kết gửi tới Quý khách hàng báo giá cạnh tranh nhất trên thị trường hiện nay.
						</div>
					</div>
				</div>
			</div>
			<div class="wrapper-segment mb-2 d-flex justify-content-center col-12 col-sm-6 col-md-4">
				<div class="d-flex">
					<img src="./template/hailuu-fe/assets/images/Mask Group 124.svg" alt="Group" class="img-fluid me-4">
					<div class="segment-text">
						<div class="segment-title mb-1">
							Giao hàng tận nơi
						</div>
						<div class="segment-description">
							Hỗ trợ dịch vụ giao hàng trong nội thành Cần Thơ và bến xe đối với Khách hàng ngoại tỉnh.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- ==============================  END SEGMENT ================================== -->


<!-- ==============================  START FLASH - SALE ================================== -->

<div class="container-common container-flash-sale">
	<div class="container mb-3">
		<div class="row">
			<div class="d-flex align-items-center justify-content-between title_content__home title_content__fashsale">
				<div class="flash-sale-title">
					<img src="./template/hailuu-fe/assets/images/Group 17906.png" alt="Flash - Sale" class="me-1">
					<span>Flash Sale</span>
				</div>
				<div class="flash-sale-see-all" style="z-index: 1000;">
					<a href="/danh-muc/flash-sale?hien-thi=1">Xem tất cả</a>
					<img src="./template/hailuu-fe/assets/images/Mask Group 31.png" alt="" class="ms-1">
				</div>
			</div>
		</div>
	</div>

	<!-- <hr /> -->

	<div class="container">
		<div class="row">
			<div class="wrapper-flash-sale mt-3">
				<% listFlashSale.forEach(product => { %>
					<%-include ./utils/item_product_serviceLayout.ejs %>
				<% }) %>
			</div>
		</div>
	</div>
</div>

<!-- ==============================  END FLASH - SALE ================================== -->


<!-- ==============================  START PRODUCT FAVORITE ================================== -->

<div class="container-common container-product-favorite">
	<div class="container">
		<div class="row">
			<div class="d-flex align-items-center justify-content-between flex-wrap title_content__home">
				<div class="product-favorite-title col-12 col-sm-8">
					<span>Các Ấn Phẩm</span>&nbsp
					<span>Được Yêu Thích</span>
				</div>
				<div class="product-favorite-tab col-12 col-sm-4 d-flex justify-content-end"  style="z-index: 100;">
					<a href="javascript:void(0)" class="active product-favorite-tab-item" _type="1">Theo Tuần</a>
					<a href="javascript:void(0)" class="product-favorite-tab-item" _type="2"  >Theo Tháng</a>
					<a href="javascript:void(0)" class="product-favorite-tab-item" _type="3"  >Theo Quý</a>
				</div>
			</div>
		</div>
	</div>

	<!-- <hr /> -->

	<div class="container">
		<div class="row">
			<div class="mt-3 container-list-product-favorite">
				<% listProductFavorite.listData.forEach(product => { %>
					<%-include ./utils/item_product_serviceLayout.ejs %>
				<% }) %>
			</div>
		</div>
	</div>
	<% if (listProductFavorite.pages > 1) { %>
		<div class="container">
			<div class="row mb-5">
				<a href="/danh-muc/yeu-thich?hien-thi=1&type=1" class="text-center btn-see-other-service btn-see-other-service-backend">
					<span>Xem Thêm Các Dịch Vụ Khác</span>
					<img src="./template/hailuu-fe/assets/images/Mask Group 32.png" alt="" class="ms-1">
				</a>
			</div>
		</div>
	<% } %>

</div>

<!-- ==============================  END PRODUCT FAVORITE ================================== -->


<!-- ==============================  START NEW PRODUCT ================================== -->

<div class="container-common container-new-product">
	<div class="container mb-3">
		<div class="row">
			<div class="d-flex align-items-center justify-content-between flex-wrap title_content__home">
				<div class="new-product-title">
					<span>Ấn Phẩm</span>&nbsp
					<span>Mới</span>
				</div>
				<div class="new-product-see-all d-flex justify-content-end" style="z-index: 1000;">
					<a href="/danh-muc/moi-nhat?hien-thi=1">Xem tất cả</a>
					<img src="./template/hailuu-fe/assets/images/Mask Group 31.png" alt="" class="ms-1">
				</div>
			</div>
		</div>
	</div>

	<!-- <hr /> -->

	<div class="container">
		<div class="row mb-5">
			<div class="wrapper-new-product mt-3">
				<% listProductNews.forEach(product => { %>
					<%-include ./utils/item_product_serviceLayout.ejs %>
				<% }) %>
			</div>
		</div>
	</div>

</div>

<!-- ==============================  END NEW PRODUCT ================================== -->


<!-- ==============================  START QC ================================== -->

<div class="container-common container-qc mt-5 mb-5 banner_home">
	<div class="row banner-service__wrap">
		<img src="./template/hailuu-fe/assets/images/78.svg" alt="Banner QC" class="img-fluid img-banner-service">
	</div>
</div>

<!-- ==============================  END QC ================================== -->


<!-- ==============================  START LIST SERVICE ================================== -->

<div class="container-common container-list-service">
	<div class="container">
		<div class="row align-items-center">
			<div class="d-flex align-items-center justify-content-between flex-wrap flex-wrap title_content__home list-service-title__wrap">
				<div class="list-service-title">
					<span>Danh Sách</span>&nbsp
					<span>Dịch Vụ</span>
				</div>
				<div class="list-service-tab wrapper-tab-common d-flex">
					<div class="d-flex justify-content-end">
						<a href="javascript:void(0)" class="active btnShowProductByMenu">Tất cả</a>
						<% listMenu.forEach(menu => { %>
							<a href="javascript:void(0)" _menuID="<%= menu._id%>" class="btnShowProductByMenu"><%= menu.name %></a>
						<% }) %>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- <hr /> -->

	<div class="container">
		<div>
			<div class="row mt-3 container-all-product-or-menu-product container-all-product-or-menu-product__allsevices">
				<% listAllProduct.forEach(product => { %>
					<%-include ./utils/item_product_serviceLayout.ejs %>
				<% }) %>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row mb-5">
			<a href="/danh-muc/tat-ca?hien-thi=1" class="text-center btn-see-other-service btnSeeMoreService">
				<span>Xem Thêm Dịch Vụ</span>
				<img src="./template/hailuu-fe/assets/images/Mask Group 32.png" alt="" class="ms-1">
			</a>
		</div>
	</div>
</div>
<!-- ==============================  END LIST SERVICE ================================== -->


<!-- ==============================  START GALLERY ================================== -->

<div class="container-common container-gallery">
	<div class="container">
		<div class="row">
			<div class="d-flex flex-wrap justify-content-center" style"padding: 0">
				<div class="col-12 col-md-7 main-image-gallery">
					<a href="<%= listGallery[0] && listGallery[0].url%>"></a>
				</div>
				<div class="col-12 col-md-5 d-flex flex-column sub-image-gallery">
					<div><a href="<%= listGallery[1] && listGallery[1].url%>"></a></div>
					<div><a href="<%= listGallery[2] && listGallery[2].url%>"></a></div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- ==============================  END GALLERY ================================== -->


<!-- ==============================  START PROCEDURE ================================== -->

<div class="container-common container-procedure mb-5">
	<div class="container">
		<div class="row justify-content-center">
			<div class="procedure-title col-12 col-sm-8">
				<div>Quy Trình Hợp Tác</div>
				<div>Và Xây Dựng Dự Án</div>
			</div>
		</div>
	</div>

	<div class="container mt-5">
		<div class="row">
			<div class="col-12 col-sm-6 col-md-3 procedure-item">
				<div class="procedure-arrow">
					<img src="./template/hailuu-fe/assets/images/Group 18106.png" alt="Procedure Arrow">
				</div>
				<div class="card text-center">
					<img src="./template/hailuu-fe/assets/images/Mask Group 14.svg" class="card-img-top" alt="...">
					<div class="card-body d-flex flex-column align-items-center">
						<h5 class="card-title">Lựa chọn dịch vụ</h5>
						<p class="card-text">
							Khách hàng lựa chọn dịch vụ in ấn theo nhu cầu
						</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-3 procedure-item">
				<div class="procedure-arrow">
					<img src="./template/hailuu-fe/assets/images/Group 18104.png" alt="Procedure Arrow">
				</div>
				<div class="card text-center">
					<img src="./template/hailuu-fe/assets/images/Mask Group 15.svg" class="card-img-top" alt="...">
					<div class="card-body d-flex flex-column align-items-center">
						<h5 class="card-title">Trình bày ý tưởng nội dung và yêu cầu</h5>
						<p class="card-text">
							Gửi ý tưởng, nội dung và yêu cầu in ấn đến với
							<a href="javascript:void(0)">Hailuu.vn</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-3 procedure-item">
				<div class="procedure-arrow">
					<img src="./template/hailuu-fe/assets/images/Group 18105.png" alt="Procedure Arrow">
				</div>
				<div class="card text-center">
					<img src="./template/hailuu-fe/assets/images/Mask Group 16.svg" class="card-img-top" alt="...">
					<div class="card-body d-flex flex-column align-items-center">
						<h5 class="card-title">Thanh toán & xây dựng dự án</h5>
						<p class="card-text">
							Khách hàng thanh toán chi phí xây dựng dự án.
							<a href="javascript:void(0)">Hailuu.vn</a> sẽ lên kế hoạch xây dựng dự án
						</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-3 procedure-item">
				<div class="card text-center">
					<img src="./template/hailuu-fe/assets/images/Mask Group 17.svg" class="card-img-top" alt="...">
					<div class="card-body d-flex flex-column align-items-center">
						<h5 class="card-title">In ấn & vận chuyển đến với khách hàng</h5>
						<p class="card-text">
							In ấn sản phẩm nhanh chóng, chuyên nghiệp, đúng màu sắc và chuyển giao đến khách hàng
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>  
</div>

<!-- ==============================  END PROCEDURE ================================== -->
