<style>
	body{
		background-color: #F7F7F7;
	}

	/* START CSS ACCOUNT */

	.container-detail-account .breadcrumb a,
	.container-detail-account .breadcrumb li{
		color: #525F7E;
		font-size: var(--fz-13);
		font-family: var(--ff-regular);
	}

	.box-detail-account{
		background-color: var(--color-white);
		border-radius: 12px;
		border: 1px solid #E2E2E2;
		padding: 30px;
		box-sizing: border-box;
	}

	.box-detail-account.box-personal-category,
	.box-detail-account.box-contact{
		padding: 0;
	}

	.box-detail-account > h6{
		padding: 20px 0 0 40px;
		font-size: 20px;
		font-family: var(--ff-playfair-display);
	}

	.box-detail-account .wrapper-personal-tab ul li{
		list-style: none;
		line-height: 29px;
		display: block;
		padding: 10px;
	}

	.box-detail-account .wrapper-personal-tab ul li.active a{
		color: var(--color-primary);
	}

	.box-detail-account .wrapper-personal-tab ul li a{
		color: var(--color-black);
		font-size: var(--fz-14);
		font-family: var(--ff-semibold);
	}

	.box-contact{
		background: url(/template/hailuu-fe/assets/images/bg-18104.png);
		background-repeat: no-repeat;
		/*background-size: 100%;*/
	}

	.box-contact .wrapper-contact{
		padding: 25px;
	}

	.box-contact .wrapper-contact h5{
		color: var(--color-white);
		font-size: 25px;
		font-family: var(--ff-extra-bold);
	}

	.box-contact .wrapper-contact p{
		color: var(--color-white);
		font-size: var(--fz-14);
		font-family: var(--ff-regular);
	}

	.box-contact .wrapper-contact button{
		background-color: #045D81;
		border-radius: 8px;
		height: 47px;
		font-size: var(--fz-16);
		font-family: var(--ff-bold);
		font-weight: var(--fw-700);
	}

	.wrapper-list-order h5{
		text-transform: capitalize;
		color: var(--color-sub-dark);
		font-size: 30px;
		font-family: var(--ff-bold);
		font-weight: var(--fw-700);
	}

	.wrapper-list-order .column-list-order{
		text-transform: uppercase;
		opacity: 50%;
		font-size: var(--fz-14);
		font-family: var(--ff-bold);
		font-weight: var(--fw-700);
	}

	.box-order{
		padding: 20px;
		border-radius: 8px;
		border: 1px solid #E3E3E3;
	}

	.box-order img{
		width: 72px;
		height: 72px;
		object-fit: cover;
		border-radius: 8px;
	}

	.box-order .wrapper-info-order h6{
		/* text-transform: uppercase; */
		font-size: var(--fz-15);
		font-family: var(--ff-semibold);
		color: var(--color-black);
	}

	.box-order .wrapper-info-order span{
		color: #383838;
		font-size: var(--fz-13);
		font-family: var(--ff-regular);
		display: block;
	}

	.box-order .wrapper-info-order strong{
		color: var(--color-primary);
		font-size: var(--fz-13);
		font-family: var(--ff-bold);
		font-weight: var(--fw-700);
	}

	.box-order .date-order{
		font-size: var(--fz-15);
		font-family: var(--ff-regular);
	}

	.box-order .wrapper-info-order .date-order{
		font-size: var(--fz-13);
		font-family: var(--ff-regular);
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.box-order .status-order{
		font-size: var(--fz-15);
		text-transform: capitalize;
	}

	.box-order .status-order.status-processing{
		font-family: var(--ff-bold);
		font-weight: var(--fw-700);
		color: #FE6F61 !important;
	}

	.box-order .status-order.status-success{
		font-family: var(--ff-regular);
		color: #179C77 !important;
	}

	.box-form-account{
		padding: 45px;
		padding-top: 40px;
		padding-bottom: 0;
	}

	@media only screen and (max-width: 1000px) {
		.box-contact{
			background-size: cover;
		}
	}

	@media only screen and (max-width: 770px) {
		.box-detail-account.box-contact{
			display: none;
		}
		.box-contact.box-contact-responsive{
			display: block !important;
		}
	}

	@media only screen and (max-width: 525px) {
		.container-detail-account{
			padding-left: 0;
			padding-right: 0;
		}
	}

	/* END CSS ACCOUNT */
</style>

<div class="container-common container-detail-account mt-5 mb-5">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-3">
				<%-include ./utils/leftbar_account.ejs %>
			</div>
			<div class="col-12 col-md-9">

				<div class="box-detail-account box-form-account">

					<div class="row">
						<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
						  <ol class="breadcrumb">
							<li class="breadcrumb-item">
								<a href="/">
									<img src="/template/hailuu-fe/assets/images/Mask Group 98.svg" alt="Home" class="mb-1">
									<span>Trang Chủ</span>
								</a>
							</li>
							<li class="breadcrumb-item active" aria-current="page">
								<a href="/tai-khoan">
									Thông tin tài khoản
								</a>
							</li>
							<li class="breadcrumb-item active" aria-current="page">
								Quản lý đơn hàng
							</li>
						  </ol>
						</nav>
					</div>

					<div class="row wrapper-list-order">
						<h5>Đơn Hàng Của Tôi</h5>
						<div class="p-4">

							<div class="row column-list-order ps-3 pe-3">
								<div class="col-6 text-left">ĐƠN HÀNG</div>
								<div class="col-6 text-end">TÌNH TRẠNG</div>
							</div>

							<hr />

							<% if (listOrder && listOrder.length) { %>
								<% listOrder.forEach(order => { %>
									<div class="row box-order mb-3">
										<div class="col-12 col-sm-8 d-flex">
											<% if (order.orderLine[0].product.avatar) { %>
												<img src="<%= order.orderLine[0].product.avatar.path %>" alt="Product" class="img-fluid me-3">
											<% } else{ %>
												<img src="/template/hailuu-fe/assets/images/business-card-mockup_68806-242.png" alt="Product" class="img-fluid me-3">
											<% } %>

											<div class="wrapper-info-order">
												<a href="/chi-tiet-don-hang/<%= order.orderID %>" class="mb-2">
													<h6>Mã Hàng: <%= order.orderID %></h6>
												</a>
												<span class="mb-2">
													<%= order.orderLine[0].product.description %>
												</span>
												<strong>
													Tổng chi phí: 
													<%= formatCurrency('###,###.', order.amount) %> VND
												</strong>
												<div class="date-order mb-2 d-none">
													<%= moment(order.createAt).format('L') %>
												</div>
												<% if (order.status === 4) { %>
													<div class="status-order d-none status-success">
														Đã bàn giao sản phẩm
													</div>
												<% } %>
	
												<% if ([0,1,2,3,5].includes(order.status)) { %>
													<div class="status-order d-none status-processing">
														<%= order.status === 5 ? 'Đã huỷ' : 'Đang Xử Lý Đơn hàng' %>
													</div>
												<% } %>
											</div>
										</div>
										<div class="col-12 col-sm-4 text-end">
											<div class="date-order mb-2">
												<%= moment(order.createAt).format('L') %>
											</div>

											<% if (order.status === 4) { %>
												<div class="status-order status-success">
													Đã bàn giao sản phẩm
												</div>
											<% } %>

											<% if ([0,1,2,3,5].includes(order.status)) { %>
												<div class="status-order status-processing">
													<%= order.status === 5 ? 'Đã huỷ' : 'Đang Xử Lý Đơn hàng' %>
												</div>
											<% } %>

										</div>
									</div>
								<% }) %>
							<% } %>

						</div>
					</div>

				</div>

			</div>
		</div>

		<div class="row">
			<div class="col-12 col-md-9">
				<div class="box-detail-account box-contact box-contact-responsive mt-4 text-center" style="display: none">
					<img src="/template/hailuu-fe/assets/images/bg-18105.svg" alt="" class="mt-4">
					<div class="wrapper-contact">
						<h5>Bạn có thắc mắc</h5>
						<p>Hãy để chúng tôi có thể giải đáp các thắc mắc và yêu cầu của bạn.</p>
						<div class="d-grid gap-2">
						   <button class="btn btn-primary btn-contact">
								<img src="/template/hailuu-fe/assets/images/Mask Group 18.svg" alt="Phone" class="me-1">
								<span><a href="tel:<%= infoCompanyEndUser && infoCompanyEndUser.hotline %>"><%= infoCompanyEndUser && infoCompanyEndUser.hotline %></a></span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
