<style>
	body{
		background-color: #F7F7F7;
	}

	/* START CSS ACCOUNT */

	.container-detail-account .breadcrumb a,
	.container-detail-account .breadcrumb li{
		color: #525F7E;
		font-size: var(--fz-13);
		font-family: var(--ff-regular);
	}

	.box-detail-account{
		background-color: var(--color-white);
		border-radius: 12px;
		border: 1px solid #E2E2E2;
		padding: 30px;
		box-sizing: border-box;
	}

	.box-detail-account.box-personal-category,
	.box-detail-account.box-contact{
		padding: 0;
	}

	.box-detail-account > h6{
		padding: 20px 0 0 40px;
		font-size: 20px;
		font-family: var(--ff-playfair-display);
	}

	.box-detail-account .wrapper-personal-tab ul li{
		list-style: none;
		line-height: 29px;
		display: block;
		padding: 10px;
	}

	.box-detail-account .wrapper-personal-tab ul li.active a{
		color: var(--color-primary);
	}

	.box-detail-account .wrapper-personal-tab ul li a{
		color: var(--color-black);
		font-size: var(--fz-14);
		font-family: var(--ff-semibold);
	}

	/* END CSS ACCOUNT */

	.box-contact{
		background: url(/template/hailuu-fe/assets/images/bg-18104.png);
		background-repeat: no-repeat;
	}

	.box-contact .wrapper-contact{
		padding: 25px;
	}

	.box-contact .wrapper-contact h5{
		color: var(--color-white);
		font-size: 25px;
		font-family: var(--ff-extra-bold);
	}

	.box-contact .wrapper-contact p{
		color: var(--color-white);
		font-size: var(--fz-14);
		font-family: var(--ff-regular);
	}

	.box-contact .wrapper-contact button{
		background-color: #045D81;
		border-radius: 8px;
		height: 47px;
		font-size: var(--fz-16);
		font-family: var(--ff-bold);
		font-weight: var(--fw-700);
	}

	.wrapper-list-address h5{
		text-transform: capitalize;
		color: var(--color-sub-dark);
		font-size: 30px;
		font-family: var(--ff-bold);
		font-weight: var(--fw-700);
	}

	.box-address{
		padding: 20px;
		border-radius: 8px;
		border: 1px solid #E3E3E3;
	}

	.box-address .btn-remove-address{
		background-color: #FFE5E5;
		border-radius: 4px;
		border: none;
		width: 40px;
		height: 40px;
	}

	.box-address .box-address__action a{
		font-size: var(--fz-14);
		font-family: var(--ff-semibold);
		color: var(--color-primary);
	}

	.box-address .info-user{
		font-size: var(--fz-14);
	}

	.box-address{
		/* padding-bottom: 5px !important; */
	}

	.btn-add-new-address{
		margin-top: -20px;
		width: 180px;
		height: 50px;
		border-radius: 8px;
		background-color: var(--color-primary);
		color: var(--color-white);
		font-size: var(--fz-16);
		font-family: var(--ff-bold);
		transition: 200ms;
	}

	.btn-add-new-address:hover{
		background-color: var(--color-primary);
		opacity: .9;
	}


	@media only screen and (max-width: 1000px) {
		.box-contact{
			background-size: cover;
		}
	}

	@media only screen and (max-width: 770px) {
		.box-detail-account.box-contact{
			display: none;
		}
		.box-contact.box-contact-responsive{
			display: block !important;
		}
	}

	@media only screen and (max-width: 525px) {
		.container-detail-account{
			padding-left: 0;
			padding-right: 0;
		}
	}

</style>
<div class="container-common container-detail-account mt-5 mb-5">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-3">
				<%-include ./utils/leftbar_account.ejs %>
			</div>
			<div class="col-12 col-md-9">

				<div class="box-detail-account box-form-account">

					<div class="row">
						<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
						  <ol class="breadcrumb">
							<li class="breadcrumb-item">
								<a href="/">
									<img src="/template/hailuu-fe/assets/images/Mask Group 98.svg" alt="Home" class="mb-1">
									<span>Trang Chủ</span>
								</a>
							</li>
							<li class="breadcrumb-item active" aria-current="page">
								<a href="/tai-khoan">
									Thông tin tài khoản
								</a>
							</li>
							<li class="breadcrumb-item active" aria-current="page">
								Số Địa Chỉ
							</li>
						  </ol>
						</nav>
					</div>

					<div class="row wrapper-list-address">
						<h5>Địa chỉ của tôi</h5>

						<div class="p-4">
							<% listAddress && listAddress.forEach(address => { %>
								<% if (address.default) { %>
									<div class="row box-address mb-3">
										<div class="col-12 col-sm-8 info-user">
											<strong><%= address.receiverName %> - <%= address.receiverPhone  %></strong>
											
												<span class="status-red"> - Mặc định</span>
											
											<p class="mt-2" style="margin-bottom: 0;">
												(Địa chỉ: <%= address.address  %>, <%= address.infoWard[1].name_with_type %>, <%= address.infoDistrict[1].name_with_type %>, <%= address.infoProvince[1].name_with_type %>)
											</p>
										</div>
										<div class="col-12 col-sm-4 text-end box-address__action d-flex align-items-center justify-content-end">
											<a href="/cap-nhat-dia-chi/<%=address._id %>" class="me-3">Chỉnh sửa</a>
										</div>
									</div>
								<% }else{ %>
									<div class="row box-address mb-3">
										<div class="col-12 col-sm-8 info-user">
											<strong><%= address.receiverName %> - <%= address.receiverPhone  %></strong>
											<p class="mt-2" style="margin-bottom: 0;">
												(Địa chỉ: <%= address.address  %>, <%= address.infoWard[1].name_with_type %>, <%= address.infoDistrict[1].name_with_type %>, <%= address.infoProvince[1].name_with_type %>)
											</p>
										</div>
										<div class="col-12 col-sm-4 text-end box-address__action d-flex align-items-center justify-content-end">
											<a href="/cap-nhat-dia-chi/<%=address._id %>" class="me-3">Chỉnh sửa</a>
											<span class="btn-remove-address btn-remove-address--mobile" _addressID="<%= address._id %>">Xóa</span>
											<button class="btn btn-danger btn-remove-address" _addressID="<%= address._id %>">
												<img src="/template/hailuu-fe/assets/images/Mask Group 116.png" alt="Trash" class="img-fluid">
											</button>
										</div>
									</div>
								<%}%>
							<% }) %>
						</div>

					</div>

					<div class="wrapper-detail-account">
						<a href="/them-dia-chi">
							<button class="btn btn-outline-primary d-flex justify-content-center align-items-center btn-add-new-address">
								Thêm Địa Chỉ Mới
							</button>
						</a>
					</div>

				</div>

			</div>
		</div>

		<div class="row">
			<div class="col-12 col-md-9">
				<div class="box-detail-account box-contact box-contact-responsive mt-4 text-center" style="display: none">
					<img src="/template/hailuu-fe/assets/images/bg-18105.svg" alt="" class="mt-4">
					<div class="wrapper-contact">
						<h5>Bạn có thắc mắc</h5>
						<p>Hãy để chúng tôi có thể giải đáp các thắc mắc và yêu cầu của bạn.</p>
						<div class="d-grid gap-2">
						   <button class="btn btn-primary btn-contact">
								<img src="/template/hailuu-fe/assets/images/Mask Group 18.svg" alt="Phone" class="me-1">
								<span><a href="tel:<%= infoCompanyEndUser && infoCompanyEndUser.hotline %>"><%= infoCompanyEndUser && infoCompanyEndUser.hotline %></a></span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
