<style type="text/css">
	.container-order-success{
		text-align: center;
	}

	.container-order-success .breadcrumb a,
	.container-order-success .breadcrumb li{
		color: #525F7E;
		font-size: var(--fz-13);
		font-family: var(--ff-regular);
	}
	.container-order-success h5{
		text-transform: capitalize;
		font-size: 30px;
		font-family: var(--ff-bold);
		font-weight: var(--fw-700);
		color: var(--color-primary);
	}

	.container-order-success p{
		font-size: var(--fz-15);
		font-family: var(--ff-regular);
		color: var(--color-black);
	}

	@media only screen and (max-width: 995px) {
		.container-order-success p{
			width: 70% !important;
		}
	}
	@media only screen and (max-width: 550px) {
		.container-order-success p{
			width: 100% !important;
		}
	}
	@media only screen and (max-width: 375px) {
		.container-order-success{
			padding-left: 0;
			padding-right: 0;
		}
	}

</style>

<div class="container-common container-order-success mt-5">
	<div class="row text-center justify-content-center">
		<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
		  <ol class="breadcrumb justify-content-center">
			<li class="breadcrumb-item">
				<a href="javascript:void(0)">
					<img src="/template/hailuu-fe/assets/images/Mask Group 98.svg" alt="Home" class="mb-1">
					<span>Trang Chủ</span>
				</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">
				<a href="javascript:void(0)">
					Giỏ hàng
				</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">
				Giao hàng thành công
			</li>
		  </ol>
		</nav>
	</div>
	<h5>Đặt Dịch Vụ Thành Công</h5>
	<p class="mb-5 m-auto" style="width: 40%;">
		Đơn hàng của bạn đã được đặt thành công. Chúng tôi sẽ sớm liên hệ với bạn để xác nhận và in ấn nội dung bạn đã gửi
	</p>
	<img src="/template/hailuu-fe/assets/images/Group 7887.svg" alt="" class="img-fluid mt-5">
</div>
