<!-- ==============================  START LIST RESULT SEARCH ================================== -->
<% if (listProduct.length) { %>
	<div class="container-common container-title-search mt-5">
		<h5>Kết Quả Tìm Kiếm</h5>
		<p>Có <%= listProduct.length%> kết quả tìm kiếm phù hợp với từ khóa của bạn</p>
	</div>
	<div class="container-common container-list-service">
		<div class="container mb-3">
			<div class="row">
				<div class="list-filter-result-search col-12 d-flex justify-content-end" style="position: relative;">

					<div class="btn-toggle-menu-filter__wrap">

						<a href="javascript:void(0)" class="btn-toggle-menu-filter" aria-expanded="false" data-bs-offset="10,8" isShow=1>
							<span>Bộ lọc hiển thị</span>
							<img src="./template/hailuu-fe/assets/images/XMLID_467_.png" alt="Sort Filter" class="ms-1">
						</a>
						<%
							let listSort = [
								{ 
									value: "1", text: "Giá: Từ cao đến thấp",
								},
								{
									value: "2", text: "Giá: Từ thấp đến cao",
								},
								{
									value: "3", text: "Thời gian: mới nhất",
								},
								{
									value: "4", text: "Thời gian: cũ nhất",
								}
							]
						%>
						<ul class="dropdown-menu dropdown-menu-end dropdown-menu-filter">
							<li class="text-uppercase">
								Sắp xếp theo
							</li>
						
							<% listSort.forEach(item => { %>
								<% 
									let classActive = ""
									let liChecked = ""
									if(sort == item.value){
										classActive = "active"
										liChecked = `<i class="fas fa-check ms-5"></i>`
									}
								%>
								<li class="<%= classActive%>">
									<a href="/tim-kiem?tu-khoa=<%= key %>&hien-thi=<%= item.value %>" class="dropdown-item"><%= item.text%> <%- liChecked%></a>
								</li>
							<% }) %>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="d-flex justify-content-start flex-wrap mt-3 wrapper-list-service">
					<% listProduct.forEach(product => { %>
						<%-include ./utils/item_product_serviceLayout.ejs %>
					<% }) %>
				</div>
			</div>
		</div>
	</div>

	<div class="container-common container-title-search container-suggest-other-service mt-5 m-auto">
		<h5>Gợi Ý Các Dịch Vụ Khác</h5>
		<p>
			Đây là các dịch vụ được khách hàng tại Hailuu.vn yêu thích và hài lòng. Bạn có thể thử qua các dịch vụ này nếu không tìm thấy dịch vụ bạn muốn.
		</p>
	</div>

	<div class="container-common container-list-service mb-5">
		<div class="container">
			<div class="row">
				<div class="d-flex justify-content-start flex-wrap mt-3 wrapper-list-service">
					<% listProductRelated.forEach(product => { %>
						<%-include ./utils/item_product_serviceLayout.ejs %>
					<% }) %>
				</div>
			</div>
		</div>
	</div>

<% }else{%>
	<div class="container-common container-title-search" style="margin-bottom: 130px; margin-top: 120px;">
		<h5>Không Có Kết Quả</h5>
		<p>Không tìm thấy kết quả tìm kiếm. Vui lòng tìm kiếm dịch vụ khác</p>
		<img src="./template/hailuu-fe/assets/images/Group 5827.svg" alt="" class="img-fluid mt-4">
	</div>
	<!-- ==============================  END LIST SERVICE ================================== -->
	<div class="container-common container-title-search container-suggest-other-service mt-5 m-auto">
		<h5>Gợi Ý Các Dịch Vụ Khác</h5>
		<p>
			Đây là các dịch vụ được khách hàng tại Hailuu.vn yêu thích và hài lòng. Bạn có thể thử qua các dịch vụ này nếu không tìm thấy dịch vụ bạn muốn.
		</p>
	</div>

	<div class="container-common container-list-service mb-5">
		<div class="container">
			<div class="row">
				<div class="d-flex justify-content-start flex-wrap mt-3 wrapper-list-service">
					<% listProductRelated.forEach(product => { %>
						<%-include ./utils/item_product_serviceLayout.ejs %>
					<% }) %>
				</div>
			</div>
		</div>
	</div>
<% } %>
