<style>

	/* START CSS DETAIL SERVICE */

	.wrappper-detail-post .breadcrumb a,
	.wrappper-detail-post .breadcrumb li{
		color: #525F7E;
		font-size: var(--fz-13);
		font-family: var(--ff-regular);
	}

	.title-blend + p{
		font-size: var(--fz-13);
		font-family: var(--ff-regular);
		color: #383838;
	}

	.row-input-comment input,
	.row-input-comment textarea{
		border-radius: 8px;
		background-color: #FFFFFF;
		border: 1px solid #D1D1D1;
		padding: 20px;
	}

	.row-input-comment input{
		height: 59px;
		padding-left: 25px;
	}

	.btn-send-comment{
		width: 153px;
		height: 50px;
		transition: 200ms;
	}

	.wrapper-comment > div:nth-child(2){
		font-size: var(--fz-13);
		font-family: var(--ff-regular);
		color: #32325D;
	}

	.wrapper-comment img{
		display: inline-block;
	}

	.wrapper-comment__content .group-star{
		margin-top: -10px;
	}

	.wrapper-comment__content .group-star img{
		width: 20px;
		margin-right: 5px;
	}

	.wrapper-comment__content div > h6{
		font-size: var(--fz-16);
		font-family: var(--ff-bold);
		color: #32325D;
	}

	.wrapper-comment__content p{
		font-size: var(--fz-13);
		font-family: var(--ff-regular);
		color: #525F7E;
	}

	.wrappper-detail-post{
		padding-left: 250px;
		padding-right: 250px;
	}

	.wrappper-detail-post .row-header h1{
		font-size: 40px;
		font-family: var(--ff-playfair-display-bold);
	}

	.wrappper-detail-post .post-content h2{
		font-family: var(--ff-playfair-display-bold);
	}
	.wrappper-detail-post .post-content p{
		font-family: var(--ff-regular);
		color: #525F7E;
		line-height: 28px;
	}

	.wrappper-detail-post .line-dash{
		border: 1px dashed #C6C6C6 !important;
	}

	.container-other-post{
		margin-top: 100px;
	}

	.container-other-post > div h4{
		font-size: 30px;
		font-family: var(--ff-bold);
		color: var(--color-sub-dark);
		text-transform: capitalize;
	}

	.box-other-post{
		width: 366px;
		height: auto !important;
		border-radius: 8px;
		position: relative;
		padding-bottom: 20px;
		transition: 200ms;
	}

	.box-other-post > .box-other-post__description + div{
		position: absolute;
		bottom: -40px;
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.box-other-post > img{
		width: 366px;
		height: 293px;
		object-fit: cover;
	}

	.box-other-post .btn-detail-post{
		border-radius: 100%;
		border: 1px solid #E3E3E3;
		width: 71px;
		height: 72px;
		background-color: transparent;
		justify-content: center;
		align-items: center;
		display: flex;
	}

	.box-other-post__description{
		padding: 30px;
	}

	.box-other-post__description a{
		font-size: 20px;
		font-family: var(--ff-bold);
		color: #32325D;
	}

	.box-other-post__description p{
		font-size: var(--fz-16);
		font-family: var(--ff-regular);
	}

	.box-other-post__description span{
		color: var(--color-primary);
		font-size: var(--fz-14);
		font-family: var(--ff-regular);
	}

	.box-other-post:hover{
		box-shadow: 0 30px 60px rgba(226,226,226,.64);  
	}

	.box-other-post .btn-detail-post{
		border: none;
		background-color: var(--color-white);
		box-shadow: 0 10px 60px rgba(185,185,185,.64);
	}

	.container-comment-post{
		padding-top: 30px;
		padding-left: 180px;
		padding-right: 180px;
		margin-top: 120px;
	}

	.container-comment-post .planes{
		position: absolute;
		display: inline-block;
		right: 0px;
		top: -80px;
	}

	.container-comment-post > div{
		position: relative;
		border-radius: 16px;
		padding: 30px;
		box-shadow: 0 10px 30px rgba(0,0,0, .16);
		border-bottom: 10px solid #8F60C0;
	}

	.container-cover-post img{
		width: 100%;
		height: 385px;
		object-fit: cover;
	}

	.date-comment{
		display: none;
		color: #32325D;
		font-size: var(--fz-13);
		font-family: var(--ff-regular);
	}

	@media only screen and (max-width: 995px) {
		.wrappper-detail-post{
			padding-left: 50px;
			padding-right: 50px;
		}
		.container-comment-post{
			padding-left: 0;
			padding-right: 0;
		}
	}

	@media only screen and (max-width: 1000px) {
		.wrapper-detail-product img{
			display: none
		}
	}

	@media only screen and (max-width: 765px) {
		.wrapper-detail-product + .wrapper-product-amount{
			display: block !important;
		}
		.box-employee-and-amount{
			display: none;
		}
		.container-cover-post img{
			/* height: auto; */
			height: 300px;
			object-fit: cover;
		}
	}

	@media only screen and (max-width: 500px) {
		.wrappper-detail-post{
			padding-left: 10px !important;
			padding-right: 10px !important;
		}
		h1, h2{
			font-size: 25px;
		}
		.wrappper-detail-post h1{
			font-size: 25px !important;
			margin-bottom: 30px !important;
		}
		.container-detail-post .container-cover-post > div{
			padding: 0 !important;
		}
	}

	/* END CSS DETAIL SERVICE */
</style>


<!-- ==============================  START INFO POST ================================== -->

<div class="container-common container-detail-post mt-4">
	<div class="container wrappper-detail-post mt-4 mb-5">
		<div class="row row-header">
			<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
			  <ol class="breadcrumb mt-3">
				<li class="breadcrumb-item">
					<a href="/">
						<img src="/template/hailuu-fe/assets/images/Mask Group 98.svg" alt="Home" class="mb-1">
						<span>Trang Chủ</span>
					</a>
				</li>
				
				<li class="breadcrumb-item active" aria-current="page" title="<%= type %>">
					<%= type %>
				</li>
			  </ol>
			</nav>
		</div>

		<div class="row">
			<div class="post-content">
				<%- infoData %>
			</div>
		</div>

		<!-- <div class="line-dash mt-5"></div> -->
	</div>
</div>

<!-- ==============================  END INFO POST ================================== -->
