		<!-- ==============================  START FOOTER ================================== -->

		<div class="container-footer">
			<div class="row justify-content-center">
				<div class="col-12 col-sm-4 col-md-2 mb-4 footer-column-1">
					<div>
						<p class="footer-column-title">Về Hailuu.Vn</p>
						<span class="footer-column-description">
							<%= infoCompanyEndUser && infoCompanyEndUser.slogun %>
						</span>
					</div>
					<img src="/template/hailuu-fe/assets/images/Image 202.svg" class="footer-column-1-img" alt="...">
				</div>
				<div class="col-12 col-sm-4 col-md-2 mb-4 footer-column-2">
					<p class="footer-column-title">Hướng Dẫn Và Thông Tin</p>
					<a href="/hinh-thuc-thanh-toan">Hình thức thanh toán</a>
					<a href="/giao-hang-va-van-chuyen">Giao hàng và vận chuyển</a>
					<a href="/dat-hang-online">Đặt hàng online</a>
				</div>
				<div class="col-12 col-sm-4 col-md-2 mb-4 footer-column-3">
					<p class="footer-column-title">Các Chính Sách</p>
					<a href="/chinh-sach-bao-hanh">Chính sách bảo hành</a>
					<a href="/quy-dinh-su-dung">Quy định sử dụng</a>
					<a href="/bao-mat-thong-tin">Bảo mật thông tin</a>
					<a href="/chinh-sach-doi-tra">Chính sách đổi trả hàng</a>
				</div>
				<div class="col-12 col-sm-4 col-md-2 mb-4 footer-column-4">
					<p class="footer-column-title">Kết Nối Chúng Tôi</p>
					<div class="tel-phone">
						<img src="/template/hailuu-fe/assets/images/White call.png" alt="Teletephone">
						<%= infoCompanyEndUser && infoCompanyEndUser.hotline %>
					</div>
					<div class="email-contact">
						<img src="/template/hailuu-fe/assets/images/White email.png" alt="Email Contact">
						<%= infoCompanyEndUser && infoCompanyEndUser.email %>
					</div>
					<% listCounselingStaff2.forEach((staff, index) => { %>
						<% if (index < 2) { %>
							<div class="employee-advisory">
								<div class="employee-name">Nhân viên tư vấn <%= index+1%></div>
								<div class="employee-phone"><%=staff.phone%></div>
							</div>
						<% } %>
					<% }) %>

					<!-- <div class="employee-advisory">
						<div class="employee-name">Nhân viên tư vấn 2</div>
						<div class="employee-phone">0123.456.789</div>
					</div> -->
				</div>
				<div class="col-12 col-sm-4 col-md-2 mb-4 footer-column-5">
					<p class="footer-column-title">Địa Chỉ</p>
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3928.8162329926995!2d105.7806376152578!3d10.032018375233566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a0629ff018034d%3A0xb042b6fe0469a28a!2zSW4g4bqkbiBI4bqjaSBMxrB1IC0gSW4gR2nDoSBS4bq7IEPhuqduIFRoxqE!5e0!3m2!1svi!2s!4v1628414374143!5m2!1svi!2s" width="240" height="117" style="border-radius:10px;" allowfullscreen="" loading="lazy"></iframe>
					<!-- <img src="/template/hailuu-fe/assets/images/Screen Shot 2021-06-21 at 11.10.57.png" alt="Google Map" class="img-fluid mb-2"> -->
					<span class="footer-column-description">
						<%= infoCompanyEndUser && infoCompanyEndUser.address %>
					</span>
				</div>
			</div>

			<div class="row text-center footer-description">
				<div class="col-12 col-sm-6">
					GPĐKKD số 1800730279 do Sở KHĐT TP.Cần Thơ cấp ngày 13/10/2008
				</div>
				<div class="col-12 col-sm-6">
					Chịu trách nhiệm: Giám đốc Cty TNHH TM&DV Quảng cáo HẢI LƯU
				</div>
			</div>
		</div>

		<!-- ==============================  END FOOTER ================================== -->

	</div>

	<% include ../../inc/enduser/utils/modal.ejs %>

	<!-- page wrapper end -->

    <!-- inject js start -->

    <!-- Start Frameword -->
    
    <script src="/template/hailuu-fe/jquery/jquery-3.5.1.slim.min.js"></script>
    <script src="/template/hailuu-fe/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/template/hailuu-fe/fontawesome/js/all.min.js"></script>
    <script src="/template/hailuu-fe/jquery/popper.js"></script>
    <script src="/template/hailuu-fe/jquery/jquery.min.js"></script>
    <script src="/template/admin/plugins/moment/moment.js"></script>
    <script src="/template/hailuu-fe/slick/slick/slick.min.js"></script>
    <script src="/template/hailuu-fe/swiper/swiper-bundle.min.js"></script>
    <script src="/template/hailuu-fe/star-library/dist/star-rating.js"></script>
	<script src="/template/hailuu-fe/jquery/file-dropzone.js"></script>
    <script src="/template/toastr/toastr.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.2/dist/sweetalert2.all.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
	crossorigin="anonymous"></script>
	<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
	<!-- <script src="/template/sweetalert/sweetalert.min.js"></script> -->

    <!-- End Frameword -->

    <script src="/template/hailuu-fe/jquery/index.js"></script>
	<script>
	</script>
</body>
</html>