<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<% if (render.code === 'POST_DETAIL' && infoPost) { %>
        <meta property="og:title" content="<%= infoPost.title %> | HAILUU"/>
        <meta property="og:url" content="https://hailuu.com/bai-viet/<%= infoPost.slug %>"/>
        <meta property="og:locale" content="vi_VN" />
        <meta property="og:site_name" content="HAILUU" />
        <meta property="og:description" content="HAILUU - <%= infoPost.description %>" />
        <meta property="og:updated_time" content="<%= moment(infoPost.createAt).format('L');%>" />
    
        <meta property="og:image" content="<%= infoPost.image && infoPost.image.path %>"/>
        <meta property="og:image:secure_url" content="<%= infoPost.image && infoPost.image.path %>"  />
        <meta property="og:image:alt" content="<%= infoPost.title %>"  />
		<title> <%= infoPost.title %> </title>
	<% } else {%>
        <meta property="og:title" content="HAILUU"/>
        <meta property="og:url" content="https://hailuu.com/"/>
        <meta property="og:locale" content="vi_VN" />
        <meta property="og:site_name" content="HAILUU" />
        <meta property="og:description" content="Sẵn sàng phục vụ khách hàng" />
        <meta property="og:image:alt" content="HAILUU"  />
   		<title> <%= render.title %> </title>
    <%}%>

    <!-- inject css start -->

    <!-- Start Framework -->

    <!-- bootstrap -->
    <link rel="stylesheet" href="/template/hailuu-fe/bootstrap/css/bootstrap.min.css">

    <!-- fontawesome -->
    <link rel="stylesheet" href="/template/hailuu-fe/fontawesome/css/all.min.css">

    <!-- slick -->
    <link rel="stylesheet" href="/template/hailuu-fe/slick/slick/slick.css">
    <link rel="stylesheet" href="/template/hailuu-fe/slick/slick/slick-theme.css">

    <!-- animateCSS  -->
    <link rel="stylesheet" href="/template/hailuu-fe/slick/animate.min.css">

    <!-- swiper -->
    <link rel="stylesheet" href="/template/hailuu-fe/swiper/swiper-bundle.min.css">

	<!-- toastr -->
    <link rel="stylesheet" href="/template/toastr/toastr.min.css">

	<!-- star rating -->
    <link rel="stylesheet" href="/template/hailuu-fe/star-library/dist/star-rating.css">

	<!-- sweet alert -->
    <!-- <link rel="stylesheet" href="/template/sweetalert/sweetalert.css"> -->
	<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.2/dist/sweetalert2.min.css"> -->

	<!-- Dropzone -->
    <!-- <link rel="stylesheet" href="/template/hailuu-fe/styles/aksFileUpload.min.css"> -->

    <!-- End Framework -->


    <!-- base -->
    <link rel="stylesheet" href="/template/hailuu-fe/styles/base.css">

    <!-- variable -->
    <link rel="stylesheet" href="/template/hailuu-fe/styles/variable.css">    

    <!-- header -->
    <link rel="stylesheet" href="/template/hailuu-fe/styles/header.css">

    <!-- modal -->
    <link rel="stylesheet" href="/template/hailuu-fe/styles/modal.css">

	<link rel="stylesheet" href="/template/hailuu-fe/styles/carouel-picture.css">
	<link rel="stylesheet" href="/template/hailuu-fe/styles/about.css">

    <!-- slide -->
    <link rel="stylesheet" href="/template/hailuu-fe/styles/slide.css">

    <!-- footer -->
    <link rel="stylesheet" href="/template/hailuu-fe/styles/footer.css">

    <!-- index -->
    <link rel="stylesheet" href="/template/hailuu-fe/styles/index.css">
	<link rel="shortcut icon" href="/files/logos/favicon.ico"/>

    <!-- inject css end -->
</head>

<body>
    <!-- input not append email -->
    <input type="password" name="pwd" autocomplete="new-password" style="display:none;">
    <!-- page wrapper start -->
    <div class="container-fluid page-wrapper nopadding">

        <!-- preloader start -->

        <div class="ht-preloader"></div>

        <!-- preloader end -->


        <!-- ==============================  START HEADER ================================== -->

		<!-- TOASTR CUSTOM -->
		<div style="display: flex; justify-content: center;">
			<div class="toastr-wrap toastr-wrap--success animate__animated animate__bounce">
				<img class="toastr-wrap--icon" src="/template/hailuu-fe/assets/images/ic_success.png" alt="icon">
				<span class="toastr-wrap--content">Thông tin tài khoản của bạn đã được cập nhật</span>
			</div>
		</div>

		<div style="display: flex; justify-content: center;">
			<div class="toastr-wrap toastr-wrap--warning animate__animated animate__bounce">
				<img class="toastr-wrap--icon" src="/template/hailuu-fe/assets/images/ic_warning.png" alt="icon">
				<span class="toastr-wrap--content">Thông tin tài khoản của bạn đã được cập nhật</span>
			</div>
		</div>

		<div style="display: flex; justify-content: center;">
			<div class="toastr-wrap toastr-wrap--error animate__animated animate__bounce">
				<img c8lass="toastr-wrap--icon" src="/template/hailuu-fe/assets/images/ic_error.png" alt="icon">
				<span class="toastr-wrap--content">Thông tin tài khoản của bạn cập nhập thất bại</span>
			</div>
		</div>

        <div class="container-header">

            <div class="row header-1">
                <div class="d-flex align-items-center flex-wrap">
                    <div class="col-12 col-sm-6 header-intro">
                        <span>Tự hào với hơn 10+ năm kinh nghiệm và hàng ngàn dự án</span>
                    </div>
                    <div class="col-12 col-sm-6 header-contact d-flex justify-content-end">
                        <a href="/du-an-noi-bat?type=1">
                            Dự Án Thực Hiện
                        </a>
                        <a href="/danh-sach-bai-viet">
                            Kinh Nghiệm & Chia Sẻ
                        </a>
                        <a href="/lien-he">
                            Liên Hệ
                        </a>
						<a href="<%= infoCompanyEndUser?.facebook%>" target="_blank">
							<i class="fab fa-facebook-f"></i>
						</a>
						<a href="tel:+<%= infoCompanyEndUser?.hotline%>">
							<i class="fas fa-phone-alt"></i>
						</a>
						<a href="mailto:<%= infoCompanyEndUser?.email%>">
							<i class="fas fa-envelope"></i>
						</a>
						<!-- <span>
							<i class="fab fa-facebook-f"></i>
						</span>

                        <span>
                            <i class="fas fa-phone-alt"></i>
                        </span>
                        <span>
                            <i class="fas fa-envelope"></i>
                        </span> -->
                    </div>
                </div>
            </div>

            <div class="row header-2">
                <div class="d-flex align-items-center flex-wrap">
                   <div class="col-12 col-sm-2">
                       <a href="javascript:void(0)" class="wrapper-logo" style="margin-right: -10px;">
                            <a href="/">
                                <img src="/template/hailuu-fe/assets/images/Group 16906.svg" alt="Logo" class="img-fluid">
                            </a>
                            <a class="d-inline-block float-end toggle-contact d-none">
                                <img src="/template/hailuu-fe/assets/images/grid.png" alt="Contact">
                            </a>
                            <div class="menu-contact">
                                <a href="/du-an-noi-bat?type=1">
                                    Dự Án Thực Hiện
                                </a>
                                <a href="/danh-sach-bai-viet">
                                    Kinh Nghiệm & Chia Sẻ
                                </a>
                                <!-- <a href="tel:08.9990.9997"> -->
								<a href="/lien-he">
                                    <div>Liên Hệ</div>
                                    <span>(<%= infoCompanyEndUser && infoCompanyEndUser.hotline%>)</span>
                                </a>
                            </div>
                       </a>
                   </div>
                   <div class="col-12 col-sm-6 position-relative">
						<div class="wrapper-search">
                            <input type="text" placeholder="Bạn muốn tìm dịch vụ gì..." class="input-search" id="txtSearchHeader" autocomplete="off">
							<a href="javascript:void(0)" class="btn-search">
								<img src="/template/hailuu-fe/assets/images/Mask Group 3.svg" alt="">
							</a>
						</div>

						<div class="wrapper-list-result-search">
							<h4 class="text-uppercase mb-4">TỪ KHOÁ HAY DÙNG</h4>
                            <% KEY_WORD.forEach((keyword, index) => { %>
                                <a href="javascript:void(0)">
                                    <p class="keyword-search-product"><%= keyword.name%></p>
                                </a>
                                <% if (index < KEY_WORD.length -1) { %>
                                    <hr>
                                <% } %>
                            <% }) %>
						</div>
				   </div>
                   <div class="col-sm-4 d-flex align-items-center justify-content-end">

						<% if (infoUser) { %>
							<div class="wrapper-cart position-relative">
								<a href="javascript:void(0)" class="btn-popup-cart ms-1" _customerID="<%= infoUser._id %>">
									<img src="/template/hailuu-fe/assets/images/Mask Group 127.svg" alt="Cart" class="img-fluid me-2">
									<span>Giỏ hàng</span>
								</a>
								<div class="position-absolute translate-middle text-center border border-light rounded-circle <%= !listOrderLine.length && 'd-none' %>">
									<%= listOrderLine.length %>
								</div>
							</div>
							<div class="wrapper-account ms-4">
								<!-- <a href="/tai-khoan" class="d-flex is-logged" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="10,8"> -->
								<a href="/tai-khoan" class="d-flex is-logged">
									<img src="/template/hailuu-fe/assets/images/slice1.svg" alt="Account" class="">
									<div class="d-inline-flex flex-column ms-2 me-3 menu-info-account">
										<span>Tài khoản</span>
										<b><%= infoUser.fullname %> </b>
									</div>
									<img src="/template/hailuu-fe/assets/images/XMLID_468_.png" alt="Arrow">

									<ul class="dropdown-menu dropdown-menu-end dropdown-menu-account">
										<li>
											<a href="/tai-khoan" class="dropdown-item">Tài khoản của tôi</a>
										</li>
										<li>
											<a href="/mat-khau" class="dropdown-item">Thay đổi mật khẩu</a>
										</li>
										<li>
											<a href="/so-dia-chi" class="dropdown-item">Danh sách địa chỉ</a>
										</li>
										<li>
											<a href="/don-dat-hang" class="dropdown-item">Đơn hàng của tôi</a>
										</li>
										<li>
											<a href="javascript:void(0)" class="dropdown-item status-red btnLogout">Đăng xuất</a>
										</li>
									</ul>
								</a>
								
							</div>
						<% } else{ %>
							<div class="wrapper-cart position-relative">
								<a href="javascript:void(0)" class="ms-1 btn-signin">
									<img src="/template/hailuu-fe/assets/images/Mask Group 127.svg" alt="Cart" class="img-fluid me-2">
									<span>Giỏ hàng</span>
								</a>
							</div>
							<div class="wrapper-account ms-4">
								<a href="javascript:void(0)" class="d-flex btn-signin" data-bs-toggle="modal" data-bs-target="#exampleModal">
									<img src="/template/hailuu-fe/assets/images/Mask Group 136.svg" alt="Account">
									<span class="ms-2 mt-1">Đăng nhập</span>
								</a>
							</div>
						<% } %>

                   </div>
                </div>

                <div class="wrapper-menu-popup-cart d-none">
                    <h4>Giỏ Hàng (<span><%= listOrderLine.length %></span>)</h4>

					<div class="container-list-product-cart mb-3">
						<% if (listOrderLine.length) { %>
							<% listOrderLine.forEach(orderLine => { %>
								<% 
									let { _id: orderLineID, product, productProperty } = orderLine;
									let { _id: variantID, price_at_compare: priceBefore, price: priceAfter } = productProperty || {};
									let ratio = priceAfter / priceBefore * 100;
									let percentDiscount = (100 - ratio).toFixed();
								%>
								<% if (product) { %>
									<div class="wrapper-menu-popup-cart__product position-relative d-flex justify-content-between mb-3" _orderLineID="<%= orderLineID %>" _productID="<%= product._id %>">
										<div class="wrapper-menu-popup-cart__product-detail d-flex">
											<img src="<%= product.avatar && product.avatar.path %>" alt="Product" class="img-fluid me-3">
											<div>
												<h6> <%= product.name %> </h6>

												<div class="list-variant-orderline">
													<% if(productProperty && productProperty.variant_values && productProperty.variant_values.length){ %>
														<% productProperty.variant_values.forEach((variantValue, index) => { %>

															<!-- Hiển thị tối đa 2 thuộc tính đã chọn trong giỏ hàng (tránh lỗi design) -->

															<!--  <2 để show field chất lượng => fix lỗi design -->
															<% if (index < 1) { %>
																<% let { name, variant } = variantValue; %>
																<span> <%= variant.name %>: <%= name %> </span>
															<% } %>

														<% }) %>
													<% } %>
												</div>

												<div class="price-product-popup-cart">
													Giá tiền:
													<span>
														<%= formatCurrency('###,###.', priceAfter || priceBefore || product.priceAfter || product.priceBefore) %>
													</span>
												</div>
												<a href="javascript:void(0)" class="btn-edit-orderline" _orderLineID="<%= orderLineID %>" _productID="<%= product._id %>">Chỉnh sửa</a>
											</div>
										</div>
										<a href="javascript:void(0)" class="btn-remove-cart" _orderLineID="<%= orderLineID %>">
											<img src="/template/hailuu-fe/assets/images/Mask Group 104.svg" alt="" class="img-fluid">
										</a>

										<div class="wrapper-menu-popup-edit-cart position-absolute d-none" _orderLineID="<%= orderLineID %>">
											<h4 class="mb-4">Chỉnh Sửa Sản Phẩm</h4>

											<div class="container-list-variant-product"></div>
											<input type="hidden" class="inputVariantID" value="<%= variantID %>">

											<div class="row row-input-edit-cart mb-3">
												<div class="col-4 d-flex align-items-center" style="font-size: 14px">Đơn giá</div>
												<div class="col-8">
													<div style="background-color: #F7F7F7; padding: 5px 0 5px 0; border-radius: 8px; padding-right: 1rem!important; padding-left: 1rem!important;" class="d-flex justify-content-between ">
														<strong class="orderline-price-before">
															<%= formatCurrency('###,###.', priceBefore) || 0 %>
														</strong>
														<span>VND</span>
													</div>
												</div>
											</div>

											<div class="row row-input-edit-cart row-total mb-3">
												<div class="col-4" style="font-size: 15px">
													<b>Thành Tiền</b>
												</div>
												<div class="col-8">
													<strong>
														<span class="orderline-price-after">
															<%= formatCurrency('###,###.', priceAfter || priceBefore) || 0 %> 
														</span>
														VND
													</strong>
													<div class="status-red d-none">
														<strike>
															<span class="orderline-price-before">
																<%= formatCurrency('###,###.', priceBefore) || 0 %>
															</span>
															VND
														</strike>
														<span>
															(Giảm <span class="orderline-percent-discount"><%= percentDiscount %></span> %)
														</span>
													</div>
												</div>
											</div>

											<div class="d-grid gap-2 d-md-block wrapper-button-edit-cart d-flex">
												<button class="btn btn-primary btn-cancel-update-my-cart">Hủy</button>
												<button style="margin-left: 15px;" class="btn btn-primary btn-common btn-update-cart" _orderLineID="<%= orderLineID %>">
													Cập Nhật
												</button>
											</div>
										</div>
				
									</div>
								<% } %>
							<% }) %>
						<% } else{ %>
							<h6 style="padding: 20px;text-align: center" class="nothing-cart">
								Hiện bạn không có sản phẩm nào trong giỏ hàng
							</h6>
						<% } %>
					</div>

					<div class="loading-cart my-5 text-center d-none">
						<div class="spinner-border text-primary" role="status">
							<span class="visually-hidden">Loading...</span>
						</div>
					</div>

                    <div class="d-grid gap-2">
                        <button class="btn btn-primary btn-my-cart btn-common">
							<a href="/gio-hang" class="d-block">
								<span>Giỏ Hàng Của Tôi</span>
								<img src="/template/hailuu-fe/assets/images/Mask Group 113.png" alt="" class="img-fluid ms-2">
							</a>
                        </button>
                    </div>
                </div>

            </div>

            <div class="row header-3">
                <div class="d-flex align-items-center header-3-menu">
                    <div class="header-main-category col-2">
                        <a href="javascript:void(0)" class="btn-show-menu-category">
                            <img src="/template/hailuu-fe/assets/images/Menu.svg" alt="Menu Category" class="me-2">
                            <span>Danh mục</span>
                        </a>
                    </div>
                    <div class="header-sub-category col-10">
                        <% listMenu.forEach((menu, index) => { %>
                            <a href="/danh-muc/<%= menu.slug %>?hien-thi=1" class="menu-header-service-sub menu-header-service-<%= index + 1 %>">
                                <span><%= menu.name %></span>
								<i class="fas fa-chevron-down ms-2"></i>
                                <!-- <img src="/template/hailuu-fe/assets/images/XMLID_467_.svg" alt="Menu Category"> -->
                            </a>
                        <% }) %>

                        <a href="/danh-sach-bai-viet" class="menu-header-service-5">
                            <span>Kinh nghiệm và chia sẻ</span>
                        </a>
                    </div>
                </div>

                <div class="wrapper-column-menu-service d-flex flex-wrap d-none">
                    <% listMenu.forEach(menu => { %>
                        <div class="col-12 col-sm-3">
                            <h4 onclick="window.location='/danh-muc/<%= menu.slug %>?hien-thi=1'" style="cursor: pointer"><%= menu.name %> </h4>
                            <div class="d-flex flex-wrap">
                                <% menu.childs.forEach(menuChild => { %>
                                    <div class="box-menu-service me-3 text-center btnShowMenuServiceChilds" _menuID="<%= menuChild._id%>">
										<a href="/danh-muc/<%= menuChild.slug%>?hien-thi=1" class="menu-category-mobile">
											<img src="<%= menuChild.image && menuChild.image.path %>" alt="" class="img-fluid" style="border-radius: 12px;">
										</a>
                                        <a href="javascript:void(0)" class="menu-category-desktop">
                                            <img src="<%= menuChild.image && menuChild.image.path %>" alt="" class="img-fluid" style="border-radius: 12px;">
                                        </a>
                                        <p><%= menuChild.name %></p>
                                    </div>
                                <% }) %>
                            </div>
                        </div>
                    <% }) %>
                </div>

				<% listMenu.forEach((menu, index) => { %>

					<div class="wrapper-column-menu-child-service wrapper-column-menu-child__service-<%= index + 1 %>">

						<div class="d-flex">
							<div class="col-3">
								<% menu.childs.forEach((child, index) => { %>
									<% if (index < 4) { %>
										<div class="box-menu-service me-3">
											<a href="javascript:void(0)" class="btnShowMenuServiceChilds" _menuID="<%= child._id %>">
												<h4 class="ms-3"><%= child.name %></h4>
											</a>
											<ul>
												<% child.products.forEach(product => { %>
													<li>
														<a href="/san-pham/<%= product.slug%>">
															<%= product.name %>
														</a>
														<% if (product.flashPrint) { %>
															<label> In nhanh </label>
														<% } %>
													</li>
												<% }) %>
											</ul>
										</div>
									<% } %>
								<% }) %>
							</div>

							<div class="col-3">
								<% menu.childs.forEach((child, index) => { %>
									<% if (index >= 4 && index < 8 ) { %>
										<div class="box-menu-service me-3">
											<a href="javascript:void(0)" class="btnShowMenuServiceChilds" _menuID="<%= child._id %>"">
												<h4 class="ms-3"><%= child.name %></h4>
											</a>
											<ul>
												<% child.products.forEach(product => { %>
													<li>
														<a href="/san-pham/<%= product.slug%>">
															<%= product.name %>
														</a>
														<% if (product.flashPrint) { %>
															<label> In nhanh </label>
														<% } %>
													</li>
												<% }) %>
											</ul>
										</div>
									<% } %>
								<% }) %>
							</div>

							<div class="col-3">
								<% menu.childs.forEach((child, index) => { %>
									<% if (index >= 8 && index < 12 ) { %>
										<div class="box-menu-service me-3">
											<a href="javascript:void(0)" class="btnShowMenuServiceChilds" _menuID="<%= child._id %>">
												<h4 class="ms-3"><%= child.name %></h4>
											</a>
											<ul>
												<% child.products.forEach(product => { %>
													<li>
														<a href="/san-pham/<%= product.slug%>">
															<%= product.name %>
														</a>
														<% if (product.flashPrint) { %>
															<label> In nhanh </label>
														<% } %>
													</li>
												<% }) %>
											</ul>
										</div>
									<% } %>
								<% }) %>
							</div>

							<div class="col-3">
								<% menu.childs.forEach((child, index) => { %>
									<% if (index >= 12 && index < 16 ) { %>
										<div class="box-menu-service me-3">
											<a href="javascript:void(0)" class="btnShowMenuServiceChilds" _menuID="<%= child._id %>">
												<h4 class="ms-3"><%= child.name %></h4>
											</a>
											<ul>
												<% child.products.forEach(product => { %>
													<li>
														<a href="/san-pham/<%= product.slug%>">
															<%= product.name %>
														</a>
														<% if (product.flashPrint) { %>
															<label> In nhanh </label>
														<% } %>
													</li>
												<% }) %>
											</ul>
										</div>
									<% } %>
								<% }) %>
							</div>

						</div>

					</div>

				<% }) %>

            </div>
        </div>

		<div class="container-backdrop backdrop-1 d-none"></div>
		<div class="container-backdrop backdrop-2 d-none"></div>

        <div class="container-header-bottom d-none">
            <div class="d-flex justify-content-between flex-nowrap">
			
                <a href="/" class="<%= hrefCurrent == "/" && 'active' %> menu-home-mobile">
                    <img src="/template/hailuu-fe/assets/images/Mask Group 125.svg" alt="" class="img-fluid">
                    <span>Trang Chủ</span>
                </a>
				
                <a href="#" class="btn-show-menu-category menu-category-mobile">
                    <img src="/template/hailuu-fe/assets/images/Mask Group 126.svg" alt="" class="img-fluid">
                    <span>Danh Mục</span>
                </a>
                <a href="#" class="btn-popup-cart position-relative <%= hrefCurrent.includes("/gio-hang") && 'active' %> menu-cart-mobile">
                    <img src="/template/hailuu-fe/assets/images/Mask Group 127.svg" alt="" class="img-fluid">
                    <span>Giỏ Hàng</span>
					<div class="position-absolute translate-middle text-center border border-light rounded-circle <%= !listOrderLine.length && 'd-none' %>">
						<%= listOrderLine.length %>
					</div>
                </a>
				<% if (infoUser) { %>
					<a href="/tai-khoan" class="<%= hrefCurrent.includes("/tai-khoan") && 'active' %> menu-account-mobile">
						<img src="/template/hailuu-fe/assets/images/Mask Group 128.svg" alt="" class="img-fluid">
						<span>Tài Khoản</span>
					</a>
				<% } else{ %>
					<a href="javascript:void(0)" class="btn-signin">
						<img src="/template/hailuu-fe/assets/images/Mask Group 128.svg" alt="" class="img-fluid">
						<span>Tài Khoản</span>
					</a>
				<% } %>
                
            </div>
            <hr>
        </div>
