<style>
    #openPoupUpCreatePersonnel{
        color: #2ab3dd;
    }
    #openPoupUpCreatePersonnel:hover{
        color: #ffffff;
    }

    #openPoupUpCreatePersonnelSale{
        color: #2ab3dd;
    }
    #openPoupUpCreatePersonnelSale:hover{
        color: #ffffff;
    }
</style>

<!-- TRANG DANH SÁCH NHÂN SỰ -->
<% if (type == 1) { %>
    <div class="content-page">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                       <div class="page-title-box">
                          <h4 class="page-title">Đội Ngũ Nhân Sự</h4>
                          <!-- <ol class="breadcrumb">
                             <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                             <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                             <li class="breadcrumb-item active">Đội ngũ nhân sự</li>
                          </ol> -->
                       </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card m-b-20">
                            <div class="card-body">
                                <div class="col-lg-12 d-flex justify-content-end">
                                    <a class="btn btn-outline-info waves-effect waves-light" id="openPoupUpCreatePersonnel">
                                        <i class="fa fa-plus-circle"></i> Tạo nhân sự
                                    </a>
                                </div>
                                <br>
                                <table class="content-table" id="table-list-personnel">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Họ và tên</th>
                                            <th>Hình ảnh</th>
                                            <th>Chức vụ</th>
                                            <th>Mô tả</th>
                                            <th>Trạng thái</th>
                                            <th>Ngày tạo</th>
                                            <th>Tuỳ chọn</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% listPersonnel && listPersonnel.length && listPersonnel.forEach((personnel, index) => { %>
                                            <% if (personnel) { %>
                                                <tr>
                                                    <th>
                                                        <%= index + 1 %>
                                                    </th>
                                                    <td>
                                                        <i>
                                                            <%= personnel.fullname && personnel.fullname %>
                                                        </i>
                                                    </td>
                                                    <td>
                                                        <a href="<%= personnel.avatar.path %>" target="_blank">
                                                            <img  style="height: 80px;width: 80px;" class="img-fluid" src="<%= personnel.avatar.path %>" width="150px">
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <i>
                                                            <%= personnel.position && personnel.position %>
                                                        </i>
                                                    </td>
                                                    <td>
                                                        <i>
                                                            <%= personnel.description && personnel.description %>
                                                        </i>
                                                    </td>
                                                    <td>
                                                        <% if (personnel.status && personnel.status) { %>
                                                            <span class="badge badge-pill badge-success">
                                                                Hoạt Động
                                                            </span>
                                                        <% }else{ %>
                                                            <span class="badge badge-danger">
                                                                Không Hoạt Động
                                                            </span>
                                                        <% } %>
                                                    </td>
                                                    <td>
                                                        <%= moment(personnel.createAt).format('L') %> 
                                                    </td>
                                                    <td>
                                                        <div class="btn-group mo-mb-2">
                                                            <button class="btn btn-secondary btn-sm" type="button">
                                                                Thao tác
                                                            </button>
                                                            <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <span class="sr-only">Toggle Dropdown</span>
                                                            </button>
                                                            <div class="dropdown-menu" x-placement="right-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(143px, 0px, 0px);">
                                                                <a class="dropdown-item openPoupUpdatePersonnel" _personnelID= "<%=personnel._id%>" ><i class="fa fa-edit"></i> Sửa Thông Tin</a>
                                                                <a class="dropdown-item btnBlockUser btnToggleStatus btnDeletePersonnel" _personnelID = "<%=personnel._id%>" ><i class="fa fa-trash"></i> Xoá</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            <% } %>
                                        <% }) %>
                                    </tbody> 
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% } %>
<% if(type == 2){ %>
    <div class="content-page">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                       <div class="page-title-box">
                          <h4 class="page-title">Danh sách Nhân Viên tư vấn</h4>
                          <!-- <ol class="breadcrumb">
                             <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                             <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                             <li class="breadcrumb-item active">Danh sách Nhân Viên tư vấn</li>
                          </ol> -->
                       </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card m-b-20">
                            <div class="card-body">
                                <div class="col-lg-12 d-flex justify-content-end">
                                    <a class="btn btn-outline-info waves-effect waves-light" id="openPoupUpCreatePersonnelSale">
                                        <i class="fa fa-plus-circle"></i> Tạo nhân viên tư vấn
                                    </a>
                                </div>
                                <br>
                                <table class="content-table" id="table-list-personnel-sale">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Họ và tên</th>
                                            <th>Hình ảnh</th>
                                            <th>Email</th>
                                            <th>Số điện thoại</th>
                                            <th>Trạng thái</th>
                                            <th>Ngày tạo</th>
                                            <th>Tuỳ chọn</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% listPersonnel && listPersonnel.length && listPersonnel.forEach((personnel, index) => { %>
                                            <% if (personnel) { %>
                                                <tr>
                                                    <th>
                                                        <%= index + 1 %>
                                                    </th>
                                                    <td>
                                                        <i>
                                                            <%= personnel.fullname && personnel.fullname %>
                                                        </i>
                                                    </td>
                                                    <td>
                                                        <a href="<%= personnel.avatar.path %>" target="_blank">
                                                            <img  style="height: 80px;width: 80px;" class="img-fluid" src="<%= personnel.avatar.path %>" width="150px">
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <i>
                                                            <%= personnel.email && personnel.email %>
                                                        </i>
                                                    </td>
                                                    <td>
                                                        <i>
                                                            <%= personnel.phone && personnel.phone %>
                                                        </i>
                                                    </td>
                                                    <td>
                                                        <% if (personnel.status && personnel.status) { %>
                                                            <span class="badge badge-pill badge-success">
                                                                Hoạt Động
                                                            </span>
                                                        <% }else{ %>
                                                            <span class="badge badge-danger">
                                                                Không Hoạt Động
                                                            </span>
                                                        <% } %>
                                                    </td>
                                                    <td>
                                                        <%= moment(personnel.createAt).format('L') %> 
                                                    </td>
                                                    <td>
                                                        <div class="btn-group mo-mb-2">
                                                            <button class="btn btn-secondary btn-sm" type="button">
                                                                Thao tác
                                                            </button>
                                                            <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <span class="sr-only">Toggle Dropdown</span>
                                                            </button>
                                                            <div class="dropdown-menu" x-placement="right-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(143px, 0px, 0px);">
                                                                <a class="dropdown-item openPoupUpdatePersonnelSale" _personnelID= "<%=personnel._id%>" ><i class="fa fa-edit"></i> Sửa Thông Tin</a>
                                                                <a class="dropdown-item btnBlockUser btnToggleStatus btnDeletePersonnelSale" _personnelID = "<%=personnel._id%>" ><i class="fa fa-trash"></i> Xoá</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            <% } %>
                                        <% }) %>
                                    </tbody> 
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% } %>

<!-- POPUP THÊM NHÂN SỰ -->
<div class="modal fade bs-example-modal-sm popup-create-and-update-personnel" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="card-body">
                <div class="form-group">
                    <div>
                        <label for="example-text-input" class="col-form-label">
                            Họ và tên
                        </label>
                    </div>
                    <div>
                        <input class="form-control" type="text"placeholder="Nhập tên nhân sự" id="txtFullname">
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <label for="example-text-input" class="col-form-label">
                            Chức vụ
                        </label>
                    </div>
                    <div>
                        <input class="form-control" type="text"placeholder="Nhập chức vụ" id="txtPosition">
                    </div>
                </div>
                <div class="form-group">
                    <label>
                        Mô Tả
                    </label>
                    <div>
                        <textarea required="" class="form-control" id="txtDescription" rows="5" placeholder="Mô tả..."></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label>Hình ảnh</label>
                    <input type="file" name="" class="form-control" style="margin-top:10px" id="inputAvatarPersonnel" accept="image/*">
                </div>
                <button type="button" class="btn btn-info waves-effect waves-light" style="margin: 0 auto; display: block; float: right;" id="btnUpdatePersonnel" >Cập Nhật</button>
                <button type="button" class="btn btn-info waves-effect waves-light" style="margin: 0 auto; display: block; float: right;" id="btnAddPersonnel" >Tạo mới</button>
            </div>
        </div>
    </div>
</div>

<!-- POPUP THÊM NHÂN VIÊN TƯ VẤN -->
<div class="modal fade bs-example-modal-sm popup-create-and-update-personnel-sale" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="card-body">
                <div class="form-group">
                    <div>
                        <label for="example-text-input" class="col-form-label">
                            Họ và tên
                        </label>
                    </div>
                    <div>
                        <input class="form-control" type="text" placeholder="Nhập tên nhân viên tư vấn" id="txtFullnameSale">
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <label for="example-text-input" class="col-form-label">
                            Email
                        </label>
                    </div>
                    <div>
                        <input class="form-control" type="text" placeholder="Nhập email" id="txtEmail">
                    </div>
                </div>
                <div class="form-group">
                    <label>
                        Số điện thoại
                    </label>
                    <div>
                        <input class="form-control" type="text" placeholder="Nhập số điện thoại" id="txtPhone">
                    </div>
                </div>
                <div class="form-group">
                    <label>Hình ảnh</label>
                    <input type="file" name="" class="form-control" style="margin-top:10px" id="inputAvatarPersonnelSale" accept="image/*">
                </div>
                <button type="button" class="btn btn-info waves-effect waves-light" style="margin: 0 auto; display: block; float: right;" id="btnUpdatePersonnelSale" >Cập Nhật</button>
                <button type="button" class="btn btn-info waves-effect waves-light" style="margin: 0 auto; display: block; float: right;" id="btnAddPersonnelSale" >Tạo mới</button>
            </div>
        </div>
    </div>
</div>