<!-- CHƯA NỘI DUNG CONTENT -->
<style>
    .select2-selection__rendered{
      line-height: 33px !important;
   }
   .select2-container .select2-selection--single {
      height: 35px !important;
   }
   .select2-container{
      width: 100% !important;
   }
 </style>
  <div class="content-page">
      <div class="content">
          <div class="container-fluid">
           <div class="row">
              <div class="col-sm-12">
                  <div class="page-title-box">
                      <h4 class="page-title">Khởi tạo địa chỉ khách Hàng</h4>
                      <!-- <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                          <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                          <li class="breadcrumb-item active">Khởi tạo địa chỉ khách Hàng</li>
                      </ol> -->
                      <!-- <div class="state-information d-none d-sm-block">
                          <div class="state-graph">
                              <div id="header-chart-1"><canvas width="101" height="35" style="display: inline-block; width: 101px; height: 35px; vertical-align: top;"></canvas></div>
                              <div class="info">Balance $ 2,317</div>
                          </div>
                          <div class="state-graph">
                              <div id="header-chart-2"><canvas width="101" height="35" style="display: inline-block; width: 101px; height: 35px; vertical-align: top;"></canvas></div>
                              <div class="info">Item Sold 1230</div>
                          </div>
                      </div> -->
                  </div>
              </div>
          </div>
              <div class="row">
                  <div class="col-lg-8">
                      <div class="card m-b-20">
                         <div class="card-body">
                            <h4 class="mt-0 header-title"> <b> Thông tin Khách Hàng</b></h4>
                            <div class="form-group row">
                                <label for="example-text-input" class="col-sm-2 col-form-label">Họ và tên:</label>
                                <div class="col-sm-10">
                                   <input class="form-control" type="text" disabled value="<%= infoCustomer && infoCustomer.fullname %>" >
                                </div>
                             </div>
                             <div class="form-group row">
                                <label for="example-search-input" class="col-sm-2 col-form-label">Email:</label>
                                <div class="col-sm-10">
                                   <input class="form-control" type="text" disabled value="<%= infoCustomer && infoCustomer.email %>" >
                                </div>
                             </div>
                             <div class="form-group row">
                                <label for="example-search-input" class="col-sm-2 col-form-label">Số điện thoại: </label>
                                <div class="col-sm-10">
                                   <input class="form-control" type="text" disabled value="<%= infoCustomer && infoCustomer.phone %>" >
                                </div>
                             </div>
                             <div class="form-group row">
                                <label for="example-email-input" class="col-sm-2 col-form-label">Giới tính: </label>
                                <div class="col-sm-10">
                                   <% if (infoCustomer && infoCustomer.gender) { %>
                                      <span class="badge badge-success" style="font-size: 15px; border-radius: 8px;
                                      padding: 5px;">Nam</span>
                                   <% } else { %>
                                      <span class="badge badge-success" style="font-size: 15px; border-radius: 8px;
                                      padding: 5px;">Nữ</span>
                                   <% } %>
                                </div>
                             </div>
                             <div class="form-group row">
                                <label for="example-email-input" class="col-sm-2 col-form-label">Ngày sinh: </label>
                                <div class="col-sm-10">
                                   <% if (infoCustomer && infoCustomer.birthday) { %>
                                      <input class="form-control" type="text" disabled value="<%=moment(infoCustomer.birthday).format('L');%>">
                                   <% } %>
                                </div>
                             </div>
                         </div>
                      </div>
                   </div>
                   <div class="col-lg-4">
                      <div class="card m-b-20">
                         <div class="card-body">
                            <h4 class="mt-0 header-title"> <b> Thêm Địa chỉ Mới</b></h4>
                            <div class="form-group row">
                               <label for="example-tel-input" class="col-sm-4 col-form-label">Địa chỉ</label>
                               <div class="col-sm-8"><input class="form-control" type="text"  placeholder="Nhập Địa chỉ ..." id="txtAddress"></div>
                            </div>
                            <div class="form-group row">
                               <label for="example-tel-input" class="col-sm-4 col-form-label">Thành Phố/Tỉnh</label>
                               <div class="col-sm-8">
                                  <select class="form-control" id="txtCity">
                                     <option value="">Chọn Thành Phố/Tỉnh</option>
                                     <% listProvince.forEach(element => { %>
                                        <option value="<%= element[1].code %>"><%= element[1].name_with_type %></option>
                                     <% }) %>
                                  </select>
                               </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-tel-input" class="col-sm-4 col-form-label">Quận/Huyện</label>
                               <div class="col-sm-8">
                                  <select class="form-control" id="txtDistrict">
                                     <option value=""> Chọn Quận/Huyện </option>
                                  </select>
                               </div>
                            </div>
                            <div class="form-group row">
                               <label for="example-tel-input" class="col-sm-4 col-form-label">Phường/Xã</label>
                               <div class="col-sm-8">
                                   <select class="form-control" id="txtWard">
                                     <option value=""> Chọn Phường/Xã </option>
                                  </select>
                                </div>
                            </div>
                           <div class="form-group">
                              <button class="btn btn-info float-right btnAddAddressAccount" _accountID = "<%= infoCustomer && infoCustomer._id %>">Thêm Mới</button>
                           </div>
                         </div>
                      </div>
                   </div>
                   <div class="col-lg-12">
                        <h4 class="mt-0 header-title"> <b> Danh sách địa chỉ của Khách hàng</b></h4>
                    </div>
                   <% if (infoAddress && infoAddress.length) { %>
                        <% infoAddress.forEach((element, index) => { %>
                            
                            <div class="col-lg-12">
                                <div class="card m-b-20">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <% if (infoCustomer.addressDefault && element._id.toString() == infoCustomer.addressDefault.toString()) { %>
                                                <span class="badge badge-warning" style="font-size: 12px;
                                                border-radius: 8px;
                                                padding: 5px;
                                                "><i class="mdi mdi-check"></i> Mặc định</span>
                                            <% } %>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group row">
                                                <label for="example-tel-input" class="col-sm-12 col-form-label">Tên người nhận</label>
                                                <div class="col-sm-12"><input value="<%= element.receiverName %>" disabled class="form-control" type="text" id="txtAddress"></div>
                                            </div>
                                        </div>

                                        <div class="col-lg-2">
                                            <div class="form-group row">
                                                <label for="example-tel-input" class="col-sm-12 col-form-label">Số điện thoại người nhận</label>
                                                <div class="col-sm-12"><input value="<%= element.receiverPhone %>" disabled class="form-control" type="text" id="txtAddress"></div>
                                            </div>
                                        </div>

                                        <div class="col-lg-2">
                                            <div class="form-group row">
                                                <label for="example-tel-input" class="col-sm-12 col-form-label">Địa chỉ</label>
                                                <div class="col-sm-12"><input value="<%= element.address %>" disabled class="form-control" type="text" id="txtAddress"></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group row">
                                                <label for="example-tel-input" class="col-sm-12 col-form-label">Phường/Xã</label>
                                                <div class="col-sm-12">
                                                    <input class="form-control" type="text" disabled value="<% element.listWard.forEach(ward => { %><% if (ward[1].code == element.ward) { %><%= ward[1].name_with_type %><% } %><% }) %>">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-2">
                                            <div class="form-group row">
                                                <label for="example-tel-input" class="col-sm-12 col-form-label">Quận/Huyện</label>
                                                <div class="col-sm-12">
                                                    <input class="form-control" type="text" disabled value="<% element.listDistrict.forEach(district => { %><% if (district[1].code == element.district) { %><%= district[1].name_with_type %><% } %><% }) %>">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group row">
                                                <label for="example-tel-input" class="col-sm-12 col-form-label">Thành Phố/Tỉnh</label>
                                                <div class="col-sm-12">
                                                    <input class="form-control" type="text" disabled value="<% listProvince.forEach(city => { %><% if (city[1].code == element.city) { %><%= city[1].name_with_type %><% } %><% }) %>">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-info float-right btnUpdateAddressAccount" _index="<%= index + 1 %>" _addressID = "<%= element._id %>">Cập Nhật</button>
                                    </div>
                                </div>
                                </div>
                            </div>
                        <% }) %>
                    <% } %>
              </div>
          </div>
      </div>
  </div>
  <div width="500px" class="modalUpdate modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">Chỉnh sửa địa chỉ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-3 col-form-label">Địa chỉ</label>
                    <div class="col-sm-9">
                        <input class="form-control txtFullNameUpdate" type="text" value="" id="example-text-input">
                    </div>
                </div>
                <div class="form-group row" id="txtCityParent">
                    <label for="example-tel-input" class="col-sm-3 col-form-label">Thành Phố/Tỉnh</label>
                    <div class="col-sm-9">
                        <select class="form-control" id="txtCityUpdate">
                            <option value="">Chọn Thành Phố/Tỉnh</option>
                            <% listProvince.forEach(element => { %>
                                <option value="<%= element[1].code %>"><%= element[1].name_with_type %></option>
                            <% }) %>
                        </select>
                    </div>
                </div>
                <div class="form-group row" id="txtDistrictParent">
                    <label for="example-tel-input" class="col-sm-3 col-form-label">Quận/Huyện</label>
                    <div class="col-sm-9">
                        <select class="form-control" id="txtDistrictUpdate">
                            <option value=""> Chọn Quận/Huyện </option>
                        </select>
                    </div>
                </div>
                <div class="form-group row" id="txtWardParent">
                    <label for="example-tel-input" class="col-sm-3 col-form-label">Phường/Xã</label>
                    <div class="col-sm-9">
                        <select class="form-control" id="txtWardUpdate">
                            <option value=""> Chọn Phường/Xã </option>
                        </select>
                    </div>
                </div>
                <% if (infoAddress && infoAddress.length > 1) { %>
                    <div class="form-group row showStatusAddress">
                        <label for="example-tel-input" class="col-sm-3 col-form-label">Mặc định</label>
                        <div class="col-sm-9" style="float: left;">
                            <input class="newSletter status" type="checkbox" id="account" switch="none" _addressID="<%= infoCustomer && infoCustomer.addressDefault %>" _accountID = "<%= infoCustomer && infoCustomer._id %>"> 
                            <label  for="account" data-on-label="On" data-off-label="Off">
                        </div>
                    </div>
                <% } %> 
                <div class="form-group">
                    <div class=" float-right m-t-15"><button type="button" _action="add" class="btn btn-info float-right btnSubmitChangeAddress">Cập nhật</button></div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>