<!-- CHƯA NỘI DUNG CONTENT -->
<style>
    .img-wraps {
       position: relative;
       display: inline-block;
       /* border: 1px red solid; */
       font-size: 0;
    }
    .img-wraps .close {
       position: absolute;
       top: 2px;
       right: 2px;
       z-index: 100;
       /* background-color: #FFF; */
       padding: 5px 2px 2px;
       color: #000;
       font-weight: bold;
       cursor: pointer;
       opacity: .2;
       text-align: center;
       font-size: 22px;
       line-height: 10px;
       border-radius: 50%;
    }
    .img-wraps:hover .close {
       opacity: 1;
    }
    .color-click{
       border: 3px solid #b1154a;
    }
 </style>
 <div class="content-page">
     <div class="content">
         <div class="container-fluid">
             <br>
             <div class="row">
                 <div class="col-xl-8">
                     <div class="card m-b-20">
                        <div class="card-body">
                           <h4 class="mt-0 header-title"> <b> Thông tin Khách Hàng</b></h4>
                           <div class="form-group row">
                              <label for="example-text-input" class="col-sm-2 col-form-label">Họ và tên:</label>
                              <div class="col-sm-10">
                                 <input class="form-control" type="text" disabled value="<%= infoCustomer && infoCustomer.fullname %>" >
                              </div>
                           </div>
                           <div class="form-group row">
                              <label for="example-search-input" class="col-sm-2 col-form-label">Email:</label>
                              <div class="col-sm-10">
                                 <input class="form-control" type="text" disabled value="<%= infoCustomer && infoCustomer.email %>" >
                              </div>
                           </div>
                           <div class="form-group row">
                              <label for="example-search-input" class="col-sm-2 col-form-label">Số điện thoại: </label>
                              <div class="col-sm-10">
                                 <input class="form-control" type="text" disabled value="<%= infoCustomer && infoCustomer.phone %>" >
                              </div>
                           </div>
                           <div class="form-group row">
                              <label for="example-email-input" class="col-sm-2 col-form-label">Giới tính: </label>
                              <div class="col-sm-10">
                                 <% if (infoCustomer && infoCustomer.gender) { %>
                                    <span class="badge badge-success" style="font-size: 15px;">Nam</span>
                                 <% } else { %>
                                    <span class="badge badge-success" style="font-size: 15px;">Nữ</span>
                                 <% } %>
                              </div>
                           </div>
                           <div class="form-group row">
                              <label for="example-email-input" class="col-sm-2 col-form-label">Ngày sinh: </label>
                              <div class="col-sm-10">
                                 <% if (infoCustomer && infoCustomer.birthday) { %>
                                    <input class="form-control" type="text"id="txtBirthDay" disabled value="<%=moment(infoCustomer.birthday).format('L');%>">
                                 <% } %>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-4">
                     <div class="card m-b-20">
                        <div class="card-body">
                           <h4 class="mt-0 header-title"> <b> Thông tin Mua Hàng</b></h4>
                           <div class="form-group row">
                              <label for="example-text-input" class="col-sm-6 col-form-label">Tổng tiền thanh toán: </label>
                              <div class="col-sm-6">
                                 <input class="form-control" type="text"id="" disabled value="<%= listOrder && formatCurrency('###,###.', listOrder.pricePayOrder) %>">
                              </div>
                           </div>
                           <div class="form-group row">
                              <label for="example-search-input" class="col-sm-6 col-form-label">Tổng SL đơn hàng: </label>
                              <div class="col-sm-6">
                                 <input class="form-control" type="text"id="" disabled value="<%= listOrder && listOrder.countOrder %>">
                              </div>
                           </div>
                        </div>
                     </div>
                  </div> 
                  <div class="col-xl-12">
                     <div class="card m-b-20">
                        <div class="card-body">
                           <h4 class="mt-0 header-title"> <b> Lịch sử mua hàng</b></h4>
                           <table class="content-table">
                              <thead>
                                  <tr>
                                      <th>Mã đơn hàng</th>
                                      <th>Trạng thái</th>
                                      <th>Khối lượng</th>
                                      <th>Giá trị</th>
										         <th>Chi phí vận chuyển</th>
										         <th>Trạng thái thanh toán</th>
                                      <th>Ngày ghi nhận</th>
                                  </tr>
                              </thead>
                              <tbody>
                                 <% if (listOrder && listOrder.listOrder && listOrder.listOrder.length) { %>
                                    <% listOrder.listOrder.forEach(element => { %>
                                       <tr>
                                          <td><a href="/order/info-order?orderID=<%= element._id %>"><%= element.orderID %></a></td>
                                          <td>
                                             <span class="badge badge-pill badge-<%= ORDER_STATUS[element.status].color %>">
                                                <%= ORDER_STATUS[element.status].text %>
                                             </span>
                                          </td>
                                          <td>
                                             <%= element.weight %>
                                          </td>
                                          <td>
                                             <i>
                                                <b>
                                                   <%= formatCurrency('###,###.', element.amount) %> 
                                                </b>
                                             </i>
                                          </td>
                                          <td>
                                             <i> 
                                                <%= formatCurrency('###,###.', element.deliveryPrice) %> 
                                             </i>
                                          </td>
                                          <td>
                                             <h6>
                                                <span class="badge badge-pill badge-<%= PAYMENT_STATUS[element.statusPayment].color %>">
                                                   <%= PAYMENT_STATUS[element.statusPayment].text %>
                                                </span>
                                             </h6>
                                          </td>
                                          <td>
                                             <i> <%= moment(element.createAt).format('L');%> lúc <%= moment(element.createAt).format('LT');%></i>
                                          </td>
                                      </tr>
                                    <% }) %>
                                 <% } %>
                                 
                              </tbody>
                          </table>
                        </div>
                     </div>
                  </div> 
             </div>
         </div>
     </div>
 </div>