<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <h4 class="page-title">QUẢN LÝ BIẾN THỂ</h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Quản lý biến thể</li>
                        </ol>
                        <div style="float:right; position: relative; bottom: 30px;">
                            <button class="btn btn-outline-info waves-effect waves-light btn-show-modal-create-variant-option">
                                <i class="fa fa-plus-circle"></i> Tạo biến thể cha
                            </button>
                        </div>
                    </div>
                </div>
            </div>

              <!-- end row -->
              <div class="row">
                <div class="col-12">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <p class="text-muted m-b-30"></p>
                            <table class="content-table" id="face-number-table">
                                <thead>
                                    <tr>
                                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 20px;" aria-label="Position: activate to sort column ascending">STT</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 120px;" aria-label="Position: activate to sort column ascending">Biến thể cha</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 120px;" aria-label="Position: activate to sort column ascending">Biến thể con</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 100px;" aria-label="Position: activate to sort column ascending">Trạng thái hoạt động</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 25px;" aria-label="Age: activate to sort column ascending">Tác vụ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% listData && listData.length && listData.forEach((item, index) => { %>
                                        <tr>
                                            <th><%=index+1%> </th>
                                            <td><b><%=item.name%></b></td>
                                            <td></td>
                                            <td>
                                                <% if (item.status == 1) { %>
                                                    <span class="badge badge-pill badge-success">
                                                        Hoạt động
                                                    </span>
                                                <% }else{%>
                                                    <span class="badge badge-pill badge-danger">
                                                        Không hoạt động
                                                    </span>
                                                <% } %>
                                                
                                            </td>
                                            <td>
                                                <div class="btn-group mb-2">
                                                    <div class="btn-group mb-2">
                                                        <button class="btn btn-secondary btn-sm" type="button">
                                                            Thao tác
                                                        </button>
                                                        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="sr-only">...</span>
                                                        </button>
                                                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(603px, 216px, 0px);">
                                                            <a class="dropdown-item btnUpdateAddVariantChilds" _id="<%=item._id %>" href="#"><i class="fa fa-plus-circle"></i> Tạo biến thể con</a> 
                                                            <a class="dropdown-item btnUpdateVariant" _id="<%=item._id %>" href="#"><i class="fa fa-edit"></i> Chỉnh sửa</a> 
                                                            <a class="dropdown-item btnRemoveVariant" _id="<%=item._id %>" href="#"><i class="fa fa-trash"></i> Xóa</a> 
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <% item.childs.forEach((child, index) => { %>
                                            <% if (child.status == 1) { %>
                                                <tr>
                                                    <th></th>
                                                    <td></td>
                                                    <td><b><%=child.name%></b></td>
                                                    <td>
                                                        <% if (child.status == 1) { %>
                                                            <span class="badge badge-pill badge-success">
                                                                Hoạt động
                                                            </span>
                                                        <% }else{%>
                                                            <span class="badge badge-pill badge-danger">
                                                                Không hoạt động
                                                            </span>
                                                        <% } %>
                                                        
                                                    </td>
                                                    <td>
                                                        <div class="btn-group mb-2">
                                                            <div class="btn-group mb-2">
                                                                <button class="btn btn-secondary btn-sm" type="button">
                                                                    Thao tác
                                                                </button>
                                                                <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    <span class="sr-only">...</span>
                                                                </button>
                                                                <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(603px, 216px, 0px);">
                                                                    <a class="dropdown-item btnUpdateVariant" _id="<%=child._id %> " href="#"><i class="fa fa-edit"></i> Chỉnh sửa</a> 
                                                                    <a class="dropdown-item btnRemoveVariant" _id="<%=child._id %> " href="#"><i class="fa fa-trash"></i> Xóa</a> 
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            <% } %>
                                        <% }) %>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
    <!-- content -->
</div>

<!-- POPUP TẠO SỐ MẶT IN -->
<div class="modal fade bs-example-modal-sm popup-create-variant-option" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">Tạo biến thể</h5>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <div class="form-group"><label>Tên biến thể</label> 
                    <input type="text" class="form-control" required="" placeholder="Nhập tên..." id="txtNameFaceNumber">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info btnConfirmAddVariantOption">Xác nhận</button>
                <button class="btn btn-info btnConfirmUpdateVariantOption" style="display: none;">Xác nhận</button>
            </div>
        </div>
    </div>
</div>