<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <h4 class="page-title">QUẢN LÝ BIẾN THỂ</h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Quản lý biến thể</li>
                        </ol>
                        <!-- <div class="state-information d-none d-sm-block">
                            <div class="state-graph">
                                <div id="header-chart-1"><canvas width="101" height="35" style="display: inline-block; width: 101px; height: 35px; vertical-align: top;"></canvas></div>
                                <div class="info">Balance $ 2,317</div>
                            </div>
                            <div class="state-graph">
                                <div id="header-chart-2"><canvas width="101" height="35" style="display: inline-block; width: 101px; height: 35px; vertical-align: top;"></canvas></div>
                                <div class="info">Item Sold 1230</div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <!-- end row -->
            <div class="row">
                <div class="col-12">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <h4 class="mt-0 header-title"><b>Danh sách Số mặt in</b> </h4>
                            <div style="float:right; position: relative; bottom: 30px;">
								<button class="btn btn-outline-info waves-effect waves-light btn-show-modal-create-face-number">
									<i class="fa fa-plus-circle"></i> Tạo mới
								</button>
							</div>
                            <p class="text-muted m-b-30"></p>
                            <table class="content-table" id="face-number-table">
                                <thead>
                                    <tr>
                                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 20px;" aria-label="Position: activate to sort column ascending">STT</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 120px;" aria-label="Position: activate to sort column ascending">Tên</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 80px;" aria-label="Position: activate to sort column ascending">Số mặt in</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 100px;" aria-label="Position: activate to sort column ascending">Trạng thái hoạt động</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 25px;" aria-label="Age: activate to sort column ascending">Tác vụ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% listFaceNumber && listFaceNumber.length && listFaceNumber.forEach((item, index) => { %>
                                        <tr>
                                            <th><%=index+1%> </th>
                                            <td><i><%=item.name%></i></td>
                                            <td><%=item.amount%></td>
                                            <td>
                                                <% if (item.status == 1) { %>
                                                    <span class="badge badge-pill badge-success">
                                                        Hoạt động
                                                    </span>
                                                <% }else{%>
                                                    <span class="badge badge-pill badge-danger">
                                                        Không hoạt động
                                                    </span>
                                                <% } %>
                                                
                                            </td>
                                            <td>
                                                <div class="btn-group mb-2">
                                                    <div class="btn-group mb-2">
                                                        <button class="btn btn-secondary btn-sm" type="button">
                                                            Thao tác
                                                        </button>
                                                        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="sr-only">...</span>
                                                        </button>
                                                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(603px, 216px, 0px);">
                                                            <a class="dropdown-item btnUpdateFaceNumber" _faceNumberID="<%=item._id %> " href="#"><i class="fa fa-edit"></i> Chỉnh sửa</a> 
                                                            <a class="dropdown-item btnRemoveFaceNumber" _faceNumberID="<%=item._id %> " href="#"><i class="fa fa-trash"></i> Xóa</a> 
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card m-b-20">
                        <div class="card-body">
                            <h4 class="mt-0 header-title"><b>Danh sách Quy cách in</b> </h4>
                            <div style="float:right; position: relative; bottom: 30px;">
								<button class="btn btn-outline-info waves-effect waves-light btn-show-modal-create-print-specification">
									<i class="fa fa-plus-circle"></i> Tạo mới
								</button>
							</div>
                            <p class="text-muted m-b-30"></p>
                            <table class="content-table" id="print-specification-table">
                                <thead>
                                    <tr>
                                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 20px;" aria-label="Position: activate to sort column ascending">STT</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 120px;" aria-label="Position: activate to sort column ascending">Tên</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 80px;" aria-label="Position: activate to sort column ascending">Mô tả</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 100px;" aria-label="Position: activate to sort column ascending">Trạng thái hoạt động</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 25px;" aria-label="Age: activate to sort column ascending">Tác vụ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% listPrintSpecification && listPrintSpecification.length && listPrintSpecification.forEach((item, index) => { %>
                                        <tr>
                                            <th><%=index+1%> </th>
                                            <td><i><%=item.name%></i></td>
                                            <td><%=item.description%></td>
                                            <td>
                                                <% if (item.status == 1) { %>
                                                    <span class="badge badge-pill badge-success">
                                                        Hoạt động
                                                    </span>
                                                <% }else{%>
                                                    <span class="badge badge-pill badge-danger">
                                                        Không hoạt động
                                                    </span>
                                                <% } %>
                                            </td>
                                            <td>
                                                <div class="btn-group mb-2">
                                                    <div class="btn-group mb-2">
                                                        <button class="btn btn-secondary btn-sm" type="button">
                                                            Thao tác
                                                        </button>
                                                        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="sr-only">...</span>
                                                        </button>
                                                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(603px, 216px, 0px);">
                                                            <a class="dropdown-item btnUpdatePrintSpecification" _printSpecificationID="<%=item._id %> " href="#"><i class="fa fa-edit"></i> Chỉnh sửa</a> 
                                                            <a class="dropdown-item btnRemovePrintSpecification" _printSpecificationID="<%=item._id %> " href="#"><i class="fa fa-trash"></i> Xóa</a> 
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card m-b-20">
                        <div class="card-body">
                            <h4 class="mt-0 header-title"><b>Danh sách Số lượng</b> </h4>
                            <div style="float:right; position: relative; bottom: 30px;">
								<button class="btn btn-outline-info waves-effect waves-light btn-show-modal-create-amount">
									<i class="fa fa-plus-circle"></i> Tạo mới
								</button>
							</div>
                            <p class="text-muted m-b-30"></p>
                            <table class="content-table" id="amount-table">
                                <thead>
                                    <tr>
                                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 20px;" aria-label="Position: activate to sort column ascending">STT</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 120px;" aria-label="Position: activate to sort column ascending">Tên</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 80px;" aria-label="Position: activate to sort column ascending">Số lượng</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 100px;" aria-label="Position: activate to sort column ascending">Trạng thái hoạt động</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 25px;" aria-label="Age: activate to sort column ascending">Tác vụ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% listAmount && listAmount.length && listAmount.forEach((item, index) => { %>
                                        <tr>
                                            <th><%=index+1%> </th>
                                            <td><i><%=item.name%></i></td>
                                            <td><%=item.amount%></td>
                                            <td>
                                                <% if (item.status == 1) { %>
                                                    <span class="badge badge-pill badge-success">
                                                        Hoạt động
                                                    </span>
                                                <% }else{%>
                                                    <span class="badge badge-pill badge-danger">
                                                        Không hoạt động
                                                    </span>
                                                <% } %>
                                            </td>
                                            <td>
                                                <div class="btn-group mb-2">
                                                    <div class="btn-group mb-2">
                                                        <button class="btn btn-secondary btn-sm" type="button">
                                                            Thao tác
                                                        </button>
                                                        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="sr-only">...</span>
                                                        </button>
                                                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(603px, 216px, 0px);">
                                                            <a class="dropdown-item btnUpdateAmount" _amountID="<%=item._id %> " href="#"><i class="fa fa-edit"></i> Chỉnh sửa</a> 
                                                            <a class="dropdown-item btnRemoveAmount" _amountID="<%=item._id %> " href="#"><i class="fa fa-trash"></i> Xóa</a> 
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
    <!-- content -->
</div>
<!-- POPUP TẠO SỐ MẶT IN -->
<div class="modal fade bs-example-modal-sm popup-create-face-number" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">Tạo mới Số mặt in</h5>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <div class="form-group"><label>Tên</label> 
                    <input type="text" class="form-control" required="" placeholder="Nhập tên..." id="txtNameFaceNumber">
                </div>
                <div class="form-group"><label>Số mặt</label> 
                    <input type="number" min="1" class="form-control" required="" placeholder="Nhập số mặt..." id="txtAmountFaceNumber">
                </div>
                <div class="form-group input-status"><label>Trạng thái</label> 
                    <select class="form-control" id="txtStatusUpdateFaceNumber">
						<option value="0">Không hoạt động</option>
						<option value="1">Hoạt động</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info btnConfirmAddAndUpdateFaceNumber">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<!-- POPUP TẠO QUY CÁCH IN -->
<div class="modal fade bs-example-modal-sm popup-create-print-specification" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">Tạo mới Số mặt in</h5>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <div class="form-group"><label>Tên</label> 
                    <input type="text" class="form-control" required="" placeholder="Nhập tên..." id="txtNamePrintSpecification">
                </div>
                <div class="form-group"><label>Mô tả</label> 
                    <input type="text" min="1" class="form-control" required="" placeholder="Nhập mô tả..." id="txtDescriptionPrintSpecification">
                </div>
                <div class="form-group input-status-print-specification"><label>Trạng thái</label> 
                    <select class="form-control" id="txtStatusUpdatePrintSpecification">
						<option value="0">Không hoạt động</option>
						<option value="1">Hoạt động</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info btnConfirmAddAndUpdatePrintSpecification">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<!-- POPUP TẠO SỐ MẶT IN -->
<div class="modal fade bs-example-modal-sm popup-create-amount" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">Tạo mới Số lượng</h5>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <div class="form-group"><label>Tên</label> 
                    <input type="text" class="form-control" required="" placeholder="Nhập tên..." id="txtNameAmount">
                </div>
                <div class="form-group"><label>Số lượng</label> 
                    <input type="number" min="1" class="form-control" required="" placeholder="Nhập số lượng..." id="txtAmount">
                </div>
                <div class="form-group input-status-amount"><label>Trạng thái</label> 
                    <select class="form-control" id="txtStatusUpdateAmount">
						<option value="0">Không hoạt động</option>
						<option value="1">Hoạt động</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info btnConfirmAddAndUpdateAmount">Xác nhận</button>
            </div>
        </div>
    </div>
</div>