<style>
   .select2-selection__rendered{
        line-height: 33px !important;
        width:100%!important;
    }
    .select2-container .select2-selection--single {
        height: 35px !important;
    }
    .select2-selection__arrow {
        height: 33px !important;
    }
</style>
<div class="content-page">
    <!-- Start content -->
    <div class="content">
       <div class="container-fluid">
          <div class="row">
             <div class="col-sm-12">
                <div class="page-title-box">
                   <h4 class="page-title">Thêm sản phẩm</h4>
                   <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                      <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                      <li class="breadcrumb-item active">Thêm sản phẩm</li>
                   </ol>
                   <!-- <div class="state-information d-none d-sm-block">
                      <div class="state-graph">
                         <div id="header-chart-1">
                            <canvas width="101" height="35" style="display: inline-block; width: 101px; height: 35px; vertical-align: top;"></canvas>
                         </div>
                         <div class="info">Balance $ 2,317</div>
                      </div>
                      <div class="state-graph">
                         <div id="header-chart-2">
                            <canvas width="101" height="35" style="display: inline-block; width: 101px; height: 35px; vertical-align: top;"></canvas>
                         </div>
                         <div class="info">Item Sold 1230</div>
                      </div>
                   </div> -->
                </div>
             </div>
          </div>
          <!-- end row -->
          <div class="row">
             <div class="col-6">
                <div class="card m-b-20">
                   <div class="card-body">
                      <h4 class="mt-0 header-title">Thông tin sản phẩm</h4>
                      <p class="text-muted m-b-30"></p>
                      <div class="form-group">
                         <label for="example-text-input" class="col-sm-12 col-form-label">Tên sản phẩm:</label>
                         <div class="col-sm-12"><input class="form-control" type="text" value="" id="txtName"></div>
                      </div>
                      <div class="form-group">
                        <label for="example-text-input" class="col-sm-12 col-form-label">Mô tả:</label>
                        <div class="col-sm-12">
                           <textarea class="form-control" name="" id="txtDescription" cols="30" rows="4"></textarea>
                        </div>
                     </div>
                     <div class="form-group">
                        <div class="row">
                           <div class="col-sm-12">
                              <div class="col-sm-12" style="padding-right: 0;">
                                 <label for="example-text-input" class="col-form-label">Màu sắc:</label>
                                 <input class="form-control" type="text" placeholder="Ví dụ: Nhiều màu..." value="" id="txtColor">
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="form-group">
                        <div class="row">
                           <div class="col-sm-6">
                              <div class="col-sm-12" style="padding-right: 0;">
                                 <label for="example-text-input" class="col-form-label">Chọn danh mục cha:</label>
                                 <select name="attribute" id="menu-parent" class="form-control select-menu">
                                    <% listMenu && listMenu.length && listMenu.forEach(menu => { %>
                                      <option value="<%=menu._id%>"><%=menu.name%></option>
                                    <% }) %>
                                 </select>
                              </div>
                           </div>
                           <div class="col-sm-6">
                              <div class="col-sm-12" style="padding-left: 0;">
                                 <label for="example-text-input" class="col-form-label">Chọn danh mục con:</label>
                                 <select name="attribute" id="menu-children" class="form-control select-menu">
                                    
                                 </select>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="form-group">
                        <div class="row">
                           <div class="col-sm-4">
                              <div class="col-sm-12" style="padding-right: 0;">
                                 <label for="example-text-input" class="col-form-label">Giá gốc (đ):</label>
                                 <input class="form-control" type="text" value="" id="txtPriceBefore" placeholder="Ví dụ: 100.000">
                              </div>
                           </div>
                           <div class="col-sm-4">
                              <div class="col-sm-12" style="padding-left: 0; padding-right: 0;">
                                 <label for="example-text-input" class="col-form-label">Giá sau khi giảm (đ):</label>
                                 <input class="form-control" type="text" value="" id="txtPriceAfter" placeholder="Ví dụ: 70.000">
                              </div>
                           </div>
                           <div class="col-sm-4">
                              <div class="col-sm-12" style="padding-left: 0;">
                                 <label for="example-text-input" class="col-form-label">Tỉ lệ giảm:</label>
                                 <input class="form-control" type="text" disabled value="" id="txtRatio">
                              </div>
                           </div>
                        </div>
                     </div>
                     <div style="margin-left: 18px;"class="form-group row">
                        <div class="row">
                           <div class="col-sm-5">
                              <div class="col-sm-12" style="padding-left: 0;">
                                 <label for="example-text-input" class="col-form-label">Flase sale:</label>
                                 <input class="flash-sale-change" type="checkbox"  id="switch_flase_sale" switch="none"> <label for="switch_flase_sale" data-on-label="On" data-off-label="Off">
                              </div>
                           </div>
                           <div class="col-sm-5">
                              <div class="col-sm-12" style="padding-right: 0; padding-right: 0;">
                                 <label for="example-text-input" class="col-form-label">In nhanh:</label>
                                 <input class="flash-print-change" type="checkbox"  id="switch_flash_print" switch="none" > <label for="switch_flash_print" data-on-label="On" data-off-label="Off">
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="example-text-input" class="col-sm-12 col-form-label">Giới thiệu sản phẩm:</label>
                        <div class="col-sm-12"><textarea class="form-control" name="" id="txtIntroProduct" cols="30" rows="5"></textarea></div>
                     </div>
                     <div class="form-group">
                        <label for="example-text-input" class="col-sm-12 col-form-label">Lưu ý khi đặt hàng:</label>
                        <div class="col-sm-12"><textarea class="form-control" name="" id="txtNoteOrder" cols="30" rows="5"></textarea></div>
                     </div>
                     <div class="form-group">
                        <label for="example-text-input" class="col-sm-12 col-form-label">Bảng giá:</label>
                        <div class="col-sm-12"><textarea class="form-control" name="" id="txtPriceList" cols="30" rows="5"></textarea></div>
                     </div>
                     
                   </div>
                </div>
             </div>
             <div class="col-6">
               <div class="card m-b-20">
                  <div class="card-body">
                     <h4 class="mt-0 header-title">Hình ảnh sản phẩm</h4>
                     <p class="text-muted m-b-30"></p>
                    <div class="form-group">
                       <label for="example-text-input" class="col-sm-12 col-form-label">Ảnh chính:</label>
                       <div class="col-sm-12">
                           <div class="m-b-30"><form action="#" id="recommendationAvatar" accept="image/*" class="dropzone dz-clickable"><div class="dz-default dz-message"><span>Chọn ảnh hoặc kéo thả vào đây</span></div></form></div>
                       </div>
                    </div>
                    <div class="form-group">
                        <label for="example-text-input" class="col-sm-12 col-form-label">Ảnh sản phẩm:</label>
                        <div class="col-sm-12">
                           <div class="m-b-30"><form action="#" id="recommendationGallery" accept="image/*" class="dropzone dz-clickable"><div class="dz-default dz-message"><span>Chọn ảnh hoặc kéo thả vào đây</span></div></form></div>
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="example-text-input" class="col-sm-12 col-form-label">File của sản phẩm:</label>
                        <div class="col-sm-12">
                           <div class="m-b-30"><form action="#" id="recommendationDocument" accept="image/*" class="dropzone dz-clickable"><div class="dz-default dz-message"><span>Chọn tệp hoặc kéo thả vào đây</span></div></form></div>
                        </div>
                     </div>
                     <!-- <div class="form-group">
                        <div style="height: 90px; width: 100% "></div>
                     </div> -->
                  </div>
               </div>
               <div class="card m-b-20">
                  <div class="card-body">
                     <p class="text-muted m-b-30"></p>
                     <div class="form-group">
                        <div class="row">
                           <div class="col-sm-12">
                              <div class="col-sm-12" style="padding-right: 0;">
                                 <h4 class="mt-0 header-title">Chọn thuộc tính cho sản phẩm</h4>
                                 <p>Lưu ý: Thuộc tính sản phẩm khi tạo xong bạn không có quyền chỉnh sửa</p>
                                 <div>
                                    <a href="/variant/list-variant-v2"> 
                                       <button class="btn">
                                          Tạo thuộc tính
                                       </button>
                                    </a>
                                 </div>
                                 <br>
                                 <div>
                                    <select class="form-control" id="txtChooseVariantOption" multiple>
                                       <% listVariantOption.forEach(variant => { %>
                                          <option value="<%= variant._id %>"><%= variant.name %></option>
                                       <% }) %>
                                    </select>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
             <!-- end col -->
          </div>
          <div style="margin-bottom: 20px;" class="text-center m-t-15"><button type="button" class="btn btn-info waves-effect waves-light btnCreateProduct"> Thêm sản phẩm</button></div>
          <!-- end row -->
       </div>
       <!-- container-fluid -->
    </div>
    <!-- content -->
    <footer class="footer">© 2018 Lexa - <span class="d-none d-sm-inline-block">Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand</span>.</footer>
 </div>
 <!-- POPUP THÊM THUỘC TÍNH CON -->
 <div class="modal fade bs-example-modal-sm popup-add-variant" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
   <div class="modal-dialog modal-lg">
       <div class="modal-content">
           <div class="card-body">
               <div class="form-group">
                  <div>
                     <label for="example-text-input" class="col-form-label">
                         Tên thuộc tính cha
                     </label>
                 </div>
                 <div>
                     <input class="form-control" type="text" placeholder="VD: in 1 mặt" id="txtParentVariant" disabled>
                 </div>
                   <div>
                       <label for="example-text-input" class="col-form-label">
                           Tên thuộc tính
                       </label>
                   </div>
                   <div>
                       <input class="form-control" type="text" placeholder="VD: in 1 mặt" id="txtNameVarian">
                   </div>
               </div>
               <div class="form-group">
                   <div>
                       <label for="example-text-input" class="col-form-label">
                           Giá tiên
                       </label>
                   </div>
                   <div>
                       <input class="form-control" type="text" placeholder="VD: 100.000" id="txtVariantPriceBefore">
                   </div>
               </div>

               <div class="form-group">
                  <div>
                      <label for="example-text-input" class="col-form-label">
                          Giá tiên sau khi giảm
                      </label>
                  </div>
                  <div>
                      <input class="form-control" type="text"  placeholder="VD: 70.000" id="txtVariantPriceAfter">
                  </div>
              </div>
             
               <button type="button" class="btn btn-info waves-effect waves-light" style="margin: 0 auto; display: block; float: right;" id="btnConfirmAddVariant">Tạo mới</button>
           </div>
       </div>
   </div>
</div>