<style>
   .select2-selection__rendered{
        line-height: 33px !important;
        width:100%!important;
    }
    .select2-container .select2-selection--single {
        height: 35px !important;
    }
    .select2-selection__arrow {
        height: 33px !important;
    }
</style>
<style>
   .avatar-upload {
       position: relative;
   }
   .avatar-upload .avatar-edit {
       position: absolute;
       left: 160px;
       z-index: 1;
       top: 0px;
   }
   .avatar-upload .avatar-edit input {
       display: none;
   }
   .avatar-upload .avatar-edit input + label {
       display: inline-block;
       width: 34px;
       height: 34px;
       margin-bottom: 0;
       border-radius: 100%;
       background: #FFFFFF;
       border: 1px solid transparent;
       box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
       cursor: pointer;
       font-weight: normal;
       transition: all 0.2s ease-in-out;
   }
   .avatar-upload .avatar-edit input + label:hover {
       background: #f1f1f1;
       border-color: #d6d6d6;
   }
   .avatar-upload .avatar-edit input + label:after {
       content: "\f040";
       font-family: 'FontAwesome';
       color: #757575;
       position: absolute;
       top: 10px;
       left: 0;
       right: 0;
       text-align: center;
       margin: auto;
   }
   .avatar-upload .avatar-preview {
       width: 192px;
       height: 192px;
       position: relative;
       border: 6px solid #F8F8F8;
       box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
   }
   .avatar-upload .avatar-preview > div {
       width: 100%;
       height: 100%;
       background-size: cover;
       background-repeat: no-repeat;
       background-position: center;
   }
   .qrcode-preview {
       width: 190px;
       height: 190px;
       position: relative;
       border: 6px solid #F8F8F8;
       box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
       margin: 30px auto;
   }
   .qrcode-preview > img {
       width: 100%
   }

   .tab-content{
      height: 100% !important;
   }
   .tab-pane{
      padding: 0 !important;
   }

</style>
<div class="content-page">
    <!-- Start content -->
    <div class="content">
       <div class="container-fluid">
          <br>
         <div id="smartwizard">
            <ul class="nav">
               <li>
                   <a class="nav-link" href="#step-1">
                     Thông tin cơ bản
                   </a>
               </li>
               <li>
                   <a class="nav-link" href="#step-2">
                     Thông tin mô tả
                   </a>
               </li>
               <li>
                   <a class="nav-link" href="#step-3">
                     Cơ cấu loại và giá
                   </a>
               </li>
            </ul>
         
            <div class="tab-content">
               <div id="step-1" class="tab-pane" role="tabpanel">
                  <br>
                  <h4 class="mt-0 header-title">Thông tin sản phẩm</h4>
                  <div class="row">
                     <div class="col-md-6">
                        <div class="col-md-12">
                           <label for="example-text-input" class="col-form-label">Tên sản phẩm:</label>
                           <input class="form-control" type="text" value="" id="txtName">
                        </div>
                     </div>
                     <div class="col-md-3">
                        <div class="col-md-12">
                           <label for="example-text-input" class="col-form-label">Chọn danh mục cha:</label>
                           <select name="attribute" id="menu-parent" class="form-control select-menu">
                              <% listMenu && listMenu.length && listMenu.forEach(menu => { %>
                                 <option value="<%=menu._id%>"><%=menu.name%></option>
                              <% }) %>
                           </select>
                        </div>
                     </div>
                     <div class="col-md-3">
                        <div class="col-md-12">
                           <label for="example-text-input" class="col-form-label">Chọn danh mục con:</label>
                           <select name="attribute" id="menu-children" class="form-control select-menu">
                           </select>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-6">
                        <label for="example-text-input" class="col-sm-12 col-form-label">Mô tả ngắn:</label>
                        <div class="col-sm-12">
                           <textarea class="form-control" name="" id="txtDescription" cols="30" rows="5"></textarea>
                        </div>
                     </div>

                     <div class="col-md-6">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="col-sm-12">
                                 <label for="example-text-input" class="col-form-label">Giá gốc</label>
                                 <input class="form-control" type="text" value="" id="txtPriceBefore" placeholder="Ví dụ: 100.000">
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="col-sm-12">
                                 <label for="example-text-input" class="col-form-label">Tỷ lệ giảm giá</label>
                                 <input class="form-control" type="text" value="" id="txtTyLeGiam" placeholder="VD: 20%">
                              </div>
                           </div>
                        </div>

                        <div class="row">
                           <div class="col-md-12">
                              <div class="col-sm-12">
                                 <label for="example-text-input" class="col-form-label">Giá sau khi giảm</label>
                                 <input class="form-control" type="text" value="" id="txtPriceAfter">
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-6">
                        <label for="example-text-input" class="col-sm-12 col-form-label">URL</label>
                        <div class="col-sm-12">
                           <input class="form-control" type="text" value="" id="txtURL">
                        </div>
                     </div>

                     <div class="col-md-6">
                        <div class="row">
                           <div class="col-sm-2">
                              <div class="col-sm-12">
                                 <label for="example-text-input" class="col-form-label">Flash sale</label>
                                 <input class="flash-sale-change" type="checkbox"  id="switch_flase_sale" switch="none"> <label for="switch_flase_sale" data-on-label="On" data-off-label="Off">
                              </div>
                           </div>
                           <div class="col-sm-2">
                              <div class="col-sm-12">
                                 <label for="example-text-input" class="col-form-label">In nhanh:</label>
                                 <input class="flash-print-change" type="checkbox"  id="switch_flash_print" switch="none" > <label for="switch_flash_print" data-on-label="On" data-off-label="Off">
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-6">
                        <label for="example-text-input" class="col-sm-12 col-form-label">Thông số cơ bản</label>
                        <div class="col-md-12">
                           <div id="container-thong-so-co-ban">
                              <div class="row item-thong-so-co-ban">
                                 <div class="col-sm-11">
                                    <div class="row">
                                       <div class="col-md-6">
                                          <input type="text" class="form-control txtTitleParameters" placeholder="Tiêu đề">
                                       </div>
                                       <div class="col-md-6">
                                          <input type="text" class="form-control txtParameters"  placeholder="Thông số">
                                       </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                       <div class="col-md-12">
                                       <textarea class="form-control txtDescriptionParameters" rows="3" placeholder="Mô tả"></textarea>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-sm-1 d-flex align-items-center">
                                    <img class="remove-thong-so-co-ban" src="/template/hailuu-fe/assets/images/minus.svg" alt="remove" width="24px" height="24px">
                                 </div>
                              </div>
                           </div>
                           <br>
                           <br>
                           <div class="col-sm-12">
                              <button class="btn col-sm-11 btn-them-thong-so-co-ban">
                                 Thêm thông số
                              </button>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="row">
                           <div class="col-md-12">
                              <label for="example-text-input" class="col-form-label">Hình ảnh sản phẩm</label>
                              <div class="m-b-30">
                                 <div class="avatar-upload">
                                    <div class="avatar-edit">
                                       <input type="file" id="blogImage" accept=".png, .jpg, .jpeg">
                                       <label for="blogImage"></label>
                                    </div>
                                    <div class="avatar-preview">
                                       <div id="imagePreview" style="background-image: url(https://via.placeholder.com/500x500);"></div>
                                    </div>
                              </div>
                              </div>
                           </div>
                        </div>
                       <div class="row">
                           <div class="col-md-12">
                              <label for="example-text-input" class="col-sm-12 col-form-label">Danh sách ảnh sản phẩm</label>
                              <div class="col-sm-12">
                                 <div class="m-b-30"><form action="#" id="recommendationGallery" accept="image/*" class="dropzone dz-clickable"><div class="dz-default dz-message"><span>Chọn ảnh hoặc kéo thả vào đây</span></div></form></div>
                              </div>
                           </div>
                       </div>
                       <div class="row">
                           <div style="display: flex; overflow-x: scroll; overflow-y: hidden; height: 100px; white-space: nowrap" class="col-md-12">
                              
                              <div>
                                 <label for="example-text-input" class="col-sm-6 col-form-label">File Excel</label>
                                 <div class="col-sm-3">
                                    <input type="file" name="" id="excel-file">
                                 </div>
                              </div>

                              <div>
                                 <label for="example-text-input" class="col-sm-6 col-form-label">File Illustrator</label>
                                 <div class="col-sm-3">
                                    <input type="file" name="" id="illustrator-file">
                                 </div>
                              </div>

                              <div>
                                 <label for="example-text-input" class="col-sm-6 col-form-label">File VectorEPS</label>
                                 <div class="col-sm-3">
                                    <input type="file" name="" id="vector-eps-file">
                                 </div>
                              </div>

                              <div>
                                 <label for="example-text-input" class="col-sm-6 col-form-label">File PDF</label>
                                 <div class="col-sm-3">
                                    <input type="file" name="" id="pdf-file">
                                 </div>
                              </div>
                              
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

               <div id="step-2" class="tab-pane" role="tabpanel">
                  <div class="card-body">
                     <h4 class="mt-0 header-title">Thông tin mô tả</h4>
                     <!-- Nav tabs -->
                     <ul class="nav nav-tabs" role="tablist">
                         <li class="nav-item">
                             <a class="nav-link active show" data-toggle="tab" href="#home" role="tab" aria-selected="true">GIỚI THIỆU SẢN PHẨM</a>
                         </li>
                         <li class="nav-item">
                             <a class="nav-link" data-toggle="tab" href="#profile" role="tab" aria-selected="false">LƯU Ý KHI ĐẶT HÀNG</a>
                         </li>
                         <li class="nav-item">
                             <a class="nav-link" data-toggle="tab" href="#messages" role="tab" aria-selected="false">BẢNG GIÁ</a>
                         </li>
                     </ul>

                     <!-- Tab panes -->
                     <div class="tab-content">
                         <div class="tab-pane p-3 active show" id="home" role="tabpanel">
                           <textarea class="form-control" name="" id="txtIntroProduct" cols="30" rows="30"></textarea>
                         </div>
                         <div class="tab-pane p-3" id="profile" role="tabpanel">
                           <textarea class="form-control" name="" id="txtNoteOrder" cols="30" rows="30"></textarea>
                         </div>
                         <div class="tab-pane p-3" id="messages" role="tabpanel">
                           <textarea class="form-control" name="" id="txtPriceList" cols="30" rows="30"></textarea>
                         </div>
                     </div>
                 </div>
               </div>
               <div id="step-3" class="tab-pane" role="tabpanel">
                  <br><button class="btn btn-info btnAddAndUpdateProduct" style="float: right;">Lưu sản phẩm</button> <br>
                  <div class="row">
                     <div class="col-md-6">
                        <div class="col-md-12">
                           <div class="card m-b-20">
                              <div class="card-body">
                                 <div class="col-md-12">
                                    <div class="row">
                                       <div class="col-md-12"> 
                                          <label for="">Hiển thị</label> <br>
                                          <form name="myForm" id="myForm">
                                             <input type="radio" id="checkbox" name="type_show_parent" value="1" checked/>
                                             <label for="checkbox">Checkbox</label>
                                             <input type="radio" id="combobox" name="type_show_parent" value="2" />
                                             <label for="combobox">Combobox</label>
                                         </form>
                                         <p>Lưu ý: Nhập đầy đủ thông tin thuộc tính cha xong bấm xác nhận để tạo thuộc tính con</p>
                                       </div>
                                       <div class="col-md-12"> 
                                          <button class="btn btnConfirmVariant" style="float: right;">Xác nhận</button>
                                       </div>
                                       <br>
                                       <br>
                                       <div class="col-md-12">
                                          <label >Tên thuộc tính cha</label>
                                          <input class="form-control" type="text" placeholder="VD: Số mặt in" id="txtNameVariantParent"> 
                                       </div>
                                   </div>
                                    <hr>
                                    <div class="container-thuoc-tinh-cha">
                                       <div class="row item-thong-so-co-ban">
                                          <div class="col-sm-11">
                                             <div class="row">
                                                <div class="col-md-12">
                                                   <input class="form-control txtItemVariant" type="text" placeholder="VD: In 1 mặt">
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-6">
                                                   <input class="form-control txtPriceVariant" type="text" placeholder="Giá gốc">
                                                </div>
                                                <div class="col-md-6">
                                                   <input class="form-control txtPriceAfterDiscountVariant" type="text" placeholder="Giá sau khi giảm">
                                                </div>
                                             </div>   
                                          </div>
                                          <div class="col-sm-1 d-flex align-items-center">
                                             <img class="remove-thong-so-co-ban" src="/template/hailuu-fe/assets/images/minus.svg" alt="remove" width="24px" height="24px">
                                          </div>
                                       </div>
                                    </div>

                                    <br>
                                    <button class="btn col-sm-12 btn-add-thuoc-tinh-cha">Thêm thuộc tính cha</button>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="col-md-12">
                           <div class="card m-b-20">
                              <div class="card-body">
                                 <div class="col-md-12">
                                    <div class="row">
                                       <div class="col-md-12">
                                          <!-- <label for="">Hiển thị</label> -->
                                          <form name="myForm" style="display: none">
                                             <input type="radio" name="type_show_child" value="1" />
                                             <label for="checkbox">Checkbox</label>
                                             <input type="radio"  name="type_show_child" value="2" checked />
                                             <label for="combobox">Combobox</label>
                                         </form>
                                          <label>Tên thuộc tính con</label>
                                          <input class="form-control" type="text" placeholder="VD: Chất liệu" id="txtNameVariantChild"> <br>
                                          <label >Chọn thuộc tính cha(Lưu ý phải bấm nút xác nhận bên trái để cập nhật thuộc tính cha)</label>
                                          <select name="attribute" class="form-control select-menu txtChooseVariantParent">
                                          </select>
                                       </div>
                                   </div>
                                    <hr>
                                    <div class="container-thuoc-tinh-con">
                                     
                                    </div>

                                    <br>
                                    <button class="btn col-sm-12 btn-add-thuoc-tinh-con">Thêm thuộc tính con</button>
                                 </div>
                            
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
        </div>
       </div>
       <!-- container-fluid -->
    </div>
    <!-- content -->
    <footer class="footer">© 2018 Lexa - <span class="d-none d-sm-inline-block">Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand</span>.</footer>
 </div>
