<!-- CHƯA NỘI DUNG CONTENT -->
<style>
   .select2-selection__rendered{
     line-height: 33px !important;
  }
  .select2-container .select2-selection--single {
     height: 35px !important;
  }
  .select2-container{
     width: 100% !important;
  }
</style>
 <div class="content-page">
     <div class="content">
         <div class="container-fluid">
          <div class="row">
             <div class="col-sm-12">
                 <div class="page-title-box">
                     <h4 class="page-title">Khởi tạo tài khoản</h4>
                     <!-- <ol class="breadcrumb">
                         <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                         <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                         <li class="breadcrumb-item active">Khởi tạo tài khoản</li>
                     </ol> -->
                     <!-- <div class="state-information d-none d-sm-block">
                         <div class="state-graph">
                             <div id="header-chart-1"><canvas width="101" height="35" style="display: inline-block; width: 101px; height: 35px; vertical-align: top;"></canvas></div>
                             <div class="info">Balance $ 2,317</div>
                         </div>
                         <div class="state-graph">
                             <div id="header-chart-2"><canvas width="101" height="35" style="display: inline-block; width: 101px; height: 35px; vertical-align: top;"></canvas></div>
                             <div class="info">Item Sold 1230</div>
                         </div>
                     </div> -->
                 </div>
             </div>
         </div>
             <div class="row">
                 <div class="col-lg-12">
                     <div class="card m-b-20">
                        <div class="card-body">
                           <h4 class="mt-0 header-title"> <b> Thông tin tài khoản</b></h4>
                           <div class="form-group row">
                              <label for="example-text-input" class="col-sm-2 col-form-label">Họ và tên:</label>
                              <div class="col-sm-8">
                                 <input class="form-control" type="text" placeholder="VD: Nguyễn Văn A" id="txtFullName">
                              </div>
                           </div>
                           <div class="form-group row">
                              <label for="example-password-input" class="col-sm-2 col-form-label">Email</label>
                              <div class="col-sm-8"><input class="form-control" type="text"  placeholder="VD: nguyenvana@gmail.com" id="txtEmail"></div>
                           </div>
                           <!-- <div class="form-group row">
                              <label for="example-datetime-local-input" class="col-sm-2 col-form-label">Điện thoại</label>
                              <div class="col-sm-8"><input class="form-control" type="text"  placeholder="Nhập điện thoại ..." id="txtPhone"></div>
                           </div> -->
                           <!-- <div class="form-group row">
                              <label for="example-tel-input" class="col-sm-2 col-form-label">Giới tính</label>
                              <div class="col-sm-8">
                                <select class="form-control" id="txtGender">
                                    <option value=""> Chọn Giới Tính </option>
                                    <option value="0"> Nữ </option>
                                    <option value="1"> Nam </option>
                                </select>
                             </div>
                          </div> -->
                           <div class="form-group row">
                              <label for="example-date-input" class="col-sm-2 col-form-label">Mật khẩu</label>
                              <div class="col-sm-8"><input class="form-control" type="password"  placeholder="Nhập mật khẩu" id="txtPassword"></div>
                           </div>
                           <!-- <div class="form-group row">
                              <label for="example-tel-input" class="col-sm-2 col-form-label">Ngày sinh</label>
                              <div class="col-sm-8"><input class="form-control" type="date"id="txtBirthDay"></div>
                           </div> -->
                           <div class="form-group col-sm-10">
                              <button class="btn btn-info float-right btnAddAccount" >Thêm Mới</button>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- <div class="col-lg-4">
                     <div class="card m-b-20">
                        <div class="card-body">
                           <h4 class="mt-0 header-title"> <b> Thông tin Đại chỉ</b></h4>
                           <div class="form-group row">
                              <label for="example-tel-input" class="col-sm-4 col-form-label">Địa chỉ</label>
                              <div class="col-sm-8"><input class="form-control" type="text"  placeholder="Nhập Địa chỉ ..." id="txtAddress"></div>
                           </div>
                           <div class="form-group row">
                              <label for="example-tel-input" class="col-sm-4 col-form-label">Thành Phố/Tỉnh</label>
                              <div class="col-sm-8">
                                 <select class="form-control" id="txtCity">
                                    <option value="">Chọn Thành Phố/Tỉnh</option>
                                   
                                 </select>
                              </div>
                           </div>
                           <div class="form-group row">
                           <label for="example-tel-input" class="col-sm-4 col-form-label">Quận/Huyện</label>
                              <div class="col-sm-8">
                                 <select class="form-control" id="txtDistrict">
                                    <option value=""> Chọn Quận/Huyện </option>
                                 </select>
                              </div>
                           </div>
                           <div class="form-group row">
                              <label for="example-tel-input" class="col-sm-4 col-form-label">Phường/Xã</label>
                              <div class="col-sm-8"><select class="form-control" id="txtWard">
                                    <option value=""> Chọn Phường/Xã </option>
                                 </select></div>
                           </div>
                          <div class="form-group">
                             <button class="btn btn-info float-right btnAddAccount" >Thêm Mới</button>
                          </div>
                        </div>
                     </div>
                  </div> -->
             </div>
         </div>
     </div>
     <%include ./utils/footer.ejs%>
 </div>