<!-- CHƯA NỘI DUNG CONTENT -->
<style>
   .img-wraps {
      position: relative;
      display: inline-block;
      /* border: 1px red solid; */
      font-size: 0;
   }
   .img-wraps .close {
      position: absolute;
      top: 2px;
      right: 2px;
      z-index: 100;
      /* background-color: #FFF; */
      padding: 5px 2px 2px;
      color: #000;
      font-weight: bold;
      cursor: pointer;
      opacity: .2;
      text-align: center;
      font-size: 22px;
      line-height: 10px;
      border-radius: 50%;
   }
   .img-wraps:hover .close {
      opacity: 1;
   }
   .color-click{
      border: 3px solid #b1154a;
   }
</style>
<div class="content-page">
    <div class="content">
        <div class="container-fluid">
         <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <h4 class="page-title">Quản lý thông tin công ty</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                        <li class="breadcrumb-item active">Info-company</li>
                    </ol>
                    <!-- <div class="state-information d-none d-sm-block">
                        <div class="state-graph">
                            <div id="header-chart-1"><canvas width="101" height="35" style="display: inline-block; width: 101px; height: 35px; vertical-align: top;"></canvas></div>
                            <div class="info">Balance $ 2,317</div>
                        </div>
                        <div class="state-graph">
                            <div id="header-chart-2"><canvas width="101" height="35" style="display: inline-block; width: 101px; height: 35px; vertical-align: top;"></canvas></div>
                            <div class="info">Item Sold 1230</div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
            <div class="row">
               <div class="col-lg-8">
                  <div class="card m-b-20">
                     <div class="card-body">
                     <h4 class="mt-0 header-title">Thông tin công ty </h4>
                        <!-- <div class="form-group row">
                           <label for="example-text-input" class="col-sm-2 col-form-label">Tên công ty</label>
                           <div class="col-sm-10"><input class="form-control" type="text"  id="txtNameCompany"></div>
                        </div> -->
                        <div class="form-group row">
                           <label for="example-search-input" class="col-sm-2 col-form-label">Slogan</label>
                           <div class="col-sm-10"><input class="form-control" type="text"  placeholder="Nhập slogan ..." id="txtSlogan"></div>
                        </div>
                        <div class="form-group row">
                           <label for="example-tel-input" class="col-sm-2 col-form-label">Điện thoại</label>
                           <div class="col-sm-10"><input class="form-control" type="text"  placeholder="Nhập điện thoại ..." id="txtPhone"></div>
                        </div>
                        <div class="form-group row">
                           <label for="example-password-input" class="col-sm-2 col-form-label">Email</label>
                           <div class="col-sm-10"><input class="form-control" type="text"  placeholder="Nhập email ..." id="txtEmail"></div>
                        </div>
                        <div class="form-group row">
                           <label for="example-email-input" class="col-sm-2 col-form-label">Mô tả ngắn</label>
                           <div class="col-sm-10"><input class="form-control" type="text"  placeholder="Nhập mô tả ngắn ..." id="txtSortDescription"></div>
                        </div>
                        <div class="form-group row">
                           <label for="example-url-input" class="col-sm-2 col-form-label">Mô tả dài</label>
                           <div class="col-sm-10"><input class="form-control" type="text"  placeholder="Nhập mô tả dài ..." id="txtLongDescription"></div>
                        </div>
                        
                        
                        <div class="form-group row">
                           <label for="example-datetime-local-input" class="col-sm-2 col-form-label">Địa chỉ</label>
                           <div class="col-sm-10"><input class="form-control" type="text"  placeholder="Nhập địa chỉ ..." id="txtAddress"></div>
                        </div>
                        <!-- <div class="form-group row">
                           <label for="example-date-input" class="col-sm-2 col-form-label">Zalo</label>
                           <div class="col-sm-10"><input class="form-control" type="text"  placeholder="Nhập zalo ..." id="txtZalo"></div>
                        </div> -->
                        <div class="form-group row">
                           <label for="example-month-input" class="col-sm-2 col-form-label">Facebook</label>
                           <div class="col-sm-10"><input class="form-control" type="text"  placeholder="Nhập facebook ..." id="txtFacebook"></div>
                        </div>
                        <!-- <div class="form-group row">
                           <label for="example-week-input" class="col-sm-2 col-form-label">Youtube</label>
                           <div class="col-sm-10"><input class="form-control" type="text"  placeholder="Nhập youtube ..." id="txtYoutube"></div>
                        </div> -->
                        <!-- <div class="form-group row">
                           <label for="example-time-input" class="col-sm-2 col-form-label">Twitter</label>
                           <div class="col-sm-10"><input class="form-control" type="text"  placeholder="Nhập twitter ..." id="txtTwitter"></div>
                        </div> -->

                        <!-- <div class="form-group row">
                        <label for="example-time-input" class="col-sm-2 col-form-label">Link Google Map</label>
                        <div class="col-sm-10"><input class="form-control" type="text"  placeholder="Nhập Link Google Map ..." id="txtGGMap"></div>
                     </div> -->

                     <div class="form-group row">
                        <label for="example-color-input" class="col-sm-2 col-form-label">Hình ảnh công ty</label>
                        <div class="col-sm-5">
                           <input class="form-control" accept="image/*" type="file"  placeholder="Chọn hình ảnh công ty ..." id="txtMainImage">
                        </div>
                        <div class="col-sm-5 isMainImageParent" style="display:none;">
                           <div class="img-wraps">
                              <span class="close deleteImage" _imageID = "">&times;</span>
                              <img  id="isMainImage" src="" width="250px" height="250px" alt="your image" />
                           </div>
                        </div>
                     </div> 
                     <div class="form-group row">
                        <label for="example-color-input" class="col-sm-2 col-form-label">Hình ảnh doanh nghiệp </label>
                        <div class="col-sm-5">
                           <input class="form-control" accept="image/*" type="file"  placeholder="Chọn hình ảnh doanh nghiệp ..." id="txtBusinessImages">
                        </div>
                        <div class="col-sm-5 isBusinessImagesParent" style="display:none;">
                           <div class="img-wraps">
                              <span class="close deleteImage" _imageID = "">&times;</span>
                              <img  id="isBusinessImages" src="" width="250px" height="250px" alt="your image" />
                           </div>
                        </div>
                     </div> 
                        <div class="form-group">
                           <button class="btn btn-info float-right btnAddCompany" >Thêm</button>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4">
                  <div class="card m-b-20">
                     <div class="card-body">
                          <h4 class="mt-0 header-title">Hình Ảnh</h4>
                          <br>
                          <div class="container">
                              <div class="avatar-upload">
                                  <div class="avatar-edit">
                                      <input type="file" id="blogImage" accept=".png, .jpg, .jpeg" />
                                      <label for="blogImage"></label>
                                  </div>
                                  <div class="avatar-preview">
                                      <div id="imagePreview" style="background-image: url(https://via.placeholder.com/500x500);"></div>
                                      <%# if (blog) { %>
                                          <!-- <div id="imagePreview" style="background-image: url(/files/blog/<%#= blog.image && blog.image %>);"></div> -->
                                      <%# }%>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
               </div>
            </div>
        </div>
    </div>
    <%include ./utils/footer.ejs%>
</div>