<div class="content-page">
    <!-- Start content -->
    <%
        let title       = infoSlide && infoSlide.title;
        let image       = infoSlide && infoSlide.image;
        let description = infoSlide && infoSlide.description;
        let link        = infoSlide && infoSlide.link;
    %>
    <div class="content">
        <div class="container-fluid">
            <br><br>
            <div class="row">
                <div class="col-md-12">
                    <div class="card m-b-20">
                        <div class="card-body">

                            <div class="form-group">
                                <h2>
                                    slide
                                </h2>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label for="example-text-input" class="col-form-label">
                                        <h5>
                                            Tiêu Đề
                                        </h5>
                                    </label>
                                </div>
                                <div>
                                    <input class="form-control" type="text"placeholder="Nhập tiêu đề slide" id="txtTitle"value = <%=title%>%>>
                                </div>
                            </div>
                          
                            <div class="form-group">
                                <label>
                                    <h5>Hình ảnh</h5>
                                </label>
                                <div>
                                    <input type="file" name="" id="">
                                    <!-- <textarea required="" class="form-control" id="txtImage" rows="5"><%=image%></textarea> -->
                                </div>
                            </div>
                            <div class="form-group">
                                <label>
                                    <h5>
                                        Mô Tả
                                    </h5>
                                </label>
                                <div>
                                    <textarea required="" class="form-control" id="txtDescription" rows="5" placeholder="Mô tả slide ..."><%=description%></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>
                                    <h5>
                                        Link xem thêm
                                    </h5>
                                </label>
                                <div>
                                    <input type="text" class="form-control" id="txtLink" placeholder="https://www.hailuu.vn/"><%=link%></input>
                                </div>
                            </div>
                            <% if (infoSlide && infoSlide.title) { %>
                                <button type="button" class="btn btn-success waves-effect waves-light" style="margin: 0 auto; display: block" _slideID = "<%=infoSlide._id%>"id="btnUpdateSlide" >Cập Nhật</button>
                            <% }else{ %>
                                <button type="button" class="btn btn-success waves-effect waves-light" style="margin: 0 auto; display: block" id="btnAddSlide" >Thêm Mới</button>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- container-fluid -->
    </div>
    <!-- content -->
    <%include ./utils/footer.ejs%>
</div>

<script>
      //AJAX_promise
    // trả về kết quả  call và trạng thái
    // bắt buộc server phải trả theo cấu trúc {error , data} nếu không sẽ mặt định là Lỗi
    // và  timeLive là thời gian call ajax  giới hạn cho phép : ví dụ timeLive : 60000, thì call ajax quá 1phút thì sẽ ko call mà trả về lỗi 
    window.urlQuery = function(name){
        var results = new RegExp('[\?&] ' + name + '=([^&#]*)').exec(window.location.href);
        if (results == null){
            return null;
        }else{
            return results[1] || 0;
        }
    }
    async  function ajax_HV({dataCallAjax, timeLive }){
        let stringMethodAccept = 'GET POST PUT DELETE';
        if(!dataCallAjax){
            console.log('miss url or method');
            return resolve({error : true, message : 'miss url or method' })
        }
        if(!dataCallAjax.url || !dataCallAjax.method){
             console.log('miss url or method');
             return resolve({error : true, message : 'miss url or method' })
        }
      
        if(!timeLive || timeLive.isNaN){
            timeLive = 60000;
        }
        timeLive = Number(timeLive);
        let promiseDefault      = new Promise((resolve)=>{
            setTimeout(function(){
                return resolve({error : true, message : `server too slow much time for req (time defalt :  ${timeLive})` })
            },timeLive);
        })
        let promiseCallServer   =  new Promise(async (resolve) =>{
            if(!dataCallAjax){
                console.log('miss url or method');
                return resolve({error : true, message : 'miss url or method' })
            }
            if(!dataCallAjax.url || !dataCallAjax.method){
                 console.log('miss url or method');
                 return resolve({error : true, message : 'miss url or method' })
            }
            if(!dataCallAjax.data){
                dataCallAjax.data ={};
            }
            let { url, data, method } = dataCallAjax;

            method  = method.toUpperCase()
            if(!stringMethodAccept.includes(method)){
                console.log('miss url or method');
                return resolve({error : true, message : ' method not accept' })
            }
            await  $.ajax({
                url,
                data,
                method,
                success:function(resp){
                    if(resp){
                        if(!resp.error && resp.data){
                            let data = resp.data;
                            return resolve({error : false, data });
                        }else{
                            return resolve({error : true, message : resp})
                        }
                    
                    }else{
                        return resolve({error : true, message : resp})
                    }
                },
                error : function(error){
                    return resolve({error : true, message : error})
                }
            })
        });
       let result  =  await  Promise.race([promiseDefault, promiseCallServer]);
       return result;
    };
    function getDataSlideForm(){
        let data = {};
        data.image          = $('#txtImage').val() || '';
        data.title          = $('#txtTitle').val() || '';
        data.description    = $('#txtDescription').val() || '';
        data.link           = $('#txtLink').val() || '';
        return data
    }
    $(document).ready(function(){
        $('body').on('click', '#btnAddSlide', async function(){
            let data = getDataSlideForm();
            let dataCallAjax = {
                url : '/admin/add-slide',
                method : 'post',
                data 
            }
            let result = await ajax_HV({dataCallAjax});
            if(result.error){
               return  toastr.error('Thông báo','Thêm thất bại')
            }
            toastr.info('Thêm thành công', "Thông Báo")
        })

        $('body').on('click', '#btnUpdateSlide', async function(){
            let data = getDataSlideForm();
            data.slideID =$(this).attr("_slideID");
            console.log({data})

            let dataCallAjax = {
                url : '/admin/update-slide',
                method : 'post',
                data 
            }
            let result = await ajax_HV({dataCallAjax});
            if(result.error){
               return  toastr.error('Cập nhật thất bại', 'Thông báo')
            }
            toastr.info('Cập nhật thành công', "Thông Báo")

        })
        ///update-slide
    });
</script>