<div class="content-page">
        <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
			<div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Quản lý tài khoản </h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Thông tin tài khoản</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="example-text-input" class="col-sm-6 col-form-label">Tên hiển thị</label>
                                    <div class="col-sm-10">
										<% if (infoAdmin && infoAdmin._id) { %>
											<input class="form-control" type="text" disabled placeholder="..." id="username"
												value="<%= infoAdmin.username %>"
											>
										<% } else{ %>
											<input class="form-control" type="text" placeholder="..." id="username">
										<% } %> 
                                    </div>
                                </div>
                            </div>
							<div class="form-group row">
								<div class="col-md-6">
                                    <label for="example-text-input" class="col-sm-6 col-form-label">
										Tài Khoản
									</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="text" placeholder="..." id="email"
                                            value="<%=infoAdmin && infoAdmin.email && infoAdmin.email%>"
                                        >
                                    </div>
                                </div>
							</div>
							<div class="form-group row">
								<div class="col-md-6">
									<label for="example-text-input" class="col-sm-6 col-form-label">
										Trạng thái
									</label>
									<div class="col-sm-10">
										<select class="form-control" id="status">
											<% if(listStatus && listStatus.length){ %>
                                                <% listStatus.forEach(key => { %>
													<% let isSelected = infoAdmin.status == key.value; %> 
                                                    <option 
														value="<%= key.value %>" 
														<%= isSelected && 'selected' %>
													>
														<%= key.text %>
													</option>
                                                <% }) %>
                                            <%}%>
										</select>
									</div>
							   </div>
							   <% if (infoAdmin && infoAdmin._id) { %>
									<div class="col-md-6">
										<button 
											type="button" 
											class="btn btn-info waves-effect waves-light" 
											style="padding: 10px 50px; margin-top:30px" 
											id="btnUpdateAccount" 
											_userID="<%= infoAdmin._id %>">
											Cập Nhật Tài Khoản
										</button>
								</div>
								<% } %>
							</div>
							<% if (infoAdmin && infoAdmin._id) { %>
								<hr />
								<div class="form-group row">
									<div class="col-md-6">
										<label for="example-text-input" class="col-sm-6 col-form-label">
											Mật Khẩu cũ
										</label>
										<div class="col-sm-10">
											<input class="form-control" type="password" placeholder="Old password" id="passwordOld" />
										</div>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-md-6">
										<label for="example-text-input" class="col-sm-6 col-form-label">
											Mật Khẩu mới
										</label>
										<div class="col-sm-10">
											<input class="form-control" type="password" placeholder="New password" id="passwordNew">
										</div>
									</div>
									<div class="col-md-6">
										<button 
											type="button" 
											class="btn btn-info waves-effect waves-light" 
											style="padding: 10px 50px; margin-top:30px" 
											id="btnUpdatePassword" 
											_userID="<%= infoAdmin._id %>">
											Cập Nhật Mật khẩu
										</button>
								   </div>
								</div>
							<% } else{ %>
								<div class="form-group row">
									<div class="col-md-6">
										<label for="example-text-input" class="col-sm-6 col-form-label">
											Mật Khẩu
										</label>
										<div class="col-sm-10">
											<input class="form-control" type="password" placeholder="Password..." id="password" />
										</div>
									</div>
								</div>
							<% } %> 
							
							<div class="form-group row">
								<div class="col-md-6">
									<div style="margin: 0 auto; display: table; margin-top: 55px">
										<%if(infoAdmin && infoAdmin._id){%>
											<a href="/admin/add-user" class="btn btn-primary waves-effect waves-light btn-lg" style="padding: 10px 100px;">
												Tạo Mới Tài Khoản
											</a>
										<%} else{%>
											<button type="button" class="btn btn-success waves-effect waves-light btn-lg" style="left: 20px; padding: 10px 100px;" id="btnCreateUser">
												Tạo mới tài khoản
											</button>
										<% } %>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- container-fluid -->
    </div>
    <!-- content -->
    <%include ./utils/footer.ejs%>
</div>