<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <br><br>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <div class="alert alert-info" role="alert"
                                ><h4 class="alert-heading font-18"><strong>Lưu Ý Quản Lý Group Admin</strong>!</h4>
                                <p>
                                    Các Nhóm Tài Khoản Hiện Tại Hỗ Trợ (2)
                                </p>
								<p class="mb-0">
                                    0. Editor
                                </p>
                                <p class="mb-0">
                                    1. Admin (Root Admin)
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-md-7">
                                    <label for="example-text-input" class="col-sm-2 col-form-label">Tên Group</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="text"placeholder="..." id="txtTitle"
                                            value="<%=infoGroup && infoGroup.name && infoGroup.name%>"
                                        >
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <label for="example-text-input" class="col-sm-2 col-form-label">Key</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" id="txtKey">
                                            <%if(keys){%>
                                                <%keys.length > 0 && keys.forEach(key => {%>
                                                    <option value="<%=key.value%>"
                                                        <%if(infoGroup){%>
                                                            <%if (!Number.isNaN(Number(infoGroup.key))){%>
                                                                <%if(Object.is(Number(infoGroup.key), Number(key.value))){%>
                                                                    selected="selected"
                                                                <%}%>
                                                            <%}%>
                                                        <%}%>

                                                    ><%=key.text%></option>
                                                <%})%>
                                            <%}%>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Mô Tả</label>
                                <div>
                                    <textarea required="" class="form-control" id="txtDescription" rows="5"><%=infoGroup && infoGroup.description && infoGroup.description%></textarea>
                                </div>
                            </div>
                            <div style="margin: 0 auto; display: table">
                                <%if(infoGroup){%>
                                    <button type="button" class="btn btn-primary waves-effect waves-light btn-lg" style="padding: 10px 100px;" id="btnUpdateGroup" _groupID=<%=infoGroup._id%> >
                                        Cập Nhật Group
                                    </button>
                                    <button type="button" class="btn btn-info waves-effect waves-light btn-lg" style="left: 20px; padding: 10px 100px;" id="btnUpdateGroupAndGoBack" _groupID=<%=infoGroup._id%>>
                                        Cập Nhật và Trở Lại Danh Sách
                                    </button>
                                <%}else{%>
                                    <button type="button" class="btn btn-primary waves-effect waves-light btn-lg" style="padding: 10px 100px;" id="btnCreateGroup" >
                                            Tạo Mớisroup
                                    </button>
                                    <button type="button" class="btn btn-info waves-effect waves-light btn-lg" style="left: 20px; padding: 10px 100px;" id="btnCreateGroupAndGoBack" >
                                        Tạo Mới và Trở Lại Danh Sách
                                    </button>
                                <%}%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- container-fluid -->
    </div>
    <!-- content -->
    <%include ./utils/footer.ejs%>
</div>