<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                   <div class="page-title-box">
                      <h4 class="page-title">Chi tiết danh mục</h4>
                      <ol class="breadcrumb">
                         <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                         <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                         <li class="breadcrumb-item active">Chi tiết danh mục</li>
                      </ol>
                   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card m-b-20">
                        <div class="card-body">
							<h6 class="mt-0 header-title">Thông tin danh mục</h6>
							<hr>

							<div class="row mb-3">
								<div class="col-4">
									Tên danh mục:
								</div>
								<div class="col-8">
									<%= infoCategory.name %> 
								</div>
							</div>

							<div class="row mb-3">
								<div class="col-4">
									Slug:
								</div>
								<div class="col-8">
									<%= infoCategory.slug %> 
								</div>
							</div>

							<div class="row mb-3">
								<div class="col-4">
									Mô tả danh mục:
								</div>
								<div class="col-8">
									<%= infoCategory.description %> 
								</div>
							</div>

                        </div>
                    </div>

                    <a href="/admin/list-category" class="btn btn-success btn-block waves-effect waves-light btn-lg">Quay lại danh sách</a>

                </div>

				<div class="col-md-8">
                    <div class="card m-b-20">
                       <div class="card-body">
                            <h4 class="mt-0 header-title">Danh sách bài viết</h4>
							<hr>
                            
							<table class="content-table" id="tableListBlog">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tiêu đề</th>
                                        <th>Danh mục</th>
                                        <th>Slug</th>
                                        <th>Mô tả ngắn</th>
                                        <th>Hình ảnh</th>
                                        <th>Trạng thái</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (listPostInCategory && listPostInCategory.length) { %>
                                        <% listPostInCategory.forEach(( blog, index ) => { %>
											<tr>
												<th>
													<%= index + 1 %>
												</th>
												<td>
													<i>
														<%= blog.title %>
													</i>
												</td>
													<td>
													<i>
														<%= blog.category.name %>
													</i>
												</td>
												<td>
													<i>
														<%= blog.slug %>
													</i>
												</td>
												<td>
													<i>
														<% let description = blog.description.length > 100 ? blog.description.substr(0, 100) + '...' : blog.description %> 
														<%= description %>
													</i>
												</td>
												<td>
													<% if (blog.image) { %>
														<img class="img-fluid img-thumbnail rounded" src="<%= blog.image.path %>">
													<% } %>
												</td>
												<td>
													<% if (blog.status === 1) { %>
														<span class="badge badge-pill badge-success">
															Hoạt Động
														</span>
													<% } else{ %>
														<span class="badge badge-danger">
															Không Hoạt Động
														</span>
													<% } %>
												</td>
												<td>
													<div class="btn-group mb-2">
														<button type="button" class="btn btn-secondary btn-sm waves-effect waves-light" id="btnDropDownBlog_<%= blog._id && blog._id %>">
															Thao Tác
														</button>
														<button type="button" class="btn btn-secondary btn-sm waves-effect waves-light dropdown-toggle-split dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
															<span class="sr-only">...</span>
														</button>
														<div class="dropdown-menu" x-placement="right-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(143px, 0px, 0px);">
															<a class="dropdown-item" href="/admin/update-post/?postID=<%= blog._id %>">Sửa Thông Tin</a>
															<a class="dropdown-item" href="/admin/view-comment/?blogID=<%= blog._id %>">Xem Bình Luận</a>
															<a class="dropdown-item btnBlockUser btnDeleteBlog" href="javascript:void(0)" _blogID="<%= blog._id %>" >Xóa</a>
														</div>
													</div>
												</td>
											</tr>
                                        <% }) %>
                                    <% } %>
                                </tbody>
                            </table>



                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- container-fluid -->
    </div>
    <!-- content -->
    <%include ./utils/footer.ejs%>
</div>