<style>
   .select2-selection__rendered{
        line-height: 33px !important;
        width:100%!important;
    }
    .select2-container .select2-selection--single {
        height: 35px !important;
    }
    .select2-selection__arrow {
        height: 33px !important;
    }
</style>
<div class="content-page">
    <!-- Start content -->
    <div class="content">
       <div class="container-fluid">
          <div class="row">
             <div class="col-sm-12">
                <div class="page-title-box">
                   <h4 class="page-title">Thêm sản phẩm</h4>
                   <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                      <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                      <li class="breadcrumb-item active">Thêm sản phẩm</li>
                   </ol>
                   <!-- <div class="state-information d-none d-sm-block">
                      <div class="state-graph">
                         <div id="header-chart-1">
                            <canvas width="101" height="35" style="display: inline-block; width: 101px; height: 35px; vertical-align: top;"></canvas>
                         </div>
                         <div class="info">Balance $ 2,317</div>
                      </div>
                      <div class="state-graph">
                         <div id="header-chart-2">
                            <canvas width="101" height="35" style="display: inline-block; width: 101px; height: 35px; vertical-align: top;"></canvas>
                         </div>
                         <div class="info">Item Sold 1230</div>
                      </div>
                   </div> -->
                </div>
             </div>
          </div>
          <!-- end row -->
          <div class="row">
             <div class="col-6">
                <div class="card m-b-20">
                   <div class="card-body">
                      <h4 class="mt-0 header-title">Thông tin sản phẩm</h4>
                      <p class="text-muted m-b-30"></p>
                      <div class="form-group">
                         <label for="example-text-input" class="col-sm-12 col-form-label">Tên sản phẩm:</label>
                         <div class="col-sm-12"><input class="form-control" type="text" value="<%=infoProduct.name%>" disabled id="txtName"></div>
                      </div>
                      <div class="form-group">
                        <label for="example-text-input" class="col-sm-12 col-form-label">Mô tả:</label>
                        <div class="col-sm-12">
                           <textarea class="form-control" name="" id="txtDescription" cols="30" disabled rows="4"><%=infoProduct.description%></textarea>
                        </div>
                     </div>
                     <div class="form-group">
                        <div class="row">
                           <div class="col-sm-6">
                              <div class="col-sm-12" style="padding-right: 0;">
                                 <label for="example-text-input" class="col-form-label">Màu sắc:</label>
                                 <input class="form-control" type="text" placeholder="Ví dụ: Nhiều màu..." disabled value="<%=infoProduct.color%>" id="txtColor">
                              </div>
                           </div>
                           <div class="col-sm-6">
                              <div class="col-sm-12" style="padding-left: 0;">
                                 <label for="example-text-input" class="col-form-label">Thuộc Menu</label>
                                 <input class="form-control" type="text" placeholder="Ví dụ: Nhiều màu..." disabled value="<%=infoProduct.menu.name%>" id="txtMenu">
                              </div>
                           </div>
                        </div>
                     </div>

                     <div class="form-group">
                        <div class="row">
                           <div class="col-sm-4">
                              <div class="col-sm-12" style="padding-right: 0;">
                                 <label for="example-text-input" class="col-form-label">Giá gốc (đ):</label>
                                 <input class="form-control" type="text" value="<%= formatCurrency('###,###.', infoProduct.priceBefore)%>đ" disabled id="txtPriceBefore" placeholder="Ví dụ: 100.000">
                              </div>
                           </div>
                           <div class="col-sm-4">
                              <div class="col-sm-12" style="padding-left: 0; padding-right: 0;">
                                 <label for="example-text-input" class="col-form-label">Giá sau khi giảm (đ):</label>
                                 <input class="form-control" type="text" value="<%= infoProduct.priceAfter ? `${formatCurrency('###,###.', infoProduct.priceAfter)}đ` : "Không giảm" %>" disabled id="txtPriceAfter">
                              </div>
                           </div>
                           <div class="col-sm-4">
                              <div class="col-sm-12" style="padding-left: 0;">
                                 <label for="example-text-input" class="col-form-label">Tỉ lệ giảm:</label>
                                 <input class="form-control" type="text" disabled value="<%=infoProduct.ratioSale ? `${infoProduct.ratioSale}%` : "Không giảm"%>" id="txtRatio">
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="form-group">
                        <div class="row">
                           <div class="col-sm-4">
                              <div class="col-sm-12" style="padding-right: 0;">
                                 <label for="example-text-input" class="col-form-label">Flash Sale:</label>
                                 <input class="form-control" type="text" value="<%= infoProduct.flashSale ? "Có hỗ trợ" : "Không hỗ trợ"%>" disabled id="txtPriceBefore" placeholder="Ví dụ: 100.000">
                              </div>
                           </div>
                           <div class="col-sm-4">
                              <div class="col-sm-12" style="padding-left: 0; padding-right: 0;">
                                 <label for="example-text-input" class="col-form-label">In nhanh:</label>
                                 <input class="form-control" type="text" value="<%= infoProduct.flashPrint ? "Có hỗ trợ" : "Không hỗ trợ"%>" disabled id="txtPriceAfter" placeholder="Ví dụ: 70.000">
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="example-text-input" class="col-sm-12 col-form-label">Giới thiệu sản phẩm:</label>
                        <div class="col-sm-12"><textarea class="form-control" name="" id="txtIntroProduct" cols="30" rows="5"><%=infoProduct.introProduct%></textarea></div>
                     </div>
                     <div class="form-group">
                        <label for="example-text-input" class="col-sm-12 col-form-label">Lưu ý khi đặt hàng:</label>
                        <div class="col-sm-12"><textarea class="form-control" name="" id="txtNoteOrder" cols="30" rows="5"><%=infoProduct.noteOrder%></textarea></div>
                     </div>
                     <div class="form-group">
                        <label for="example-text-input" class="col-sm-12 col-form-label">Bảng giá:</label>
                        <div class="col-sm-12"><textarea class="form-control" name="" id="txtPriceList" cols="30" rows="5"><%=infoProduct.priceList%></textarea></div>
                     </div>
                   </div>
                </div>
             </div>
             <div class="col-6">
               <div class="card m-b-20">
                  <div class="card-body">
                     <h4 class="mt-0 header-title">Hình ảnh sản phẩm</h4>
                     <p class="text-muted m-b-30"></p>
                    <div class="form-group">
                       <label for="example-text-input" class="col-sm-12 col-form-label">Ảnh chính:</label>
                       <div class="col-sm-12">
                           <img style="border-radius: 15px;" width=120px height=120px src="<%=infoProduct.avatar.path%>" alt="<%=infoProduct.avatar.name%>">
                       </div>
                    </div>
                    <div class="form-group">
                        <label for="example-text-input" class="col-sm-12 col-form-label">Ảnh sản phẩm:</label>
                        <div class="col-sm-12">
                           
                           <% infoProduct.images && infoProduct.images.length && infoProduct.images.forEach((image, index) => { %>
                              <% let cssText = index > 0 ? 'margin-left: 20px;' : '' %>
                              <img style="border-radius: 15px; <%=cssText%>" width=120px height=120px src="<%=image.path%>" alt="<%=image.name%>">
                           <% }) %>
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="example-text-input" class="col-sm-12 col-form-label">File sản phẩm:</label>
                        <div class="col-sm-12">
                           <% infoProduct.arrayFile && infoProduct.arrayFile.length && infoProduct.arrayFile.forEach((file, index) => { %>
                              <% let cssText = index > 0 ? 'margin-left: 20px;' : '' %>
                              <div style="float: left; <%=cssText%>">
                                 <img style="border-radius: 15px;" width=120px height=120px src="https://s3-ap-southeast-1.amazonaws.com/ldk-software.hailuu/root/63b787b0-611a-471a-b43e-72e62a61ada6" alt="<%=file.name%>">
                                 <p style="text-align: center;"><a download href="<%=file.path%>"><%=file.name%></a></p>
                              </div>
                              
                           <% }) %>
                        </div>
                     </div>
                     <!-- <div class="form-group">
                        <div style="height: 90px; width: 100% "></div>
                     </div> -->
                  </div>
               </div>
               <div class="card m-b-20">
                  <div class="card-body">
                     <h4 class="mt-0 header-title">Danh sách sản phẩm con</h4>
                     <p class="text-muted m-b-30"></p>
                     <div class="form-group">
                        <table class="content-table" style="margin-left: 10px;">
                           <thead>
                               <tr role="row">
                                   <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 20px;" aria-label="Name: activate to sort column descending" aria-sort="ascending">STT</th>
                                   <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="2" style="width: 20px;" aria-label="Name: activate to sort column descending" aria-sort="ascending">Tên</th>
                                   <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="2" style="width: 20px;" aria-label="Name: activate to sort column descending" aria-sort="ascending">Mô tả</th>
                                   <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="2" style="width: 98px;" aria-label="Name: activate to sort column descending" aria-sort="ascending">Số mặt in</th>
                                   <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="2" style="width: 153px;" aria-label="Position: activate to sort column ascending">Quy cách in</th>
                                   <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="2" style="width: 66px;" aria-label="Office: activate to sort column ascending">Số lượng</th>
                                   <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="2" style="width: 66px;" aria-label="Office: activate to sort column ascending">Khối lượng lượng</th>
                                   <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="2" style="width: 80px;" aria-label="Office: activate to sort column ascending">Giá gốc</th>
                                   <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="2" style="width: 80px;" aria-label="Office: activate to sort column ascending">Giá sau khi giảm</th>
                                   <!-- <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="2" style="width: 25px;" aria-label="Age: activate to sort column ascending">Tác vụ</th> -->
                              </tr>
                           </thead>
                           <tbody class="ui-sortable list-variant">
                              <% listVariantOfProduct && listVariantOfProduct.length && listVariantOfProduct.forEach((variant, index) => { %>
                              <tr id="variant<%=index+1%>" role="row" class="odd ui-sortable-handle">
                                 <td colspan="1" tabindex="0" class="index-element"><%=index+1 %> </td>
                                 <td class="nameChildClass" colspan="2"><%=variant.name ? variant.name : " " %></td>
                                 <td class="descriptionChildClass" colspan="2"><%-variant.description ? variant.description : " " %></td>
                                 <td class="faceNumberClass" _facenumber="60eeb4e44a1ed1031086660e" colspan="2"><%=variant.faceNumber.name%> </td>
                                 <td class="printSpecificationClass" _printspecification="60ee0c01b4a2694ca890f16b" colspan="2"><%=variant.printSpecification && variant.printSpecification.name%></td>
                                 <td class="amountClass" _amount="60eeb3cd13abb627846ffe3a" colspan="2"><%=variant.amount.name%></td>
                                 <td class="massClass" colspan="2"><%=variant.mass%>kg</td>
                                 <td class="priceBeforeClass" colspan="2"><%= formatCurrency('###,###.', variant.priceBefore)%>đ</td>
                                 <td class="priceAfterClass" colspan="2"><%= variant.priceAfter ? `${formatCurrency('###,###.', variant.priceAfter)}đ` : 'Không giảm'%></td>
                                 <!-- <td colspan="2">
                                 <div class="btn-group mb-2">
                                     <button type="button" class="btn btn-secondary btn-sm waves-effect waves-light">
                                             Tác vụ
                                     </button>
                                     <button type="button" class="btn btn-secondary btn-sm waves-effect waves-light dropdown-toggle-split dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                             <span class="sr-only">...</span>
                                     </button>
                                     <div class="dropdown-menu">
                                          <a class="dropdown-item btnUpdate" _variantID="<%=variant._id %>" _update="true" href="#"><i class="fa fa-edit"></i> Chỉnh sửa</a> 
                                          <a class="dropdown-item btnRemove" _variantID="<%=variant._id %>" href="#"><i class="fa fa-trash"></i> Xóa</a> 
                                     </div>
                                 </div>
                                 </td> -->
                             </tr>
                             <% }) %>
                           </tbody>
                       </table>
                     </div>
                  </div>
               </div>
               <div class="card m-b-20">
                  <div class="card-body">
                     <h4 class="mt-0 header-title">Danh sách nhận xét của khách hàng</h4>
                     <p class="text-muted m-b-30"></p>
                     <div class="form-group">
                        <table class="content-table">
                           <thead>
                               <tr>
                                   <th>STT</th>
                                   <th>Họ và tên</th>
                                   <th>Email</th>
                                   <th>Thời gian</th>
                                   <th>Nội dung</th>
                                   <th>Số sao</th>
                                   <th>Trạng thái</th>
                               </tr>
                           </thead>
                           <% let listComment = infoProduct.comments %>
                           <% if(!listComment.length) { %>
                               <tbody>
                                   <tr>
                                       <th></th>
                                       <td></td>
                                       <td></td>
                                       <td><h4>Không có bình luận nào</h4></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                   </tr>
                               </tbody>
                           <% } else { %>
                               <tbody>
                                   <% if(listComment && listComment.length > 0) { %>
                                       <% listComment.forEach((comment, idx) => { %>
                                           <tr>
                                               <th><%= idx + 1 %></th>
                                               <td><i><%= comment.fullname %></i></td>
                                               <td><i><%= comment.email %></i></td>
                                               <td><i><%= moment(comment.createAt).format('LLLL') %></i></td>
                                               <td><i><%= comment.content %></i></td>
                                               <% if(comment.star) { %>
                                                   <td><%= comment.star %> <i class="fa fa-star"></i></td>
                                               <% } else { %>
                                                   <td><i></i></td>
                                               <% } %>
                                               <td><% if(comment.status == 1) { %>
                                                   <div class="form-check">
                                                       <input class="form-check-input checkbox" type="checkbox" value="<%= comment._id %>" id="flexCheckChecked" checked />
                                                       <label class="form-check-label" for="flexCheckChecked">
                                                       </label>
                                                   </div>
                                               <% } else { %>
                                                   <div class="form-check">
                                                       <input class="form-check-input checkbox" type="checkbox" value="<%= comment._id %>" id="flexCheckChecked"/>
                                                       <label class="form-check-label" for="flexCheckChecked">
                                                       </label>
                                                   </div>
                                               <% } %></td>
                                           </tr>
                                       <% });} %>
                               </tbody>
                           <% } %>
                       </table>
                     </div>
                  </div>
               </div>
            </div>
             <!-- end col -->
          </div>
          <!-- end row -->
       </div>
       <!-- container-fluid -->
    </div>
    <!-- content -->
    <footer class="footer">© 2018 Lexa - <span class="d-none d-sm-inline-block">Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand</span>.</footer>
 </div>