
<style>
    table.dataTable.no-footer {
        border-bottom: none;
    }
    table.dataTable thead th, table.dataTable thead td {
        padding: 10px 18px;
        border-bottom: none;
    }
    .table-responsive {
        overflow-x: hidden;
    }
    #morris-donut-example svg tspan{
        font-family: 'auto' !important
    }
    table.dataTable, table.dataTable th, table.dataTable td {
        box-sizing: border-box;
    }
</style>
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Quản lý báo cáo</h4>
                        <!-- <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Báo cáo</li>
                        </ol> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="mt-0 header-title">Bộ lọc</h4>
                                <div class="row" style="position: relative;">
                                    <div class="col-md-2">
                                        <label for="">Từ ngày</label>
                                        <input type="date" class="form-control" id="txtFromDate" <% if (from) { %>
                                            value="<%= moment(from).format().substring(0, 10)%>"
                                        <% } %>>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="">Đến ngày</label>
                                        <input type="date" class="form-control" id="txtToDate" <% if (to) { %>
                                            value="<%= moment(to).format().substring(0, 10)%>"
                                        <% } %>>
                                    </div>
                                    <div class="col-md-1">
                                        <button class="btn btn-primary btnSearchDataReport" style="margin-top: 28px;padding: 8px;">Tìm kiếm</button>
                                    </div>
                                    <div class="col-md-4" style="right: 0; position: absolute;">
                                        <label for="">Lọc theo tuần, tháng, quý, năm</label>
                                        <select name="" id="txtChangeSearch" class="form-control">
                                            <option value="">Chọn lọc theo</option>
                                            <option value="1" <% if (type ==1) { %>
                                                selected
                                            <% } %>>Lọc theo tuần này</option>
                                            <option value="2"<% if (type ==2) { %>
                                                selected
                                            <% } %>>Lọc theo tháng này</option>
                                            <option value="3"<% if (type ==3) { %>
                                                selected
                                            <% } %>>Lọc theo quý này</option>
                                            <option value="4"<% if (type ==4) { %>
                                                selected
                                            <% } %>>Lọc theo năm này</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="card mini-stat bg-primary">
                        <div class="card-body mini-stat-img">
                            <div class="mini-stat-icon"><i class="mdi mdi-cube-outline float-right"></i></div>
                            <div class="text-white">
                                <h6 class="text-uppercase mb-3">Tổng doanh thu hiện tại</h6>
                                <h4 class="mb-4"><%= amountRevenue%></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card mini-stat bg-primary">
                        <div class="card-body mini-stat-img">
                            <div class="mini-stat-icon"><i class="mdi mdi-buffer float-right"></i></div>
                            <div class="text-white">
                                <h6 class="text-uppercase mb-3">Tổng khách hàng</h6>
                                <h4 class="mb-4"><%= amountCustomer %></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card mini-stat bg-primary">
                        <div class="card-body mini-stat-img">
                            <div class="mini-stat-icon"><i class="mdi mdi-tag-text-outline float-right"></i></div>
                            <div class="text-white">
                                <h6 class="text-uppercase mb-3">Tổng số lượng bài viết</h6>
                                <h4 class="mb-4"><%= amountBlog %></h4></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card mini-stat bg-primary">
                        <div class="card-body mini-stat-img">
                            <div class="mini-stat-icon"><i class="mdi mdi-briefcase-check float-right"></i></div>
                            <div class="text-white">
                                <h6 class="text-uppercase mb-3">Tổng số lượng bình luận</h6>
                                <h4 class="mb-4"><%= amountComment%></h4></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
            <div class="row">
                <div class="col-xl-3">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <h4 class="mt-0 header-title">Tổng đơn hàng</h4>
                            <div class="row text-center m-t-20">
                                <div class="col-6">
                                    <h5 class=""><%=dataOrder && dataOrder.count %> </h5>
                                    <p class="text-muted">Số lượng đơn hàng</p>
                                </div>
                                <div class="col-6">
                                    
                                    <h5 class=""><%= formatCurrency('###,###.', dataOrder && dataOrder.totalMoney) %>đ</h5>
                                    <p class="text-muted">Tổng thu nhập</p>
                                </div>
                            </div>
                            <div id="morris-donut-example" class="dashboard-charts morris-charts"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <h4 class="mt-0 header-title">Danh sách khách hàng mua nhiều nhất</h4>
                            <div class="row text-center m-t-20">
                                <div class="table-responsive" style="margin: 15px;" >
                                    <table id="list-customer-table" class="table table-bordered dt-responsive nowrap dataTable no-footer dtr-inline" style="border-collapse: collapse; border-spacing: 0px; width: 100%;" role="grid" aria-describedby="datatable_info">
                                        <thead>
                                            <tr>
                                                <th>STT</th>
                                                <th>Họ tên</th>
                                                <th>SĐT</th>
                                                <th>Email</th>
                                                <th>Số lần mua</th>
                                                <th>Tổng tiền mua</th>
                                                <th>Ngày tham gia</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% listCustomerOrderMany.forEach((item, index) => { %>
                                                <tr>
                                                    <td><%= index + 1 %></td>
                                                    <td>
                                                        <!-- <img src=".././../../../template/admin/vertical/assets/images/users/user-3.jpg" alt="user-image" class="thumb-sm mr-2 rounded-circle">  -->
                                                       <a href="/customer/info-customer/<%= item.customer._id%>"><%= item.customer.fullname%></a> 
                                                    </td>
                                                    <td><%= item.customer.phone%></td>
                                                    <td><%= item.customer.email%></td>
                                                    <td><%= item.count%></td>
                                                    <td> <b><%= item.totalMoney.toLocaleString('vi-VN', {style : 'currency', currency : 'VND'})%></b> </td>
                                                    <td><%= moment(item.customer.createAt).format("L")%></td>
                                                </tr>
                                            <% }) %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="morris-area-example" class="dashboard-charts morris-charts" style="display: none;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
    <!-- content -->
    <%include ./utils/footer.ejs%>
</div>
