<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                   <div class="page-title-box">
                      <h4 class="page-title">Chi tiết tin nhắn liên hệ</h4>
                      <ol class="breadcrumb">
                         <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                         <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                         <li class="breadcrumb-item active">Chi tiết tin nhắn liên hệ</li>
                      </ol>
                   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <div class="form-group">
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div>
                                            <label for="example-text-input" class="col-form-label">
                                                Họ tên:  
                                            </label>
                                        </div>
                                        <div>
                                            <input disabled class="form-control" type="text" placeholder="Nhập tiêu đề slide" id="txtTitle" value = "<%= infoContactMessage.fullname %>">
                                        </div>
                                    </div>
                                </div>  
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div>
                                            <label for="example-text-input" class="col-form-label">
                                                Danh xưng
                                            </label>
                                        </div>
                                        <div>
                                            <input  disabled class="form-control" type="text" placeholder="Nhập tiêu đề slide" id="txtTitle" value = "<%= infoContactMessage.nickname %>">
                                        </div>
                                    </div>
                                </div>  
                            </div>
                            <div class="form-group">
                                <div>
                                    <label for="example-text-input" class="col-form-label">
                                        Email
                                    </label>
                                </div>
                                <div>
                                    <input disabled class="form-control" type="text" placeholder="Nhập tiêu đề slide" id="txtTitle" value = "<%= infoContactMessage.email %>">
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label for="example-text-input" class="col-form-label">
                                        Nội dung
                                    </label>
                                </div>
                                <div>
                                    <textarea class="form-control" name="" id="" cols="30" rows="10" disabled><%= infoContactMessage.content %></textarea>
                                </div>
                            </div>
                            <div class="form-group right">
                                <a href="/admin/list-contact-message" class="btn btn-secondary"><i class="fas fa-arrow-alt-circle-left"></i> Quay lại</a>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%include ./utils/footer.ejs%>
</div>
