<!-- CHƯA NỘI DUNG CONTENT -->
<style>
   .img-wraps {
      position: relative;
      display: inline-block;
      /* border: 1px red solid; */
      font-size: 0;
   }
   .img-wraps .close {
      position: absolute;
      top: 2px;
      right: 2px;
      z-index: 100;
      /* background-color: #FFF; */
      padding: 5px 2px 2px;
      color: #000;
      font-weight: bold;
      cursor: pointer;
      opacity: .2;
      text-align: center;
      font-size: 22px;
      line-height: 10px;
      border-radius: 50%;
   }
   .img-wraps:hover .close {
      opacity: 1;
   }
   .color-click{
      border: 3px solid #b1154a;
   }
</style>
<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <br>
            <div class="row">
                <div class="col-12">
                    <div class="card m-b-20">
                       <div class="card-body">
                          <h4 class="mt-0 header-title">Thông tin công ty </h4>
                          <div class="form-group row">
                             <label for="example-text-input" class="col-sm-2 col-form-label">Tên công ty</label>
                             <div class="col-sm-10"><input class="form-control" type="text" value="<%= infoCompany.name || '' %>" id="txtNameCompany"></div>
                          </div>
                          <div class="form-group row">
                             <label for="example-search-input" class="col-sm-2 col-form-label">Slogan</label>
                             <div class="col-sm-10"><input class="form-control" type="text" value="<%= infoCompany.slogan || '' %>" placeholder="Nhập slogan ..." id="txtSlogan"></div>
                          </div>
                          <div class="form-group row">
                             <label for="example-email-input" class="col-sm-2 col-form-label">Mô tả ngắn</label>
                             <div class="col-sm-10"><input class="form-control" type="text" value="<%= infoCompany.sortDescription || '' %>" placeholder="Nhập mô tả ngắn ..." id="txtSortDescription"></div>
                          </div>
                          <div class="form-group row">
                             <label for="example-url-input" class="col-sm-2 col-form-label">Mô tả dài</label>
                             <div class="col-sm-10"><input class="form-control" type="text" value="<%= infoCompany.longDescription || '' %>" placeholder="Nhập mô tả dài ..." id="txtLongDescription"></div>
                          </div>
                          <div class="form-group row">
                             <label for="example-tel-input" class="col-sm-2 col-form-label">Điện thoại</label>
                             <div class="col-sm-10"><input class="form-control" type="text" value="<%= infoCompany.phone || '' %>" placeholder="Nhập điện thoại ..." id="txtPhone"></div>
                          </div>
                          <div class="form-group row">
                             <label for="example-password-input" class="col-sm-2 col-form-label">Email</label>
                             <div class="col-sm-10"><input class="form-control" type="text" value="<%= infoCompany.email || '' %>" placeholder="Nhập email ..." id="txtEmail"></div>
                          </div>
                         
                          <div class="form-group row">
                             <label for="example-datetime-local-input" class="col-sm-2 col-form-label">Địa chỉ</label>
                             <div class="col-sm-10"><input class="form-control" type="text" value="<%= infoCompany.address || '' %>" placeholder="Nhập địa chỉ ..." id="txtAddress"></div>
                          </div>
                          <div class="form-group row">
                             <label for="example-date-input" class="col-sm-2 col-form-label">Zalo</label>
                             <div class="col-sm-10"><input class="form-control" type="text" value="<%= infoCompany.zalo || '' %>" placeholder="Nhập zalo ..." id="txtZalo"></div>
                          </div>
                          <div class="form-group row">
                             <label for="example-month-input" class="col-sm-2 col-form-label">Facebook</label>
                             <div class="col-sm-10"><input class="form-control" type="text" value="<%= infoCompany.facebook || '' %>" placeholder="Nhập facebook ..." id="txtFacebook"></div>
                          </div>
                          <div class="form-group row">
                             <label for="example-week-input" class="col-sm-2 col-form-label">Youtube</label>
                             <div class="col-sm-10"><input class="form-control" type="text" value="<%= infoCompany.youtube || '' %>" placeholder="Nhập youtube ..." id="txtYoutube"></div>
                          </div>
                          <div class="form-group row">
                             <label for="example-time-input" class="col-sm-2 col-form-label">Twitter</label>
                             <div class="col-sm-10"><input class="form-control" type="text" value="<%= infoCompany.twitter || '' %>" placeholder="Nhập twitter ..." id="txtTwitter"></div>
                          </div>
                          <!-- <div class="form-group row">
                             <label for="example-color-input" class="col-sm-2 col-form-label">Số lượng thời gian làm việc</label>
                             <div class="col-sm-10"><input class="form-control" type="Number" value="" placeholder="Nhập số lượng thời gian làm việc ..." id="txtWorkTime"></div>
                          </div> -->

                          <div class="form-group row">
                           <label for="example-time-input" class="col-sm-2 col-form-label">Link Google Map</label>
                           <div class="col-sm-10">
                              <input class="form-control" value="<%= infoCompany.linkGoogleMap || '' %>" type="text"  placeholder="Nhập Link Google Map ..." id="txtGGMap">
                           </div>
                        </div>

                          <div class="form-group row">
                           <label for="example-color-input" class="col-sm-2 col-form-label">Hình ảnh công ty</label>
                           <div class="col-sm-5">
                              <input class="form-control" accept="image/*" type="file" value="<%= infoCompany.image || '' %>"  placeholder="Chọn hình ảnh công ty ..." id="txtMainImage">
                           </div>
                           <div class="col-sm-5 isMainImageParent" >
                              <div class="img-wraps">
                                 <span class="close deleteImage" _imageID = "">&times;</span>
                                 <img  id="isMainImage" src="/files/<%= infoCompany.image %>" width="250px" height="250px" alt="your image" />
                              </div>
                           </div>
                        </div> 
                        <div class="form-group row">
                           <label for="example-color-input" class="col-sm-2 col-form-label">Hình ảnh doanh nghiệp </label>
                           <div class="col-sm-5">
                              <input class="form-control" type="file" value="<%= infoCompany.businessImages.name || '' %>" placeholder="Chọn hình ảnh doanh nghiệp ..." id="txtBusinessImages">
                           </div>
                           <div class="col-sm-5 isBusinessImagesParent" >
                              <div class="img-wraps">
                                 <span class="close deleteImage" _imageID = "">&times;</span>
                                 <img  id="isBusinessImages" src="/files/<%= infoCompany.businessImages.name %>" width="250px" height="250px" alt="your image" />
                              </div>
                           </div>
                        </div> 

                          <!-- <div class="form-group row">
                            <label for="example-color-input" class="col-sm-2 col-form-label">Số lượng dự án</label>
                            <div class="col-sm-10"><input class="form-control" type="Number" value="" placeholder="Nhập số lượng dự án ..." id="txtProjectNumber"></div>
                         </div>

                         <div class="form-group row">
                            <label for="example-color-input" class="col-sm-2 col-form-label">Số lượng xưởng sản xuất</label>
                            <div class="col-sm-10"><input class="form-control" type="Number" value="" placeholder="Nhập số lượng xưởng sản xuất ..." id="txtFactoryNumber"></div>
                         </div>

                         <div class="form-group row">
                            <label for="example-color-input" class="col-sm-2 col-form-label">Điểm hài lòng</label>
                            <div class="col-sm-10"><input class="form-control" type="Number" value="" placeholder="Nhập điểm hài lòng ..." id="txtSatisfactionScore"></div>
                         </div> -->
                         <div class="form-group">
                            <button class="btn btn-info float-right btnUpdateCompany" _companyID ="<%= infoCompany._id %>">Cập nhật</button>
                         </div>
                       </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</div>