<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                   <div class="page-title-box">
                      <h4 class="page-title">Danh sách danh mục</h4>
                      <!-- <ol class="breadcrumb">
                         <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                         <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                         <li class="breadcrumb-item active">Danh sách danh mục</li>
                      </ol> -->
                      <!-- <div class="state-information d-none d-sm-block">
                         <div class="state-graph">
                            <div id="header-chart-1">
                               <canvas width="101" height="35" style="display: inline-block; width: 101px; height: 35px; vertical-align: top;"></canvas>
                            </div>
                            <div class="info">Balance $ 2,317</div>
                         </div>
                         <div class="state-graph">
                            <div id="header-chart-2">
                               <canvas width="101" height="35" style="display: inline-block; width: 101px; height: 35px; vertical-align: top;"></canvas>
                            </div>
                            <div class="info">Item Sold 1230</div>
                         </div>
                      </div> -->
                   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <div>
                                <i>Tổng Danh Mục:</i><span> <%= countCategory || 0 %> </span> <br>
                                <i>Tổng Danh Mục Đang Khoá:</i><span> <%= countCategoryLock || 0 %> </span> <br>
                                <i>Tổng Danh Mục Đang Hoạt Động:</i><span> <%= countCategoryActive || 0 %> </span>
                            </div>
							<div class="col-lg-12 d-flex justify-content-end mb-3">
								<button class="btn btn-outline-info waves-effect waves-light btn-show-modal-create-category">
									<i class="fa fa-plus-circle"></i> Tạo danh mục
								</button>
							</div>
                            <table class="content-table" id="tableListCategory">
								<thead>
									<tr>
										<th>STT</th>
										<th>Tên Danh Mục</th>
										<th>Số lượng bài viết</th>
										<th>Slug</th>
										<th>Mô Tả Ngắn</th>
										<th>Trạng Thái</th>
										<th>Ngày tạo</th>
										<th>Tuỳ Chọn</th>
									</tr>
								</thead>
                                <tbody>
                                    <% if (listCategories && listCategories.length) { %>
                                        <% listCategories.forEach(( category, index ) => { %>
											<tr _categoryID="<%= category._id %>">
												<th>
													<%= index + 1 %>
												</th>
												<td>
                                                    <a href="/admin/list-post?category=<%= category._id %>">
                                                        <%= category.name %>
                                                    </a>
												</td>
                                                <td>
                                                    <%= category.amountBlog %>
												</td>
												<td>
													<i>
														<%= category.slug %>
													</i>
												</td>
												<td>
													<i>
														<%= category.description %>
													</i>
												</td>
												<td>
													<% if (category.status === 1) { %>
														<h6>
															<span class="badge badge-pill badge-success">
																Hoạt Động
															</span>
														</h6>
													<% } %>

													<% if (category.status === 0) { %>
														<h6>
															<span class="badge badge-pill badge-success">
																Không Hoạt Động
															</span>
														</h6>
													<% } %>
												</td>
												<td>
													<i>
														<%= moment(category.createAt).format('L') %>
													</i>
												</td>
												<td>
													<div class="btn-group mb-2">
														<button type="button" class="btn btn-secondary btn-sm waves-effect waves-light" id="btnDropDownCategory_<%= category._id %>">
															Thao Tác
														</button>
														<button type="button" class="btn btn-secondary btn-sm waves-effect waves-light dropdown-toggle-split dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
															<span class="sr-only">...</span>
														</button>
														<div class="dropdown-menu" x-placement="right-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(143px, 0px, 0px);">
															<a class="dropdown-item btn-show-modal-update-category" href="javascript:void(0)" _categoryID="<%= category._id %>">Sửa Thông Tin</a>
															<a class="dropdown-item" href="/admin/info-category?categoryID=<%= category._id %>">Xem chi tiết</a>
															<a class="dropdown-item btnDeleteCategory" href="javascript:void(0)" _categoryID="<%= category._id %>">Xóa</a>
														</div>
													</div>
												</td>
											</tr>
                                        <% }) %>
                                    <% } %>
                                </tbody>
                            </table>
                                <!-- PAGING (WEB ADMIN) -->
                                <%#- include ./utils/paging.ejs%>
                                <!--END PAGING (WEB ADMIN) -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- POPUP THÊM CATEGORY -->
<div class="modal fade bs-example-modal-sm popup-create-category" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">Tạo mới category</h5>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <div class="form-group"><label>Tên danh mục</label> 
                    <input type="text" class="form-control" required="" placeholder="Name" id="txtModalName">
                </div>
                <div class="form-group"><label>slug</label> 
                    <input type="text" class="form-control" required="" placeholder="Slug" id="txtModalSlug">
                </div>
                <div class="form-group"><label>Mô tả</label> 
                    <textarea class="form-control" id="txtModalDescription" placeholder="Description" cols="30" rows="5"></textarea>
                </div>
                <div class="form-group"><label>Trạng thái</label> 
                    <select class="form-control" id="txtModalStatus">
						<option value="0">Không hoạt động</option>
						<option value="1" selected>Hoạt động</option>
                    </select>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-info btnConfirmAddCategory">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<!-- POPUP CẬP NHẬT CATEGORY -->
<div class="modal fade bs-example-modal-sm popup-update-category" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">Cập nhật category</h5>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
				<div class="form-group d-none"><label>Category ID</label> 
                    <input type="hidden" class="form-control" placeholder="Category ID" id="txtModalCategoryIDUpdate">
                </div>
                <div class="form-group"><label>Tên danh mục</label> 
                    <input type="text" class="form-control" placeholder="Name" id="txtModalNameUpdate">
                </div>
                <div class="form-group"><label>slug</label> 
                    <input type="text" class="form-control" placeholder="Slug" id="txtModalSlugUpdate">
                </div>
                <div class="form-group"><label>Mô tả</label> 
                    <textarea class="form-control" id="txtModalDescriptionUpdate" placeholder="Description" cols="30" rows="5"></textarea>
                </div>
                <div class="form-group"><label>Trạng thái</label> 
                    <select class="form-control" id="txtModalStatusUpdate">
						<option value="0">Không hoạt động</option>
						<option value="1" selected>Hoạt động</option>
                    </select>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-info btnConfirmUpdateCategory">Cập nhật</button>
            </div>
        </div>
    </div>
</div>
