<style>
    .select2-selection__rendered{
        line-height: 33px !important;
        width:100%!important;
    }
    .select2-container .select2-selection--single {
        height: 35px !important;
    }
    .select2-selection__arrow {
        height: 33px !important;
    }
</style>
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Danh sách sản phẩm</h4>
                        <!-- <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Danh sách sản phẩm</li>
                        </ol> -->
                    </div>
                </div>
            </div>
            <!-- end row -->
            <div class="row">
                <div class="col-12">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <div class="col-lg-12 d-flex justify-content-between mb-3">
								<div class="container-filter" style="width: 100%">
									<div class="row">
										<div class="form-group input-filter col-md-3">
                                            <label>Danh mục cha</label>
											<select id="menu-parent" class="form-control">
                                                <option value="">Tất cả</option>
												<% listMenuLevelHighest && listMenuLevelHighest.length && listMenuLevelHighest.forEach(menu => { %>
                                                    <% if (menuParent && menuParent.toString() == menu._id.toString()) { %>
                                                        <option selected value="<%=menu._id%>"><%=menu.name%></option>
                                                    <% }else{%>
                                                        <option value="<%=menu._id%>"><%=menu.name%></option>
                                                    <% } %>
                                                  <% }) %>
											</select>
										</div>
										<div class="form-group input-filter col-md-3">
                                            <label>Danh mục con</label>
											<select id="menu-children" class="form-control">
                                                <option value="">Tất cả</option>
											</select>
										</div>
										<div style="position: relative;" class="form-group input-filter col-md-3">
											<button style="position: absolute;bottom: 0px;" class="btn btn-outline-success mt-4 ml-2" id="btnSearchProduct" title="Tìm kiếm">
												<i class="fas fa-search"></i>
												Áp dụng
											</button>
										</div>
									</div>
								</div>
                            </div>
                            <a href="/admin/add-product"><button type="button" style="float: right;margin-bottom: 20px;" class="btn btn-outline-info waves-effect waves-light"><i class="fa fa-plus-circle"></i> Tạo sản phẩm</button></a>
                            <table class="content-table list-product-table">
                                <thead>
                                    <tr><th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 20px;" aria-label="Position: activate to sort column ascending">STT</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 80px;" aria-label="Position: activate to sort column ascending">Hình ảnh</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 120px;" aria-label="Position: activate to sort column ascending">Tên SP</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 63px;" aria-label="Start date: activate to sort column ascending">Danh mục cha</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 63px;" aria-label="Start date: activate to sort column ascending">Danh mục con</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 25px;" aria-label="Age: activate to sort column ascending">Số lượng order</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 25px;" aria-label="Age: activate to sort column ascending">Trạng thái</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 25px;" aria-label="Age: activate to sort column ascending">Tác vụ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% listProduct && listProduct.length && listProduct.forEach((product, index) => { %>
                                        <% if (product) { %>
                                            <tr>
                                                <th><%=index + 1%></th>
                                                <td class="sorting"><img style="border-radius: 15px;" width="90px" height="90px" src="<%=product.avatar && product.avatar.path%>" alt="<%= product.avatar && product.avatar.name %>"></td>
                                                <td><i><%=product.name%></i></a></td>
                                                <td>
                                                    <%=product.menu && product.menu.parent && product.menu.parent.name%>
                                                </td>
                                                <td>
                                                    <%=product.menu && product.menu.name%>
                                                </td>
                                                
                                                <td>
                                                    <% let count = 0; %> 
                                                    <% listCountOrderOfProduct && listCountOrderOfProduct.length && listCountOrderOfProduct.forEach(productFilter => { %>
                                                        <% if (productFilter._id.toString() == product._id.toString()) { %>
                                                            <%count = productFilter.count %> 
                                                        <% }%>
                                                    <% }) %>
                                                    <%=count  %> 
                                                </td>
                                                <td>
                                                    <% if (product.status == 1) { %>
                                                        <span class="badge badge-pill badge-success">
                                                            Hoạt động
                                                        </span>
                                                    <% }else{%>
                                                        <span class="badge badge-pill badge-danger">
                                                            Không hoạt động
                                                        </span>
                                                    <% } %>
                                                </td>
                                                <td>
                                                    <div style="margin-top: 12px" class="btn-group mb-2">
                                                        <div class="btn-group mb-2">
                                                            <button class="btn btn-secondary btn-sm" type="button">
                                                                Thao tác
                                                            </button>
                                                            <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <span class="sr-only">...</span>
                                                            </button>
                                                            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(603px, 216px, 0px);">
                                                                <a class="dropdown-item btnUpdate" _productID="<%=product._id%>" href="/admin/update-product/<%=product._id%>"><i class="fa fa-edit"></i> Chỉnh sửa</a> 
                                                                <a class="dropdown-item btnRemoveProduct" _productID="<%=product._id%>" href="#"><i class="fa fa-trash"></i> Xóa</a> 
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        <% } %>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
    <!-- content -->
    <footer class="footer">© 2018 Lexa - <span class="d-none d-sm-inline-block">Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand</span>.</footer>
</div>