<style>
    .activeTabActiveTabContent{
        background-color: #FFFFFF!important;
    }
</style>
<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                   <div class="page-title-box">
                      <h4 class="page-title">Danh sách liên hệ</h4>
                      <ol class="breadcrumb">
                         <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                         <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                         <li class="breadcrumb-item active">Danh sách liên hệ</li>
                      </ol>
                   </div>
                </div>
            </div>
            <div class="row">
                <%
                    let classActive  = '', classActive1  = '', classActive2  = '';
                    if(tab === '0' || !tab){
                        classActive = 'active';
                    }
                    if(tab === '1'){
                        classActive1 = 'active';
                    }
                    if(tab === '2'){
                        classActive2 = 'active';
                    }
                %>
                <div class="col-lg-12">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                          <a class="nav-link <%= classActive %>" href="/admin/list-contact-message?tab=0">Tất cả</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link <%= classActive1 %>" href="/admin/list-contact-message?tab=1">Đã xem</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link <%= classActive2 %>" href="/admin/list-contact-message?tab=2">Chưa xem</a>
                        </li>
                      </ul>
                </div>
                <div class="col-lg-12">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <table class="content-table">
                                <thead>
                                    <tr>
                                        <th>
                                            STT
                                        </th>
                                        <th>Họ và tên</th>
                                        <th>Danh xưng</th>
                                        <th>Email</th>
                                        <th>Nội dung</th>
                                        <th>Trạng thái</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% let sttAll = 0, sttSeen = 0, sttUnSeen = 0; %>
                                    <% listContactMessage.forEach(contactMessage => { %>
                                        <% if(tab === '0' || !tab) { %>
                                            <% sttAll = sttAll + 1; %>
                                            <tr>
                                                <td><%= sttAll %></td>
                                                <td><%= contactMessage.fullname %></td>
                                                <td><%= contactMessage.nickname %></td>
                                                <td><%= contactMessage.email %></td>
                                                <td><%= contactMessage.content %></td>
                                                <% if(contactMessage.status == 0) { %>
                                                    <td><b style="color: red;">Chưa xem</b></td>
                                                <% } else { %>
                                                    <td><b style="color: green;">Đã xem</b></td>
                                                <% } %>
                                                <td>
                                                    <div class="btn-group mo-mb-2">
                                                        <button class="btn btn-secondary btn-sm" type="button">
                                                            Thao tác
                                                        </button>
                                                        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="sr-only">Toggle Dropdown</span>
                                                        </button>
                                                        <div class="dropdown-menu" x-placement="right-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(143px, 0px, 0px);">
                                                            <a class="dropdown-item"  href='/admin/info-contact-message/<%= contactMessage._id %>'>Xem chi tiết</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        <% } else if(tab === '1') { %>
                                            <% if(contactMessage.status) { %>
                                                <% sttSeen = sttSeen + 1; %>
                                                <tr>
                                                    <td><%= sttSeen %></td>
                                                    <td><%= contactMessage.fullname %></td>
                                                    <td><%= contactMessage.nickname %></td>
                                                    <td><%= contactMessage.email %></td>
                                                    <td><%= contactMessage.content %></td>
                                                    <td><b style="color: green;">Đã xem</b></td>
                                                    <td>
                                                        <div class="btn-group mo-mb-2">
                                                            <button class="btn btn-secondary btn-sm" type="button">
                                                                Thao tác
                                                            </button>
                                                            <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <span class="sr-only">Toggle Dropdown</span>
                                                            </button>
                                                            <div class="dropdown-menu" x-placement="right-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(143px, 0px, 0px);">
                                                                <a class="dropdown-item"  href='/admin/info-contact-message/<%= contactMessage._id %>'>Xem chi tiết</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            <% } %>
                                        <% } else { %>
                                            <% if(!contactMessage.status) { %>
                                                <% sttUnSeen = sttUnSeen + 1; %>
                                                <tr>
                                                    <td><%= sttUnSeen %></td>
                                                    <td><%= contactMessage.fullname %></td>
                                                    <td><%= contactMessage.nickname %></td>
                                                    <td><%= contactMessage.email %></td>
                                                    <td><%= contactMessage.content %></td>
                                                    <td><b style="color: red;">Chưa xem</b></td>
                                                    <td>
                                                        <div class="btn-group mo-mb-2">
                                                            <button class="btn btn-secondary btn-sm" type="button">
                                                                Thao tác
                                                            </button>
                                                            <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <span class="sr-only">Toggle Dropdown</span>
                                                            </button>
                                                            <div class="dropdown-menu" x-placement="right-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(143px, 0px, 0px);">
                                                                <a class="dropdown-item"  href='/admin/info-contact-message/<%= contactMessage._id %>'>Xem chi tiết</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            <% }} %>
                                        <% }); %>
                                </tbody>
                                <div class="row">
                                </div>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>