<!-- CHƯA NỘI DUNG CONTENT -->
<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <button type="button" class="btn btn-info float-right btnShowPopupAddImageProject">+ Thêm</button>
                            <br>
                            <table class="content-table">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên</th>
                                        <th>Mô tả</th>
                                        <th>Hình ảnh</th>
                                        <th>Tuỳ Chọn</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (listData && listData.length) { %>
                                        <% listData.forEach((imageProject, index) => { %>
                                            <tr>
                                                <td><%= index+1 %></td>
                                                <td><%= imageProject.name %></td>
                                                <td><%= imageProject.description %></td>
                                                <td>img.png</td>
                                                <td>
                                                    <div class="btn-group mo-mb-2">
                                                        <button class="btn btn-secondary btn-sm" type="button">
                                                            Thao tác
                                                        </button>
                                                        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="sr-only">Toggle Dropdown</span>
                                                        </button>
                                                        <div class="dropdown-menu" x-placement="bottom-start">
                                                            <a class="dropdown-item btnUpdateCustomerReview"><i class="fas fa-edit"></i> Chỉnh sửa</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        <% }) %>
                                    <% } %>
                                </tbody>
                                <div class="row">
                                    <div class="col-md-6"> 
                                        <div class="dropdown mo-mb-2" id="dropdownMenuOptionmenuging" style="display: none">
                                            <a class="btn btn-light dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Chọn Thao Tác
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 33px, 0px);">
                                                <a class="dropdown-item btnUpdateStatusWithListmenuging" _status="0" href="#">Tắt Hoạt Động</a>
                                                <a class="dropdown-item btnUpdateStatusWithListmenuging" _status="1" href="#">Mở Hoạt Động</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- POPUP THÊM SỬA HÌNH ẢNH DỰ ÁN -->
<div class="modal fade bs-example-modal-sm popup-create-imgae-project" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">Tạo/Update hình ảnh dự án</h5>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <div class="form-group"><label>Tên dự án</label> 
                    <input type="text" class="form-control" required="" placeholder="Dự án: A ..." id="txtNameImageProject">
                </div>
                <div class="form-group"><label>Mô tả</label> 
                    <input type="text" class="form-control" required="" placeholder="Nhập mô tả" id="txtNameDescriptionProject">
                </div>
                <div class="form-group">
                    <label>Hình ảnh</label><input type="file" class="form-control">
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-info btnConfirmAddImageProject">Xác nhận</button>
            </div>
        </div>
    </div>
</div>