<% moment.locale('vi') %>
<style>
    img.img-thumbnail{
        width: 100px;
    }
</style>
<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                   <div class="page-title-box">
                      <h4 class="page-title">Danh sách bài viết</h4>
                      <!-- <ol class="breadcrumb">
                         <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                         <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                         <li class="breadcrumb-item active">Danh sách bài viết</li>
                      </ol> -->
                      <!-- <div class="state-information d-none d-sm-block">
                         <div class="state-graph">
                            <div id="header-chart-1">
                               <canvas width="101" height="35" style="display: inline-block; width: 101px; height: 35px; vertical-align: top;"></canvas>
                            </div>
                            <div class="info">Balance $ 2,317</div>
                         </div>
                         <div class="state-graph">
                            <div id="header-chart-2">
                               <canvas width="101" height="35" style="display: inline-block; width: 101px; height: 35px; vertical-align: top;"></canvas>
                            </div>
                            <div class="info">Item Sold 1230</div>
                         </div>
                      </div> -->
                   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <div class="col-lg-12 d-flex justify-content-end mb-3">
                                <a href="/admin/add-post" class="btn btn-outline-info waves-effect waves-light">
                                    <i class="fa fa-plus-circle"></i> Tạo bài viết
                                </a>
                            </div>
                            <table class="content-table" id="tableListBlog">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tiêu đề</th>
                                        <th>Danh mục</th>
                                        <th>Mô tả ngắn</th>
                                        <th>Hình ảnh</th>
                                        <th>Trạng thái</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (listPosts && listPosts.length) { %>
                                        <% listPosts.forEach(( blog, index ) => { %>
                                            <%if (blog){%>
                                                <tr>
                                                    <th>
                                                        <%= index + 1 %>
                                                    </th>
                                                    <td>
														<a href="/bai-viet/<%= blog.slug %>" target="_blank"  rel="noopener" rel="noreferrer">
															<i> <%= blog.title %> </i>
														</a>
                                                    </td>
                                                        <td>
                                                        <i>
                                                            <%= blog.category && blog.category.name %>
                                                        </i>
                                                    </td>
                                                    <td>
                                                        <i>
                                                            <% let description = blog.description.length > 100 ? blog.description.substr(0, 100) + '...' : blog.description %> 
                                                            <%= description %>
                                                        </i>
                                                    </td>
                                                    <td>
                                                        <% if (blog.image) { %>
                                                            <img class="img-fluid img-thumbnail rounded" src="<%= blog.image.path %>">
                                                        <% } %>
                                                    </td>
                                                    <td>
                                                        <% if (blog.status === 1) { %>
                                                            <span class="badge badge-pill badge-success">
                                                                Hoạt Động
                                                            </span>
                                                        <% } else{ %>
                                                            <span class="badge badge-danger">
                                                                Không Hoạt Động
                                                            </span>
                                                        <% } %>
                                                    </td>
                                                    <td>
                                                        <div class="btn-group mb-2">
                                                            <button type="button" class="btn btn-secondary btn-sm waves-effect waves-light" id="btnDropDownBlog_<%= blog._id && blog._id %>">
                                                                Thao Tác
                                                            </button>
                                                            <button type="button" class="btn btn-secondary btn-sm waves-effect waves-light dropdown-toggle-split dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <span class="sr-only">...</span>
                                                            </button>
                                                            <div class="dropdown-menu" x-placement="right-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(143px, 0px, 0px);">
                                                                <a class="dropdown-item" href="/admin/update-post/?postID=<%= blog._id %>">Sửa Thông Tin</a>
                                                                <a class="dropdown-item" href="/admin/view-comment/?blogID=<%= blog._id %>">Xem Bình Luận</a>
                                                                <a class="dropdown-item btnBlockUser btnDeleteBlog" href="javascript:void(0)" _blogID="<%= blog._id %>" >Xóa</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            <%}%>
                                        <% }) %>
                                    <% } %>
                                </tbody>
                            </table>
                            <!-- PAGING (WEB ADMIN) -->
                            <%#- include ./utils/paging.ejs%>
                            <!--END PAGING (WEB ADMIN) -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
