<!-- CHƯA NỘI DUNG CONTENT -->
<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                   <div class="page-title-box">
                      <h4 class="page-title">Khách Hàng Review</h4>
                      <!-- <ol class="breadcrumb">
                         <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                         <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                         <li class="breadcrumb-item active">Khách Hàng Review</li>
                      </ol> -->
                   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <button type="button" class="btn btn-outline-info float-right btnShowPopupAddReviewCustomer"><i class="fa fa-plus-circle"></i> Tạo mới</button>
                            <br>
                            <table class="content-table">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Hình ảnh</th>
                                        <th>Họ tên</th>
                                        <th>Công ty</th>
                                        <th>Vị trí</th>
                                        <th>Nội dung</th>
                                        <th>Hiển thị</th>
                                        <th>Tùy chọn</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (listData && listData.length) { %>
                                        <% listData.forEach((reviewCustomer, index) => { %>
                                            <tr>
                                                <td><%= index+1 %></td>
                                                <td>
                                                    <img class="thumb-md rounded-circle" alt="" style="height: 80px;width: 80px;" src="<%= reviewCustomer.image.path%>">
                                                </td>
                                                <td><%= reviewCustomer.fullname %></td>
                                                <td><%= reviewCustomer.company %></td>
                                                <td><%= reviewCustomer.position %></td>
                                                <td><%= reviewCustomer.content %></td>
                                                <td><% if(reviewCustomer.status == 1) { %>
                                                    <div class="form-check">
                                                        <input class="form-check-input checkUpdateStatusReviewCustomer" type="checkbox" value="<%= reviewCustomer._id %>" id="flexCheckChecked" checked />
                                                        <label class="form-check-label" for="flexCheckChecked">
                                                        </label>
                                                    </div>
                                                <% } else { %>
                                                    <div class="form-check">
                                                        <input class="form-check-input checkUpdateStatusReviewCustomer" type="checkbox" value="<%= reviewCustomer._id %>" id="flexCheckChecked"/>
                                                        <label class="form-check-label" for="flexCheckChecked">
                                                        </label>
                                                    </div>
                                                <% } %></td>
                                                <td>
                                                    <div class="btn-group mo-mb-2">
                                                        <button class="btn btn-secondary btn-sm" type="button">
                                                            Thao tác
                                                        </button>
                                                        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="sr-only">Toggle Dropdown</span>
                                                        </button>
                                                        <div class="dropdown-menu" x-placement="bottom-start">
                                                            <a class="dropdown-item btnUpdateCustomerReview" _reviewCustomerID = "<%= reviewCustomer._id %>" ><i class="fas fa-edit"></i> Chỉnh sửa</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        <% }) %>
                                    <% } %>
                                </tbody>
                               
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- POPUP THÊM SỬA HÌNH ẢNH DỰ ÁN -->
<div class="modal fade bs-example-modal-sm popup-create-review-customer" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">Tạo/Update review khách hàng</h5>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <div class="form-group"><label>Họ Tên</label> 
                    <input type="text" class="form-control" required="" placeholder="Nguyễn Văn A" id="txtFullName">
                </div>
                <div class="form-group"><label>Công ty</label> 
                    <input type="text" class="form-control" required="" placeholder="Nhập tên công ty" id="txtCompany">
                </div>
                <div class="form-group"><label>Vị trí</label> 
                    <input type="text" class="form-control" required="" placeholder="Nhập vị trí trong công ty" id="txtPosition">
                </div>
                <div class="form-group"><label>Nội dung</label> 
                    <textarea name="" id="txtContent" cols="30" rows="5" class="form-control" placeholder="Nhập nội dung"></textarea>
                </div>
                <div class="form-group">
                    <label>Hình ảnh</label>
                    <input type="file" class="form-control chooseImageUserReview" accept="image/*" />
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-outline-info btnConfirmAddReviewCustomer">Xác nhận</button>
                <button class="btn btn-outline-info btnConfirmUpdateReviewCustomer" style="display: none;">Cập nhật</button>
            </div>
        </div>
    </div>
</div>