<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Danh sách tài khoản</h4>
                        <!-- <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Danh sách tài khoản</li>
                        </ol> -->
                        <!-- <div class="state-information d-none d-sm-block">
                            <div class="state-graph">
                                <div id="header-chart-1"><canvas width="101" height="35" style="display: inline-block; width: 101px; height: 35px; vertical-align: top;"></canvas></div>
                                <div class="info">Balance $ 2,317</div>
                            </div>
                            <div class="state-graph">
                                <div id="header-chart-2"><canvas width="101" height="35" style="display: inline-block; width: 101px; height: 35px; vertical-align: top;"></canvas></div>
                                <div class="info">Item Sold 1230</div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <!-- end row -->
            <div class="row">
                <div class="col-12">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <div class="col-lg-12 d-flex justify-content-end" style="margin-bottom: 12px;">
                                <a href="/customer/add-customer" class="btn btn-outline-info waves-effect waves-light btnAddCustomer">
                                    <i class="fa fa-plus-circle"></i> Tạo tài khoản
                                </a>
                            </div>
                            <table id="dataTableListCustomer" class="content-table">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Họ và tên</th>
                                        <th>Email</th>
                                        <th>Số điện thoại</th>
                                        <th>Trạng thái</th>
                                        <th>Tùy chọn</th>
                                </thead>
                                <tbody>
                                    <% if ( listAccount && listAccount.length ){ %>
                                        <% listAccount.forEach( (account, index) => { %>
                                        <tr>
                                            <td><%=index + 1%></td>
                                            <td><a href="/customer/info-customer/<%= account._id %>">
                                                <%=account.fullname%></a>
                                            </td>
                                            <td><%=account.email%></td>
                                            <td><%=account.phone%></td>
                                            <td>
                                                <% if (account.status == 1) { %>
                                                    <div style="float: left;">
                                                        <input class="newSletter" type="checkbox" _accountID="<%= account._id  %>"   id="<%= account._id  %>" switch="none" checked="checked"> 
                                                        <label  for="<%= account._id  %>" data-on-label="On" data-off-label="Off"></div>
                                                <% }else{%>
                                                    <div style="float: left;">
                                                        <input type="checkbox"class="newSletter"  _accountID="<%= account._id  %>"  id="<%= account._id  %>" switch="none"> 
                                                        <label for="<%= account._id  %>" data-on-label="On" data-off-label="Off">
                                                    </div>
                                                <%} %>
                                            </td>
                                            <td>
                                                <div class="btn-group ml-1 mo-mb-2">
                                                    <button type="button" class="btn btn-secondary btn-sm"  aria-expanded="false">Tác vụ</button>
                                                    <!-- data-toggle="dropdown" -->
                                                    <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                        <span class="sr-only">...</span>
                                                    </button>
                                                    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(603px, 216px, 0px);">
                                                        <!-- <a class="dropdown-item btnCreateMenuChild"  href="#"><i class="fa fa-plus-circle"></i> Tạo danh mục con</a>  -->
                                                        <a class="dropdown-item" href="/customer/add-address-customer/<%= account._id  %>" _accountID="<%= account._id  %>" _update="true"  href="#"><i class="fa fa-edit"></i> Thêm địa chỉ</a> 
                                                        <a class="dropdown-item" href="/customer/list-address/<%= account._id  %>" _accountID="<%= account._id  %>" _update="true"  href="#"><i class="fa fa-list"></i> Danh sách địa chỉ</a> 
                                                        <a class="dropdown-item btnUpdateAccount" _accountID="<%= account._id  %>" _update="true"  href="#"><i class="fa fa-edit"></i> Chỉnh sửa thông tin</a> 
                                                        <a class="dropdown-item btnRemoveAccount" _accountID="<%= account._id  %>"  href="#"><i class="fa fa-trash"></i> Xóa</a> 
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    <% }) %>
                                <% } %>
                                </tbody>
                                <div width="500px" class="modal modalUpdate fade bs-example-modal-center form-create-menu-main" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" style="display: none;" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title mt-0">Update tài khoản</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group row">
                                                    <label for="example-text-input" class="col-sm-2 col-form-label">Họ và tên đệm</label>
                                                    <div class="col-sm-10">
                                                        <input class="form-control txtFirstName" type="text" value="" placeholder="Nhập họ và tên đệm ..." id="example-text-input">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="example-text-input" class="col-sm-2 col-form-label">Tên</label>
                                                    <div class="col-sm-10">
                                                        <input class="form-control txtLastName" type="text" value="" placeholder="Nhập tên ..." id="example-text-input">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="example-text-input" class="col-sm-2 col-form-label">Công ty</label>
                                                    <div class="col-sm-10">
                                                        <input class="form-control txtCompany" type="text" value="" placeholder="Nhập mô tả ngắn ..." id="example-text-input">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="example-text-input" class="col-sm-2 col-form-label">VatNumber</label>
                                                    <div class="col-sm-10">
                                                        <input class="form-control txtVatNumber" type="text" value="" placeholder="Nhập VatNumber ..." id="example-text-input">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="example-text-input" class="col-sm-2 col-form-label">Địa chỉ</label>
                                                    <div class="col-sm-10">
                                                        <input class="form-control txtAddress" type="text" value="" placeholder="Nhập Địa chỉ ..." id="example-text-input">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="example-text-input" class="col-sm-2 col-form-label">Email</label>
                                                    <div class="col-sm-10">
                                                        <input class="form-control txtEmail" type="text" value="" placeholder="Nhập email ..." id="example-text-input">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="example-text-input" class="col-sm-2 col-form-label">Điện thoại</label>
                                                    <div class="col-sm-10">
                                                        <input class="form-control txtPhone" type="text" value="" placeholder="Nhập điện thoại ..." id="example-text-input">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="example-text-input" class="col-sm-2 col-form-label">Mật khẩu</label>
                                                    <div class="col-sm-10">
                                                        <input class="form-control txtPassword" type="text" value="" placeholder="Nhập mật khẩu ..." id="example-text-input">
                                                    </div>
                                                </div>
                                                <!-- <div class="form-group row">
                                                    <label for="example-text-input" class="col-sm-2 col-form-label">Mô tả</label>
                                                    <div class="col-sm-10">
                                                        <textarea class="form-control txtDescription" type="text" value="" placeholder="Viết gì đó" id="example-text-input"></textarea>
                                                    </div>
                                                </div> -->
                                                <div class="form-group">
                                                    <div class="text-center m-t-15"><button type="button" _action="add" class="btn btn-primary waves-effect waves-light btnSubmit">Cập nhật</button></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.modal-content -->
                                    </div>
                                    <!-- /.modal-dialog -->
                                </div>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
            
            <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
    <!-- content -->
    <footer class="footer">© 2018 Lexa - <span class="d-none d-sm-inline-block">Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand</span>.</footer>
</div>