<% moment.locale('vi') %>
<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                   <div class="page-title-box">
                      <h4 class="page-title">Danh sách comment</h4>
                      <ol class="breadcrumb">
                         <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                         <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                         <li class="breadcrumb-item active">Danh sách comment</li>
                      </ol>
                      <!-- <div class="state-information d-none d-sm-block">
                         <div class="state-graph">
                            <div id="header-chart-1">
                               <canvas width="101" height="35" style="display: inline-block; width: 101px; height: 35px; vertical-align: top;"></canvas>
                            </div>
                            <div class="info">Balance $ 2,317</div>
                         </div>
                         <div class="state-graph">
                            <div id="header-chart-2">
                               <canvas width="101" height="35" style="display: inline-block; width: 101px; height: 35px; vertical-align: top;"></canvas>
                            </div>
                            <div class="info">Item Sold 1230</div>
                         </div>
                      </div> -->
                   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <div class="col-lg-12 d-flex justify-content-start">
                                <% if(type == 1) { %>
                                    <h5>
										Bài viết: <%= infoBlog.data.title %>
									</h5>
                                <% } else { %>
									<h5>
										Sản phẩm: <%= infoProduct.data.name %>
									</h5>
                                <% } %>
                            </div>
                            <table class="content-table">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Fullname</th>
                                        <th>Email</th>
                                        <th>Time</th>
                                        <th>Content</th>
                                        <th>Star</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <% if(!listComment.length) { %>
                                    <tbody>
                                        <tr>
                                            <th></th>
                                            <td></td>
                                            <td></td>
                                            <td><h4>Không có bình luận nào</h4></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                <% } else { %>
                                    <tbody>
                                        <% if(listComment && listComment.length > 0) { %>
                                            <% listComment.forEach((comment, idx) => { %>
                                                <tr>
                                                    <th><%= idx + 1 %></th>
                                                    <td><i><%= comment.fullname %></i></td>
                                                    <td><i><%= comment.email %></i></td>
                                                    <td><i><%= moment(comment.createAt).format('LLLL') %></i></td>
                                                    <td><i><%= comment.content %></i></td>
                                                    <% if(comment.star) { %>
                                                        <td><%= comment.star %> <i class="fa fa-star"></i></td>
                                                    <% } else { %>
                                                        <td><i></i></td>
                                                    <% } %>
                                                    <td><% if(comment.status == 1) { %>
                                                        <div class="form-check">
                                                            <input class="form-check-input checkbox" type="checkbox" value="<%= comment._id %>" id="flexCheckChecked" checked />
                                                            <label class="form-check-label" for="flexCheckChecked">
                                                            </label>
                                                        </div>
                                                    <% } else { %>
                                                        <div class="form-check">
                                                            <input class="form-check-input checkbox" type="checkbox" value="<%= comment._id %>" id="flexCheckChecked"/>
                                                            <label class="form-check-label" for="flexCheckChecked">
                                                            </label>
                                                        </div>
                                                    <% } %></td>
                                                </tr>
                                            <% });} %>
                                    </tbody>
                                <% } %>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
