<!-- CHƯA NỘI DUNG CONTENT -->
<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                   <div class="page-title-box">
                      <h4 class="page-title">Từ khóa hay dùng</h4>
                      <!-- <ol class="breadcrumb">
                         <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                         <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                         <li class="breadcrumb-item active">Từ khóa hay dùng</li>
                      </ol> -->
                   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <button type="button" class="btn btn-outline-info float-right btnShowPopupAddReviewCustomer"><i class="fa fa-plus-circle"></i> Tạo mới</button>
                            <br>
                            <table class="content-table">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Từ khóa</th>
                                        <th>Tùy chọn</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (listData && listData.length) { %>
                                        <% listData.forEach((keyword, index) => { %>
                                            <tr>
                                                <td><%= index+1 %></td>
                                                <td><%= keyword.name %></td>
                                                <td>
                                                    <div class="btn-group mo-mb-2">
                                                        <button class="btn btn-secondary btn-sm" type="button">
                                                            Thao tác
                                                        </button>
                                                        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="sr-only">Toggle Dropdown</span>
                                                        </button>
                                                        <div class="dropdown-menu" x-placement="bottom-start">
                                                            <a class="dropdown-item btnUpdateKeyword" _keywordID = "<%= keyword._id %>" ><i class="fas fa-edit"></i> Chỉnh sửa</a>
                                                            <a class="dropdown-item btnRemoveKeyword" _keywordID = "<%= keyword._id %>" ><i class="fas fa-trash"></i>Xóa</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        <% }) %>
                                    <% } %>
                                </tbody>
                               
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- POPUP THÊM SỬA HÌNH ẢNH DỰ ÁN -->
<div class="modal fade bs-example-modal-sm popup-create-review-customer" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">Tạo/Cập nhật từ khóa hay dùng</h5>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <div class="form-group"><label>Tên từ khóa</label> 
                    <input type="text" class="form-control" required="" placeholder="Thiết kế bao bì" id="txtName">
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-outline-info btnConfirmAddReviewCustomer">Xác nhận</button>
                <button class="btn btn-outline-info btnConfirmUpdateReviewCustomer" style="display: none;">Cập nhật</button>
            </div>
        </div>
    </div>
</div>