<% moment.locale('vi') %>
<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                   <div class="page-title-box">
                      <h4 class="page-title">Danh sách email khách hàng</h4>
                      <ol class="breadcrumb">
                         <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                         <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                         <li class="breadcrumb-item active">Danh sách email khách hàng</li>
                      </ol>
                   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <div class="col-lg-12 d-flex justify-content-start">
                                
                            </div>
                            <table class="content-table">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Email</th>
                                        <th>Thời gian email được thêm</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if(listEmailCustomer.length > 0) { %>
                                        <% listEmailCustomer.forEach((emailCustomer, index) => { %>
                                            <tr>
                                                <th><%= index + 1 %></th>
                                                <td><%= emailCustomer.email %></td>
                                                <td><%= moment(emailCustomer.createAt).format('LL') %></td>
                                                <td>
                                                    <div class="btn-group mo-mb-2">
                                                        <button class="btn btn-secondary btn-sm" type="button">
                                                            Thao tác
                                                        </button>
                                                        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="sr-only">Toggle Dropdown</span>
                                                        </button>
                                                        <div class="dropdown-menu" x-placement="bottom-start">
                                                            <a class="dropdown-item btnRemoveEmailCustomer" _emailCustomer = "<%= emailCustomer._id %>" ><i class="fas fa-trash-alt"></i> Xóa</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        <% }); %>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
