<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                   <div class="page-title-box">
                      <h4 class="page-title">Danh Sách Admin</h4>
                      <!-- <ol class="breadcrumb">
                         <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                         <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                         <li class="breadcrumb-item active">Danh Sách Admin</li>
                      </ol> -->
                      <!-- <div class="state-information d-none d-sm-block">
                         <div class="state-graph">
                            <div id="header-chart-1">
                               <canvas width="101" height="35" style="display: inline-block; width: 101px; height: 35px; vertical-align: top;"></canvas>
                            </div>
                            <div class="info">Balance $ 2,317</div>
                         </div>
                         <div class="state-graph">
                            <div id="header-chart-2">
                               <canvas width="101" height="35" style="display: inline-block; width: 101px; height: 35px; vertical-align: top;"></canvas>
                            </div>
                            <div class="info">Item Sold 1230</div>
                         </div>
                      </div> -->
                   </div>
                </div>
             </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card m-b-20">
                        <div class="card-body">
							<div class="col-lg-12 d-flex justify-content-end">
								<a href="/admin/add-user" class="btn btn-outline-info waves-effect waves-light">
									<i class="fa fa-plus-circle"></i> Tạo tài khoản
								</a>
							</div>
                            <table class="content-table">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Tên Hiển Thị</th>
                                    <th>Tài Khoản</th>
                                    <th>Trạng Thái</th>
                                    <th>Tuỳ Chọn</th>
                                </tr>
                            </thead>
                                <tbody>
                                    <% if (admins && admins.length) { %>
                                        <% admins.forEach(( admin, index ) => { %>
                                            <% if (admin) { %>
                                                <tr>
                                                    <th><%= index + 1 %></th>
                                                    <td>
                                                        <i>
                                                            @<%= admin.username && admin.username %>
                                                        </i>
                                                    </td>
                                                    <td>
                                                        <i>
                                                            <%= admin.email && admin.email%>
                                                        </i>
                                                    </td>
                                                    <td>
                                                        <%if(!Number.isNaN(Number(admin.status))){%>
                                                            <%if(Number(admin.status) === 1) {%>
                                                                <span class="badge badge-pill badge-success">Đang Hoạt Động</span>
                                                            <%} else if (Number(admin.status) === 0) {%>
                                                                <span class="badge badge-pill badge-danger">Không Hoạt Động</span>
                                                            <%}%>
                                                        <%}%>
                                                    </td>
                                                    <td>
                                                        <div class="btn-group mb-2">
                                                            <div class="btn-group mb-2">
                                                                <button class="btn btn-secondary btn-sm" type="button">
                                                                    Thao tác
                                                                </button>
                                                                <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    <span class="sr-only">...</span>
                                                                </button>
                                                                <div class="dropdown-menu" x-placement="right-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(143px, 0px, 0px);">
                                                                    <a class="dropdown-item" href="/admin/update-account/<%= admin._id %>"><i class="fa fa-edit"></i> Sửa Thông Tin</a>
                                                                    <% if (infoUser._id.toString() != admin._id.toString()) { %>
                                                                        <button type="button" _userID="<%= admin._id %>" class="dropdown-item btn-delete-user"><i class="fa fa-trash"></i> Xóa user</button>
                                                                    <% } %>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            <% } %>
                                        <% }) %>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>