<% moment.locale('vi') %>
<style>
    img.img-thumbnail{
        width: 100px;
    }
</style>
<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                   <div class="page-title-box">
                      <h4 class="page-title">Danh sách giá vận chuyển</h4>
                      <!-- <ol class="breadcrumb">
                         <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                         <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                         <li class="breadcrumb-item active">Danh sách giá vận chuyển</li>
                      </ol> -->
                   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <div class="col-lg-12 d-flex justify-content-end mb-3">
                                <a href="javascript:void(0)" class="btn btn-outline-info waves-effect waves-light btn-open-popup-create-price-ship">
                                    <i class="fa fa-plus-circle"></i> Tạo giá vận chuyển
                                </a>
                            </div>
                            <table class="content-table" id="tableListBlog">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên</th>
                                        <th>Giá</th>
                                        <th>Từ (KG)</th>
                                        <th>Đến (KG)</th>
                                        <th>Trạng thái</th>
                                        <th>Ngày tạo</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (listPriceShip && listPriceShip.length) { %>
                                        <% listPriceShip.forEach(( priceShip, index ) => { %>
											<tr>
												<th>
													<%= index + 1 %>
												</th>
												<td>
													<i> <%= priceShip.name %> </i>
												</td>
												<td>
													<i> <%= formatCurrency('###,###.', priceShip.price) %> </i>
												</td>
												<td>
													<i> <%= priceShip.from && priceShip.from + 'KG' %> </i>
												</td>
												<td>
													<i> <%= priceShip.to && priceShip.to + 'KG' %> </i>
												</td>
												<td>
													<h6>
														<% if (priceShip.status === 1) { %>
															<span class="badge badge-pill badge-success">
																Hoạt Động
															</span>
														<% } else{ %>
															<span class="badge badge-pill badge-danger">
																Không Hoạt Động
															</span>
														<% } %>
													</h6>
												</td>
												<td>
													<i> <%= moment(priceShip.createAt).format("L") %> lúc <%= moment(priceShip.createAt).format("LT") %> </i>
												</td>
												<td>
													<div class="btn-group mb-2">
														<button type="button" class="btn btn-secondary btn-sm waves-effect waves-light" id="btnDropDownBlog_<%= priceShip %>">
															Thao Tác
														</button>
														<button type="button" class="btn btn-secondary btn-sm waves-effect waves-light dropdown-toggle-split dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
															<span class="sr-only">...</span>
														</button>
														<div class="dropdown-menu" x-placement="right-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(143px, 0px, 0px);">
															<a class="dropdown-item btn-open-popup-update-price-ship" href="javascript:void(0)" _priceShipID="<%= priceShip._id %>">
																<i class="fa fa-edit"></i> Cập nhật
															</a>
															<a class="dropdown-item btnBlockUser btnDeletePriceShip" href="javascript:void(0)" _priceShipID="<%= priceShip._id %>">
																<i class="fa fa-trash"></i> Xóa
															</a>
														</div>
													</div>
												</td>
											</tr>
                                        <% }) %>
                                    <% } %>
                                </tbody>
                            </table>
                            <!-- PAGING (WEB ADMIN) -->
                            <%#- include ./utils/paging.ejs%>
                            <!--END PAGING (WEB ADMIN) -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- POPUP TẠO GIÁ VẬN CHUYỂN -->
<div class="modal fade bs-example-modal-sm popup-create-price-ship" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">Tạo giá vận chuyển</h5>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <div class="row">
					<div class="col-12 col-sm-6">
						<div class="form-group"><label>Tên</label> 
							<input type="text" class="form-control" placeholder="Từ 1 - 5kg" id="txtNamePriceShip">
						</div>
					</div>
					<div class="col-12 col-sm-6">
						<div class="form-group"><label>Giá</label> 
							<input type="text" class="form-control" id="txtPriceShip">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-12 col-sm-6">
						<div class="form-group"><label>Từ (KG)</label> 
							<input type="number" class="form-control" id="txtFromPriceShip">
						</div>
					</div>
					<div class="col-12 col-sm-6">
						<div class="form-group"><label>Đến (KG)</label> 
							<input type="number" class="form-control" id="txtToPriceShip">
						</div>
					</div>
				</div>

            </div>

            <div class="modal-footer">
                <button class="btn btn-outline-info btnConfirmCreatePriceShip">
					Xác nhận
				</button>
            </div>
        </div>
    </div>
</div>

<!-- POPUP CẬP NHẬT GIÁ VẬN CHUYỂN -->
<div class="modal fade bs-example-modal-sm popup-update-price-ship" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">Cập nhật giá vận chuyển</h5>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
				<input type="hidden" id="txtPriceShipID" value="0"> 

                <div class="row">
					<div class="col-12 col-sm-6">
						<div class="form-group"><label>Tên</label> 
							<input type="text" class="form-control" placeholder="Từ 1 - 5kg" id="txtNamePriceShipUpdate">
						</div>
					</div>
					<div class="col-12 col-sm-6">
						<div class="form-group"><label>Giá</label> 
							<input type="text" class="form-control" id="txtPriceShipUpdate">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-12 col-sm-4">
						<div class="form-group"><label>Từ (KG)</label> 
							<input type="number" class="form-control" id="txtFromPriceShipUpdate">
						</div>
					</div>
					<div class="col-12 col-sm-4">
						<div class="form-group"><label>Đến (KG)</label> 
							<input type="number" class="form-control" id="txtToPriceShipUpdate">
						</div>
					</div>
					<div class="col-12 col-sm-4">
						<div class="form-group">
							<label>Trạng Thái</label>
							<div>
								<div class="input-group">
									<input id="switchStatusPriceShip" switch="success" type="checkbox" checked> 
									<label for="switchStatusPriceShip" data-on-label="On" data-off-label="Off"></label> 
								</div>
							</div>
						</div>
					</div>
				</div>

            </div>

            <div class="modal-footer">
                <button class="btn btn-outline-info btnConfirmUpdatePriceShip">
					Cập nhật
				</button>
            </div>
        </div>
    </div>
</div>
