<style>
	/* .modal-update-status-order .modal-dialog{
		width: 30%
	} */
	.container-search-order {
        position: relative;
    }
    .container-search-order > i {
        position: absolute;
        top: 10px;
        right: 15px;
        z-index: 7;
    }
    .container-search-order > input.form-control {
        /* width: 350px; */
        height: 25px;
        font-size: 12px;
        padding: 15px;
        font-weight: normal;
        position: relative;
        z-index: 5;
        background: none;
    }
	#btnOrderFilter{
		position: relative;
	}
</style>

<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                   <div class="page-title-box">
                      <h4 class="page-title">Danh Sách Đơn Hàng</h4>
                      <!-- <ol class="breadcrumb">
                         <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                         <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                         <li class="breadcrumb-item active">Danh sách đơn hàng</li>
                      </ol> -->
                      <!-- <div class="state-information d-none d-sm-block">
                         <div class="state-graph">
                            <div id="header-chart-1">
                               <canvas width="101" height="35" style="display: inline-block; width: 101px; height: 35px; vertical-align: top;"></canvas>
                            </div>
                            <div class="info">Balance $ 2,317</div>
                         </div>
                         <div class="state-graph">
                            <div id="header-chart-2">
                               <canvas width="101" height="35" style="display: inline-block; width: 101px; height: 35px; vertical-align: top;"></canvas>
                            </div>
                            <div class="info">Item Sold 1230</div>
                         </div>
                      </div> -->
                   </div>
                </div>
             </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card m-b-20">
                        <div class="card-body">
							<div class="col-lg-12 d-flex justify-content-between mb-3">
								<div class="container-filter" style="width: 100%">
									<div class="row">
										<div class="form-group input-filter col-3">
											<label for="">Trạng thái đơn hàng </label>
											<select id="scOrderStatusFilter" class="form-control">
												<option value="-1" selected>Tất cả</option>
												<% ORDER_STATUS.forEach(status => { %>
													<option value="<%= status.value %>">
														<%= status.text %> 
													</option>
												<% }) %>
											</select>
										</div>
										<div class="form-group input-filter col-3 col-xs-12">
											<label for="">Trạng thái thanh toán </label>
											<select id="scOrderStatusPaymentFilter" class="form-control">
												<option value="-1" selected>Tất cả</option>
												<% PAYMENT_STATUS.forEach(status => { %>
													<option value="<%= status.value %>">
														<%= status.text %> 
													</option>
												<% }) %>
											</select>
										</div>
										<div class="form-group input-filter col-3 col-xs-12">
											<button class="btn btn-outline-success mt-4 ml-2" id="btnOrderFilter" title="Tìm kiếm">
												<i class="fas fa-search"></i>
												Áp dụng
											</button>
										</div>
										<!-- <div class="form-group input-filter col-3 col-xs-12">
											<div class="container-search-order">
												<input id="input-search-order" type="text" class="form-control" placeholder="Tìm kiếm">
												<i class="fas fa-search"></i>
											</div>
										</div> -->
									</div>
 
								</div>
                            </div>

							<!-- <div class="col-lg-12 d-flex justify-content-end mb-3">
								<div class="container-search-order">
									<input id="input-search-order" type="text" class="form-control" placeholder="Tìm kiếm">
									<i class="fas fa-search"></i>
								</div>
							</div> -->
							<!-- <div class="col-lg-12 d-flex justify-content-end">
								<a href="/admin/add-user" class="btn btn-outline-info waves-effect waves-light">
									<i class="fa fa-plus-circle"></i> Tạo tài khoản
								</a>
							</div> -->
                            <table class="content-table" id="tableListOrder">
								<thead>
									<tr>
										<th>STT</th>
										<th>Mã đơn hàng</th>
										<th>Ngày tạo đơn hàng</th>
										<th>Tên khách hàng</th>
										<th>Trạng thái đơn hàng</th>
										<th>Tổng tiền</th>
										<th>Hình thức thanh toán</th>
										<th>Trạng thái thanh toán</th>
										<th>#</th>
									</tr>
								</thead>
                                <tbody>
                                    <% if (listOrder && listOrder.length) { %>
                                        <% listOrder.forEach(( order, index ) => { %>
											<tr>
												<th> <%= index + 1 %> </th>
												<td>
													<i> <a href="/order/info-order?orderID=<%= order._id %>"><%= order.orderID %></a></i>
												</td>
												<td>
													<i> <%= moment(order.createAt).format('DD/MM/YYYY HH:mm') %> </i>
												</td>
												<td>
													<i> <%= order.customer && order.customer.fullname %> (<%= order.customer && order.customer.phone %> )</i> <br>
													<i> <%= order.customer && order.customer.email %> </i> <br>
												</td>
												<td>
													<h6>
														<span class="badge badge-pill badge-<%= ORDER_STATUS[order.status].color %>">
															<%= ORDER_STATUS[order.status].text %>
														</span>
													</h6>
												</td>
												<td>
													<i> <%= formatCurrency('###,###.', order.amount) %> </i>
												</td>
												<td>
													<i> <%= PAYMENT_TYPE[order.payment].text %> </i>
												</td>
												<td>
													<h6>
														<% if ([1,2,3].includes(order.statusPayment)) { %>
															<span class="badge badge-pill badge-success">
																Đã thanh toán
															</span>
														<% } else{ %>
															<span class="badge badge-pill badge-danger">
																Chưa thanh toán
															</span>
														<% } %>
													</h6>
												</td>
												<td>
													<div class="btn-group mb-2">
														<div class="btn-group mb-2">
															<button class="btn btn-secondary btn-sm" type="button">
																Thao tác
															</button>
															<button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																<span class="sr-only">...</span>
															</button>
															<div class="dropdown-menu" x-placement="right-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(143px, 0px, 0px);">
																<a class="dropdown-item" href="/order/info-order?orderID=<%= order._id %>">
																	Xem chi tiết
																</a>
																<button 
																	type="button"
																	 _orderID="<%= order._id %>" 
																	 _status="<%= order.status %>" 
																	 _statusPayment="<%= order.statusPayment %>" 
																	 _payment="<%= order.payment %>" 
																	 class="dropdown-item btnUpdateStatusOrder"
																>
																	Cập nhật trạng thái
																</button>
															</div>
														</div>
													</div>
												</td>
											</tr>
                                        <% }) %>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- POPUP CẬP NHẬT TRẠNG THÁI ĐƠN HÀNG  -->
<div class="modal fade bs-example-modal-xs modal-update-status-order" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xs">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">Cập nhật trạng thái</h5>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
				<input type="hidden" id="txtOrderIdUpdateModal">
                <div class="form-group"><label>Trạng thái đơn hàng</label>
					<select id="scOrderStatusUpdateModal" class="form-control">
						<% ORDER_STATUS.forEach(status => { %>
							<option value="<%= status.value %>">
								<%= status.text %> 
							</option>
						<% }) %>
					</select>
                </div>
				<div class="form-group"><label>Trạng thái thanh toán</label>
					<select id="scOrderStatusPaymentUpdateModal" class="form-control">
						<option value="0"> Chưa thanh toán</option>
						<option value="1"> Đã thanh toán</option>
					</select>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-info btnConfirmUpdateStatusOrder">Xác nhận</button>
            </div>
        </div>
    </div>
</div>
