<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Quản Lý Danh Mục</h4>
                        <!-- <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Danh Mục</li>
                        </ol> -->
                        <!-- <div class="state-information d-none d-sm-block">
                            <div class="state-graph">
                                <div id="header-chart-1"><canvas width="101" height="35" style="display: inline-block; width: 101px; height: 35px; vertical-align: top;"></canvas></div>
                                <div class="info">Balance $ 2,317</div>
                            </div>
                            <div class="state-graph">
                                <div id="header-chart-2"><canvas width="101" height="35" style="display: inline-block; width: 101px; height: 35px; vertical-align: top;"></canvas></div>
                                <div class="info">Item Sold 1230</div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <!-- end row -->
            <div class="row">
                <div class="col-12">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <h4 class="mt-0 header-title">Danh sách danh mục</h4>
                            <p style="color: #3079c7;">Note: Click vào tên danh mục để đến trang quản lý các danh mục con, chỉ tồn tại 4 danh mục chính cân nhắc trước khi tạo thêm</p>

                            <button type="button" style="float: right;margin: 10px;" class="btn btn-outline-info waves-effect waves-light btnCreateMenuMain"><i class="fa fa-plus-circle"></i> Tạo danh mục chính</button>
                            <hr>
                            <table class="content-table" id="datatableMenuParent" >
                                <thead>
                                    <tr role="row">
                                        <th style="width: 10%;" aria-label="Name: activate to sort column descending">STT</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 30%;" aria-label="Name: activate to sort column descending">Tên</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 20%;" aria-label="Position: activate to sort column ascending">Mô tả</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 20%;" aria-label="Office: activate to sort column ascending">Trạng thái hoạt động</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 20%;" aria-label="Age: activate to sort column ascending">Tác vụ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (listMenuLevelHighest && listMenuLevelHighest.length) { %>
                                        <% listMenuLevelHighest.forEach((menu, index) => { %>
                                        <tr _menuID="<%=menu._id%>" role="row" class="odd">
                                            <td colspan="1" tabindex="0" ><%=index + 1%></td>
                                            <td colspan="1" tabindex="0" ><a href="/admin/menu/<%=menu._id%>"><%=menu.name%> (<%=menu.childs.length%>)</a></td>
                                            <td colspan="1"><%=menu.description%></td>
                                            <td colspan="1" >
                                                <% if (menu.status == 1) { %>
                                                    <div style="float: left;"><input class="status-change" type="checkbox" _menuID="<%=menu._id%>" id="switch_<%=menu._id%>" switch="none" checked="checked"> <label for="switch_<%=menu._id%>" data-on-label="On" data-off-label="Off"></div>
                                                <% }else{%>
                                                    <div style="float: left;"><input class="status-change" type="checkbox" _menuID="<%=menu._id%>" id="switch_<%=menu._id%>" switch="none"> <label for="switch_<%=menu._id%>" data-on-label="On" data-off-label="Off"></div>
                                                <%} %>
                                            </td>
                                            <td colspan="1">
                                                <div class="btn-group mb-2">
                                                    <button type="button" class="btn btn-secondary btn-sm waves-effect waves-light">
                                                        Tác vụ
                                                    </button>
                                                    <button type="button" class="btn btn-secondary btn-sm waves-effect waves-light dropdown-toggle-split dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <span class="sr-only">...</span>
                                                    </button>
                                                    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(603px, 216px, 0px);">
                                                        <a class="dropdown-item btnCreateMenuChild" _menuID="<%=menu._id%>" href="#"><i class="fa fa-plus-circle"></i> Tạo danh mục con</a> 
                                                        <a class="dropdown-item btnUpdate" _update="true" _menuID="<%=menu._id%>" href="#"><i class="fa fa-edit"></i> Chỉnh sửa</a> 
                                                        <a class="dropdown-item btnRemoveMenu" _menuID="<%=menu._id%>" href="#"><i class="fa fa-trash"></i> Xóa</a> 
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <% }) %>
                                    <% } %>
                                </tbody>
                            </table>
                            
                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <div class="modal fade bs-example-modal-center form-create-menu-main" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" style="display: none;" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title mt-0">Tạo danh mục chính</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group ">
                                <label for="example-text-input" class="col-sm-12 col-form-label">Tiều đề</label>
                                <div class="col-sm-12">
                                    <input class="form-control txtName" type="text" value="" placeholder="Nhập tiêu đề">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="example-text-input" class="col-sm-12 col-form-label">URL</label>
                                <div class="col-sm-12">
                                    <input class="form-control txtURL" type="text" value="" disabled></input>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="example-text-input" class="col-sm-12 col-form-label">Mô tả</label>
                                <div class="col-sm-12">
                                    <textarea class="form-control txtDescription" type="text" value="" placeholder="Viết gì đó"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="example-text-input" class="col-sm-12 col-form-label">Hình ảnh</label>
                                <div class="col-sm-12">
                                    <input type="file" class="form-control txtImageMenu" accept="image/*">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button _action="add" class="btn btn-info btnSubmitCreateMenu">Xác Nhận</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
    <!-- content -->
    <footer class="footer">© 2018 Lexa - <span class="d-none d-sm-inline-block">Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand</span>.</footer>
</div>