<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <% if (infoMenu.level == 1) { %>
                            <h4 class="page-title">Quản lý Danh mục</h4>
                            <!-- <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                                <li class="breadcrumb-item active">Danh mục</li>
                            </ol> -->
                        <% } %>
                        <% if (infoMenu.level == 2) { %>
                            <h4 class="page-title">Danh sách sản phẩm</h4>
                            <!-- <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                                <li class="breadcrumb-item active">Danh sách sản phẩm</li>
                            </ol> -->
                        <% } %>
                    </div>
                </div>
            </div>
            <!-- end row -->
            <div class="row">
                <div class="col-12">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <% if (infoMenu.level == 1) { %>
                                <h4 class="mt-0 header-title"><b><%=infoMenu.name%></b> </h4>
                                <p style="color: #3079c7;">Note:Click vào tên danh mục để đến trang quản lý sản phẩm của danh mục đó</p>
                                <button style="float:right; position: relative; bottom: 55px;" class="btn btn-outline-info waves-effect waves-light btnCreateMenu" _menuID= <%=infoMenu._id%>>
                                    + Tạo Danh mục con
                                </button>
                                <hr>
                                <table class="content-table" id="datatableMenuChild">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 10%;" aria-label="Position: activate to sort column descending">STT</th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 25%;" aria-label="Position: activate to sort column descending">Tiêu đề</th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 15%;" aria-label="Position: activate to sort column descending">Hình ảnh</th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 20%;" aria-label="Position: activate to sort column ascending">Mô tả</th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 20%;" aria-label="Position: activate to sort column ascending">Trạng thái</th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 10%;" aria-label="Position: activate to sort column ascending">Tác vụ</th>
                                        </tr>
                                    </thead>
                                    <tbody class="list-menu-child">
                                        <% if (listMenuChildOfParent && listMenuChildOfParent.length) { %>
                                            <% listMenuChildOfParent.forEach((menu, index) => { %>
                                            <tr _menuID="<%=menu._id%>" role="row" class="odd">
                                                <td colspan="1" tabindex="0"><%=index + 1%></td>
                                                <td colspan="1" tabindex="0"><a href="/admin/menu/<%=menu._id%>"><%=menu.name%> (<%=menu.amountProduct%>)</a></td>
                                                <td colspan="1" tabindex="0">
                                                    <% if (menu.image) { %>
                                                        <a target="blank" href="<%= menu.image && menu.image.path%>">
                                                            <img width="100px" class="img-fluid img-thumbnail rounded" src="<%= menu.image && menu.image.path%>">
                                                        </a>
                                                    <% } %>
                                                </td>
                                                <td colspan="1"><%=menu.description%></td>
                                                <td colspan="1" >
                                                    <% if (menu.status == 1) { %>
                                                        <div style="float: left;"><input class="status-change" type="checkbox" _menuID="<%=menu._id%>" id="switch<%=index+1%>" switch="none" checked="checked"> <label for="switch<%=index+1%>" data-on-label="On" data-off-label="Off"></div>
                                                    <% }else{%>
                                                        <div style="float: left;"><input class="status-change" type="checkbox" _menuID="<%=menu._id%>" id="switch<%=index+1%>" switch="none"> <label for="switch<%=index+1%>" data-on-label="On" data-off-label="Off"></div>
                                                    <%} %>
                                                </td>
                                                <td colspan="1">
                                                    <div class="btn-group ml-1 mo-mb-2">
                                                        <button type="button" class="btn btn-secondary btn-sm waves-effect waves-light">
                                                            Tác vụ
                                                        </button>
                                                        <button type="button" class="btn btn-secondary btn-sm waves-effect waves-light dropdown-toggle-split dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="sr-only">...</span>
                                                        </button>
                                                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(603px, 216px, 0px);">
                                                            <!-- <a class="dropdown-item btnCreateMenuChild" _menuID="<%=menu._id%>" href="#"><i class="fa fa-plus-circle"></i> Tạo danh mục con</a>  -->
                                                            <a class="dropdown-item btnUpdateChild" _update="true" _menuID="<%=menu._id%>" href="#"><i class="fa fa-edit"></i> Chỉnh sửa</a> 
                                                            <a class="dropdown-item btnRemoveMenu" _menuID="<%=menu._id%>" href="#"><i class="fa fa-trash"></i> Xóa</a> 
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <% }) %>
                                        <% }else{ %>
                                            <!-- <tr role="row" class="odd">
                                                <td colspan="8"><h6>Không có menu con nào</h6></td>
                                            </tr> -->
                                        <% } %>
                                    </tbody>
                                </table>
                            <% } %>

                           <% if (infoMenu.level == 2) { %>
                                <h4 class="mt-0 header-title">Danh sách sản phẩm của danh mục: <b><%=infoMenu.name%></b> </h4>
                                <table class="content-table list-product-table">
                                    <thead>
                                        <tr><th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 20px;" aria-label="Position: activate to sort column ascending">STT</th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 120px;" aria-label="Position: activate to sort column ascending">Tên SP</th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 80px;" aria-label="Position: activate to sort column ascending">Hình ảnh</th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 100px;" aria-label="Position: activate to sort column ascending">Slug</th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 63px;" aria-label="Start date: activate to sort column ascending">Menu</th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 66px;" aria-label="Office: activate to sort column ascending">Mô tả</th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 25px;" aria-label="Age: activate to sort column ascending">Màu sắc</th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 25px;" aria-label="Age: activate to sort column ascending">Trạng thái</th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 25px;" aria-label="Age: activate to sort column ascending">Tác vụ</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% listProduct && listProduct.length && listProduct.forEach((product, index) => { %>
                                        <tr>
                                            <th><%=index + 1%></th>
                                            <td><i><a href="/san-pham/<%=product.slug%>"><%=product.name%></a></i></td>
                                            <td class="sorting"><img width="90px" height="90px" src="<%=product.avatar && product.avatar.path%>" alt="<%= product.avatar && product.avatar.name %>"></td>
                                            <td>
                                                <%=product.slug%>
                                            </td>
                                            <td>
                                                <%=product.menu.name%>
                                            </td>
                                            <td>
                                                <%= product.description.length > 100 ? product.description.substr(0, 100) + '...' : product.description %>
                                                </td>
                                            <td>
                                                <%= product.color ? product.color : ""%>
                                            </td>
                                            <td>
                                                <% if (product.status == 1) { %>
                                                    <span class="badge badge-pill badge-success">
                                                        Hoạt động
                                                    </span>
                                                <% }else{%>
                                                    <span class="badge badge-pill badge-danger">
                                                        Không hoạt động
                                                    </span>
                                                <% } %>
                                            </td>
                                            <td>
                                                <div style="margin-top: 12px" class="btn-group mb-2">
                                                    <div class="btn-group mb-2">
                                                        <button class="btn btn-secondary btn-sm" type="button">
                                                            Thao tác
                                                        </button>
                                                        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="sr-only">...</span>
                                                        </button>
                                                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(603px, 216px, 0px);">
                                                            <a class="dropdown-item btnUpdateProduct" _productID="<%=product._id%>" href="/admin/update-product/<%=product._id%>"><i class="fa fa-edit"></i> Chỉnh sửa</a> 
                                                            <a class="dropdown-item btnRemoveProduct" _productID="<%=product._id%>" href="#"><i class="fa fa-trash"></i> Xóa</a> 
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <% }) %>
                                    </tbody>
                                </table>
                           <% } %>
                           
                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <div class="modal fade bs-example-modal-center form-create-menu-main" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" style="display: none;" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title mt-0">Tạo danh mục chính</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="example-text-input" class="col-sm-2 col-form-label">Tên</label>
                                <div class="col-sm-12">
                                    <input class="form-control txtName" type="text" value="" placeholder="Tên menu" id="example-text-input">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="example-text-input" class="col-sm-12 col-form-label">URL</label>
                                <div class="col-sm-12">
                                    <input class="form-control txtURL" type="text" value="" disabled></input>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="example-text-input" class="col-sm-2 col-form-label">Mô tả</label>
                                <div class="col-sm-12">
                                    <textarea class="form-control txtDescription" type="text" value="" placeholder="Viết gì đó" id="example-text-input"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="example-text-input" class="col-sm-12 col-form-label">Hình ảnh</label>
                                <div class="col-sm-12">
                                    <input type="file" class="form-control txtImageMenu" accept="image/*">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button _action="add" class="btn btn-info btnSubmitMenuChild">Tạo menu</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
    <!-- content -->
    <footer class="footer">© 2018 Lexa - <span class="d-none d-sm-inline-block">Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand</span>.</footer>
</div>