<!-- CHƯA NỘI DUNG CONTENT -->
<style>
    .select2-selection__rendered{
      line-height: 33px !important;
   }
   .select2-container .select2-selection--single {
      height: 35px !important;
   }
   .select2-container{
      width: 100% !important;
   }
 </style>
  <div class="content-page">
      <div class="content">
          <div class="container-fluid">
           <div class="row">
              <div class="col-sm-12">
                  <div class="page-title-box">
                      <h4 class="page-title">Chỉnh sửa khách hàng</h4>
                      <!-- <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                          <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                          <li class="breadcrumb-item active">Khởi tạo Khách Hàng</li>
                      </ol> -->
                      <!-- <div class="state-information d-none d-sm-block">
                          <div class="state-graph">
                              <div id="header-chart-1"><canvas width="101" height="35" style="display: inline-block; width: 101px; height: 35px; vertical-align: top;"></canvas></div>
                              <div class="info">Balance $ 2,317</div>
                          </div>
                          <div class="state-graph">
                              <div id="header-chart-2"><canvas width="101" height="35" style="display: inline-block; width: 101px; height: 35px; vertical-align: top;"></canvas></div>
                              <div class="info">Item Sold 1230</div>
                          </div>
                      </div> -->
                  </div>
              </div>
          </div>
              <div class="row">
                  <div class="col-lg-12">
                      <div class="card m-b-20">
                         <div class="card-body">
                            <h4 class="mt-0 header-title"> <b> Thông tin khách hàng</b></h4>
                            <div class="form-group row">
                               <label for="example-text-input" class="col-sm-2 col-form-label">Họ và tên:</label>
                               <div class="col-sm-8">
                                  <input class="form-control" type="text" value="<%= infoAccount && infoAccount.fullname %>" id="txtFullNameUpdate">
                               </div>
                            </div>
                            <div class="form-group row">
                               <label for="example-password-input" class="col-sm-2 col-form-label">Email</label>
                               <div class="col-sm-8"><input class="form-control" type="text" value="<%= infoAccount && infoAccount.email %>" id="txtEmailUpdate" disabled></div>
                            </div>
                            <div class="form-group row">
                               <label for="example-datetime-local-input" class="col-sm-2 col-form-label">Điện thoại</label>
                               <div class="col-sm-8"><input class="form-control" type="text" value="<%= infoAccount && infoAccount.phone %>"  id="txtPhoneUpdate"></div>
                            </div>
                            <div class="form-group row">
                                <label for="example-tel-input" class="col-sm-2 col-form-label">Giới tính</label>
                               <div class="col-sm-8">
                                  <select class="form-control" id="txtGenderUpdate">
                                      <% if (infoAccount) { %>
                                        <option value="0"
                                            <% if (infoAccount.gender == 0) { %>
                                                selected
                                            <% } %>
                                        > Nữ </option>
                                        <option value="1"
                                            <% if (infoAccount.gender == 1) { %>
                                                selected
                                            <% } %>
                                        > Nam </option>
                                      <% } %>
                                  </select>
                               </div>
                            </div>
                            <div class="form-group row">
                               <label for="example-tel-input" class="col-sm-2 col-form-label">Ngày sinh</label>
                               <div class="col-sm-8"><input class="form-control" value="<%= infoAccount && moment(infoAccount.birthday).format().substring(0,10) %>" type="date"id="txtBirthDayUpdate"></div>
                            </div>
                            <div class="form-group col-sm-10">
                               <button class="btn btn-info float-right btnAccountUpdate" _accountID="<%= infoAccount && infoAccount._id %>" >Cập Nhật</button>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="col-lg-12">
                      <div class="card m-b-20">
                         <div class="card-body">
                            <h4 class="mt-0 header-title"> <b> Thay đổi mật khẩu</b></h4>
                            <div class="form-group row">
                               <label for="example-tel-input" class="col-sm-2 col-form-label">Mật khẩu cũ</label>
                               <div class="col-sm-8"><input class="form-control" type="password"  placeholder="Nhập Mật Khẩu Cũ ..." id="txtPasswordOld"></div>
                            </div>
                            <div class="form-group row">
                                <label for="example-tel-input" class="col-sm-2 col-form-label">Mật khẩu mới</label>
                                <div class="col-sm-8"><input class="form-control" type="password"  placeholder="Nhập Mật Khẩu Mới ..." id="txtPasswordNew"></div>
                             </div>
                           <div class="form-group">
                                <div class="col-sm-10">
                                    <button class="btn btn-info float-right btnChangePasswordAccount" _accountID="<%= infoAccount && infoAccount._id %>" >Thay đổi Mật khẩu</button>
                                </div>
                            </div>
                         </div>
                      </div>
                   </div>
              </div>
          </div>
      </div>
      <%include ./utils/footer.ejs%>
  </div>