<style>
   .select2-selection__rendered{
        line-height: 33px !important;
        width:100%!important;
    }
    .select2-container .select2-selection--single {
        height: 35px !important;
    }
    .select2-selection__arrow {
        height: 33px !important;
    }
    .dropzone .dz-preview .dz-image img {
      width: 100% !important;
      height: 100% !important;
    }
</style>
<div class="content-page">
    <!-- Start content -->
    <div class="content">
       <div class="container-fluid">
          <div class="row">
             <div class="col-sm-12">
                <div class="page-title-box">
                   <h4 class="page-title">Cập nhật sản phẩm</h4>
                   <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                      <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                      <li class="breadcrumb-item active">Cập nhật sản phẩm</li>
                   </ol>
                   <!-- <div class="state-information d-none d-sm-block">
                      <div class="state-graph">
                         <div id="header-chart-1">
                            <canvas width="101" height="35" style="display: inline-block; width: 101px; height: 35px; vertical-align: top;"></canvas>
                         </div>
                         <div class="info">Balance $ 2,317</div>
                      </div>
                      <div class="state-graph">
                         <div id="header-chart-2">
                            <canvas width="101" height="35" style="display: inline-block; width: 101px; height: 35px; vertical-align: top;"></canvas>
                         </div>
                         <div class="info">Item Sold 1230</div>
                      </div>
                   </div> -->
                </div>
             </div>
          </div>
          <!-- end row -->
          <div class="row">
             <div class="col-6">
                <div class="card m-b-20">
                   <div class="card-body">
                      <h4 class="mt-0 header-title">Thông tin sản phẩm</h4>
                      <p class="text-muted m-b-30"></p>
                      <div class="form-group">
                         <label for="example-text-input" class="col-sm-12 col-form-label">Tên sản phẩm:</label>
                         <div class="col-sm-12"><input class="form-control" type="text" value="<%=infoProduct.name%>" id="txtName"></div>
                      </div>
                      <div class="form-group">
                        <label for="example-text-input" class="col-sm-12 col-form-label">Mô tả:</label>
                        <div class="col-sm-12"><textarea class="form-control" cols="30" rows="4" type="text" value="" id="txtDescription"><%=infoProduct.description%></textarea></div>
                     </div>
                     <div class="form-group">
                        <div class="row">
                           <div class="col-sm-12">
                              <div class="col-sm-12" style="padding-right: 0;">
                                 <label for="example-text-input" class="col-form-label">Màu sắc:</label>
                                 <input class="form-control" type="text" placeholder="Ví dụ: Nhiều màu..." value="<%=infoProduct.color%>" id="txtColor">
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="form-group">
                        <div class="row">
                           <div class="col-sm-6">
                              <div class="col-sm-12" style="padding-right: 0;">
                                 <label for="example-text-input" class="col-form-label">Chọn danh mục cha:</label>
                                 <select name="attribute" id="menu-parent" class="form-control select-menu">
                                    <% listMenu && listMenu.length && listMenu.forEach(menu => { %>
                                      <% if (infoProduct.menu && infoProduct.menu.parent && menu._id.toString() == infoProduct.menu.parent._id.toString()) { %>
                                          <option selected value="<%=menu._id%>"><%=menu.name%></option>
                                      <% }else{%>
                                          <option value="<%=menu._id%>"><%=menu.name%></option>
                                      <% } %>
                                    <% }) %>
                                 </select>
                              </div>
                           </div>
                           <div class="col-sm-6">
                              <div class="col-sm-12" style="padding-left: 0;">
                                 <label for="example-text-input" class="col-form-label">Chọn danh mục con:</label>
                                 <select name="attribute" id="menu-children" _valueChild="<%=infoProduct.menu._id %>" class="form-control select-menu">
                                    
                                 </select>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="example-text-input" class="col-sm-12 col-form-label">Trạng thái hoạt động:</label>
                        <div class="col-sm-12">
                           <select name="status" class="form-control select-status">
                              <% PRODUCT_STATUS.forEach(status => { %>
                                 <% if (infoProduct.status.toString() == status.value.toString()) { %>
                                    <option selected value="<%=status.value%>"><%=status.text%> </option>
                                 <% }else{%>
                                    <option value="<%=status.value%>"><%=status.text%> </option>
                                 <% } %>
                              <% }) %>
                           </select>
                        </div>
                     </div>
                     
                     <div class="form-group">
                        <div class="row">
                           <div class="col-sm-4">
                              <div class="col-sm-12" style="padding-right: 0;">
                                 <label for="example-text-input" class="col-form-label">Giá gốc (đ):</label>
                                 <input class="form-control" type="text" value="<%=infoProduct.priceBefore%>" id="txtPriceBefore" placeholder="Ví dụ: 100.000">
                              </div>
                           </div>
                           <div class="col-sm-4">
                              <div class="col-sm-12" style="padding-left: 0; padding-right: 0;">
                                 <label for="example-text-input" class="col-form-label">Giá sau khi giảm (đ):</label>
                                 <input class="form-control" type="text" value="<%=infoProduct.priceAfter%>" id="txtPriceAfter" placeholder="Ví dụ: 70.000">
                              </div>
                           </div>
                           <div class="col-sm-4">
                              <div class="col-sm-12" style="padding-left: 0;">
                                 <label for="example-text-input" class="col-form-label">Tỉ lệ giảm:</label>
                                 <input class="form-control" type="text" disabled value="<%=infoProduct.ratioSale ? `${infoProduct.ratioSale}%` : "0%" %>" id="txtRatio">
                              </div>
                           </div>
                        </div>
                     </div>
                     <div style="margin-left: 18px;"class="form-group row">
                        <div class="row">
                           <div class="col-sm-5">
                              <div class="col-sm-12" style="padding-left: 0;">
                                 <label for="example-text-input" class="col-form-label">Flase sale:</label>
                                 <% if (infoProduct.flashSale == true) { %>
                                    <input class="flash-sale-change" type="checkbox" checked="checked" id="switch_flase_sale" switch="none"> <label for="switch_flase_sale" data-on-label="On" data-off-label="Off">
                                 <% }else{ %>
                                    <input class="flash-sale-change" type="checkbox" id="switch_flase_sale" switch="none"> <label for="switch_flase_sale" data-on-label="On" data-off-label="Off">
                                 <% } %>
                                 </div>
                           </div>
                           <div class="col-sm-5">
                              <div class="col-sm-12" style="padding-right: 0; padding-right: 0;">
                                 <label for="example-text-input" class="col-form-label">In nhanh:</label>
                                 <% if (infoProduct.flashPrint == true) { %>
                                    <input class="flash-print-change" type="checkbox" checked="checked" id="switch_flash_print" switch="none" > <label for="switch_flash_print" data-on-label="On" data-off-label="Off">
                                 <% }else{ %>
                                    <input class="flash-print-change" type="checkbox" id="switch_flash_print" switch="none" > <label for="switch_flash_print" data-on-label="On" data-off-label="Off">
                                 <% } %>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="example-text-input" class="col-sm-12 col-form-label">Giới thiệu sản phẩm:</label>
                        <div class="col-sm-12"><textarea class="form-control" name="" value="" id="txtIntroProduct" cols="30" rows="5"><%=infoProduct.introProduct%></textarea></div>
                     </div>
                     <div class="form-group">
                        <label for="example-text-input" class="col-sm-12 col-form-label">Lưu ý khi đặt hàng:</label>
                        <div class="col-sm-12"><textarea class="form-control" name="" id="txtNoteOrder" cols="30" rows="5"><%=infoProduct.noteOrder%></textarea></div>
                     </div>
                     <div class="form-group">
                        <label for="example-text-input" class="col-sm-12 col-form-label">Bảng giá:</label>
                        <div class="col-sm-12"><textarea class="form-control" name="" id="txtPriceList" cols="30" rows="5"><%=infoProduct.priceList%></textarea></div>
                     </div>
                   </div>
                </div>
             </div>
             <div class="col-6">
               <div class="card m-b-20">
                  <div class="card-body">
                     <h4 class="mt-0 header-title">Hình ảnh sản phẩm và các thông tin khác</h4>
                     <p class="text-muted m-b-30"></p>
                    <div class="form-group">
                       <label for="example-text-input" class="col-sm-12 col-form-label">Ảnh chính:</label>
                       <div class="col-sm-12">
                           <div class="m-b-30"><form action="#" id="recommendationAvatarUpdate" accept="image/*" class="dropzone dz-clickable"><div class="dz-default dz-message"><span>Chọn ảnh hoặc kéo thả vào đây</span></div></form></div>
                       </div>
                    </div>
                    <div class="form-group">
                        <label for="example-text-input" class="col-sm-12 col-form-label">Ảnh sản phẩm:</label>
                        <div class="col-sm-12">
                           <div class="m-b-30"><form action="#" id="recommendationGalleryUpdate" accept="image/*" class="dropzone dz-clickable"><div class="dz-default dz-message"><span>Chọn ảnh hoặc kéo thả vào đây</span></div></form></div>
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="example-text-input" class="col-sm-12 col-form-label">File sản phẩm:</label>
                        <div class="col-sm-12">
                           <div class="m-b-30"><form action="#" id="recommendationDocumentUpdate" accept="image/*" class="dropzone dz-clickable"><div class="dz-default dz-message"><span>Chọn file hoặc kéo thả vào đây</span></div></form></div>
                        </div>
                     </div>
                     <!-- <div class="form-group">
                        <div style="height: 90px; width: 100% "></div>
                     </div> -->
                  </div>
               </div>
               <div class="card m-b-20">
                  <div class="card-body">
                        <h4 class="mt-0 header-title">Thêm sản phẩm con</h4>
                        <p>Lưu ý: 1 thuộc tính cha chỉ chọn được 1 thuộc tính con </p>
                        <!-- <div>
                           <label for="">Chọn thuộc tính</label>
                              <select class="form-control" name="" id="txtChooseProductVariant" multiple>
                                 <% infoProduct.variantOption.forEach(variant => { %>
                                       <% variant.childs.forEach(child => { %>
                                          <option value="<%= child._id%>"><%= variant.name%> - <%= child.name%></option>
                                       <% }) %>
                                 <% }) %>
                              </select>
                        </div> -->
                        <% infoProduct.variantOption.forEach((variant, index) => { %>
                           <div>
                              <label for=""><strong><%= variant.name %></strong></label>
                                 <select class="form-control txtChooseProductVariant<%= index%>" name="">
                                    <% variant.childs.forEach(child => { %>
                                       <% if (child.status == 1) { %>
                                          <option value="<%= child._id%>"><%= child.name%></option>
                                       <% } %>
                                    <% }) %>
                                 </select>
                           </div> <br>
                        <% }) %>

                        <div class="mt-4"style="display: flex;" >
                           <div>
                              <label>Số tiền gốc(VND)</label>
                              <input class="form-control" type="text" placeholder="VD: 100.000" id="txtPriceBeforeVariant">
                           </div>
                           <div style="margin-left: 10px;">
                              <label>Số tiền sau khi giảm(VND)</label>
                              <input class="form-control" type="text"  placeholder="VD: 70.000" id="txtPriceAfterVariant">
                           </div>
                           <div  style="margin-left: 10px;">
                              <label>Cân nặng(KG)</label>
                              <input class="form-control" type="text" placeholder="VD: 0.5KG" id="txtWeightVariant">
                           </div>
                        </div>
                     <br>
                     <button class="btn btn-info float-right btnAddProdctVariant" _productID = "<%= infoProduct._id%>" >Thêm sản phẩm con</button>
                  </div>
               </div>

               <div class="card m-b-20">
                  <div class="card-body">
                     <h4 class="mt-0 header-title">Danh sách phẩm con</h4>
                     <table class="content-table dataTable no-footer" id="datatableMenuParent" role="grid" aria-describedby="datatableMenuParent_info">
                        <thead>
                           <tr role="row">
                              <th style="width: 10%;" aria-label="Name: activate to sort column descending">STT</th>
                              <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 30%;" aria-label="Name: activate to sort column descending">Tên sản phẩm con</th>
                              <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 20%;" aria-label="Position: activate to sort column ascending">Số tiền</th>
                              <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 20%;" aria-label="Office: activate to sort column ascending">Số tiền sau khi giảm</th>
                              <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 20%;" aria-label="Age: activate to sort column ascending">Cân nặng</th>
                              <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 20%;" aria-label="Age: activate to sort column ascending">Tùy chọn</th>
                          </tr>
                        </thead>
                        <tbody>
                           <% listVariantV2.forEach((variantV2, index) => { %>
                              
                              <tr role="row" class="odd">
                                 <td colspan="1" tabindex="0" ><%= index + 1%></td>
                                 <td colspan="1" tabindex="0" >
                                    <% variantV2.variantOptions.forEach((variantOption, index1) => { %>
                                      <b><%= variantOption.name %></b> <% if (index1 < variantV2.variantOptions.length - 1) { %>
                                        >
                                       <% } %>
                                    <% }) %>
                                 </td>
                                 <td colspan="1"><%= variantV2.priceBefore && variantV2.priceBefore.toLocaleString('vi-VN', {style : 'currency', currency : 'VND'});%></td>
                                 <td colspan="1" ><%= variantV2.priceAfter && variantV2.priceAfter.toLocaleString('vi-VN', {style : 'currency', currency : 'VND'});%></td>
                                 <td colspan="1" >
                                    <%= variantV2.weigth%>
                                 </td>
                                 <td colspan="1">
                                    <div class="btn-group mb-2">
                                       <button type="button" class="btn btn-secondary btn-sm waves-effect waves-light">
                                             Tác vụ
                                       </button>
                                       <button type="button" class="btn btn-secondary btn-sm waves-effect waves-light dropdown-toggle-split dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                             <span class="sr-only">...</span>
                                       </button>
                                       <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(603px, 216px, 0px);">
                                             <a class="dropdown-item btnUpdateVariant" href="javascript:void(0)" _variantID="<%= variantV2._id%>"><i class="fa fa-edit"></i> Chỉnh sửa</a> 
                                             <a class="dropdown-item btnRemoveVariant" href="javascript:void(0)" _variantID="<%= variantV2._id%>"><i class="fa fa-trash"></i> Xóa</a> 
                                       </div>
                                    </div>
                                 </td>
                              </tr>
                          <% }) %>
                        </tbody>
                    </table>
                  </div>
               </div>
            </div>
             <!-- end col -->
          </div>
         <div style="margin-bottom: 20px;" class="text-center m-t-15"><button type="button" _productID="<%=infoProduct._id %> " class="btn btn-info waves-effect waves-light btnUpdateProduct">Cập nhật Sản phẩm</button></div>
          <!-- end row -->
       </div>
       <!-- container-fluid -->
    </div>
    <div class="modal fade bs-example-modal-sm popup-update-variant" role="dialog" aria-labelledby="mySmallModalLabel" style="display: none;" aria-hidden="true">
      <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title mt-0">Cập nhật sản phẩm con</h5>
                  <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              </div>
              <div class="modal-body">
                  <div class="form-group">
                     <label for="example-text-input" class="col-sm-12 col-form-label">Tên sản phẩm con:</label>
                     <div class="col-sm-12"><input class="form-control" type="text" value="" id="txtNameVariantChild" disabled></div>
                  </div>
                  <div class="form-group">
                     <div style="display: flex;">
                        <div class="col-sm-4">
                           <label for="example-text-input" class="col-sm-12 col-form-label">Số tiền gốc(VND)</label>
                           <input class="form-control" type="text" value="" id="txtPriceBeforeVariantChild">
                        </div>
                        <div class="col-sm-4">
                           <label for="example-text-input" class="col-sm-12 col-form-label">Số tiền sau khi giảm(VND)</label>
                           <input class="form-control" type="text" value="" id="txtPriceAfterVariantChild">
                        </div>
                        <div class="col-sm-4">
                           <label for="example-text-input" class="col-sm-12 col-form-label">Cân nặng(KG)</label>
                           <input class="form-control" type="text" min=1 value="" id="txtWeightVariantChild">
                        </div>
                     </div>
                  </div>
              </div>
              <div class="modal-footer">
                  <button class="btn btn-info btnConfirmUpdateVariant">Xác nhận</button>
              </div>
          </div>
      </div>
  </div>
    <!-- content -->
    <footer class="footer">© 2018 Lexa - <span class="d-none d-sm-inline-block">Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand</span>.</footer>
 </div>
 