<style>
    .avatar-upload {
        position: relative;
        max-width: 205px;
        margin: 35px auto;
    }
    .avatar-upload .avatar-edit {
        position: absolute;
        right: 12px;
        z-index: 1;
        top: 10px;
    }
    .avatar-upload .avatar-edit input {
        display: none;
    }
    .avatar-upload .avatar-edit input + label {
        display: inline-block;
        width: 34px;
        height: 34px;
        margin-bottom: 0;
        border-radius: 100%;
        background: #FFFFFF;
        border: 1px solid transparent;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
        cursor: pointer;
        font-weight: normal;
        transition: all 0.2s ease-in-out;
    }
    .avatar-upload .avatar-edit input + label:hover {
        background: #f1f1f1;
        border-color: #d6d6d6;
    }
    .avatar-upload .avatar-edit input + label:after {
        content: "\f040";
        font-family: 'FontAwesome';
        color: #757575;
        position: absolute;
        top: 10px;
        left: 0;
        right: 0;
        text-align: center;
        margin: auto;
    }
    .avatar-upload .avatar-preview {
        width: 192px;
        height: 192px;
        position: relative;
        border: 6px solid #F8F8F8;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    }
    .avatar-upload .avatar-preview > div {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .qrcode-preview {
        width: 190px;
        height: 190px;
        position: relative;
        border: 6px solid #F8F8F8;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
        margin: 30px auto;
    }
    .qrcode-preview > img {
        width: 100%
    }
</style>
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                   <div class="page-title-box">
                      <h4 class="page-title">Cập nhật bài viết</h4>
                      <ol class="breadcrumb">
                         <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                         <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                         <li class="breadcrumb-item active">Tạo bài viết</li>
                      </ol>
                      <!-- <div class="state-information d-none d-sm-block">
                         <div class="state-graph">
                            <div id="header-chart-1">
                               <canvas width="101" height="35" style="display: inline-block; width: 101px; height: 35px; vertical-align: top;"></canvas>
                            </div>
                            <div class="info">Balance $ 2,317</div>
                         </div>
                         <div class="state-graph">
                            <div id="header-chart-2">
                               <canvas width="101" height="35" style="display: inline-block; width: 101px; height: 35px; vertical-align: top;"></canvas>
                            </div>
                            <div class="info">Item Sold 1230</div>
                         </div>
                      </div> -->
                   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <div class="form-group row pt-3">
                                <label for="example-text-input" class="col-sm-2 col-form-label">Tiêu đề</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" placeholder="Nhập tên bài viết" id="txtTitleUpdate" value="<%= infoPost && infoPost.title %>">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-text-input" class="col-sm-2 col-form-label">Slug</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" id="txtSlugUpdate" value="<%= infoPost && infoPost.slug %>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Mô Tả ngắn</label>
                                <div>
                                    <textarea class="form-control" id="txtShortDescriptionUpdate" rows="5"><%= infoPost && infoPost.description %></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card m-b-20">
                        <div class="card-body">
                            <div class="form-group">
                                <label class="col-form-label">Chi tiết</label>
                                <textarea id="txtContentUpdate">
                                    <%= infoPost && infoPost.content %>
                                </textarea>
                            </div>
                        </div>
                    </div>
                </div>

				<div class="col-md-4">
                    <div class="card m-b-20">
                       <div class="card-body">
                            <h4 class="mt-0 header-title">Tùy Chọn</h4>
                            <div>
                                <label class="col-form-label">Danh Mục</label>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <select class="form-control" id="txtCategoryUpdate">
                                            <% listCategories && listCategories.length && listCategories.forEach(category => { %>
                                                <% let isSelected = infoPost.category && infoPost.category._id.toString() === category._id.toString() %> 
                                                <option value="<%= category._id %>"
                                                    <%=  isSelected && 'selected' %>> 
                                                    <%= category.name %> 
                                                </option>
                                            <% }) %>
                                        </select>
                                    </div>
                                </div>
                                <label class="col-form-label">Hashtag</label>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <% let seoKeyword = infoPost.seo && infoPost.seo.join(',') %> 
                                        <input class="form-control" type="text" placeholder="VD: in nhiệt, in nhanh" id="txtSeoUpdate" value="<%= seoKeyword %>">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Trạng Thái</label>
                                            <div>
                                                <div class="input-group">
                                                    <input id="switchStatusUpdate" switch="dark" type="checkbox" <%= infoPost.status === 1 && 'checked' %>> 
                                                    <label for="switchStatusUpdate" data-on-label="On" data-off-label="Off"></label> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="card m-b-20">
                       <div class="card-body">
                            <h4 class="mt-0 header-title">Hình Ảnh</h4>
                            <br>
                            <div class="container">
                                <div class="avatar-upload">
                                    <div class="avatar-edit">
                                        <input type="file" id="blogImageUpdate" accept=".png, .jpg, .jpeg" />
                                        <label for="blogImageUpdate"></label>
                                    </div>
                                    <div class="avatar-preview">
                                        <% if (infoPost && infoPost.image) { %>
                                            <div id="imagePreview" style="background-image: url(<%= infoPost.image.path %>);"></div>
                                        <% } else { %>
                                            <div id="imagePreview" style="background-image: url(https://via.placeholder.com/500x500);"></div>
                                        <% } %> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-success btn-block waves-effect waves-light btn-lg" id="btnUpdateBlog" _postID="<%= infoPost._id %>">
                        Cập nhập
                    </button>
                    <a href="/admin/list-post" class="btn btn-outline-success btn-block waves-effect waves-light btn-lg">
                        Quay lại danh sách
                    </a>
                </div>
            </div>
        </div>
        <!-- container-fluid -->
    </div>
    <!-- content -->
    <%include ./utils/footer.ejs%>
</div>