<% include layout/enduser/header.ejs %>
<%- include(render.inc) %>
<% include layout/enduser/footer.ejs %>

<% include ./inc/enduser/scripts/home-script.ejs %>

<% if (render.code === "HOME_ENDUSER") { %>
	<%- include ./inc/enduser/scripts/home_main-script.ejs %>
<% } %>

<% if (render.code === CF_ROUTINGS_PRODUCT.INFO_PRODUCT) { %>
	<%- include ./inc/enduser/scripts/info_product-script.ejs %>
<% } %>

<% if (render.code === "POST_DETAIL") { %>
	<%- include ./inc/enduser/scripts/blog-script.ejs %>
<% } %>

<% if (render.code === "MY-ACCOUNT") { %>
	<%- include ./inc/enduser/scripts/my_account-script.ejs %>
<% } %>

<% if (render.code === "CHANGE_PASSWORD") { %>
	<%- include ./inc/enduser/scripts/change_password-script.ejs %>
<% } %>

<% if (render.code === "LIST_ADDRESS") { %>
	<%- include ./inc/enduser/scripts/list_address-script.ejs %>
<% } %>

<% if (render.code === "ADD_ADDRESS") { %>
	<%- include ./inc/enduser/scripts/add_address-script.ejs %>
<% } %>

<% if (render.code === "UPDATE_ADDRESS") { %>
	<%- include ./inc/enduser/scripts/update_address-script.ejs %>
<% } %>

<% if (render.code === "MY_CART") { %>
	<%- include ./inc/enduser/scripts/order-script.ejs %>
<% } %>

<% if (render.code === "DETAIL_ORDER") { %>
	<%- include ./inc/enduser/scripts/detail_order-script.ejs %>
<% } %>

