<% include layout/admin/header.ejs %>
    <%- include(render.inc) %>
<% include layout/admin/footer.ejs %>

<% if (render.code === CF_ROUTINGS_ACCOUNT.ADMIN_PROFILE || render.code === CF_ROUTINGS_ACCOUNT.ADMIN_ADD_USER || render.code === CF_ROUTINGS_ACCOUNT.ADMIN_SETTINGS) { %>
	<%- include inc/admin/scripts/create-admin-script %> 
<% } %>

<% if (render.code === CF_ROUTINGS_ACCOUNT.ADMIN_LIST) { %>
	<%- include inc/admin/scripts/list-admin-script %> 
<% } %>

<%if (render.inc == 'inc/admin/list-review-customer.ejs'){%>
    <%- include inc/admin/scripts/list-review-customer-script.ejs %>
<%}%>

<%if (render.inc == 'inc/admin/info-company.ejs'){%>
    <%- include inc/admin/scripts/info-company-script.ejs %>
<%}%>

<%if (render.code == CF_ROUTINGS_ACCOUNT.ADD_COMPANY_INFOMATION ){%>
    <%- include inc/admin/scripts/add-company-infomation-script.ejs %>
<%}%>

<%if (render.code == CF_ROUTINGS_ACCOUNT.UPDATE_COMPANY_INFOMATION ){%>
    <%- include inc/admin/scripts/info-company-script.ejs %>
<%}%>

<% if (render.code === CF_ROUTINGS_ACCOUNT.ADMIN_MANAGE_MENU) { %>
	<%- include inc/admin/scripts/manage-menu-script.ejs %> 
<% } %>

<% if (render.code === CF_ROUTINGS_ACCOUNT.ADMIN_MANAGE_MENU_DETAIL) { %>
	<%- include inc/admin/scripts/manage-menu-detail-script.ejs %> 
<% } %>

<% if (render.code === CF_ROUTINGS_ACCOUNT.ADMIN_ADD_PRODUCT) { %>
	<%- include inc/admin/scripts/add-product-script.ejs %> 
<% } %>

<% if (render.code === CF_ROUTINGS_CUSTOMER.ADD_ACCOUNT_USER || 
		render.code === CF_ROUTINGS_CUSTOMER.ADD_ADDRESS_CUSTOMER) { %>
	<%- include inc/admin/scripts/add-account-script.ejs %> 
<% } %>

<% if (render.code === CF_ROUTINGS_ACCOUNT.LIST_ACCOUNT_OF_USER) { %>
	<%- include inc/admin/scripts/list-account-script.ejs %> 
<% } %>

<% if (render.code === CF_ROUTINGS_ACCOUNT.ADMIN_LIST_PRODUCT) { %>
	<%- include inc/admin/scripts/list-product-script.ejs %> 
<% } %>

<% if (render.code === CF_ROUTINGS_ACCOUNT.ADMIN_UPDATE_PRODUCT) { %>
	<%- include inc/admin/scripts/update-product-script.ejs %>
	<%# include inc/admin/scripts/add-product-script.ejs %> 
<% } %>

<% if (render.code === CF_ROUTINGS_ACCOUNT.UPDATE_ACCOUNT_OF_USER) { %>
	<%- include inc/admin/scripts/update-account-script.ejs %>
<% } %>

<% if (render.code === CF_ROUTINGS_ACCOUNT.ADMIN_HOME) { %>
	<%- include inc/admin/scripts/manage-admin-home-script.ejs %> 
<% } %>

<% if (render.code === CF_ROUTINGS_ACCOUNT.LIST_CATEGORY ||
		render.code === CF_ROUTINGS_ACCOUNT.INFO_CATEGORY) { %>
    <% include inc/admin/scripts/list-category-script %> 
<% } %>

<% if (render.code === CF_ROUTINGS_PUBLIC.VIEW_COMMENT ) { %>
    <% include inc/admin/scripts/list-comment-script %> 
<% } %>

<% if (render.code === CF_ROUTINGS_ACCOUNT.LIST_REVIEW_CUSTOMER) { %>
    <% include inc/admin/scripts/list-review-customer-script %> 
<% } %>

<% if (render.code === CF_ROUTINGS_ACCOUNT.LIST_EMAIL_CUSTOMER) { %>
    <% include inc/admin/scripts/list-email-customer-script %> 
<% } %>

<% if (render.code === CF_ROUTINGS_ACCOUNT.LIST_POST ||
		render.code === CF_ROUTINGS_ACCOUNT.ADD_POST ||
		render.code === CF_ROUTINGS_ACCOUNT.UPDATE_POST) { %>
	<%- include inc/admin/scripts/manage-blog-script.ejs %>
<% } %>

<% if (render.code === CF_ROUTINGS_VARIANT.LIST_VARIANT) { %>
    <% include inc/admin/variant/scripts/list_variant-script.ejs %> 
<% } %>

<% if (render.code === CF_ROUTINGS_VARIANT.LIST_VARIANT2) { %>
    <% include inc/admin/variant/scripts/list_variant_v2-script.ejs %> 
<% } %>

<% if (render.code === CF_ROUTINGS_ORDER.LIST_ORDER) { %>
    <% include inc/admin/scripts/list-order-script.ejs %> 
<% } %>

<% if (render.code === CF_ROUTINGS_ORDER.INFO_ORDER) { %>
    <% include inc/admin/scripts/detail-order-script.ejs %> 
<% } %>

<% if (render.code === CF_ROUTINGS_ACCOUNT.LIST_ACCOUNT_OF_USER) { %>
    <% include inc/admin/scripts/list_customer-script.ejs %> 
<% } %>

<% if (render.code === CF_ROUTINGS_SLIDE.LIST_SILDE) { %>
    <% include inc/admin/slide/scripts/list-slide-script.ejs %> 
<% } %>

<% if (render.code === CF_ROUTINGS_GOOD_PROJECT.LIST_GOOD_PROJECT) { %>
    <% include inc/admin/good_project/scripts/list-good-project-script.ejs %> 
<% } %>

<% if (render.code === CF_ROUTINGS_PERSONNEL_TEAM.LIST_PERSONNEL_TEAM) { %>
    <% include inc/admin/personnel_team/scripts/list_personnel-script.ejs %> 
<% } %>

<% if (render.code === CF_ROUTINGS_GALLERY_PRODUCT.LIST_GALLERY_PRODUCT) { %>
    <% include inc/admin/gallery_product/scripts/list_gallery_product-script.ejs %> 
<% } %>

<% if (render.code === CF_ROUTINGS_ORDER.LIST_PRICE_SHIP) { %>
    <% include inc/admin/scripts/list-price-ship-script.ejs %>
<% } %>

<% if (render.code === CF_ROUTINGS_ACCOUNT.LIST_KEYWORD) { %>
    <% include inc/admin/scripts/list-keyword-script.ejs %>
<% } %>

<!-- ==================== QUẢN LÝ INFO COMPANY ==================== -->
<% if (render.code === "/admin/info-company") { %>
	<%- include("../package/info_company/views/scripts/info_company-script.ejs") %>
<% } %>


