<% 
	let totalPage = Math.ceil(infoListComment.total / infoListComment.perPage);
%>

<% if (totalPage > 1) { %>
	<nav aria-label="Page navigation example" class="pagination-comment mt-4">
		<ul class="pagination justify-content-end">
			<li class="page-item <%= infoListComment.currentPage <= 1 && 'disabled' %>">
				<a 
					href="javascript:void(0)" 
					class="page-link page-previous" 
					style="border-radius: 8px;"
					_currentPage="<%= infoListComment.currentPage %>"
					_totalPage="<%= totalPage %>"
				>
					<i class="fas fa-chevron-left"></i>
				</a>
			</li>
	
			<% for( let index = 1; index <= totalPage; index++ ) { %>
				<li class="page-item <%= index === infoListComment.currentPage && 'active' %>">
					<a class="page-link" href="javascript:void(0)" _currentPage="<%= index %>" _totalPage="<%= totalPage %>">
						<%= index %>
					</a>
				</li>
			<% } %>
	
			<li class="page-item <%= infoListComment.currentPage === totalPage && 'disabled' %>">
				<a 
					href="javascript:void(0)" 
					class="page-link page-next" 
					style="border-radius: 8px;"
					_currentPage="<%= infoListComment.currentPage %>" 
					_totalPage="<%= totalPage %>"
				>
					<i class="fas fa-chevron-right"></i>
				</a>
			</li>
		</ul>
	</nav>
<% } %>
