<% if (!product.priceAfter) { %>
    <div class="new-product-item product-item-card wrapper-item-card-common wrapper-item-card-common__service">
        <div class="card wrapper-card">
            <a href="/san-pham/<%= product.slug%>">
                <img src="<%= product.avatar && product.avatar.path %>" class="card-img-top img-fluid" alt="...">
            </a>
            <div class="card-body">
				<a href="/san-pham/<%= product.slug%>" style="color: #212529;">
					<h5 class="card-title">
                        <%= product.name%>
					</h5>
				</a>

				<p class="card-description text-capitalize" title="<%= product.description %>">
					<%= product.description.length > 50 ? product.description.substr(0, 50) + '...' : product.description %>
				</p>
                <p class="card-price">
                    <span class="card-price-text"><%= product.priceBefore && product.priceBefore.toLocaleString('vi-VN', {style : 'currency', currency : 'VND'});%></span>
                </p>
                <div class="d-grid gap-2">
                    <a href="javascript:void(0)" class="btn btn-primary btn-add-cart" _productID="<%= product._id %>">
                        Thêm vào giỏ
                    </a>
                </div>
            </div>
        </div>
    </div>
<% } else{ %>
    <div class="flash-sale-item product-item-card wrapper-item-card-common wrapper-item-card-common__service">
        <div class="card wrapper-card">
			<a href="/san-pham/<%= product.slug%>">
            	<img src="<%= product.avatar && product.avatar.path %>" class="card-img-top img-fluid" alt="...">
			</a>

            <% if (product.flashSale) { %>
                <div class="flash-sale-card" style="z-index: 1;">
                    <img src="/template/hailuu-fe/assets/images/Group 18100.svg" alt="Flash - sale">
                </div>
            <% } %>

            <div class="discount-card">
                <span>-<%= percentDiscount(product.priceBefore, product.priceAfter)%> %</span>
				<img src="/template/hailuu-fe/assets/images/Rectangle 20506.png" alt="Discount">
                <!-- <a href="/san-pham/<%#= product.slug%>"> -->
                    <!-- <img width="200" height="200" src="<%#= product.avatar && product.avatar.path %>" alt="Discount"> -->
                <!-- </a> -->
            </div>
            <div class="card-body">
                <a href="/san-pham/<%= product.slug%>" style="color: #212529;">
                    <h5 class="card-title">
                        <%= product.name%>
                    </h5>
                </a>

                <a href="/san-pham/<%= product.slug%>" style="color: #212529;">
                    <p class="card-description text-capitalize" title="<%= product.description %>">
                        <%= product.description.length > 50 ? product.description.substr(0, 50) + '...' : product.description %>
                    </p>
                </a>

                <p class="card-price">
                    <a href="/san-pham/<%= product.slug%>" style="color: #212529;">
                        <span class="card-price-text"><%= product.priceAfter && product.priceAfter.toLocaleString('vi-VN', {style : 'currency', currency : 'VND'}); %></span>
                        &nbsp;&nbsp;<span class="card-cost-text">
                            <strike><%= product.priceBefore && product.priceBefore.toLocaleString('vi-VN', {style : 'currency', currency : 'VND'});%></strike>
                        </span>
                    </a>
                </p>
                <div class="d-grid gap-2">
                    <a href="javascript:void(0)" class="btn btn-primary btn-add-cart" _productID="<%= product._id %>">
                        Thêm vào giỏ
                    </a>
                </div>
            </div>
        </div>
    </div>
<% } %>