<div class="box-detail-account box-personal-category mb-4">
    <h6>Danh Mục</h6>
    <hr />
    <div class="wrapper-personal-tab">
        <%
            let arrLerfbarAccount = [
                {
                    href: "/tai-khoan", name: "Tài Khoản Của Tôi", alt: "account", imageActive: "Mask Group 105.svg", imageInActive: "Mask Group 1111.svg"
                },
                {
                    href: "/mat-khau", name: "Thay Đổi Mật Khẩu", alt: "Password", imageActive: "Mask Group 109.svg", imageInActive: "Mask Group 108.svg"
                },
                {
                    href: "/so-dia-chi", name: "Số Địa Chỉ",  alt: "Address", imageActive: "Mask Group 111.png", imageInActive: "Mask Group 106.svg"
                },
                {
                    href: "/don-dat-hang", name: "Quản Lý Đơn Hàng",  alt: "Order", imageActive: "Mask Group 112.svg", imageInActive: "Mask Group 107.svg"
                },
            ]
        %>
        <ul>
            <% arrLerfbarAccount.forEach((item, index) => { %>
                <%  
                    let classActive = "" 
                    if(hrefCurrent.includes(item.href)){
                        classActive = "active" 
                    }
                %>
                <li class="<%= classActive %>">
                    <a href="<%= item.href %>">
                        <% if (classActive) { %>
                            <img src="/template/hailuu-fe/assets/images/<%= item.imageActive%>" alt="<%= item.alt%>" class="me-2">
                        <% }else{ %>
                            <img src="/template/hailuu-fe/assets/images/<%= item.imageInActive%>" alt="<%= item.alt%>" class="me-2">
                        <% } %>
                       <%= item.name %>
                    </a>
                </li>
            <% }) %>
        </ul>
    </div>
</div>
<div class="box-detail-account box-contact mt-4 text-center">
    <img src="/template/hailuu-fe/assets/images/bg-18105.svg" alt="" class="mt-4 img-fluid">
    <div class="wrapper-contact">
        <h5>Bạn có thắc mắc</h5>
        <p>Hãy để chúng tôi có thể giải đáp các thắc mắc và yêu cầu của bạn.</p>
        <div class="d-grid gap-2">
            <a href="tel:<%= infoCompanyEndUser && infoCompanyEndUser.hotline %>" style="display: block; width: 100%" >
                <button class="btn btn-primary btn-contact d-flex justify-content-center align-items-center" style="width: 100%">
                    <img src="/template/hailuu-fe/assets/images/Mask Group 18.svg" alt="Phone" class="me-2" >
                    <span><%= infoCompanyEndUser && infoCompanyEndUser.hotline %></span>
                </button>
            </a>
        </div>
    </div>
</div>