
<div class="container-customer-talk mt-5">
	<div class="row text-center">
		<h5 class="customer-title m-auto">Khách Hàng Nói gì Về <span>Hailuu.Vn</span></h5>
		<p class="customer-description mt-4">
			Hơn <span>3000+</span> khách hàng tin tưởng, hợp tác và xây dựng các dự án in ấn, thiết kế.
		</p>

		<div class="swiper-container swiper-customer mt-5 swiper-customer__mobile">
			<div class="swiper-wrapper slide-customer">
				<% listCustomerReview && listCustomerReview.forEach(customerReview => { %>
					<div class="swiper-slide slide-customer-item">
						<div class="d-flex flex-swiper-customer__mobile">
							<img src="<%= customerReview.image.path%>" alt="Customer Avatar" class="img-fluid me-4 rounded-circle">
							<div class="customer-intro text-start">
								<h6 class="customer-name"><%= customerReview.fullname%></h6>
								<i><%= customerReview.position%> / <%= customerReview.company%></i>
								<p class="mt-2">
									<%= customerReview.content%>
								</p>
							</div>
						</div>    
					</div>
				<% }) %>
			</div>
			<div class="swiper-pagination"></div>
		</div>
	</div>

	<div class="row text-center d-flex justify-content-between flex-wrap d-none">
		<div class="col-6 col-sm-4 col-md-2">
			<img src="./assets/images/01.png" alt="">
		</div>
		<div class="col-6 col-sm-4 col-md-2">
			<img src="./assets/images/02.png" alt="">
		</div>
		<div class="col-6 col-sm-4 col-md-2">
			<img src="./assets/images/03.png" alt="">
		</div>
		<div class="col-6 col-sm-4 col-md-2">
			<img src="./assets/images/04.png" alt="">
		</div>
		<div class="col-6 col-sm-4 col-md-2">
			<img src="./assets/images/06.png" alt="">
		</div>
	</div>
</div>