<style>
	.input-otp {
	-moz-appearance: textfield;
	appearance: textfield;
	margin: 0;
	}
	.input-otp::-webkit-inner-spin-button,
	.input-otp::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
</style>
<!-- ==============================  START MODAL ================================== -->
<!-- modal sign-in -->
<div class="modal-custom modal-signin">
	<div class="modal-custom-dialog">
		<div class="modal-custom-body">
			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-6">
						<div class="wrapper-form-modal">
							<div class="modal-custom-title text-center pt-5 mb-4">
								<h5>Đăng Nhập</h5>
								<p>Chào bạn đã quay lại! Đăng nhập tài khoản ngay</p>
							</div>
							<div class="modal-custom-form">
								<input type="email" class="form-control" id="inputEmailLoginAccount" placeholder="Địa chỉ email">
								<input type="password" class="form-control" id="inputPasswordLoginAccount" placeholder="Mật khẩu tài khoản">
								<div class="d-grid gap-2" style="cursor: pointer;">
									<button class="btn btn-primary mb-3" id="btnLoginAccount" disabled>Đăng Nhập Tài Khoản</button>
								</div>
								<div class="invalid-feedback invalid-feedback-login mb-3 d-none">
									Thông tin đăng nhập không đúng, vui lòng kiểm tra lại địa chỉ email hoặc mật khẩu
								</div>
								<div>
									<a href="javascript:void(0)" class="btn-forgot-password" style="color: #464646; font-weight: 400;">Quên mật khẩu?</a>
									<!-- <a href="javascript:void(0)" class="btn-create-new-password" style="color: black; font-weight: 700;">Khôi phục mật khẩu</a> -->
								</div>
							</div>
							<div class="modal-custom-footer">
								<span>Bạn chưa có tài khoản tại Hailuu.vn?</span>
								<a href="javascript:void(0)" class="btn-signup">Đăng ký ngay</a>
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-6">
						<button class="btn btn-close-modal">
							<img src="/template/hailuu-fe/assets/images/Group 18115.png" alt="Close Modal">
						</button>
						<img src="/template/hailuu-fe/assets/images/5139355.png" alt="Signin - Image">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- modal sign-up -->
<div class="modal-custom modal-signup">
	<div class="modal-custom-dialog">
		<div class="modal-custom-body">
			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-6">
						<div class="wrapper-form-modal">
							<div class="modal-custom-title text-center pt-5 mb-4">
								<h5>Đăng Ký</h5>
								<p>Tạo tài khoản mới và đồng hành cùng Hailuu.vn</p>
							</div>
							<div class="modal-custom-form">
								<input type="email" class="form-control" id="inputEmailCreateAccount" placeholder="Địa chỉ email">
								<input type="text" class="form-control" id="inputFullnameCreateAccount" placeholder="Họ và tên của bạn">
								<input type="password" class="form-control" id="inputPasswordCreateAccount" placeholder="Mật khẩu tài khoản">
								<div class="d-grid gap-2">
									<button class="btn btn-primary mb-3" id="btnCreateAccount" disabled>Tạo Tài Khoản mới</button>
								</div>
								<div class="invalid-feedback invalid-feedback-register mb-3 d-none">
									Tài khoản email đã tồn tại. Vui lòng chọn email khác hoặc đăng nhập vào tài khoản này
								</div>
							</div>
							<div class="modal-custom-footer">
								<span>Bạn đã có tài khoản tại Hailuu.vn?</span>
								<a href="javascript:void(0)" class="btn-signin">Đăng nhập ngay</a>
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-6">
						<button class="btn btn-close-modal">
							<img src="/template/hailuu-fe/assets/images/Group 18115.png" alt="Close Modal">
						</button>
						<img src="/template/hailuu-fe/assets/images/4853351.png" alt="Signin - Image">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- modal create new password -->
<div class="modal-custom modal-create-new-password">
	<div class="modal-custom-dialog">
		<div class="modal-custom-body">
			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-6">
						<div class="wrapper-form-modal">
							<div class="modal-custom-title text-center pt-5 mb-4">
								<h5>Tạo Mật Khẩu Mới</h5>
								<p>Mã xác thực và số điện thoại hợp lệ. Vui lòng nhập mật khẩu mới cho tài khoản của bạn.</p>
							</div>
							<div class="modal-custom-form">
								<input type="password" class="form-control" placeholder="Mật khẩu mới" id="txtNewPassword">
								<input type="password" class="form-control" placeholder="Nhập lại mật khẩu mới" id="txtNewPasswordConfirm">
								<div class="d-grid gap-2">
									<button class="btn btn-primary mb-3 btnConfimUpdatePassword">Hoàn tất</button>
								</div>
							</div>
							<div class="modal-custom-footer">
								<span>Bạn chưa có tài khoản tại Hailuu.vn?</span>
								<a href="javascript:void(0)" class="btn-signup">Đăng ký ngay</a>
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-6">
						<button class="btn btn-close-modal">
							<img src="/template/hailuu-fe/assets/images/Group 18115.png" alt="Close Modal">
						</button>
						<img src="/template/hailuu-fe/assets/images/5236768.png" alt="Signin - Image">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- modal forgot password -->
<div class="modal-custom modal-forgot-password">
	<div class="modal-custom-dialog">
		<div class="modal-custom-body">
			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-6">
						<a href="javascript:void(0)" class="btn-back-step back-login">
							<img src="/template/hailuu-fe/assets/images/Mask Group 22.png" alt="Button Back">
						</a>
						<div class="wrapper-form-modal">
							<div class="modal-custom-title text-center pt-5 mb-4">
								<h5>Quên Mật Khẩu</h5>
								<p>
									Vui lòng nhập địa chỉ email mà bạn đã tạo tài khoản tại Hailuu.vn để khôi phục lại mật khẩu
								</p>
							</div>
							<div class="modal-custom-form">
								<input type="email" class="form-control" placeholder="Địa chỉ email của bạn" id="txtEmalForgotPassword">
								<!-- <input type="email" class="form-control is-invalid" placeholder="Địa chỉ email của bạn"> -->
								<div class="d-grid gap-2" style="cursor: pointer;">
									<button class="btn btn-primary mb-3 btn-send-email-forgot-password" disabled>Tiếp Theo</button>
								</div>
								<div class="invalid-feedback mb-3">
									Địa chỉ email không tồn tại
								</div>
							</div>
							<div class="modal-custom-footer">
								<span>Bạn chưa có tài khoản tại Hailuu.vn?</span>
								<a href="javascript:void(0)" class="btn-signup">Đăng ký ngay</a>
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-6">
						<button class="btn btn-close-modal">
							<img src="/template/hailuu-fe/assets/images/Group 18115.png" alt="Close Modal">
						</button>
						<img src="/template/hailuu-fe/assets/images/5236768.png" alt="Signin - Image">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- modal send otp -->
<div class="modal-custom modal-send-otp">
	<div class="modal-custom-dialog">
		<div class="modal-custom-body">
			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-6">
						<a href="javascript:void(0)" class="btn-back-step back-press-email-forgot-pass">
							<img src="/template/hailuu-fe/assets/images/Mask Group 22.png" alt="Button Back">
						</a>
						<div class="wrapper-form-modal">
							<div class="modal-custom-title text-center pt-5 mb-4">
								<h5>Mã Xác Thực</h5>
								<p>
									Vui lòng nhập mã xác thực đã được gửi qua email mà bạn đã đăng ký tài khoản tại Hailuu.vn
								</p>
							</div>
							<div class="modal-custom-form">
								<div class="wrapper-input-otp">
									<input type="number" class="form-control input-otp number-otp-1" placeholder="" maxLength="1" size="1" min="0" max="1" pattern="[0-1]{1}" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
									<input type="number" class="form-control input-otp number-otp-2" placeholder="" maxLength="1" size="1" min="0" max="1" pattern="[0-1]{1}" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
									<input type="number" class="form-control input-otp number-otp-3" placeholder="" maxLength="1" size="1" min="0" max="1" pattern="[0-1]{1}" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
									<input type="number" class="form-control input-otp number-otp-4" placeholder="" maxLength="1" size="1" min="0" max="1" pattern="[0-1]{1}" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
									<input type="number" class="form-control input-otp number-otp-5" placeholder="" maxLength="1" size="1" min="0" max="1" pattern="[0-1]{1}" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
									<input type="number" class="form-control input-otp number-otp-6" placeholder="" maxLength="1" size="1" min="0" max="1" pattern="[0-1]{1}" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
								</div>
								<div class="d-grid gap-2">
									<button class="btn btn-primary mb-3 btnConfirmCodeReset">Xác Nhận Mã Xác Thực</button>
								</div>
								<div class="invalid-feedback mb-3">
									Nhập sai mã code. Vui lòng kiểm tra lại
								</div>
									<label> Không nhận được mã?
									<a href="javascript:void(0)" class="btn-send-email-forgot-password-again">Gửi lại mã xác thực</a>
								</label>
							</div>
							<div class="modal-custom-footer">
								<span>Bạn chưa có tài khoản tại Hailuu.vn?</span>
								<a href="javascript:void(0)" class="btn-signup">Đăng ký ngay</a>
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-6">
						<button class="btn btn-close-modal">
							<img src="/template/hailuu-fe/assets/images/Group 18115.png" alt="Close Modal">
						</button>
						<img src="/template/hailuu-fe/assets/images/5236768.png" alt="Signin - Image">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- modal child service -->
<div class="modal-custom modal-child-service">
	<div class="modal-custom-dialog">
		<div class="modal-custom-body">
			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-4 section-parent-service d-flex justify-content-between">
						<div class="text-center" style="margin-left: 15px">
							<img id="imageMenuChild" src="/template/hailuu-fe/assets/images/pawel-czerwinski-3k9PGKWt7ik-unsplash@2x.png" alt="Parent Service" class="img-fluid mb-3">
							<div class="text-center">
								<h5 id="titleMenuChilds">IN MÀU</h5>
								<p id="descriptionMenuChilds">
									Chuyên cung cấp các dịch vụ in ấn màu với chất lượng sản phầm tốt nhất
								</p>
							</div>
						</div>
						<div class="border-right"></div>
					</div>
					<div class="col-12 col-sm-8 section-child-service mt-2">
						<div class="d-flex flex-wrap container-list-product-childs">
							<div class="d-flex box-child-service">
								<img src="/template/hailuu-fe/assets/images/restaurant-menu-template_23-2148466839.png" alt="Product" class="img-fluid me-3">
								<div class="wrapper-info-service">
									<h6 class="text-capitalize">In Namecard phổ thông</h6>
									<span class="text-capitalize">
										Bảng giá in bao thư giấy (F100) - Giấy F100 - In màu 1 mặt, 2 mặt
									</span>
									<strong>300.000 Đ</strong>
								</div>
							</div>
							<div class="d-flex box-child-service">
								<img src="/template/hailuu-fe/assets/images/restaurant-menu-template_23-2148466839.png" alt="Product" class="img-fluid me-3">
								<div class="wrapper-info-service">
									<h6 class="text-capitalize">In Namecard phổ thông</h6>
									<span class="text-capitalize">
										Bảng giá in bao thư giấy (F100) - Giấy F100 - In màu 1 mặt, 2 mặt
									</span>
									<strong>300.000 Đ</strong>
								</div>
							</div>
							<div class="d-flex box-child-service">
								<img src="/template/hailuu-fe/assets/images/restaurant-menu-template_23-2148466839.png" alt="Product" class="img-fluid me-3">
								<div class="wrapper-info-service">
									<h6 class="text-capitalize">In Namecard phổ thông</h6>
									<span class="text-capitalize">
										Bảng giá in bao thư giấy (F100) - Giấy F100 - In màu 1 mặt, 2 mặt
									</span>
									<strong>300.000 Đ</strong>
								</div>
							</div>
							<div class="d-flex box-child-service">
								<img src="/template/hailuu-fe/assets/images/restaurant-menu-template_23-2148466839.png" alt="Product" class="img-fluid me-3">
								<div class="wrapper-info-service">
									<h6 class="text-capitalize">In Namecard phổ thông</h6>
									<span class="text-capitalize">
										Bảng giá in bao thư giấy (F100) - Giấy F100 - In màu 1 mặt, 2 mặt
									</span>
									<strong>300.000 Đ</strong>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="backdrop"></div>
</div>

<!-- ==============================  END MODAL ================================== -->
