<style>
    #openPoupUpAddSlide{
        color: #58db83;
    }
    #openPoupUpAddSlide:hover{
        color: #ffffff;
    }
</style>

<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                   <div class="page-title-box">
                      <h4 class="page-title">Danh Sách Slide</h4>
                      <!-- <ol class="breadcrumb">
                         <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                         <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                         <li class="breadcrumb-item active">Danh Sách Slide</li>
                      </ol> -->
                   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <div class="col-lg-12 d-flex justify-content-end">
                                <a class="btn btn-outline-success waves-effect waves-light" id="openPoupUpAddSlide">
                                    + Tạo Slide
                                </a>
                            </div>
                            <br>
                            <table class="content-table" id="container-list-slide">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tiêu đề</th>
                                        <th>Mô tả ngắn</th>
                                        <th>Hình ảnh</th>
										<th>Ngày tạo</th>
                                        <th>Trạng thái</th>
                                        <th>Tuỳ chọn</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (listSlide && listSlide.length > 0) { %>
                                        <% listSlide.forEach(( slide, index ) => { %>
                                            <% if (slide) { %>
                                                <tr _slideID="<%=slide._id%>">
                                                    <th>
                                                        <%= index + 1 %>
                                                    </th>
                                                    <td>
                                                        <i>
                                                            <%= slide.title && slide.title %>
                                                        </i>
                                                    </td>
                                                    <td>
                                                        <i>
                                                            <%= slide.description && slide.description %>
                                                        </i>
                                                    </td>
                                                    <td>
                                                        <a href="<%= slide.image.path %>" target="_blank">
                                                            <img class="img-fluid img-thumbnail rounded" src="<%= slide.image.path %>" width="150px">
                                                        </a>
                                                    </td>
													<td>
														<%= moment(slide.createAt).format('L') %> 
													</td>
                                                    <td>
                                                        <% if (slide.status && slide.status) { %>
                                                            <span class="badge badge-pill badge-success">
                                                                Hoạt Động
                                                            </span>
                                                        <% }else{ %>
                                                            <span class="badge badge-danger">
                                                                Không Hoạt Động
                                                            </span>
                                                        <% } %>
                                                    </td>
                                                    <td>

                                                        <div class="btn-group mo-mb-2">
                                                            <button class="btn btn-secondary btn-sm" type="button">
                                                                Thao tác
                                                            </button>
                                                            <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <span class="sr-only">Toggle Dropdown</span>
                                                            </button>
                                                            <div class="dropdown-menu" x-placement="right-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(143px, 0px, 0px);">
                                                                <a class="dropdown-item openPoupUpdateSlide" _slideID  = <%=slide._id%> ><i class="fa fa-edit"></i> Chỉnh sửa</a>
                                                                <a class="dropdown-item btnBlockUser btnToggleStatus btnDeleteSLide" _slideID = "<%=slide._id%>" ><i class="fa fa-trash"></i> Xoá</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            <% } %>
                                        <% }) %>
                                    <% } %>
                                </tbody> 
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- POPUP THÊM CATEGORY -->
<div class="modal fade bs-example-modal-sm popup-create-and-update-slide" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="card-body">
                <div class="form-group">
                    <div>
                        <label for="example-text-input" class="col-form-label">
                            Tiêu Đề
                        </label>
                    </div>
                    <div>
                        <input class="form-control" type="text"placeholder="Nhập tiêu đề slide" id="txtTitle">
                    </div>
                </div>
              
                <div class="form-group">
                    <label>
                        Hình ảnh
                    </label>
                    <div>
                        <input type="file" name="" style="margin-top:20px"  id="inputImageSlide" accept="image/*">
                    </div>
                </div>
                <div class="form-group">
                    <label>
                        Mô Tả
                    </label>
                    <div>
                        <textarea required="" class="form-control" id="txtDescription" rows="5" placeholder="Mô tả slide ..."></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label>
                        Link xem thêm
                    </label>
                    <div>
                        <input type="text" class="form-control" id="txtLink" placeholder="https://www.facebook.com/" >
                    </div>
                </div>
                    <button type="button" class="btn btn-outline-success waves-effect waves-light" style="margin: 0 auto; display: block; float: right;" _slideID = ""id="btnUpdateSlide" >Cập Nhật</button>
                    <button type="button" class="btn btn-outline-success waves-effect waves-light" style="margin: 0 auto; display: block; float: right;" id="btnAddSlide" >Thêm Mới</button>
            </div>
        </div>
    </div>
</div>