<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous"></script>
<script>
  
  $(document).ready(function(){

    $('#table-gallery-product').dataTable({
        ...languageDataTable
    });

    window.urlQuery = function(name){
        var results = new RegExp('[\?&] ' + name + '=([^&#]*)').exec(window.location.href);
        if (results == null){
            return null;
        }else{
            return results[1] || 0;
        }
    }

    function getDataGalleryForm(){
        let data = {};
        data.avatar          = $('#inputImageGallery').val() || '';
        data.name           = $('#txtName').val() || '';
        data.description    = $('#txtDescription').val() || '';
        data.url    = $('#txtURL').val() || '';
        return data
    }

    function resetFormAddUpdateGallery(){
        $('#txtName').val()
        $('#inputImageGallery').attr('src','')
        $('#txtDescription').val('')
    }

    $('tbody').sortable({
        stop: function(e, ui){
            let sortTableArray = [];
            $("tr").each(function(index) {
                let galleryProductID = $(this).attr("_galleryProductID");
                sortTableArray.push({ _id: galleryProductID, index: index });
            });

            sortTableArray.shift();

            $.ajax({
                url: `/gallery-product/update-order`,
                method: 'POST',
                data: {arrayObject: sortTableArray},
                success: function(resp){
                    if(!resp.error){
                        toastr.success('Thông báo','Cập nhật thành công');
                        setTimeout(() => {
                            location.reload();
                        }, 300);
                    }else{
                        toastr.error('Thông báo','Cập nhật thất bại');
                    }
                },
                error: function(){
                    toastr.error('Thông báo','Cập nhật thất bại');
                }
            })
        }
    });

    // Open popup create gallery
    $(document).on('click', "#openPoupUpCreateGallery", function(){
        resetFormAddUpdateGallery();
        $('#btnUpdateGallery').hide();
        $('#btnAddGallery').show();
        $('.popup-create-and-update-gallery').modal('show');
    });


    //Create gallery
    $(document).on('click', '#btnAddGallery', async function(){
        let data = getDataGalleryForm();
        let fd = new FormData();
        let avatar  = $('#inputImageGallery')[0].files[0];

        if(!data || data && !data.name){
            toastr.warning('Bạn chưa nhập tiêu đề','Thông báo');
            return
        }

        if(!avatar){
            toastr.warning('Bạn chưa chọn hình ảnh','Thông báo');
            return
        }


        let infoAvatar;
        let pathAvatar;
        if(avatar){
            toastr.info('Đang xử lý. Vui lòng đợi...','Thông báo');
            infoAvatar = {
                name: avatar.name,
                size: avatar.size
            }
            let infoUploadS3 = await getLinkS3(avatar);
            if(infoUploadS3){
                pathAvatar = infoUploadS3.data;
                infoAvatar.path = pathAvatar;
            }
        }
        let dataInsert = JSON.stringify({ ...data, avatar: infoAvatar });

        disableAndLoading(this);
        $.ajax({
            url : '<%= CF_ROUTINGS_GALLERY_PRODUCT.ADD_GALLERY_PRODUCT %>',
            method : 'post',
            data: { data: dataInsert },
            success : (resp) => {
                console.log({ resp });
                if(resp.error){
                    enableAndStopLoading(this);
                    return toastr.warning('Thêm thất bại, Có thể bạn điền thiếu một thông tin nào đó', 'Thông báo');
                }else{
                    toastr.success('Thêm thành công', 'Thông báo');
                    setTimeout(() => {
                        window.location.reload();
                    }, 700);
                }
            },
            error : function(error){
                enableAndStopLoading(this);
                return toastr.warning('Thêm thất bại', 'Thông báo')
            }
        });
    })

    // Mở popup update slide
    $(document).on('click', ".openPoupUpdateGallery", function(){
        let galleryID = $(this).attr('_galleryID');
        resetFormAddUpdateGallery();
        $('#btnUpdateGallery').show();
        $('#btnAddGallery').hide();
        $('#btnUpdateGallery').attr("_galleryID", galleryID );
        $('.popup-create-and-update-gallery').modal('show');
        $.ajax({
            url : `/gallery-product/info-gallery-product/${galleryID}`,
            method : 'get',
            success : function(resp) {
                if(!resp.error){
                    let infoGallery = resp.data;
                    $('#txtName').val(infoGallery.name || '')
                    $('#inputImageGallery').attr('src', infoGallery.image && infoGallery.image.path || '')
                    $('#txtDescription').val(infoGallery.description || '')
                    $('#txtURL').val(infoGallery.url || '')
                }else{
                    return toastr.warning('Có lỗi trong quá trình thực hiện, Vui lòng thử lại', 'Thông báo')
                }
            },
            error : function(err){
                return  toastr.warning('Có lỗi trong quá trình thực hiện, Vui lòng thử lại', 'Thông báo')
            }
        });
    });

    ///update-slide
    $(document).on('click', '#btnUpdateGallery', async function(){
        let data = getDataGalleryForm();
        let galleryID =$(this).attr("_galleryID");

        let fd = new FormData();
        let avatar  = $('#inputImageGallery')[0].files[0];

        let infoAvatar;
        let pathAvatar;

        if(avatar){
            toastr.info('Đang xử lý, Vui lòng đợi...', 'Thông báo')
            infoAvatar = {
                name: avatar.name,
                size: avatar.size
            }
            let infoUploadS3 = await getLinkS3(avatar);
            if(infoUploadS3){
                pathAvatar = infoUploadS3.data;
                infoAvatar.path = pathAvatar;
            }
        }

        let dataUpdate = JSON.stringify({ ...data, avatar: infoAvatar });
        disableAndLoading(this);
        $.ajax({
            url : `/gallery-product/update-gallery-product/${galleryID}`,
            method : 'post',
            data: { data: dataUpdate },
            success : (resp) => {
                console.log({ resp });
                if(resp.error){
                    enableAndStopLoading(this);
                    return toastr.warning('Cập nhật thất bại', 'Thông báo')
                }else{
                    toastr.success('Cập nhật thành công', 'Thông báo');
                    setTimeout(() => {
                        location.reload();
                    }, 500);
                }
            },
            error : function(error){
                enableAndStopLoading(this);
                return toastr.warning('Cập nhật thất bại', 'Thông báo')
            }
        });
    })

    // Chức nằng xoá slide
    $(document).on('click', '.btnDeleteGallery', async function(){
        var r = confirm("Bạn có chắc chắn xoá không!");
        if (r != true) {
            return
        }
        let galleryID = $(this).attr('_galleryID');
        $.ajax({
            url : `/gallery-product/remove-gallery-product/${galleryID}`,
            method : 'get',
            success : (resp) => {
                console.log({ resp });
                if(resp.error){
                    return toastr.warning('Xoá thất bại', 'Thông báo')
                }else{
                    toastr.success('Xoá thành công', 'Thông báo');
                    $(this).closest('tr').remove();
                }
            },
            error : function(err){
                return  toastr.warning('Xoá thất bại', 'Thông báo')
            }
        });

    });
  });
</script>