<footer class="footer"><span class="d-none d-sm-inline-block">Crafted with by LDK software</span>.</footer>
<!-- <script src="/template/scripts/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="/template/scripts/main.js" type="text/javascript"></script> -->

