<div class="left side-menu">
    <div class="slimscroll-menu" id="remove-scroll">
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu" id="side-menu">
                <li><a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-settings"></i><span> Quản lý thông tin chung <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span></span></a>
                    <ul class="submenu">
                        <li><a href="/admin/info-company">Thông tin công ty</a></li>
                        <li><a href="/admin/list-admin">Tài khoản admin</a></li>
                        <li><a href="/admin/list-personnel?type=1">Đội ngũ nhân sự</a></li>
                        <li><a href="/admin/list-personnel?type=2">Nhân viên tư vấn</a></li>
                        <li><a href="/admin/list-slide">Slide quảng cáo</a></li>
                        <li><a href="/admin/list-good-project">Dự án nổi bật</a></li>
                        <li><a href="/admin/list-gallery-product">Bộ sưu tập</a></li>
                        <li><a href="/admin/list-review-customer">Review khách hàng</a></li>
                        <li><a href="/admin/list-price-ship">Bảng giá vận chuyển</a></li>
                        <!-- <li><a href="/admin/list-keyword">Từ khóa hay dùng</a></li> -->
                    </ul>
                </li>

                <li>
                    <a href="/admin/menu" class="waves-effect"><i class="mdi mdi-menu"></i><span>Quản lý danh mục<span class="float-right menu-arrow"></span></span></a>
                </li>

                <li><a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-image-filter-none"></i><span> Quản lý sản phẩm <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span></span></a>
                    <ul class="submenu">
                        <li>
                            <a href="/admin/add-product">Thêm sản phẩm</a>
                        </li>
                        <li>
                            <a href="/admin/list-product">Danh sách sản phẩm</a>
                        </li>
                        <!-- <li>
                            <a href="/variant/list-variant-v2">Quản lý biến thể</a>
                        </li> -->
                    </ul>
                </li>

                <li>
                    <a href="/admin/list-order" class="waves-effect">
						<i class="fas fa-shopping-cart"></i>
						<span>Quản lý đơn hàng
							<span class="float-right menu-arrow"></span>
						</span>
					</a>
                </li>

                <li><a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-blogger"></i><span> Bài viết <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span></span></a>
                    <ul class="submenu">
                        <li><a href="/admin/list-category">Danh mục bài viết</a></li>
                        <li><a href="/admin/list-post">Danh sách bài viết</a></li>
                        <li><a href="/admin/add-post">Tạo bài viết</a></li>
                    </ul>
                </li>

                <li>
                    <a href="/admin/accounts" class="waves-effect"><i class="mdi mdi-account-multiple-plus"></i><span>Quản lý tài khoản<span class="float-right menu-arrow"></span></span></a>
                </li>

                <li>
                    <a href="/admin/home" class="waves-effect"><i class="mdi mdi-chart-line"></i><span>Quản lý báo cáo <span class="float-right menu-arrow"></span></span></a>
                </li>
               
                <!-- <li>
                    <a href="/admin/list-email-customer" class="waves-effect"><i class="fas fa-at"></i></i><span>Danh sách email khách hàng<span class="float-right menu-arrow"></span></span></a>
                </li>
               
                <li>
                    <a href="/admin/list-contact-message" class="waves-effect"><i class="fas fa-envelope-square"></i><span>Danh sách tin nhắn liên hệ<span class="float-right menu-arrow"></span></span></a>
                </li> -->
               
            </ul>
        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>
    </div>
    <!-- Sidebar -left -->
</div>