<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous"></script>
<script>
  
  $(document).ready(function(){
   
    $("#container-list-good-project").dataTable({
        ...languageDataTable
    });
    window.urlQuery = function(name){
        var results = new RegExp('[\?&] ' + name + '=([^&#]*)').exec(window.location.href);
        if (results == null){
            return null;
        }else{
            return results[1] || 0;
        }
    }

    function getDataSlideForm(){
        let data = {};
        data.image          = $('#txtImage').val() || '';
        data.type           = $('#txtTypeProject').val() || '';
        data.title          = $('#txtTitle').val() || '';
        data.description    = $('#txtDescription').val() || '';
        data.price           = $('#txtLink').val() || '';
        return data
    }

    function resetFormAddUpdateSlide(){
        $('#txtTitle').val()
        $('#imageReviewSlide').attr('src','')
        $('#txtDescription').val('')
        $('#txtLink').val('');
    }

    $('tbody').sortable({
        stop: function(e, ui){
            let sortTableArray = [];
            $("tr").each(function(index) {
                let goodProjectID = $(this).attr("_goodProjectID");
                sortTableArray.push({ _id: goodProjectID, index: index });
            });

            sortTableArray.shift();

            $.ajax({
                url: `/good-project/update-order`,
                method: 'POST',
                data: {arrayObject: sortTableArray},
                success: function(resp){
                    if(!resp.error){
                        toastr.success('Thông báo','Cập nhật thành công');
                        setTimeout(() => {
                            location.reload();
                        }, 300);
                    }else{
                        toastr.error('Thông báo','Cập nhật thất bại');
                    }
                },
                error: function(){
                    toastr.error('Thông báo','Cập nhật thất bại');
                }
            })
        }
    });

    // Mở popup thêm slide
    $('body').on('click', "#openPoupUpAddSlide", function(){
        resetFormAddUpdateSlide()
        $('#btnUpdateSlide').hide();
        $('#btnAddSlide').show();
        $('.popup-create-and-update-slide').modal('show');
    });


    $('body').on('click', '#btnAddSlide', async function(){
        let data = getDataSlideForm();

        let fd = new FormData();
        let image  = $('#inputImageSlide')[0].files[0];

        if(!data || data && !data.title){
            toastr.warning('Bạn chưa nhập tiêu đề','Thông báo', 'Thông báo');
            return
        }

        if(!image){
            toastr.warning('Bạn chưa chọn hình ảnh','Thông báo', 'Thông báo');
            return
        }

        let infoImage;
        let pathImage;
        if(image){
            infoImage = {
                name: image.name,
                size: image.size
            }
            let infoUploadS3 = await getLinkS3(image);
            if(infoUploadS3){
                pathImage = infoUploadS3.data;
                infoImage.path = pathImage;
            }
        }
        let dataInsert = JSON.stringify({ ...data, image: infoImage });
        //$(".popup-create-and-update-slide").modal("hide");
        disableAndLoading(this);
        $.ajax({
            url : '<%= CF_ROUTINGS_GOOD_PROJECT.ADD_GOOD_PROJECT%>',
            method : 'post',
            data: { data: dataInsert },
            success : function(resp){
                if(resp.error){
                    enableAndStopLoading(this);
                    return toastr.warning('Thêm thất bại, có thể bạn điền thiếu một thông tin nào đó', 'Thông báo');
                }else{
                    toastr.success('Thêm thành công');
                    setTimeout(() => {
                        window.location.reload();
                    }, 700);
                }
            },
            error : function(error){
                enableAndStopLoading(this);
                return toastr.warning('Thêm thất bại', 'Thông báo')
            }
        });
    })

    // Mở popup update slide
    $('body').on('click', ".openPoupUpdateSlide", function(){

        let slideID = $(this).attr('_slideID');
        resetFormAddUpdateSlide();
        $('#btnUpdateSlide').show();
        $('#btnAddSlide').hide();
        $('#btnUpdateSlide').attr("_slideID", slideID);
        disableAndLoading(this);

        $.ajax({
            url : `/good-project/info-good-project/${slideID}`,
            method : 'get',
            success : function(resp) {
                console.log(resp)
                if(!resp || resp.error){
                    enableAndStopLoading(this);
                    return toastr.warning('Lấy thông tin dự án nổi bật thất bại vui lòng thử lại', 'Thông báo')
                }
                if(resp && resp.data){
                    let  data = resp.data;
                    $('#txtTitle').val(data.title || '')
                    $('#imageReviewSlide').attr('src',data.image?.path || '')
                    $('#txtDescription').val(data.description || '')
                    $('#txtLink').val(data.price || '');
                    $('.popup-create-and-update-slide').modal('show');
                }
                
            },
            error : function(err){
                enableAndStopLoading(this);
                return toastr.warning('Lấy thông tin slide thất bại vui lòng thử lại', 'Thông báo')
            }
        });
    });

    $('#inputImageSlide').on('change', function(){
        $('#imageReviewSlide').attr('src',window.URL.createObjectURL($('#inputImageSlide')[0].files[0]))
    })

    ///update-slide
    $('body').on('click', '#btnUpdateSlide', async function(){

        let data = getDataSlideForm();
        let slideID =$(this).attr("_slideID");

        let fd = new FormData();
        let image  = $('#inputImageSlide')[0].files[0];

        let infoImage;
        let pathImage;
        if(image){
            infoImage = {
                name: image.name,
                size: image.size
            }
            let infoUploadS3 = await getLinkS3(image);
            if(infoUploadS3){
                pathImage = infoUploadS3.data;
                infoImage.path = pathImage;
            }
        }
        let dataInsert = JSON.stringify({ ...data, image: infoImage });

        $.ajax({
            url : `/good-project/update-good-project/${slideID}`,
            method : 'post',
            data: { data: dataInsert},
            success : function(resp){
                if(resp.error){
                    return  toastr.warning('Cập nhật thất bại', 'Thông báo')
                }
                toastr.success('Cập nhật thành công', 'Thông báo');
                window.location.reload()
            },
            error : function(error){
                return  toastr.warning('Cập nhật thất bại', 'Thông báo')
            }
        });
    })

    // Chức nằng xoá slide
    $('body').on('click', '.btnDeleteSLide', async function(){
        var r = confirm("Bạn có chắc chắn xoá không!");
        if (r != true) {
            return
        }
        let slideID = $(this).attr('_slideID');
        $.ajax({
            url : `/good-project/remove-good-project/${slideID}`,
            method : 'get',
            success : function(resp) {
                let result =resp
                if(result.error){
                    return  toastr.warning('Cập nhật thất bại', 'Thông báo');
                }else{
                    toastr.success('Cập nhật thành công', 'Thông báo');
                    window.location.reload();
                }
            },
            error : function(err){
                return  toastr.warning('Cập nhật thất bại', 'Thông báo')
            }
        });

    });
  });
</script>