<style>
    #openPoupUpCreateGallery{
        color: #2ab3dd;
    }
    #openPoupUpCreateGallery:hover{
        color: #ffffff;
    }
</style>

<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                   <div class="page-title-box">
                      <h4 class="page-title">Bộ sưu tập sản phẩm</h4>
                      <!-- <ol class="breadcrumb">
                         <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                         <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                         <li class="breadcrumb-item active">Bộ sưu tập sản phẩm</li>
                      </ol> -->
                   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <div class="col-lg-12 d-flex justify-content-end">
                                <a class="btn btn-outline-info waves-effect waves-light" id="openPoupUpCreateGallery">
                                    <i class="fa fa-plus-circle"></i> Tạo bộ sưu tập
                                </a>
                            </div>
                            <br>
                            <table class="content-table" id="table-gallery-product">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên bộ sưu tập</th>
                                        <th>Hình ảnh</th>
                                        <th>Mô tả</th>
                                        <th>Trạng thái</th>
										<th>Ngày tạo</th>
                                        <th>Tuỳ chọn</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% listGalleryProduct && listGalleryProduct.length && listGalleryProduct.forEach((gallery, index) => { %>
                                        <% if (gallery) { %>
                                            <tr _galleryProductID="<%=gallery._id%>">
                                                <th>
                                                    <%= index + 1 %>
                                                </th>
                                                <td>
                                                    <i>
                                                        <%= gallery.name && gallery.name %>
                                                    </i>
                                                </td>
                                                <td>
                                                    <a href="<%= gallery.image.path %>" target="_blank">
                                                        <img style="width:100px; height:100px" class="img-fluid img-thumbnail rounded" src="<%= gallery.image.path %>" width="150px">
                                                    </a>
                                                </td>
                                                <td>
                                                    <i>
                                                        <%= gallery.description && gallery.description %>
                                                    </i>
                                                </td>
                                                <td>
                                                    <% if (gallery.status && gallery.status) { %>
                                                        <span class="badge badge-pill badge-success">
                                                            Hoạt Động
                                                        </span>
                                                    <% }else{ %>
                                                        <span class="badge badge-danger">
                                                            Không Hoạt Động
                                                        </span>
                                                    <% } %>
                                                </td>
                                                <td>
                                                    <%= moment(gallery.createAt).format('L') %> 
                                                </td>
                                                <td>
                                                    <div class="btn-group mo-mb-2">
                                                        <button class="btn btn-secondary btn-sm" type="button">
                                                            Thao tác
                                                        </button>
                                                        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="sr-only">Toggle Dropdown</span>
                                                        </button>
                                                        <div class="dropdown-menu" x-placement="right-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(143px, 0px, 0px);">
                                                            <a class="dropdown-item openPoupUpdateGallery" _galleryID= "<%=gallery._id%>" ><i class="fa fa-edit"></i> Sửa Thông Tin</a>
                                                            <a class="dropdown-item btnBlockUser btnToggleStatus btnDeleteGallery" _galleryID = "<%=gallery._id%>" ><i class="fa fa-trash"></i> Xoá</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        <% } %>
                                    <% }) %>
                                </tbody> 
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- POPUP THÊM GALLERY -->
<div class="modal fade bs-example-modal-sm popup-create-and-update-gallery" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="card-body">
                <div class="form-group">
                    <div>
                        <label for="example-text-input" class="col-form-label">
                            Tên
                        </label>
                    </div>
                    <div>
                        <input class="form-control" type="text"placeholder="Nhập tên bộ sưu tập" id="txtName">
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        <label for="example-text-input" class="col-form-label">
                            URL
                        </label>
                    </div>
                    <div>
                        <input class="form-control" type="text"placeholder="VD: https://www.facebook.com " id="txtURL">
                    </div>
                </div>
                <div class="form-group">
                    <label>
                        Mô Tả
                    </label>
                    <div>
                        <textarea required="" class="form-control" id="txtDescription" rows="5" placeholder="Mô tả..."></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label>
                        Hình ảnh
                    </label>
                    <div>
                        <input type="file" name="" style="margin-top:20px"  id="inputImageGallery" accept="image/*">
                    </div>
                </div>
                <button type="button" class="btn btn-info waves-effect waves-light" style="margin: 0 auto; display: block; float: right;" id="btnUpdateGallery" >Cập Nhật</button>
                <button type="button" class="btn btn-info waves-effect waves-light" style="margin: 0 auto; display: block; float: right;" id="btnAddGallery" >Tạo mới</button>
            </div>
        </div>
    </div>
</div>