<footer class="footer">© 2021 <span class="d-none d-sm-inline-block">make by <i class="mdi mdi-heart text-danger"></i> LDK software </span>.</footer>
</div>
    <!-- jQuery  -->
    <script src="../../../../template/admin/plugins/dropzone/dist/dropzone.js"></script>
    <script src="../../../../template/admin/vertical/assets/js/jquery.min.js"></script>
    <script src="../../../../template/admin/vertical/assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../../../template/admin/vertical/assets/js/metisMenu.min.js"></script>
    <script src="../../../../template/admin/vertical/assets/js/jquery.slimscroll.js"></script>
    <script src="../../../../template/admin/vertical/assets/js/waves.min.js"></script>
    <script src="../../../../template/admin/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
    <script src="../../../../template/admin/plugins/morris/morris.min.js"></script>
    <script src="../../../../template/admin/plugins/raphael/raphael-min.js"></script>
    <script src="../../../../template/admin/plugins/datatables/jquery.dataTables.min.js"></script>
    <!-- <script src="../../../../template/admin/vertical/assets/pages/dashboard.js"></script> -->
    <script src="../../../../template/admin/vertical/assets/js/app.js"></script>
    <script type="text/javascript" src="../../../../template/admin/fancybox/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bs-stepper/dist/js/bs-stepper.min.js"></script>
    <!-- RANGE -->
    <script src="../../../../template/admin/plugins/select2/js/select2.min.js"></script>
    <script src="../../../../template/admin/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
    <script src="../../../../template/admin/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js"></script>
    <script src="../../../../template/admin/plugins/ion-rangeslider/ion.rangeSlider.min.js"></script>
    <script src="../../../../template/admin/vertical/assets/pages/rangeslider-init.js"></script>
    <script src="../../../../template/admin/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <script src="../../../../template/admin/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <!-- Plugins Init js -->
    <script src="../../../../template/admin/vertical/assets/pages/form-advanced.js"></script>
    <!-- <script src="../../../../template/Summernote/summernote.js"></script>-->
    <script src="../../../../template/admin/plugins/x-editable/js/bootstrap-editable.min.js"></script>
    <script src="../../../../template/admin/vertical/assets/pages/xeditable.js"></script>
	<script type="text/javascript" src="https://cdn.tiny.cloud/1/mnhe8mkhfadk24d7pbtvd880370fc3jyxr34fxx0csiks0gt/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.0.2/cleave.min.js" integrity="sha512-SvgzybymTn9KvnNGu0HxXiGoNeOi0TTK7viiG0EGn2Qbeu/NFi3JdWrJs2JHiGA1Lph+dxiDv5F9gDlcgBzjfA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<!-- moment -->
	<script src="../../../../template/admin/plugins/moment/moment.js"></script>
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js" integrity="sha512-LGXaggshOkD/at6PFNcp2V2unf9LzFq6LE+sChH7ceMTDP0g2kn6Vxwgg7wkPP7AAtX+lmPqPdxB47A0Nz0cMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->

	<script src="../../../../template/hailuu-fe/jquery/file-dropzone.js"></script>

    
    <!-- END SLIDE RANGE -->
    <script src="../../../../template/toastr/index.js"></script>
	<script src="../../../../template/scripts/main.js"></script>
     <!-- FILE POND GALLERY -->
     <script src="https://unpkg.com/filepond/dist/filepond.js"></script>
     <!-- <script src="https://unpkg.com/filepond-plugin-image-validate-size/dist/filepond-plugin-image-validate-size.js"></script> -->
     <script src="https://unpkg.com/filepond-plugin-image-exif-orientation/dist/filepond-plugin-image-exif-orientation.js"></script>
     <script src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
     <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
 
</body>
</html>
<script>
    moment.locale('vi')
    let disableAndLoading = (that) => {
        $(that).text('').html(`
            <i class="icon-spinner6"> Vui lòng chờ</i>
        `);
        $(that).attr("disabled", true);
    }

    let enableAndStopLoading = (that) => {
        $(that).text('Xác Nhận');
        $(that).attr("disabled", false);
    }

	function debounce(fn, delay, immediate) {
		return function(args){
			clearTimeout(fn.id);
			fn.id = setTimeout(fn.bind(this, args), delay);

			if(immediate){
				clearTimeout(fn.id);
				fn.call(this, args);
			}
		}
	}

    

	const formatter = new Intl.NumberFormat('en-US');


    !async function(e) {
    "use strict";
    let a = function() {};

    let STATUS_ORDER = [
        { value: 0, text: 'Đang xử lý'},
        { value: 1, text: 'Đã nhận'},
        { value: 2, text: 'Đang phê duyệt'},
        { value: 3, text: 'Đang in ấn'},
        { value: 4, text: 'Đóng gói và vận chuyển'},
        { value: 5, text: 'Hoàn thành giao hàng'},
    ]
    
    let listDataReport = <%- JSON.stringify(listDataReport) %>
    let dataReport = listDataReport.map(item => {
        return { 
            label: STATUS_ORDER[item._id].text,
            value: item.count
        }
    })
  
    a.prototype.createDonutChart = function(e, a, r) {
        Morris.Donut({
            element: e,
            data: a,
            resize: !0,
            colors: r
        })
    }, 
    
    a.prototype.init = function() {

        this.createDonutChart("morris-donut-example", dataReport, ["#33CC33", "#28bbe3", "#FF6633", "#9966FF", "#339999" ]);
        
    }, e.Dashboard = new a, e.Dashboard.Constructor = a
    }(window.jQuery),
    function(e) {
        "use strict";
        window.jQuery.Dashboard.init()
    }();

</script>
