<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimal-ui"/>
    <title>HAILUU - Admin Dashboard</title>
    <meta content="Admin Dashboard" name="description"/>
    <meta content="Themesbrand" name="author"/>
 
    <meta name="msapplication-tap-highlight" content="no"/>
    <meta name="robots" content="noindex"/>
    
    <!-- alternate -->
    <link rel="alternate" hreflang="vi-VN" href="https://hailuu/" />
    <link rel="alternate" hreflang="x-default" href="https://hailuu/" />
    <!-- alternate end  -->

    <link rel="shortcut icon" href="../../../../template/admin/vertical/assets/images/favicon.ico"/>
    <link href="../../../../template/admin/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet"/>
    <link href="../../../../template/admin/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../../../../template/admin/plugins/morris/morris.css"/>
    <link href="../../../../template/admin/vertical/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../../../template/admin/vertical/assets/css/metismenu.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../../../template/admin/vertical/assets/css/icons.css" rel="stylesheet" type="text/css"/>
    <link href="../../../../template/admin/vertical/assets/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="../../../../template/admin/plugins/ion-rangeslider/ion.rangeSlider.css" rel="stylesheet" type="text/css"/>
    <link href="../../../../template/admin/plugins/ion-rangeslider/ion.rangeSlider.skinModern.css" rel="stylesheet" type="text/css"/>
    <link href="../../../../template/admin/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://cdn.jsdelivr.net/npm/bs-stepper/dist/css/bs-stepper.min.css" rel="stylesheet" type="text/css"/>
    <!-- <link href="../../../../template/Summernote/summernote.css" type="text/css" rel="stylesheet" > -->
    <link rel="stylesheet" href="../../../../template/admin/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" />
    <link type="text/css" href="../../../../template/admin/plugins/x-editable/css/bootstrap-editable.css" rel="stylesheet"/>

    <!-- FILE POND GALLERY -->
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">      

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="../../../../template/admin/custom/index-table.css"/>
    
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>   

    <link rel="stylesheet" href="../../../../template/toastr/index.admin.css"/>
    <link rel="stylesheet" href="../../../../template/sweetalert/sweetalert.css"/>
    <script src="../../../../template/sweetalert/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/smartwizard@5/dist/css/smart_wizard_all.min.css"/>
</head>
 <% moment.locale('vi') %>
<body>
    <input type="password" name="pwd" autocomplete="new-password" style="display:none;">

    <!-- Begin page -->
    <div id="wrapper">
        <!-- Top Bar Start -->
        <div class="topbar">
            <!-- LOGO -->
            <div class="topbar-left">
              <a href="/admin" class="logo" id="logo-admin">
                <span>
                    <img width="70%" height="auto" src="/files/logos/hailuu.png" alt="">
                </span>
                <i id="show-menu" class="fa fa-chevron-right" aria-hidden="true" style="color: #fff !important;"></i>
              </a>
            </div>
            <nav class="navbar-custom">
                
                <ul class="navbar-right d-flex list-inline float-right mb-0">

                    <li class="dropdown notification-list">
                        <div class="dropdown notification-list nav-pro-img">
                            <a class="dropdown-toggle nav-link arrow-none waves-effect nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false"><img src="/files/users/image-default.jpg" alt="user" class="rounded-circle"></a>
                            <div class="dropdown-menu dropdown-menu-right profile-dropdown">
                                <!-- item-->
								<a class="dropdown-item" href="/admin/profile">
									<i class="mdi mdi-account-circle m-r-5"></i> Tài khoản
								</a> 
								<a class="dropdown-item d-block" href="/admin/info-company">
									<i class="mdi mdi-settings m-r-5"></i> Công ty
								</a> 
								<!-- <a class="dropdown-item" href="#">
									<i class="mdi mdi-lock-open-outline m-r-5"></i> Lock screen
								</a> -->
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" href="/admin/logout">
									<i class="mdi mdi-power text-danger"></i> Đăng Xuất
								</a>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="list-inline menu-left mb-0">
                    <li class="float-left">
                        <button class="button-menu-mobile open-left waves-effect"><i class="mdi mdi-menu"></i></button>
                    </li>
                </ul>
            </nav>
        </div>

        <!-- Top Bar End -->
        <!-- ========== Left Sidebar Start ========== -->
        <%- include ../../inc/admin/utils/leftbar.ejs%>
        <!-- ========== Left Sidebar End ========== -->