
<script>
  
  $(document).ready(function(){

    window.urlQuery = function(name){
        var results = new RegExp('[\?&] ' + name + '=([^&#]*)').exec(window.location.href);
        if (results == null){
            return null;
        }else{
            return results[1] || 0;
        }
    }

    $('#table-list-personnel, #table-list-personnel-sale').dataTable({ 
        ...languageDataTable
    });

    function getDataSlideForm(){
        let data = {};
        data.avatar         = $('#inputAvatarPersonnel').val() || '';
        data.fullname       = $('#txtFullname').val() || '';
        data.description    = $('#txtDescription').val() || '';
        data.position       = $('#txtPosition').val() || '';
        return data
    }

    function getData(){
        let data = {};
        data.avatar         = $('#inputAvatarPersonnelSale').val() || '';
        data.fullname       = $('#txtFullnameSale').val() || '';
        data.email          = $('#txtEmail').val() || '';
        data.phone          = $('#txtPhone').val() || '';
        return data
    }

    function resetFormAddUpdateSlide(){
        $('#txtFullname').val();
        $('#txtFullnameSale').val();
        $('#inputAvatarPersonnel').attr('src','');
        $('#txtPosition').val('');
        $('#txtDescription').val('');
        $('#txtEmail').val('');
        $('#txtPhone').val('');
    }

    // Open popup create personnel
    $(document).on('click', "#openPoupUpCreatePersonnel", function(){
        resetFormAddUpdateSlide();
        $('#btnUpdatePersonnel').hide();
        $('#btnAddPersonnel').show();
        $('.popup-create-and-update-personnel').modal('show');
    });

    // Open popup create personnel sale
    $(document).on('click', "#openPoupUpCreatePersonnelSale", function(){
        resetFormAddUpdateSlide();
        $('#btnUpdatePersonnelSale').hide();
        $('#btnAddPersonnelSale').show();
        $('.popup-create-and-update-personnel-sale').modal('show');
    });

    //Create personnel
    $(document).on('click', '#btnAddPersonnel', async function(){
        let data = getDataSlideForm();
        let fd = new FormData();
        let avatar  = $('#inputAvatarPersonnel')[0].files[0];

        if(!data || data && !data.fullname){
            toastr.warning('Bạn chưa nhập tiêu đề','Thông báo');
            return
        }

        if(!data || data && !data.position){
            toastr.warning('Bạn chưa nhập chức vụ','Thông báo');
            return
        }

        if(!avatar){
            toastr.warning('Bạn chưa chọn hình ảnh','Thông báo');
            return
        }

        let infoAvatar;
        let pathAvatar;
        if(avatar){
            toastr.info('Đang tiến hành tạo. Vui lòng đợi...', 'Thông báo')
            infoAvatar = {
                name: avatar.name,
                size: avatar.size
            }
            let infoUploadS3 = await getLinkS3(avatar);
            if(infoUploadS3){
                pathAvatar = infoUploadS3.data;
                infoAvatar.path = pathAvatar;
            }
        }

        let dataInsert = JSON.stringify({ ...data, avatar: infoAvatar });

        $.ajax({
            url : '<%= CF_ROUTINGS_PERSONNEL_TEAM.ADD_PERSONNEL_TEAM %>',
            method : 'post',
            data: { data: dataInsert },
            success : (resp) => {
                //console.log({ resp });
                if(resp.error){
                    return toastr.warning('Thêm thất bại, Có thể bạn điền thiếu một thông tin nào đó', 'Thông báo');
                }else{
                    toastr.success('Thêm thành công', 'Thông báo');
                    setTimeout(() => {
                        window.location.reload();
                    }, 500);
                }
            },
            error : function(error){
                console.log({error})
                return  toastr.warning('Thêm thất bại', 'Thông báo')
            }
        });
    })

    //Create personnel sale
    $(document).on('click', '#btnAddPersonnelSale', async function(){
        let data = getData();
        let fd = new FormData();
        let avatar  = $('#inputAvatarPersonnelSale')[0].files[0];

        if(!data || data && !data.fullname){
            toastr.warning('Bạn chưa nhập tiêu đề','Thông báo');
            return
        }

        if(!data || data && !data.email){
            toastr.warning('Bạn chưa nhập chức vụ','Thông báo');
            return
        }

        if(!data || data && !data.phone){
            toastr.warning('Bạn chưa nhập chức vụ','Thông báo');
            return
        }

        if(!avatar){
            toastr.warning('Bạn chưa chọn hình ảnh','Thông báo');
            return
        }

        let infoAvatar;
        let pathAvatar;
        if(avatar){
            toastr.info('Đang tiến hành tạo. Vui lòng đợi...', 'Thông báo');
            infoAvatar = {
                name: avatar.name,
                size: avatar.size
            }
            let infoUploadS3 = await getLinkS3(avatar);
            if(infoUploadS3){
                pathAvatar = infoUploadS3.data;
                infoAvatar.path = pathAvatar;
            }
        }

        let dataInsert = JSON.stringify({ ...data, avatar: infoAvatar });

        $.ajax({
            url : '<%= CF_ROUTINGS_PERSONNEL_TEAM.ADD_PERSONNEL_TEAM %>',
            method : 'post',
            data: { data: dataInsert },
            success : (resp) => {
                console.log({ resp });
                if(resp.error){
                    return toastr.warning('Thêm thất bại, Có thể bạn điền thiếu một thông tin nào đó', 'Thông báo');
                }else{
                    toastr.success('Thêm thành công', 'Thông báo');
                    setTimeout(() => {
                        window.location.reload();
                    }, 500);
                }
            },
            error : function(error){
                console.log({error})
                return  toastr.warning('Thêm thất bại', 'Thông báo')
            }
        });
    })

    // Open popup update for personnel
    $(document).on('click', ".openPoupUpdatePersonnel", function(){
        let personnelID = $(this).attr('_personnelID');
        resetFormAddUpdateSlide();
        $('#btnUpdatePersonnel').show();
        $('#btnAddPersonnel').hide();
        $('#btnUpdatePersonnel').attr("_personnelID", personnelID );
        $('.popup-create-and-update-personnel').modal('show');
        $.ajax({
            url : `/personnel/info-personnel/${personnelID}`,
            method : 'get',
            success : function(resp) {
                if(!resp.error){
                    let infoPersonnel = resp.data;
                    $('#txtFullname').val(infoPersonnel.fullname || '')
                    $('#inputAvatarPersonnel').attr('src', infoPersonnel.avatar && infoPersonnel.avatar.path || '')
                    $('#txtDescription').val(infoPersonnel.description || '')
                    $('#txtPosition').val(infoPersonnel.position || '');

                }else{
                    return toastr.warning('Có lỗi trong quá trình thực hiện, Vui lòng thử lại', 'Thông báo')
                }
            },
            error : function(err){
                return  toastr.warning('Có lỗi trong quá trình thực hiện, Vui lòng thử lại', 'Thông báo')
            }
        });
    });

    // Open popup update for staff sale
    $(document).on('click', ".openPoupUpdatePersonnelSale", function(){
        let personnelID = $(this).attr('_personnelID');
        resetFormAddUpdateSlide();
        $('#btnUpdatePersonnelSale').show();
        $('#btnAddPersonnelSale').hide();
        $('#btnUpdatePersonnelSale').attr("_personnelID", personnelID );
        $('.popup-create-and-update-personnel-sale').modal('show');
        $.ajax({
            url : `/personnel/info-personnel/${personnelID}`,
            method : 'get',
            success : function(resp) {
                if(!resp.error){
                    let infoPersonnel = resp.data;
                    $('#txtFullnameSale').val(infoPersonnel.fullname || '')
                    $('#inputAvatarPersonnel').attr('src', infoPersonnel.avatar && infoPersonnel.avatar.path || '')
                    $('#txtEmail').val(infoPersonnel.email || '')
                    $('#txtPhone').val(infoPersonnel.phone || '');

                }else{
                    return toastr.warning('Có lỗi trong quá trình thực hiện, Vui lòng thử lại', 'Thông báo')
                }
            },
            error : function(err){
                return  toastr.warning('Có lỗi trong quá trình thực hiện, Vui lòng thử lại', 'Thông báo')
            }
        });
    });

    //update-personnel
    $(document).on('click', '#btnUpdatePersonnel', async function(){
        let data = getDataSlideForm();
        let personnelID =$(this).attr("_personnelID");

        let fd = new FormData();
        let avatar  = $('#inputAvatarPersonnel')[0].files[0];

        let infoAvatar;
        let pathAvatar;

        if(avatar){
            toastr.info('Đang tiến hành tạo. Vui lòng đợi...', 'Thông báo');
            infoAvatar = {
                name: avatar.name,
                size: avatar.size
            }
            let infoUploadS3 = await getLinkS3(avatar);
            if(infoUploadS3){
                pathAvatar = infoUploadS3.data;
                infoAvatar.path = pathAvatar;
            }
        }

        let dataUpdate = JSON.stringify({ ...data, avatar: infoAvatar });

        $.ajax({
            url : `/personnel/update-personnel/${personnelID}`,
            method : 'post',
            data: { data: dataUpdate },
            success : function(resp){
                console.log({ resp });
                if(resp.error){
                    return toastr.warning('Cập nhật thất bại', 'Thông báo')
                }else{
                    toastr.success('Cập nhật thành công', 'Thông báo');
                    setTimeout(() => {
                        location.reload();
                    }, 500);
                }
            },
            error : function(error){
                return  toastr.warning('Cập nhật thất bại', 'Thông báo')
            }
        });
    })


    //update-personnel-sale
    $(document).on('click', '#btnUpdatePersonnelSale', async function(){
        $('.popup-create-and-update-personnel-sale').hide();
        let data = getData();
        let personnelID =$(this).attr("_personnelID");

        let fd = new FormData();
        let avatar  = $('#inputAvatarPersonnelSale')[0].files[0];

        let infoAvatar;
        let pathAvatar;

        if(avatar){
            toastr.info('Đang tiến hành tạo. Vui lòng đợi...', 'Thông báo');
            infoAvatar = {
                name: avatar.name,
                size: avatar.size
            }
            let infoUploadS3 = await getLinkS3(avatar);
            if(infoUploadS3){
                pathAvatar = infoUploadS3.data;
                infoAvatar.path = pathAvatar;
            }
        }

        let dataUpdate = JSON.stringify({ ...data, avatar: infoAvatar });
        $.ajax({
            url : `/personnel/update-personnel/${personnelID}`,
            method : 'post',
            data: { data: dataUpdate },
            success : function(resp){
                console.log({ resp });
                if(resp.error){
                    return toastr.warning('Cập nhật thất bại', 'Thông báo')
                }else{
                    toastr.success('Cập nhật thành công', 'Thông báo');
                    setTimeout(() => {
                        location.reload();
                    }, 500);
                }
            },
            error : function(error){
                return  toastr.warning('Cập nhật thất bại', 'Thông báo')
            }
        });
    })

    // Chức nằng xoá personnel
    $(document).on('click', '.btnDeletePersonnel', async function(){
        var r = confirm("Bạn có chắc chắn xoá không!");
        if (r != true) {
            return
        }
        let personnelID = $(this).attr('_personnelID');
        $.ajax({
            url : `/personnel/remove-personnel/${personnelID}`,
            method : 'get',
            success : (resp) => {
                console.log({ resp });
                if(resp.error){
                    return toastr.warning('Xoá thất bại', 'Thông báo')
                }else{
                    toastr.success('Xoá thành công', 'Thông báo');
                    $(this).closest('tr').remove();
                }
            },
            error : function(err){
                return  toastr.warning('Xoá thất bại', 'Thông báo')
            }
        });

    });

    // Chức nằng xoá personnel sale
    $(document).on('click', '.btnDeletePersonnelSale', async function(){
        var r = confirm("Bạn có chắc chắn xoá không!");
        if (r != true) {
            return
        }
        let personnelID = $(this).attr('_personnelID');
        $.ajax({
            url : `/personnel/remove-personnel/${personnelID}`,
            method : 'get',
            success : (resp) => {
                console.log({ resp });
                if(resp.error){
                    return toastr.warning('Xoá thất bại', 'Thông báo')
                }else{
                    toastr.success('Xoá thành công', 'Thông báo');
                    $(this).closest('tr').remove();
                }
            },
            error : function(err){
                return  toastr.warning('Xoá thất bại', 'Thông báo')
            }
        });

    });
  });
</script>