<script>
	$(document).ready(function() {
        console.log("aaaaaaaaaa");
		$("#txtCity").select2();
		$("#txtDistrict").select2();
		$("#txtWard").select2();
        
        FilePond.registerPlugin(
            // encodes the file as base64 data
            FilePondPluginFileEncode,
            
            // validates the size of the file
            
            // corrects mobile image orientation
            FilePondPluginImageExifOrientation,
            
            // previews dropped images
            FilePondPluginImagePreview
        );

        initEditor("#txtContent, #txtPaymentforms, #txtDeliveryAndShipping, #txtOrderOnline, #txtWarrantyPolicy, #txtUsageRules, #txtInformationSecurity, #txtRefundPolicy", {
			height: 500
		});

        let arrImageMain;
        //FUNTION: THÊM HÌNH ẢNH AVATAR
        $(document).on("change", "#txtAvatar", async function() {
            let arrImgCus        = $(this)[0].files;
            
            let fileAvatar       = [];

            for( let i = 0; i < arrImgCus.length; i++){
                fileAvatar[fileAvatar.length] = arrImgCus[i];
            }
            let size = fileAvatar[0].size;
            let name = fileAvatar[0].name;
            
            let urlAvatar = readURLAvatar(this)
            
            // if (lightGalleryAvatar) {
            //     $('.imageAvatar').data('lightGallery').destroy(true);
            // }
            // lightGalleryAvatar = $('.imageAvatar').lightGallery({
            //     thumbnail:true,
            // });
            $(this).val("");
            /*
                UPLOAD s3
            */
            await addFileToUpload(fileAvatar, links => {
                links.forEach( item => {
                    arrImageMain = {
                        size, name, pathAvatar: item.uri
                    }
                })
            });
        });
        
        let arrImageGallery         = [];
        let arrImageGalleryOld      = [];
        let gallery = document.querySelector('.filepond');
        FilePond.create(gallery, {
            // imageResizeTargetWidth: 256,
            // imageResizeMode: 'contain',
            labelIdle: `<span class="filepond--label-action">Mời bạn chọn hình ảnh sản phẩm </span>`,
            onaddfile: async function(error, file) {
                // console.log('File added: [' + error + ']   file: [' + file.id + '] filename: [' + file.filename + ']');
                // arrImageGallery[arrImageGallery.length] = file.file
                /*
                    UPLOAD s3
                */
                let size = file.file.size;
                let name = file.file.name;
                await addFileToUpload([file.file], links => {
                    links.forEach( item => {
                        console.log({ item });
                        arrImageGallery[arrImageGallery.length] = {
                            size, name, pathAvatar: item.uri
                        }
                    })
                });
            },

            // add onpreparefile callback
            onpreparefile: (fileItem, output) => {
                // create a new image object
                const img = new Image();
                // set the image source to the output of the Image Transform plugin
                img.src = URL.createObjectURL(output);
                // add it to the DOM so we can see the result
            },

            onremovefile: (error, file) => {
                arrImageGallery = arrImageGallery.filter( image => image.name != file.filename );
                // $(`.${file.filename}`).closest('.col-2').remove();
            }
        });

		function getData(){
			let email     = $("#txtEmail").val();
			let hotline   = $("#txtHotline").val();
			let slogun    = $("#txtSlogun").val();
			let openTime  = $("#txtOpenTime").val();
			let closeTime = $("#txtCloseTime").val();

			let sortDes   = $("#txtsortDes").val();
			let longDes   = tinyMCE.get('txtContent').getContent();
			// let instagram = $("#txtInstagram").val();
			// let google    = $("#txtGoogle").val();
			let address   = $("#txtAddress").val();
			// let city      = $("#txtCity").val();
			// let district  = $("#txtDistrict").val();
			// let ward      = $("#txtWard").val();
			let facebook  = $("#txtFacebook").val();
            let paymentforms = tinyMCE.get('txtPaymentforms').getContent();
            let deliveryAndShipping = tinyMCE.get('txtDeliveryAndShipping').getContent();
            let orderOnline = tinyMCE.get('txtOrderOnline').getContent();
            let warrantyPolicy = tinyMCE.get('txtWarrantyPolicy').getContent();
            let usageRules = tinyMCE.get('txtUsageRules').getContent();
            let informationSecurity = tinyMCE.get('txtInformationSecurity').getContent();
            let refundPolicy = tinyMCE.get('txtRefundPolicy').getContent();

			return {
                    email, hotline, slogun, openTime, closeTime, sortDes, longDes, address, facebook, paymentforms, deliveryAndShipping,
                    orderOnline, warrantyPolicy, usageRules, informationSecurity, refundPolicy
                }
		}

		let checkValidate = params => {
            let { email, hotline, slogun, openTime, closeTime, address, sortDes, longDes, facebook } = params;
            if(!email) return { error: true, msg: 'Bạn cần nhập Email' };
            
            // if(!arrImageGallery || !arrImageGallery.length) return { error: true, msg: 'Bạn cần chọn Hình ảnh chính' };
            if(!hotline) return { error: true, msg: 'Bạn cần nhập Hotline' };

			if (!validatePhone(hotline)) {
				return { error: true, msg: 'Số điện thoại không đúng định dạng' };
			}
            if(!slogun) return { error: true, msg: 'Bạn cần nhập Slogun' };
            if(!openTime) return { error: true, msg: 'Bạn cần nhập Giờ mở cửa' };
            if(!closeTime) return { error: true, msg: 'Bạn cần nhập Giờ đóng cửa' };
            if(!address) return { error: true, msg: 'Bạn cần nhập Địa chỉ' };
            if(!sortDes) return { error: true, msg: 'Bạn cần nhập Mô tả ngắn' };
            if(!longDes) return { error: true, msg: 'Bạn cần nhập Mô tả dài' };

            let _type            = $("#txtAvatar").attr("_type");
            if (_type == "new") {
                if(!arrImageMain || !arrImageMain.name) return { error: true, msg: 'Bạn cần chọn Hình ảnh chính' };
            }

            return { error: false, msg: 'validate_done' };
        }

		function callAjaxInsertData(data) {
			$.ajax({
				url: "<%= CF_ROUTINGS_INFO_COMPANY.INFO_COMPANY %>",
				method: "POST",
				data: data,
				success: resp => {
					if (resp.error == false) {
						toastr.info("Bạn đã thay đổi thông tin công ty thành công", "THÔNG BÁO");
                        setTimeout(function() {
                            window.location.reload();
                        })
					} else {
						toastr.error(resp.message, "THÔNG BÁO")
					}
				}
			})
		}

		$(document).on("click", "#btnAddInfoCompany", function() {
			let data = getData();
			let checkData = checkValidate(data);
			
			if (checkData.error) {
				return toastr.warning(checkData.msg, "THÔNG BÁO");
			}
            data = {
                ...data,
                arrImageMain,
                arrImageGallery,
                arrImageGalleryOld
            }
			callAjaxInsertData(data);
		});

        // FUNCTION: XÓA HÌNH ẢNH
        $(document).on("click", ".deleteImage", function(e) {
            e.preventDefault(); 
            let imgName = $(this).attr("_imgName");
            let type    = $(this).attr("_type");
            let imgID   = $(this).attr("_imageID");
            let imgPath = $(this).find("imgReader").val();

            if (type == "imgGallery") {
                if (imgID) {
                    arrImageGalleryOld.push(imgID);
                    $(this).parent().remove();
                }
                // changeLightGallery({ lightGallery: lightGallery, input: ".txtGalleryProductUpdate" })
            }
        }); 

	});
</script>
<!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css"> -->