<link href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/dropzone.css" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/npm/smartwizard@5/dist/js/jquery.smartWizard.min.js"></script>
<script>
    $(document).ready(function(){
       // SmartWizard initialize
       $('#smartwizard').smartWizard({
          theme: 'arrows',
        //   keyboardSettings: {
        //   keyNavigation: true,
        //   keyLeft: [74], // J key code
        //   keyRight: [75] // K key code
        //   } 
       });
        $(".sw-btn-prev").html("Quay lại");
        $(".sw-btn-next").html("Kế tiếp");
    });
</script>
<script>
    $("#txtChooseVariantOption").select2();
    $("#blogImage").on('change', readURL);
    //Dropzone Avatar
    Dropzone.options.recommendationAvatar = {
        init: function() {
            this.on("addedfile", function(file) { 
            if (this.files.length > 1) {
                this.removeFile(this.files[0]);
            }
            });
        },
        maxFiles:1,
        acceptedFiles: ".jpeg,.jpg,.png,.gif"
    };

    function runCleave(inputID) {
        $(`#${inputID}`).toArray().forEach(function(field){
            new Cleave(field, {
                numeral: true,
                numeralThousandsGroupStyle: 'thousand'
            });
        });

        $(`.${inputID}`).toArray().forEach(function(field){
            new Cleave(field, {
                numeral: true,
                numeralThousandsGroupStyle: 'thousand'
            });
        });
    }

    runCleave('txtPriceBefore');
    runCleave('txtPriceAfter');
    runCleave('txtPriceBeforeVariant');
    runCleave('txtPriceAfterVariant');
    runCleave('txtPriceVariant');
    runCleave('txtPriceAfterDiscountVariant');
    runCleave('txtPriceVariantChild');
    runCleave('txtPriceAfterDiscountVariantChild');
    //Dropzone Gallery
    Dropzone.options.recommendationGallery = {
        autoProcessQueue: true,
        addRemoveLinks: true,
        removedfile: function(file) {
            var _ref;
            return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
        },
        maxFiles:10,
        acceptedFiles: ".jpeg,.jpg,.png,.gif"
    };

    //Dropzone Gallery
    Dropzone.options.recommendationDocument = {
        autoProcessQueue: true,
        addRemoveLinks: true,
        init: function() {
            this.on("addedfile", function(file) { 
                if (this.files.length > 4) {
                    toastr.warning('Không thể thêm hơn 4 tệp', 'Thông báo');
                    this.removeFile(this.files[4]);
                }
            });
        },

        
        removedfile: function(file) {
            var _ref;
            return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
        },
        maxFiles:4,
        //acceptedFiles: ".jpeg,.jpg,.png,.gif"
    };

    $(document).ready(function(){
        
        //Active tinyMCE
        initEditor("#txtIntroProduct, #txtNoteOrder, #txtPriceList",{
            height: 500
        });

        function generate(n) {
            var add = 1, max = 12 - add;   // 12 is the min safe number Math.random() can generate without it starting to pad the end with zeros.   
            if ( n > max ) {
                return generate(max) + generate(n - max);
            }
            max        = Math.pow(10, n+add);
            var min    = max/10; // Math.pow(10, n) basically
            var number = Math.floor( Math.random() * (max - min + 1) ) + min;
            return ("" + number).substring(add); 
        }

        // Xử lý tỷ lệ giảm giá
       $("#txtTyLeGiam").on("keyup", function(e){
            let percent = $(this).val();
            let percentAfterFormat = +percent.slice(0, -1);
            if(percentAfterFormat < 0 || percentAfterFormat > 100 || isNaN(+percentAfterFormat))
                return toastr.warning("Tỷ lệ giảm không hợp lệ", "Thông Báo")

            if(percent.includes("%")){
                let priceBefore = $("#txtPriceBefore").val();
                let priceBeforeAfterFormat = +priceBefore.split(',').join('');
                let priceAfter = priceBeforeAfterFormat - priceBeforeAfterFormat*percentAfterFormat/100;
                $("#txtPriceAfter").val(priceAfter);
                runCleave('txtPriceAfter');
            }
        });
        // convert name product to slug
        $('#txtName').on('keyup', function () {
			let nameToSlug = convertToSlug($(this).val());
			$('#txtURL').val(`${nameToSlug}-${generate(4)}`);
		});
        
        function delay(callback, ms) {
            var timer = 0;
            return function() {
                var context = this, args = arguments;
                clearTimeout(timer);
                timer = setTimeout(function () {
                callback.apply(context, args);
                }, ms || 0);
            };
        }

        //Check input require
        function checkFieldRequire(fields) {
            return new Promise(async resolve => {
                try {
                    let nextStep = true;
                    for (const field of fields) {
                        if(!field){
                            nextStep = false;
                        }
                    }
                    return resolve(nextStep);
                } catch (error) {
                    return resolve({ error: true, message: error.message });
                }
            })
        }

        //Function caculator ratio Price
        function caculateRatioPrice(classPriceBefore, classPriceAfter) {
            let priceBefore = $(`#${classPriceBefore}`).val();
            let priceAfter = $(`#${classPriceAfter}`).val();
            if(priceBefore && priceAfter ){
                //Fortmat price
                priceBefore = priceBefore.split(',').join('');
                priceAfter = priceAfter.split(',').join('');
                if(Number(priceBefore) > Number(priceAfter)){
                    let ratio = priceAfter/priceBefore*100;
                    ratio = (100-ratio);
                    $('#txtRatio').val(`${ratio.toFixed(1)}%`);
                }else{
                    $('#txtRatio').val(``);
                    return toastr.warning('Giá sau khi giảm phải thấp hơn giá gốc', 'Thông báo');
                }
            }
        }

        $(document).on('keyup', '#txtPriceBefore, #txtPriceAfter', delay(function(e) {
            caculateRatioPrice('txtPriceBefore', 'txtPriceAfter');
        }, 1000));

        $('#menu-parent').on('change', function () {
            let valueMenuID = $(this).val();
            $.ajax({
                url: `/menu/get-list-menu-child-of-parent/${valueMenuID}`,
                method: 'GET',
                success: (resp) => {
                    if(!resp.error){
                        let listMenuChild = resp.data;
                        let dataAppend = '';
                        if(listMenuChild && listMenuChild.length){
                            listMenuChild.forEach(childMenu => {
                                dataAppend += `<option value="${childMenu._id}">${childMenu.name}</option>`;
                            })
                        }else{
                            dataAppend += `<option value="">Không có danh mục con</option>`;
                        }
                        $('#menu-children').empty();
                        $('#menu-children').append(dataAppend);
                    }else{
                        toastr.error('Có lỗi sảy ra vui lòng thử lại', 'Thông báo');
                    }
                },
                error: function(){
                    toastr.error('Có lỗi sảy ra vui lòng thử lại', 'Thông báo');
                }
            })
        }).change();

        //Create Product
        $(document).on('click', '.btnCreateProduct', async function(e) {
            e.preventDefault();
            //Fields for Product
            let name = $('#txtName').val();
            let description = $('#txtDescription').val();
            let menu = $('#menu-children').val();
            let introProduct = tinyMCE.get('txtIntroProduct').getContent();
            let noteOrder = tinyMCE.get('txtNoteOrder').getContent();
            let priceList = tinyMCE.get('txtPriceList').getContent();
            let color = $('#txtColor').val();
            let priceBefore = $('#txtPriceBefore').val();
            let priceAfter = $('#txtPriceAfter').val();

            let flashSale = $('#switch_flase_sale').prop("checked");
            let flashPrint = $('#switch_flash_print').prop("checked");
          

            let avatar = Dropzone.forElement(".dropzone").files;
            let gallery = Dropzone.forElement("#recommendationGallery").files;
            let document = Dropzone.forElement("#recommendationDocument").files;
            
            if(!name)
                return toastr.warning('Vui lòng nhập tên sản phẩm', 'Thông báo');
            if(!description)
                return toastr.warning('Vui lòng nhập mô tả sản phẩm', 'Thông báo');
            if(!color)
                return toastr.warning('Vui lòng nhập màu sắc sản phẩm', 'Thông báo');
            if(!priceBefore)
                return toastr.warning('Vui lòng nhập giá sản phẩm', 'Thông báo');
            if(!menu)
                return toastr.warning('Vui lòng chọn một danh mục con', 'Thông báo');

            //Fortmat price
            priceBefore = priceBefore && priceBefore.split(',').join('');
            priceAfter = priceAfter && priceAfter.split(',').join('');

            //Check price
            if(priceAfter && priceBefore && Number(priceAfter) >= Number(priceBefore)){
                return toastr.warning('Giá sau khi giảm phải thấp hơn giá gốc', 'Thông báo');
            }

            if(flashSale == true && !priceAfter){
                return toastr.warning('Bạn cần phải nhập giá giảm khi áp dụng Flashsale', 'Thông báo');
            }

            // let ratioSale = 0;
            let ratioSale = $('#txtTyLeGiam').val().slice(0, -1);

            // if(priceAfter && priceBefore){
            //     ratioSale = Number(priceAfter)/Number(priceBefore)*100;
            //     ratioSale = (100-ratioSale).toFixed(0);
            // }

            let variantOption = $("#txtChooseVariantOption").val();
            if(!variantOption.length)
                return toastr.warning('Vui lòng chọn thuộc tính cho sản phẩm', 'Thông báo');

            let dataInsert = {
                name,
                description,
                menu,
                introProduct,
                noteOrder,
                priceList,
                color,
                priceBefore,
                priceAfter,
                ratioSale,
                flashSale,
                flashPrint,
                variantOption
            }

            let fd = new FormData();
            if(avatar && avatar.length == 0){
                return toastr.warning('Vui lòng thêm hình ảnh sản phẩm', 'Thông báo');
            }

            //If existed avatar and images product => toastr waiting...
            // if(avatar && avatar.length || gallery && gallery.length || document && document.length){
            //     toastr.info('Đang xử lý, vui lòng đợi...', 'Thông báo');
            // }

            //Get link S3 if avatar product is exist
            if(avatar && avatar.length){
                let pathImage = await getLinkS3(avatar);
                if(pathImage){
                    dataInsert.pathImage = pathImage.data;
                }
                fd.append('file', avatar[0]);
            }

            //Get link S3 if images product is exist
            let arrLinkS3ImageProduct = [];
            if(gallery && gallery.length){
                for (let file of gallery) {
                    let { name, size } = file;
                    let pathImageGallery = await getLinkS3(file);
                    arrLinkS3ImageProduct = [...arrLinkS3ImageProduct, { name, size, pathImageGallery: pathImageGallery.data }];
                }
                dataInsert.gallery = JSON.stringify(arrLinkS3ImageProduct)
            }

            //Get link S3 if file product is exist
            let arrLinkS3FileProduct = [];
            if(document && document.length){
                for (let file of document) {
                    let { name, size, type } = file;
                    let pathDocument = await getLinkS3(file);
                    arrLinkS3FileProduct = [...arrLinkS3FileProduct, {name, size, type, pathDocument: pathDocument.data }];
                }
                dataInsert.document = JSON.stringify(arrLinkS3FileProduct)
            }
            
            let confirmCreate = confirm("Bạn chắc chắn, những thuộc tính của sản phẩm này chứ, nếu tạo xong bạn không có quyền chỉnh sửa thuộc tính");
            if(!confirmCreate)
                return;

            fd.append('data', JSON.stringify(dataInsert))
            // disableAndLoading(this)
            $.ajax({
                url: `<%= CF_ROUTINGS_PRODUCT.ADD_PRODUCT%>`,
                method: 'POST',
                data: fd,
                contentType: false,
                processData: false,
                success: (resp) => {
                    if(!resp.error){
                        toastr.success('Thêm thành công', 'Thông báo');
                        let { _id: productID } = resp.data;
                    }else{
                        // enableAndStopLoading(this);
                        // if(error.message = "name_is_existed"){
                        //     return toastr.warning('Đã có tên sản phẩm này', 'Thông báo');
                        // }
                        // toastr.error('Có lỗi sảy ra', 'Thông báo');
                    }
                },
                error: function(){
                    // enableAndStopLoading(this);
                    toastr.error('Có lỗi sảy ra vui lòng thử lại', 'Thông báo');
                }
            })
        })

        $('#attribute').select2();
        $('#menu-parent').select2();
        $('#menu-children').select2();
        
        $(document).on('click', '.btnRemoveVariant', function(e) {
            $(this).closest('tr').remove();
            return toastr.info('Xoá sản phẩm con thành công', "Thông báo");
        })
        
        let arrVariantReceive = [];
        $(document).on('click', '.btnCreateVariant', async function(e) {
            e.preventDefault();
            let name = $('#txtNameChild').val();

            $('.list-variant').append(`
                <tr>
                    <td style="width: 10%;" class="idVariant">${Math.floor(100000 + Math.random() * 900000)}</td>
                    <td style="width: 10%;"></td>
                    <td style="width: 10%;" contenteditable="true"  class="txtVarianPrevious" _name="${name}">${name}</td>
                    <td style="width: 10%;"></td>
                    <td style="width: 10%;"></td>
                    <td style="width: 10%;"></td>
                    <td style="width: 10%;"></td>
                    <td style="width: 10%;">
                        <div style="margin-top: 12px" class="btn-group mb-2">
                            <div class="btn-group mb-2">
                                <button class="btn btn-secondary btn-sm" type="button">
                                    Thao tác
                                </button>
                                <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="sr-only">...</span>
                                </button>
                                <div class="dropdown-menu" x-placement="top-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(34px, -83px, 0px);">
                                    <a class="dropdown-item btnAddVariant" _parent="${name}"><i class="fa fa-edit"></i> Tạo thuộc tính con</a> 
                                    <a class="dropdown-item btnRemoveVariant"><i class="fa fa-trash"></i> Xóa</a> 
                                </div>
                            </div>  
                        </div>    
                    </td>
                </tr>
            `)
        })

        $(document).on('click', '.btnAddVariant', async function(e) {
            let parent = $(this).closest("tr").find(".idVariant").text();
            $(this).closest("tr").after(`
                <tr>
                    <td style="width: 10%;" class="idVariant">${Math.floor(100000 + Math.random() * 900000)}</td>
                    <td style="width: 10%;">${parent}</td>
                    <td style="width: 10%;"></td>
                    <td style="width: 10%;" contenteditable="true"  class="txtVarianPrevious" _name="${parent}">${parent}</td>
                    <td style="width: 10%;" contenteditable="true">0</td>
                    <td style="width: 10%;" contenteditable="true">0</td>
                    <td style="width: 10%;" contenteditable="true">0</td>
                    <td style="width: 10%;">
                        <div style="margin-top: 12px" class="btn-group mb-2">
                            <div class="btn-group mb-2">
                                <button class="btn btn-secondary btn-sm" type="button">
                                    Thao tác
                                </button>
                                <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="sr-only">...</span>
                                </button>
                                <div class="dropdown-menu" x-placement="top-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(34px, -83px, 0px);">
                                    <a class="dropdown-item btnAddVariant" _parent="1"><i class="fa fa-edit"></i> Tạo thuộc tính con</a> 
                                    <a class="dropdown-item btnRemoveVariant"><i class="fa fa-trash"></i> Xóa</a> 
                                </div>
                            </div>  
                        </div>    
                    </td>
                </tr>
            `)
        })
        $(document).on('click', '.btnRemoveVariant', async function(e) {
            $(this).closest("tr").remove();
        })
        //=============================NEW=================================
        // Xử lý  xóa thông số cơ bản
        $(document).on('click', '.remove-thong-so-co-ban', async function(e) {
            $(this).closest(".item-thong-so-co-ban").remove();
            $(this).closest(".item-thuoc-tinh-con").remove();
        })
        // Xử lý  thêm thông số cơ bản
        $(document).on('click', '.btn-them-thong-so-co-ban', async function(e) {
          
            $("#container-thong-so-co-ban").append(`
                <br>
                <div class="row item-thong-so-co-ban">
                    <div class="col-sm-11">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" class="form-control txtTitleParameters" placeholder="Tiêu đề">
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control txtParameters"  placeholder="Thông số">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                        <textarea class="form-control txtDescriptionParameters" rows="3" placeholder="Mô tả"></textarea>
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-1 d-flex align-items-center">
                    <img class="remove-thong-so-co-ban" src="/template/hailuu-fe/assets/images/minus.svg" alt="remove" width="24px" height="24px">
                    </div>
                </div>
            `)
        })

        // Xử lý add thuộc tính cha
        $(document).on('click', '.btn-add-thuoc-tinh-cha', async function(e) {
         
            $(".container-thuoc-tinh-cha").append(`
                </br>
                <div class="row item-thong-so-co-ban">
                    <div class="col-sm-11">
                        <div class="row">
                        <div class="col-md-12">
                            <input class="form-control txtItemVariant" type="text" placeholder="VD: In 1 mặt">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <input class="form-control txtPriceVariant" type="text" placeholder="Giá gốc">
                        </div>
                        <div class="col-md-6">
                            <input class="form-control txtPriceAfterDiscountVariant" type="text" placeholder="Giá sau khi giảm">
                        </div>
                        </div>   
                    </div>
                    <div class="col-sm-1 d-flex align-items-center">
                        <img class="remove-thong-so-co-ban" src="/template/hailuu-fe/assets/images/minus.svg" alt="remove" width="24px" height="24px">
                    </div>
                </div>
            `)
            runCleave('txtPriceVariant');
            runCleave('txtPriceAfterDiscountVariant');
            runCleave('txtPriceVariantChild');
            runCleave('txtPriceAfterDiscountVariantChild');
        })

        $(document).on('click', '.btnConfirmVariant', async function(e) {
            let nameVariantParent = $("#txtNameVariantParent").val();
            if(!nameVariantParent)
                return toastr.warning("Vui lòng nhập tên thuộc tính cha", "Thông báo");
            let arrayVariantParent = [];

            $(".container-thuoc-tinh-cha").find(".item-thong-so-co-ban").each((index, item) => {
                let variantItem = $(item).find(".txtItemVariant").val();
                let priceVariantItem = $(item).find(".txtPriceVariant").val();
                let priceAfterDiscountVariantItem = $(item).find(".txtPriceAfterDiscountVariant").val();
                if(!variantItem)
                    return toastr.warning("Vui lòng nhập thuộc tính cha", "Thông báo");
                if(!priceVariantItem)
                    return toastr.warning("Vui lòng nhập giá thuộc tính cha", "Thông báo");
                arrayVariantParent.push(variantItem);
            })
            $(".txtChooseVariantParent").empty();
            $(".container-thuoc-tinh-con").empty();
            arrayVariantParent.forEach((element, index )=> {
                $(".txtChooseVariantParent").append(`
                    <option value="variant-${index}">${element}</option>
                `)
                $(".container-thuoc-tinh-con").append(`
                    <div class="row box-thuoc-tinh-con variant-${index}"> 
                    </div>
                `)
            });
        })

        $(document).on('click', '.btn-add-thuoc-tinh-con', async function(e) {
          
            let variantParent = $(".txtChooseVariantParent").val();
            $(`.${variantParent}`).append(`
                <div class="item-thuoc-tinh-con">
                    <div class="row col-sm-12">
                        <div class="col-sm-11">
                            <div class="row">
                                <div class="col-md-12">
                                    <input class="form-control txtItemVariantChild" type="text" placeholder="VD: In 1 mặt">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <input class="form-control txtPriceVariantChild" type="text" placeholder="Giá gốc">
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control txtPriceAfterDiscountVariantChild" type="text" placeholder="Giá sau khi giảm">
                                </div>
                            </div>   
                            <br>
                        </div>
                        <div class="col-sm-1 d-flex align-items-center">
                            <img class="remove-thong-so-co-ban" src="/template/hailuu-fe/assets/images/minus.svg" alt="remove" width="24px" height="24px">
                        </div> 
                    </div> 
                </div> 
            `)
            runCleave('txtPriceVariant');
            runCleave('txtPriceAfterDiscountVariant');
            runCleave('txtPriceVariantChild');
            runCleave('txtPriceAfterDiscountVariantChild');
        })
        
        $(document).on('change', '.txtChooseVariantParent', async function(e) {
            let value = $(this).val();
            $(".box-thuoc-tinh-con").hide();
            $(`.${value}`).show();
        });

        $(document).on('click', '.btnAddAndUpdateProduct', async function(e) {
            let name = $('#txtName').val();
            let description = $('#txtDescription').val();
            let menu = $('#menu-children').val();
            let introProduct = tinyMCE.get('txtIntroProduct').getContent();
            let noteOrder = tinyMCE.get('txtNoteOrder').getContent();
            let priceList = tinyMCE.get('txtPriceList').getContent();
            let priceBefore = $('#txtPriceBefore').val();
            let priceAfter = $('#txtPriceAfter').val();
            let ratioSale = $('#txtTyLeGiam').val().slice(0, -1);
            
            //Fortmat price
            priceBefore = priceBefore && priceBefore.split(',').join('');
            priceAfter = priceAfter && priceAfter.split(',').join('');

            let flashSale = $('#switch_flase_sale').prop("checked");
            let flashPrint = $('#switch_flash_print').prop("checked");
            let avatar =   $("#blogImage")[0].files[0];
            let gallery = Dropzone.forElement("#recommendationGallery").files;
            //let document = Dropzone.forElement("#recommendationDocument").files;

            let fileExcel = $("#excel-file")[0].files[0]
            let fileIllustrator = $("#illustrator-file")[0].files[0]
            let fileVectorEPS = $("#vector-eps-file")[0].files[0]
            let filePDF = $("#pdf-file")[0].files[0]

            console.log({ fileExcel, fileIllustrator, fileVectorEPS, filePDF });

            let nameVariantParent = $("#txtNameVariantParent").val();
            let nameVariantChild  = $("#txtNameVariantChild").val();
            if(!nameVariantParent)
                return toastr.warning("Vui lòng nhập tên thuộc tính cha", "Thông báo");
            if(!nameVariantChild)
                return toastr.warning("Vui lòng nhập tên thuộc tính con", "Thông báo");

            let propertyVariantParent = [];
            let propertyVariantChild = [];
            let basicParameters = [];

            let typeShowParent = $('input[name=type_show_parent]:checked').val()
            let typeShowChild = $('input[name=type_show_child]:checked').val()


            $(".container-thuoc-tinh-cha").find(".item-thong-so-co-ban").each((index, item) => {
                let variantItem = $(item).find(".txtItemVariant").val();
                let priceVariantItem = $(item).find(".txtPriceVariant").val();
                let priceAfterDiscountVariantItem = $(item).find(".txtPriceAfterDiscountVariant").val();
                if(!variantItem)
                    return toastr.warning("Vui lòng nhập thuộc tính cha", "Thông báo");
                if(!priceVariantItem)
                    return toastr.warning("Vui lòng nhập giá thuộc tính cha", "Thông báo");
                priceVariantItem = priceVariantItem && priceVariantItem.split(',').join('');
                priceAfterDiscountVariantItem = priceAfterDiscountVariantItem && priceAfterDiscountVariantItem.split(',').join('');
                propertyVariantParent.push({ id: index, name: variantItem, price: priceVariantItem, priceAfter: priceAfterDiscountVariantItem })
            });

            propertyVariantParent.forEach(variant => {
                $(`.variant-${variant.id}`).find(".item-thuoc-tinh-con").each((index, item) => {
                    let variantItemChild = $(item).find(".txtItemVariantChild").val();
                    let priceVariantItemChild = $(item).find(".txtPriceVariantChild").val();
                    let priceAfterDiscountVariantItemChild = $(item).find(".txtPriceAfterDiscountVariantChild").val();
                    if(!variantItemChild)
                        return toastr.warning("Vui lòng nhập thuộc tính con", "Thông báo");
                    if(!priceVariantItemChild)
                        return toastr.warning("Vui lòng nhập giá thuộc tính con", "Thông báo");
                    priceVariantItemChild = priceVariantItemChild && priceVariantItemChild.split(',').join('');
                    priceAfterDiscountVariantItemChild = priceAfterDiscountVariantItemChild && priceAfterDiscountVariantItemChild.split(',').join('');
                    propertyVariantChild.push({ parentID: variant.id, name: variantItemChild, price: priceVariantItemChild, priceAfter: priceAfterDiscountVariantItemChild })
                });
            })

            $(`#container-thong-so-co-ban`).find(".item-thong-so-co-ban").each((index, item) => {
                let titleParameters = $(item).find(".txtTitleParameters").val();
                let parameters = $(item).find(".txtParameters").val();
                let descriptionParameters = $(item).find(".txtDescriptionParameters").val();
                if(!titleParameters)
                    return toastr.warning("Vui lòng nhập tiêu đề thông số cơ bản", "Thông báo");
                if(!parameters)
                    return toastr.warning("Vui lòng nhập thông số cơ bản", "Thông báo");
                basicParameters.push({ title: titleParameters, parameters, description: descriptionParameters  });
            });
            
            if(!name)
                return toastr.warning('Vui lòng nhập tên sản phẩm', 'Thông báo');
            if(!description)
                return toastr.warning('Vui lòng nhập mô tả sản phẩm', 'Thông báo');
            if(!priceBefore)
                return toastr.warning('Vui lòng nhập giá sản phẩm', 'Thông báo');
            if(!menu)
                return toastr.warning('Vui lòng chọn một danh mục con', 'Thông báo');
            if(!avatar)
                return toastr.warning('Vui lòng chọn ảnh đại diện', 'Thông báo');

            let variant = {
                typeShowParent,
                typeShowChild,
                nameVariantParent,
                nameVariantChild,   
                propertyVariantParent, 
                propertyVariantChild,  
            }
            
            let dataInsert = {
                name,
                description,
                menu,
                introProduct,
                noteOrder,
                priceList,
                priceBefore,
                priceAfter,
                flashSale,
                flashPrint,
                basicParameters,
                variant,
                ratioSale
            }

            if(avatar || fileExcel || fileIllustrator || fileVectorEPS || filePDF || gallery.length > 0){
                toastr.info('Đang thêm sản phẩm. Vui lòng đợi..', 'Thông báo');
            }

            if(avatar){
                let pathImage = await getLinkS3(avatar);
                if(pathImage){
                    dataInsert.pathImage = pathImage.data;
                }
            }

            if(fileExcel){
                let pathfileExcel = await getLinkS3(fileExcel);
                if(pathfileExcel){
                    dataInsert.pathfileExcel = pathfileExcel.data;
                }
            }

            if(fileIllustrator){
                let pathfileIllustrator = await getLinkS3(fileIllustrator);
                if(pathfileIllustrator){
                    dataInsert.pathfileIllustrator = pathfileIllustrator.data;
                }
            }

            if(fileVectorEPS){
                let pathfileVectorEPS = await getLinkS3(fileVectorEPS);
                if(pathfileVectorEPS){
                    dataInsert.pathfileVectorEPS = pathfileVectorEPS.data;
                }
            }

            if(filePDF){
                let pathfilePDF = await getLinkS3(filePDF);
                if(pathfilePDF){
                    dataInsert.pathfilePDF = pathfilePDF.data;
                }
            }

            //Get link S3 if images product is exist
            let arrLinkS3ImageProduct = [];
            if(gallery && gallery.length){
                for (let file of gallery) {
                    let { name, size } = file;
                    let pathImageGallery = await getLinkS3(file);
                    arrLinkS3ImageProduct = [...arrLinkS3ImageProduct, { name, size, pathImageGallery: pathImageGallery.data }];
                }
                dataInsert.gallery = arrLinkS3ImageProduct
            }

            //disableAndLoading(this)
            $.ajax({
                url: `<%= CF_ROUTINGS_PRODUCT.ADD_PRODUCT%>`,
                method: 'POST',
                data: dataInsert,
                success: function(resp) {
                    console.log({ resp });
                    if (resp.error){
                        if(resp.message ="name_is_existed"){
                            return toastr.error('Tên sản phẩm đã tồn tại!', 'Thông báo');
                        }
                        toastr.error('Thêm sản phẩm thất bại, vui lòng kiểm tra lại thông tin!', 'Thông báo');
                    }else{
                        let { _id: productID } = resp.data;
                        toastr.success('Thêm sản phẩm thành công', 'Thông báo');
                        setTimeout(() => {
                            window.location.href =`/admin/update-product/${productID}`;
                        }, 200);
                    }
                },
                error: function(error){
                    console.log({ error })
                }
            });
            console.log({ dataInsert });
        })
    })
</script>