<link href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/dropzone.css" rel="stylesheet"/>
<script>
    
    //Dropzone Avatar
    Dropzone.options.recommendationAvatar = {
        init: function() {
            this.on("addedfile", function(file) { 
            if (this.files.length > 1) {
                this.removeFile(this.files[0]);
            }
            });
        },
        maxFiles:1,
        acceptedFiles: ".jpeg,.jpg,.png,.gif"
    };

    function runCleave(inputID) {
        $(`#${inputID}`).toArray().forEach(function(field){
            new Cleave(field, {
                numeral: true,
                numeralThousandsGroupStyle: 'thousand'
            });
        });
    }

    runCleave('txtPriceBefore');
    runCleave('txtPriceAfter');
    runCleave('txtPriceBeforeVariant');
    runCleave('txtPriceAfterVariant');

    //Dropzone Gallery
    Dropzone.options.recommendationGallery = {
        autoProcessQueue: true,
        addRemoveLinks: true,
        removedfile: function(file) {
            var _ref;
            return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
        },
        maxFiles:10,
        acceptedFiles: ".jpeg,.jpg,.png,.gif"
    };

    //Dropzone Gallery
    Dropzone.options.recommendationDocument = {
        autoProcessQueue: true,
        addRemoveLinks: true,
        init: function() {
            this.on("addedfile", function(file) { 
                if (this.files.length > 4) {
                    toastr.warning('Không thể thêm hơn 4 tệp', 'Thông báo');
                    this.removeFile(this.files[4]);
                }
            });
        },

        
        removedfile: function(file) {
            var _ref;
            return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
        },
        maxFiles:4,
        //acceptedFiles: ".jpeg,.jpg,.png,.gif"
    };

    $(document).ready(function(){
        
        //Active tinyMCE
        initEditor("#txtIntroProduct, #txtNoteOrder, #txtPriceList");
        
        function delay(callback, ms) {
            var timer = 0;
            return function() {
                var context = this, args = arguments;
                clearTimeout(timer);
                timer = setTimeout(function () {
                callback.apply(context, args);
                }, ms || 0);
            };
        }

        //Check input require
        function checkFieldRequire(fields) {
            return new Promise(async resolve => {
                try {
                    let nextStep = true;
                    for (const field of fields) {
                        if(!field){
                            nextStep = false;
                        }
                    }
                    return resolve(nextStep);
                } catch (error) {
                    return resolve({ error: true, message: error.message });
                }
            })
        }

        //Function caculator ratio Price
        function caculateRatioPrice(classPriceBefore, classPriceAfter) {
            let priceBefore = $(`#${classPriceBefore}`).val();
            let priceAfter = $(`#${classPriceAfter}`).val();
            if(priceBefore && priceAfter ){
                //Fortmat price
                priceBefore = priceBefore.split(',').join('');
                priceAfter = priceAfter.split(',').join('');
                if(Number(priceBefore) > Number(priceAfter)){
                    let ratio = priceAfter/priceBefore*100;
                    ratio = (100-ratio);
                    $('#txtRatio').val(`${ratio.toFixed(1)}%`);
                }else{
                    $('#txtRatio').val(``);
                    return toastr.warning('Giá sau khi giảm phải thấp hơn giá gốc', 'Thông báo');
                }
            }
        }

        $(document).on('keyup', '#txtPriceBefore, #txtPriceAfter', delay(function(e) {
            caculateRatioPrice('txtPriceBefore', 'txtPriceAfter');
        }, 1000));

        $('#menu-parent').on('change', function () {
            let valueMenuID = $(this).val();
            $.ajax({
                url: `/menu/get-list-menu-child-of-parent/${valueMenuID}`,
                method: 'GET',
                success: (resp) => {
                    if(!resp.error){
                        let listMenuChild = resp.data;
                        let dataAppend = '';
                        if(listMenuChild && listMenuChild.length){
                            listMenuChild.forEach(childMenu => {
                                dataAppend += `<option value="${childMenu._id}">${childMenu.name}</option>`;
                            })
                        }else{
                            dataAppend += `<option value="">Không có danh mục con</option>`;
                        }
                        $('#menu-children').empty();
                        $('#menu-children').append(dataAppend);
                    }else{
                        toastr.error('Có lỗi sảy ra vui lòng thử lại', 'Thông báo');
                    }
                },
                error: function(){
                    toastr.error('Có lỗi sảy ra vui lòng thử lại', 'Thông báo');
                }
            })
        }).change();

        //Create Product
        $(document).on('click', '.btnCreateProduct', async function(e) {
            e.preventDefault();

            //Fields for Product
            let name = $('#txtName').val();
            let description = $('#txtDescription').val();
            let menu = $('#menu-children').val();
            let introProduct = tinyMCE.get('txtIntroProduct').getContent();
            let noteOrder = tinyMCE.get('txtNoteOrder').getContent();
            let priceList = tinyMCE.get('txtPriceList').getContent();
            let color = $('#txtColor').val();
            let priceBefore = $('#txtPriceBefore').val();
            let priceAfter = $('#txtPriceAfter').val();

            let flashSale = $('#switch_flase_sale').prop("checked");
            let flashPrint = $('#switch_flash_print').prop("checked");

            //Fields for Variant
            let faceNumber = $('.select-face-number').val();
            let printingSpecification = $('.select-print-specification').val();
            let amount = $('.select-amount').val();

            let avatar = Dropzone.forElement(".dropzone").files;
            let gallery = Dropzone.forElement("#recommendationGallery").files;
            let document = Dropzone.forElement("#recommendationDocument").files;
            
            //Check input null
            let valueInput = await checkFieldRequire([name, description,  introProduct, noteOrder, priceList, color, priceBefore]);

            if(valueInput == false){
                return toastr.warning('Vui lòng nhập đầy đủ thông tin sản phẩm', 'Thông báo');
            }

            if(!menu){
                return toastr.warning('Vui lòng chọn một danh mục con', 'Thông báo');
            }

            //Fortmat price
            priceBefore = priceBefore && priceBefore.split(',').join('');
            priceAfter = priceAfter && priceAfter.split(',').join('');

            //Check price
            if(priceAfter && priceBefore && Number(priceAfter) >= Number(priceBefore)){
                return toastr.warning('Giá sau khi giảm phải thấp hơn giá gốc', 'Thông báo');
            }

            if(flashSale == true && !priceAfter){
                return toastr.warning('Bạn cần phải nhập giá giảm khi áp dụng Flashsale', 'Thông báo');
            }

            let ratioSale = 0;
            if(priceAfter && priceBefore){
                ratioSale = Number(priceAfter)/Number(priceBefore)*100;
                ratioSale = (100-ratioSale).toFixed(0);
                //flashSale = true;
            }

            let dataInsert = {
                name,
                description,
                menu,
                introProduct,
                noteOrder,
                priceList,
                color,
                priceBefore,
                priceAfter,
                ratioSale,
                flashSale,
                flashPrint
            }

            let fd = new FormData();

            if(avatar && avatar.length == 0 || gallery && gallery.length == 0){
                return toastr.warning('Vui lòng thêm hình ảnh sản phẩm', 'Thông báo');
            }

            let lengthTableVariant = $('.list-variant tr').length;

            //If varient is invalid, cann't insert product
            if(lengthTableVariant == 0){
                return toastr.warning('Vui lòng tạo sản phẩm con','Thông báo');
            }

            //If existed avatar and images product => toastr waiting...
            if(avatar && avatar.length || gallery && gallery.length || document && document.length){
                toastr.info('Đang xử lý, vui lòng đợi...', 'Thông báo');
            }

            //Get link S3 if avatar product is exist
            if(avatar && avatar.length){
                let pathImage = await getLinkS3(avatar);
                if(pathImage){
                    dataInsert.pathImage = pathImage.data;
                }
                fd.append('file', avatar[0]);
            }

            //Get link S3 if images product is exist
            let arrLinkS3ImageProduct = [];
            if(gallery && gallery.length){
                for (let file of gallery) {
                    let { name, size } = file;
                    let pathImageGallery = await getLinkS3(file);
                    arrLinkS3ImageProduct = [...arrLinkS3ImageProduct, {name, size, pathImageGallery: pathImageGallery.data }];
                }
                dataInsert.gallery = JSON.stringify(arrLinkS3ImageProduct)
            }

            //Get link S3 if file product is exist
            let arrLinkS3FileProduct = [];
            if(document && document.length){
                for (let file of document) {
                    let { name, size, type } = file;
                    let pathDocument = await getLinkS3(file);
                    arrLinkS3FileProduct = [...arrLinkS3FileProduct, {name, size, type, pathDocument: pathDocument.data }];
                }
                dataInsert.document = JSON.stringify(arrLinkS3FileProduct)
            }

            fd.append('data', JSON.stringify(dataInsert))

            disableAndLoading(this)
            $.ajax({
                url: `/product/add`,
                method: 'POST',
                data: fd,
                contentType: false,
                processData: false,
                success: (resp) => {
                    console.log({ resp });
                    if(!resp.error){
                        toastr.success('Thêm thành công', 'Thông báo');
                        let { _id: productID } = resp.data;
                        let arrVariantProduct = [];
                        $( ".list-variant tr" ).each(function( index ) {
                            //return console.log( index + ": " + $( this ).text() );
                            let faceNumber = $(this).children('.faceNumberClass').attr("_faceNumber");
                            let printSpecification = $(this).children('.printSpecificationClass').attr("_printSpecification");
                            let amount = $(this).children('.amountClass').attr("_amount");
                            let mass = $(this).children('.massClass').attr("_mass");
                            let priceBefore = $(this).children('.priceBeforeClass').attr("_priceBefore");
                            let priceAfter = $(this).children('.priceAfterClass').attr("_priceAfter");
                            let name = $(this).children('.nameClass').attr("_name");
                            let description = $(this).children('.descriptionClass').attr("_description");

                            //arrObjVariant = [...arrObjVariant, { faceNumber, printSpecification, amount, mass, priceBefore, priceAfter }]
                            let priceBeforeFormated = priceBefore.split(',').join('');
                            let priceAfterFormated = priceAfter ? priceAfter.split(',').join('') : null;

                            arrVariantProduct = [...arrVariantProduct, { name, description, faceNumber, printSpecification, amount, mass, priceBefore: Number(priceBeforeFormated), priceAfter: Number(priceAfterFormated), productID }]

                        });

                        //console.log({ arrVariantProduct });

                        $.ajax({
                            url: `/variant/add`,
                            method: 'POST',
                            data: { data: JSON.stringify(arrVariantProduct) },
                            success: (resp) => {
                                //console.log({ resp });
                                if(!resp.error){
                                    // toastr.success('Thông báo','Thêm thành công');
                                    //console.log("Thành công");
                                }else{
                                    enableAndStopLoading(this);
                                    toastr.error('Có lỗi sảy ra vui lòng thử lại', 'Thông báo');
                                }
                            },
                            error: function(){
                                enableAndStopLoading(this);
                                toastr.error('Có lỗi sảy ra vui lòng thử lại', 'Thông báo');
                            }
                        })

                        setTimeout(() => {
                            return location.href = '/admin/list-product';
                        }, 700);
                        
                    }else{
                        enableAndStopLoading(this);
                        if(error.message = "name_is_existed"){
                            return toastr.warning('Đã có tên sản phẩm này', 'Thông báo');
                        }
                        toastr.error('Có lỗi sảy ra', 'Thông báo');
                    }
                },
                error: function(){
                    enableAndStopLoading(this);
                    toastr.error('Có lỗi sảy ra vui lòng thử lại', 'Thông báo');
                }
            })
        })

        $('#attribute').select2();
        $('#face-number').select2();
        $('#print-specification').select2();
        $('#select-amount').select2();
        $('#menu-parent').select2();
        $('#menu-children').select2();
        
        $(document).on('click', '.btnRemoveVariant', function(e) {
            $(this).closest('tr').remove();
            return toastr.info('Xoá sản phẩm con thành công', "Thông báo");
        })
        
        let arrVariantReceive = [];
        $(document).on('click', '.btnCreateVariant', async function(e) {
            e.preventDefault();
            let faceNumber = $('.select-face-number').val();
            let printSpecification = $('.select-print-specification').val();
            let amount = $('.select-amount').val();
            let name = $('#txtNameChild').val();
            let description = $('#txtDescriptionChild').val();

            let faceNumberText = $(".select-face-number option:selected").text();
            let printSpecificationText = $(".select-print-specification option:selected").text();
            let amountText = $(".select-amount option:selected").text();

            let mass = $('#txtMass').val();
            let priceBefore = $('#txtPriceBeforeVariant').val();
            let priceAfter = $('#txtPriceAfterVariant').val();
            //console.log({ faceNumber, printSpecification, amount, mass, priceBefore, priceAfter });

            let nextStep = await checkFieldRequire([faceNumber, printSpecification, amount, mass, priceBefore, name]);
            if(nextStep == false){
                return toastr.warning('Vui lòng nhập đầy đủ thông tin sản phẩm con', "Thông báo");
            }

            //Check price
            if(priceAfter && priceBefore){
                let priceAfterCheck = priceAfter.split(',').join('');
                let priceBeforeCheck = priceBefore.split(',').join('');
                if(Number(priceAfterCheck) >= Number(priceBeforeCheck)){
                    return toastr.warning('Giá sau khi giảm phải thấp hơn giá gốc', 'Thông báo');
                }
            }

            //arrVariantReceive = [...arrVariantReceive, {faceNumber, printSpecification, amount}];

            let nextStepAddVariant = true;
            let messageToastr = '';
            if(arrVariantReceive && arrVariantReceive.length){
                arrVariantReceive.forEach(item => {
                    if(item.faceNumber.toString() == faceNumber.toString() && 
                        item.printSpecification.toString() == printSpecification.toString() && 
                        item.amount.toString() == amount.toString()) {
                            messageToastr = 'Các trường của sản phẩm con này đã tồn tại, Yêu cầu nhập khác';
                            return nextStepAddVariant = false;
                    }
                    if(item.name == name){
                        messageToastr = 'Tên sản phẩm con này đã tồn tại, Yêu cầu nhập khác';
                        return nextStepAddVariant = false;
                    }
                })
                if(nextStepAddVariant == true){
                    arrVariantReceive = [...arrVariantReceive, {faceNumber, printSpecification, amount, name}];
                }
            }else{
                arrVariantReceive = [...arrVariantReceive, {faceNumber, printSpecification, amount, name}];
            }

            if(nextStepAddVariant == false){
                return toastr.warning(messageToastr, 'Thông báo');
            }

            let lengthTableVariant = $('.list-variant').find('tr').length;
            $('.list-variant').append(`
                <tr role="row" class="odd ui-sortable-handle">
                    <td colspan="1" tabindex="0" class="index-element">${Number(lengthTableVariant) + 1}</td>
                    <td class="nameClass" _name=${name} colspan="2">${name}</td>
                    <td class="descriptionClass" _description="${description}" colspan="2">${description}</td>
                    <td class="faceNumberClass" _faceNumber=${faceNumber} colspan="2">${faceNumberText}</td>
                    <td class="printSpecificationClass" _printSpecification=${printSpecification} colspan="2">${printSpecificationText}</td>
                    <td class="amountClass" _amount=${amount} colspan="2">${amountText}</td>
                    <td class="massClass" _mass=${mass} colspan="2">${mass}</td>
                    <td class="priceBeforeClass" _priceBefore="${priceBefore}" colspan="2">${priceBefore}đ</td>
                    <td class="priceAfterClass" _priceAfter="${priceAfter}" colspan="2">${priceAfter ? `${priceAfter}đ` : 'Không giảm'}</td>
                    <td colspan="2">
                    <div class="btn-group mb-2">
                        <button type="button" class="btn btn-secondary btn-sm waves-effect waves-light">
                                Tác vụ
                        </button>
                        <button type="button" class="btn btn-secondary btn-sm waves-effect waves-light dropdown-toggle-split dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">...</span>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item btnRemoveVariant" href="#"><i class="fa fa-trash"></i> Xóa</a> 
                        </div>
                    </div>
                    </td>
                </tr>`
            )

            $('#txtNameChild').val("");
            $('#txtDescriptionChild').val("");
            $('#txtPriceBeforeVariant').val("");
            $('#txtPriceAfterVariant').val("");

        })

    })

</script>