<script>
    $(document).ready(function() {
        console.log("aaaaaaaa");
        $("#txtCity").select2();
        $("#txtDistrict").select2();
        $("#txtWard").select2();

        $("#txtCityUpdate").select2({ dropdownParent: $("#txtCityParent") });
        $("#txtDistrictUpdate").select2({ dropdownParent: $("#txtDistrictParent") });
        $("#txtWardUpdate").select2({ dropdownParent: $("#txtWardParent") });

        $('#txtCity').on('change', function () {
            $("#txtDistrict").empty();
            let value = $(this).val();

            // setSuccess("#txtCity");
            if ( value && value != ""){
                $.ajax({
                    url: `/list-districts/${value}`,
                    method: 'get',
                    success: resp => {
                        console.log({ resp });
                        let { listDistricts } = resp;
                        let listDistrict = Object.entries(listDistricts);
                        let dataAppend = "";
                        listDistrict.forEach(district => {
                            dataAppend += `<option value="${district[1].code}">${district[1].name_with_type}</option>`
                        })
                        if (!resp.error){
                            $("#txtDistrict").append(`<option id="emptyDistrict" value="" selected>Chọn Quận/Huyện</option>`);
                            $("#txtDistrict").append(dataAppend);
                            $("#txtWard").empty();
                            $("#txtWard").append(`
                                <option id="emptyWard" value="">Chọn Phường</option>
                            `);
                            // $("#emptyWard").attr("selected", true);
                        }else{
                            return toastr.error(`Thất bại`, "THÔNG BÁO");
                        }
                    },
                    error: function(err) {
                        return toastr.error(`Xóa thất bại`, "THÔNG BÁO");
                    }
                });
            }else{
                $("#txtDistrict").append(`
                    <option id="emptyDistrict" value="">Chọn Quận/Huyện</option>
                `);
                $("#emptyDistrict").attr("selected", true);

                $("#txtWard").empty();
                $("#txtWard").append(`
                    <option id="emptyWard" value="">Chọn Phường</option>
                `);
                $("#emptyWard").attr("selected", true);
            }
            
        });

		//Xã, phường
        $('#txtDistrict').on('change', function () {
            $("#txtWard").empty();
            let value = $(this).val();
            if ( value && value != ""){
                $.ajax({
                    url: `/list-wards/${value}`,
                    method: 'get',
                    success: resp => {
                        let { listWards } = resp;
                        let listWard = Object.entries(listWards);
                        let dataAppend = "";
                        listWard.forEach(ward => {
                            dataAppend += `<option value="${ward[1].code}">${ward[1].name_with_type}</option>`
                        })
                        if (!resp.error){
                            $("#txtWard").append(`<option id="emptyWard" value="" selected>Chọn Phường</option>`);
                            $("#txtWard").append(dataAppend);
                        }else{
                            return toastr.error(`Thất bại`, "THÔNG BÁO");
                        }
                    },
                    error: function(err) {
                        return toastr.error(`Xóa thất bại`, "THÔNG BÁO");
                    }
                });
            }else{
                $("#txtWard").append(`
                    <option id="emptyWard" value="">Chọn Phường</option>
                `);
                $("#emptyWard").attr("selected", true);
            }
        });

        function validatePhone(phone) {
            let phone_regex = /((09|03|07|08|05)+([0-9]{8})\b)/g;
            return phone_regex.test(phone);
        }
        
        function limitOld({time1, time2}) {
            let a = (new Date(time1)).getTime();
            let b = (new Date(time2)).getTime();
            if (a > b) {
                return 1;
            } else if (b > a) {
                return 2;
            } else {
                return 0;
            }
        };
        
        function checkEmail(email) {
            var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(String(email).toLowerCase());
        }

        function validateData(data) {
            let { fullname, email, password } = data;

            if (!fullname) 
                return { error: true, msg: "Vui lòng nhập họ và tên!"}
            if (!checkEmail(email)) 
                return { error: true, msg: "Email không hợp lệ, Mời bạn nhập lại!"}
            if (!password) 
                return { error: true, msg: "Vui lòng nhập mật khẩu!"}
            return { error:false, msg: "validate_done" };
        }
        
        function getData() {
            let fullname  = $("#txtFullName").val();
            let email     = $("#txtEmail").val();
            let password  = $("#txtPassword").val();
            return { fullname, email, password }
        }

        $(document).on("click", ".btnAddAccount", function(e) {
            e.preventDefault();
            let data = getData();
            let validate = validateData(data);
            if (validate.error) {
                return toastr.warning(validate.msg, "THÔNG BÁO");
            }

            $.ajax({
                url: `/customer/add-customer`,
                method: "POST",
                data: { 
                    ...data
                },
                success: resp => {
                    if( resp.infoAccount.error == false && resp.infoAccount.data ){
                        toastr.success("Bạn đã thêm thành công", "THÔNG BÁO");
                        setTimeout(function() {
                            window.location.href = "/admin/accounts";
                        }, 700);
                    }else{
                        if (resp.infoAccount.message == "email_not_valid") {
                            return toastr.warning("Email không đúng định dạng, Mời bạn nhập lại!", "THÔNG BÁO");
                        }
                        if (resp.infoAccount.message == "email_existed") {
                            return toastr.warning("Email đã tồn tại, Mời bạn nhập lại!", "THÔNG BÁO");
                        }
                        if (resp.infoAccount.message == "phone_existed") {
                            return toastr.warning("Số điện thoại đã tồn tại, Mời bạn nhập lại!", "THÔNG BÁO");
                        }
                        toastr.error(`${resp.infoAccount.message}`, "THÔNG BÁO");
                    }
                }
            })
        });
        
        /**
         * THÊM ĐỊA CHỈ KHÁCH HÀNG
        */
        function getAddress() {
            let address   = $("#txtAddress").val();
            let city      = $("#txtCity").val();
            let district  = $("#txtDistrict").val();
            let ward      = $("#txtWard").val();

            return { city, district, ward, address }
        }

        function validateAddress(data) {
            let { city, district, ward, address } = data;
            if (!address) return { error: true, msg: "Địa chỉ không hợp lệ, Mời bạn chọn lại!"}
            if (!city) return { error: true, msg: "Thành Phố/Tỉnh không hợp lệ, Mời bạn chọn lại!"}
            if (!district) return { error: true, msg: "Quận/Huyện không hợp lệ, Mời bạn chọn lại!"}
            if (!ward) return { error: true, msg: "Phường/Xã không hợp lệ, Mời bạn chọn lại!"}

            return { error: false, msg: "Done validate"}
        }

        $(document).on("click", ".btnAddAddressAccount", function() {
            let _accountID = $(this).attr("_accountID");
            let data = getAddress();
            let validate = validateAddress(data);
            if (validate.error) {
                return toastr.warning(validate.msg, "THÔNG BÁO");
            }
            $.ajax({
                url: `/customer/add-address-customer/${_accountID}`,
                method: "POST",
                data: {
                    ...data
                },
                success: resp => {
                    console.log({ resp });
                    if (resp.error == false && resp.data) {
                        toastr.success("Bạn đã thêm địa chỉ thành công", "THÔNG BÁO");
                        setTimeout(function() {
                            window.location.href = `/customer/add-address-customer/${_accountID}`
                        }, 700);
                    } else {
                        toastr.warning("Có lỗi xảy ra trong quá trình thêm địa chỉ", "THÔNG BÁO");
                    }
                }
            })
        });

        /**
         * UPDATE ĐỊA CHỈ
        */
        $('#txtCityUpdate').on('change', function () {
            $("#txtDistrictUpdate").empty();
            let value = $(this).val();
            let districtReturn = $("#txtDistrictUpdate").attr("_district");
            // setSuccess("#txtCity");
            if ( value && value != ""){
                $.ajax({
                    url: `/list-districts/${value}`,
                    method: 'get',
                    success: resp => {
                        // console.log({ resp });
                        let { listDistricts } = resp;
                        let listDistrict = Object.entries(listDistricts);
                        let dataAppend = "";
                        listDistrict.forEach(district => {
                            dataAppend += `<option value="${district[1].code}">${district[1].name_with_type}</option>`
                        })
                        if (!resp.error){
                            $("#txtDistrictUpdate").append(dataAppend);
                            $("#txtDistrictUpdate").val(districtReturn).trigger('change');
                            // $("#txtDistrictUpdate").append(`<option id="emptyDistrict" value="" selected>Chọn Quận/Huyện</option>`);
                            // $("#txtDistrictUpdate").append(dataAppend);
                            // $("#txtWardUpdate").empty();
                            // $("#txtWardUpdate").append(`
                            //     <option id="emptyWardUpdate" value="">Chọn Phường</option>
                            // `);
                            // $("#emptyWard").attr("selected", true);
                        }else{
                            return toastr.error(`Thất bại`, "THÔNG BÁO");
                        }
                    },
                    error: function(err) {
                        return toastr.error(`Xóa thất bại`, "THÔNG BÁO");
                    }
                });
            }else{
                $("#txtDistrictUpdate").append(`
                    <option id="emptyDistrictUpdate" value="">Chọn Quận/Huyện</option>
                `);
                $("#emptyDistrictUpdate").attr("selected", true);

                $("#txtWardUpdate").empty();
                $("#txtWardUpdate").append(`
                    <option id="emptyWardUpdate" value="">Chọn Phường</option>
                `);
                $("#emptyWardUpdate").attr("selected", true);
            }
            
        });

        $('#txtDistrictUpdate').on('change', function () {
            $("#txtWardUpdate").empty();
            let value = $(this).val();
            let wardReturn = $("#txtWardUpdate").attr("_ward");

            if ( value && value != ""){
                $.ajax({
                    url: `/list-wards/${value}`,
                    method: 'get',
                    success: resp => {
                        let { listWards } = resp;
                        let listWard = Object.entries(listWards);
                        let dataAppend = "";
                        listWard.forEach(ward => {
                            if(ward[1].code == wardReturn){
                                dataAppend += `<option selected value="${ward[1].code}">${ward[1].name_with_type}</option>`
                            }else{
                                dataAppend += `<option value="${ward[1].code}">${ward[1].name_with_type}</option>`
                            }
                        })
                        if (!resp.error){
                            $("#txtWardUpdate").append(`<option id="emptyWardUpdate" value="" selected>Chọn Phường</option>`);
                            $("#txtWardUpdate").append(dataAppend);
                        }else{
                            return toastr.error(`Thất bại`, "THÔNG BÁO");
                        }
                    },
                    error: function(err) {
                        return toastr.error(`Xóa thất bại`, "THÔNG BÁO");
                    }
                });
            }else{
                $("#txtWardUpdate").append(`
                    <option id="emptyWardUpdate" value="">Chọn Phường</option>
                `);
                $("#emptyWardUpdate").attr("selected", true);
            }
        });

        function setDataModal(data) {
            let { address, city, district, ward, _id } = data;

            address   && $(".txtFullNameUpdate").val(address);
            district  && $("#txtDistrictUpdate").attr("_district", district);
            ward      && $("#txtWardUpdate").attr("_ward", ward);
            city      && $("#txtCityUpdate").val(city).trigger("change");

            let addressID = $(".status").attr("_addressID");
            if (addressID == _id) {
                $(".showStatusAddress").hide();
                $(".status").attr("checked", true);
            } else {
                $(".showStatusAddress").show();
                $(".status").attr("checked", false);
            }
            $(".btnSubmitChangeAddress").attr("_addressID", _id);
        }

        $(document).on("click", ".btnUpdateAddressAccount", function() {
             let index      = $(this).attr("_index");
             let addressID  = $(this).attr("_addressID");
             $.ajax({
                url: `/customer/info-address-customer/${addressID}`,
                method: "GET",
                success: resp => {
                    if (resp.error == false && resp.data) {
                        setDataModal(resp.data);
                        $(".modalUpdate").modal("show");
                    } else {
                        toastr.warning("Có lỗi xảy ra trong quá trình cập nhật địa chỉ", "THÔNG BÁO");
                    }
                }
             })
        });

        function getDataUpdateAddress() {
            let address   = $(".txtFullNameUpdate").val();
            let city      = $("#txtCityUpdate").val();
            let district  = $("#txtDistrictUpdate").val();
            let ward      = $("#txtWardUpdate").val();

            return { city, district, ward, address };
        }

        $(document).on("click", ".btnSubmitChangeAddress", function() {
            let addressID  = $(this).attr("_addressID");
            let data       = getDataUpdateAddress();
            let validate   = validateAddress(data);
            if (validate.error) {
                return toastr.warning(validate.msg, "THÔNG BÁO");
            }
            let status = $(`.status`).is(":checked");
            let accountID = $(`.status`).attr("_accountID")
            let statusChange;
            if (status) {
                statusChange = 1;
            }
            if (status == false) {
                statusChange = 0;
            }
            $.ajax({
                url: `/customer/update-address-customer/${addressID}`,
                method: "POST",
                data: {
                    ...data, status: statusChange, accountID
                },
                success: resp => {
                    if (resp.error == false && resp.data) {
                        toastr.success("Bạn đã chỉnh sửa thành công", "THÔNG BÁO");
                        setTimeout(function() {
                            location.reload();
                        }, 700);
                    } else {
                        toastr.warning("Có lỗi xảy ra trong quá trình cập nhật địa chỉ", "THÔNG BÁO");
                    }
                }
            })
        })
    })
</script>