<script>
    $(document).ready(function(){
        let getInfo = () => {
			let email	= $('#email').val().trim();
            let adminType = $('#adminType').val();
			let status = $('#status').val();

            return { email, level: adminType, status };
        }

		$('#btnCreateUser').on('click', function () {
			const { email, level, status } = getInfo();
			const username = $('#username').val().trim();
			const password = $('#password').val().trim();

			if(!email || !username || !password || !status)
				return toastr.warning('Bạn cần nhập đầy đủ các trường', 'THÔNG BÁO');

			$.ajax({
				type: "POST",
				url: `<%= CF_ROUTINGS_ACCOUNT.ADD_ACCOUNT %>`,
				data: { username, email, password, status, level }
			}).done(resp => {
				const { error, message } = resp;

				if(error){
					return toastr.warning(message, 'THÔNG BÁO');
				}

				toastr.success('Tạo user thành công', 'THÔNG BÁO');
				setTimeout(() => {
					location.href = '/admin/list-admin';
				}, 1000);
			}).fail(err => console.error(err))

		});

        $('#btnUpdateAccount').on('click', function(){
            let infoUser = getInfo();
            let { email, level, status } = infoUser;

            if (!email || !email.length)
                return toastr.warning('email không hợp lệ', 'THÔNG BÁO');

            let token = localStorage.getItem('token_admin');
            if (!token)
                return window.location.href = '/admin/logout';

			// BEGIN CALL AJAX
            let userID = $(this).attr("_userID");
            $.ajax({
                url: `<%= CF_ROUTINGS_ACCOUNT.UPDATE_ACCOUNT %>`,
                method: 'POST',
                data: { ...infoUser, userID },
            }).done(resp => {
				const { error, message } = resp;

				if(error){
					return toastr.error(message, "THÔNG BÁO");
				}

				toastr.success("Cập nhật tài khoản thành công", "THÔNG BÁO");
			}).fail(err => console.error(err))
        })

		$('#btnUpdatePassword').on('click', function() {
			const oldPassword = $('#passwordOld').val().trim();
			const newPassword = $('#passwordNew').val().trim();

			if(!newPassword && !oldPassword){
				return toastr.warning("Bạn cần nhập đầy đủ các trường", "THÔNG BÁO");
			}

			if(newPassword && !oldPassword){
				return toastr.warning("Bạn cần nhập mật khẩu cũ", "THÔNG BÁO");
			}

			if(oldPassword && !newPassword){
				return toastr.warning("Bạn cần nhập mật khẩu mới", "THÔNG BÁO");
			}

            let token = localStorage.getItem('token_admin');
            if (!token)
                return window.location.href = '/admin/logout';


			// BEGIN CALL AJAX
			let userID = $(this).attr("_userID");
			$.ajax({
				type: "POST",
				url: `<%= CF_ROUTINGS_ACCOUNT.UPDATE_ACCOUNT %>`,
				data: { userID, password: newPassword, oldPassword },
			}).done(resp => {
				const { error, message } = resp;

				if(error){
					switch (message) {
						case 'user_is_not_exists':
							return toastr.warning('User không tổn tại', "THÔNG BÁO");
						case 'old_password_wrong':
							return toastr.warning('Mật khẩu cũ không chính xác', "THÔNG BÁO");					
						default:
							return toastr.warning(message, "THÔNG BÁO");
					}
				}

				// Reset data
				$('#passwordOld').val('');
				$('#passwordNew').val('');

				toastr.success("Cập nhật mật khẩu thành công", "THÔNG BÁO");
			}).fail(err => console.error(err))

		})
    });
</script>