<script>
	$(document).ready(function () {

		const updateOrderLine = ({ orderLineID, file, containerDropzone }) => {
			$.ajax({
				type: "POST",
				url: `<%= CF_ROUTINGS_ORDER.UPDATE_FILE_TO_ORDER_LINE %>`,
				data: { orderLineID, file },
			}).done(resp => {
				const { error, message, fileID } = resp;

				if(error){
					return toastr.warning(message, 'THÔNG BÁO');
				}

				containerDropzone.addClass('d-none').removeClass('d-flex');
				containerDropzone.parent().find('.files').removeClass('d-none').append(`
					<div class="file-name my-2 d-flex justify-content-between align-items-center" data-id="${file.name}">
						<a href="${file.path}" download="${file.path}" target="_blank">
							<img src="/template/hailuu-fe/assets/images/Asset 1@4x-8.svg" alt="Excel File" class="img-file" 
								style='    
									width: 30px !important;
									height: 30px !important;
									margin-right: 20px;
									border-radius:0;
								'
							>
							${file.name.length > 25 ? file.name.substr(0, 25) + '...' : file.name}
						</a>
						<a href="javascript:void(0)" class="btn-remove-file-order-line" _fileID="${fileID}" _orderLineID="${orderLineID}">
							<img src="/template/hailuu-fe/assets/images/Mask Group 104.svg" alt="Delete" class="img-fluid">
						</a>
					</div>
				`);
				containerDropzone.find('.box-drag-and-drop').removeClass('d-none');
				containerDropzone.find('.box-processing-upload-file').addClass('d-none');
				containerDropzone.find('.box-processing-upload-file .progress-bar').text('0%');
				containerDropzone.find('.box-processing-upload-file .progress-bar').css('width', '0%');

				toastr.info('Thêm file thành công', 'THÔNG BÁO');
			}).fail(err => console.error(err))
		}

		const uploadFileOrderLine = async (orderLineID, files, containerDropzone) => {
			if(files.length){
				containerDropzone.find('.box-drag-and-drop').addClass('d-none');
				containerDropzone.find('.box-processing-upload-file').removeClass('d-none');

				await addFileToUpload(files, links => {
					const { name, size, type } = files[0];

					const infoFile = {
						name,
						size,
						type,
						path: links[0].uri,
					}
					updateOrderLine({ orderLineID, file: infoFile, containerDropzone });

				}, percentage => {
					percentage = `${Math.ceil(percentage)}%`;
					containerDropzone.find('.box-processing-upload-file .progress-bar').text(percentage);
					containerDropzone.find('.box-processing-upload-file .progress-bar').css('width', percentage);
				})
			}
		}

		const updateStatusOrder = (dataUpdate) => {
			$('.modal-update-status-order').modal('hide');

			$.ajax({
				type: "POST",
				url: `<%= CF_ROUTINGS_ORDER.UPDATE_ORDER %>`,
				data: dataUpdate
			}).done(resp => {
				const { error, message } = resp;

				if(error){
					return toastr.warning(message, 'THÔNG BÁO');
				}

				toastr.success('Cập nhật thành công', 'THÔNG BÁO');
				setTimeout(() => location.reload(), 1000);
			}).fail(err => {
				toastr.error(err.message, 'THÔNG BÁO')
			})
		}

		$('.btn-open-modal-update-status').on('click', async function () {
			$('.modal-update-status-order').modal('show');

			const _orderID = $(this).attr('_orderID');
			const statusOrder = $(this).attr('_statusOrder');
			const statusPayment = $(this).attr('_statusPayment');

			if(statusOrder || statusPayment){
				$('#txtOrderIdUpdateModal').val(_orderID);

				if(statusOrder){
					$('.modal-update-status-order .group-status-order').show();
					$('.modal-update-status-order .group-status-payment').hide();
					$('#scOrderStatusUpdateModal').val(statusOrder);
					$('#scOrderStatusPaymentUpdateModal').val(-1);
				}

				if(statusPayment){
					$('.modal-update-status-order .group-status-payment').show();
					$('.modal-update-status-order .group-status-order').hide();
					$('#scOrderStatusPaymentUpdateModal').val([1,2,3].includes(+statusPayment) ? 1 : 0);
					$('#scOrderStatusUpdateModal').val(-1);
				}
			} else{
				$('.modal-update-status-order').modal('hide');
				return toastr.warning('Không thể cập nhật', 'THÔNG BÁO');
			}

		});

		$('.btnConfirmUpdateStatusOrder').on('click', function () {
			const orderID 				= $('#txtOrderIdUpdateModal').val();
			const statusOrder 			= $('#scOrderStatusUpdateModal').val();
			const statusOrderPayment 	= $('#scOrderStatusPaymentUpdateModal').val();

			const dataUpdate = { orderID };
			statusOrder 		&& (dataUpdate.status 		 = statusOrder);
			statusOrderPayment 	&& (dataUpdate.statusPayment = statusOrderPayment);

			updateStatusOrder(dataUpdate)
		});

		$('.box-order-line').each(function (_, elem) { 
			const orderLineID 	= $(this).attr('_orderLineID');
			const dropZoneID	= `#boxDropzoneFile-${orderLineID}`;

			new FileDropzone({
				target: dropZoneID,
				fileHoverClass: 'entered',
				clickable: true,
				multiple: false,
				forceReplace: false,
				// accept: '',
				unique: true,
				noFolder: true,
				onChange: async function () {
					let files = this.getFiles();
					// console.log({ __elem: this.element, files });

					let containerDropzone = $(dropZoneID);
					await uploadFileOrderLine(orderLineID, files, containerDropzone);
				},
				onLeave: function () {
					$(elem).find(dropZoneID).css('opacity', '1');
				},
				onHover: function () {
					$(elem).find(dropZoneID).css('opacity', '.6');
				},
				onDrop: function () {
					$(elem).find(dropZoneID).css('opacity', '1');
				},
				onInvalid: function (files) {
					console.log(files);
					alert('File invalid');
				},
				beforeAdd: function (files) {
					// console.log({ __beforeAdd: files });
				}
			})
		});

		$(document).on('click', '.btn-remove-file-order-line', function () {
			const orderLineID 	= $(this).attr('_orderLineID');
			const fileID		= $(this).attr('_fileID');
			const accept 		= confirm('Bạn có chắc chắn muốn xoá file?');
			if(!accept) return;

			if(!orderLineID || !fileID){
				return toastr.warning('Không thể xoá file vui lòng thử reload lại trang', 'THÔNG BÁO')
			}

			$.ajax({
				type: "POST",
				url: `<%= CF_ROUTINGS_ORDER.API_DELETE_FILE_IN_ORDER_LINE %>`,
				data: { orderLineID, fileID },
			})
			.done(resp => {
				const containerListFile = $(this).closest('.files');

				containerListFile.addClass('d-none');
				$(this).closest('.row-box-orderline').find('.box-dropzone-file').removeClass('d-none');
				$(this).parent().remove();
			})
			.fail(err => toastr.error(err.message, 'THÔNG BÁO'))
		});


	});
</script>