<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/dropzone.css" rel="stylesheet"/> -->
<script>
	$(document).ready(function () {

		// =============================== LIST ORDER SCRIPT ==================================

		$("#tableListOrder").dataTable({
			...languageDataTable,
			"lengthMenu": [[50, 25, 10, -1], [50, 25, 10, "All"]]
		});

		$('#scOrderStatusFilter').select2({ width: 'resolve' });
		$('#scOrderStatusPaymentFilter').select2({ width: 'resolve' });

		let urlParams 			= new URLSearchParams(location.search);
		let statusParam 		= urlParams.get('status');
		let statusPaymentParam 	= urlParams.get('statusPayment');

		statusParam && $('#scOrderStatusFilter').val(statusParam).trigger('change');
		statusPaymentParam && $('#scOrderStatusPaymentFilter').val(statusPaymentParam).trigger('change');

		const changeQuery = (query, value, wait = false) => {
			if(!value || +value === -1){
				urlParams.delete(query);
			} else{
				urlParams.set(query, value);
			}
			!wait && location.replace(`<%= CF_ROUTINGS_ORDER.LIST_ORDER %>?` + urlParams.toString());
		}

		const setRowTableOrder = (infoOrder, index) => {
			let paymentStatus	= '';
			let orderStatus 	= {};

			switch (infoOrder.status) {
				case 0:
					orderStatus = {
						text: 'Đang xử lý',
						class: 'badge-warning'
					};
					break;
				case 1:
					orderStatus = {
						text: 'Đã nhận đơn',
						class: 'badge-warning'
					};
					break;
				case 2:
					orderStatus = {
						text: 'Đang phê duyệt',
						class: 'badge-warning'
					};
					break;
				case 3:
					orderStatus = {
						text: 'Đang in ấn',
						class: 'badge-warning'
					};
					break;
				case 4:
					orderStatus = {
						text: 'Đóng gói và vận chuyển',
						class: 'badge-warning'
					};
					break;
				case 5:
					orderStatus = {
						text: 'Hoàn thành giao hàng',
						class: 'badge-success'
					};
				default:
					break;
			}

			switch (infoOrder.payment) {
				case 0:
					paymentStatus = 'Thanh toán khi nhận hàng';
					break;
				case 1:
					paymentStatus = 'Thanh toán qua chuyển khoản';
					break;
				case 2:
					paymentStatus = 'Thanh toán qua momo';
					break;
				default:
					break;
			}

			let htmlStatusPayment = `
				<span class="badge badge-pill badge-danger">
					Chưa thanh toán
				</span>
			`;

			if([1,2,3].includes(infoOrder.statusPayment)){
				htmlStatusPayment = `
					<span class="badge badge-pill badge-success">
						Đã thanh toán
					</span>
				`;
			}

			return `
				<tr>
					<th> ${index + 1} </th>
					<td>
						<i> 
							<a href="/order/info-order?orderID=${infoOrder._id}"> 
								${infoOrder.orderID}
							</a>
						</i>
					</td>
					<td>
						<i> ${moment(infoOrder.createAt).format('DD/MM/YYYY HH:mm')} </i>
					</td>
					<td>
						<i> ${infoOrder.customer ? infoOrder.customer.fullname : ''} </i>
					</td>
					<td>
						<h6>
							<span class="badge badge-pill ${orderStatus.class}">
								${orderStatus.text}
							</span>
						</h6>
					</td>
					<td>
						<i> ${formatter.format(infoOrder.amount)} </i>
					</td>
					<td>
						<i> ${paymentStatus} </i>
					</td>
					<td>
						<h6>
							${htmlStatusPayment}
						</h6>
					</td>
				</tr>
			`;
		}

		const updateStatusOrder = (dataUpdate) => {
			$('.modal-update-status-order').modal('hide');

			$.ajax({
				type: "POST",
				url: `<%= CF_ROUTINGS_ORDER.UPDATE_ORDER %>`,
				data: dataUpdate
			}).done(resp => {
				const { error, message } = resp;

				if(error){
					return toastr.warning(message, 'THÔNG BÁO');
				}

				toastr.success('Cập nhật thành công', 'THÔNG BÁO');
				setTimeout(() => location.reload(), 1000);
			}).fail(err => toastr.error(err.message, 'THÔNG BÁO'))
		}

		$('#btnOrderFilter').on('click', function () {
			const status 			= $('#scOrderStatusFilter').val();
			const statusPayment 	= $('#scOrderStatusPaymentFilter').val();

			changeQuery('status', status, true);
			changeQuery('statusPayment', statusPayment);
		});

		$('#input-search-order').on('keyup', debounce(function () {
			const keyword = $(this).val().trim();

			$.ajax({
				type: "GET",
				url: `<%= CF_ROUTINGS_ORDER.LIST_ORDER %>?keyword=${keyword}&type=API`
			}).done(resp => {
				const { error, message, data } = resp;

				if(error){
					return toastr.warning('Không tìm thấy đơn hàng trùng khớp', 'THÔNG BÁO');
				}

				let htmlRowTableOrder = '';
				data.map((order, index) => {
					htmlRowTableOrder += setRowTableOrder(order, index);
				})
				$('#tableListOrder tbody').html(htmlRowTableOrder);

			}).fail(err => console.error(err))
		}, 1000));

		$('.btnUpdateStatusOrder').on('click', function () {
			$('.modal-update-status-order').modal('show');

			const _orderID = $(this).attr('_orderID');
			const statusOrder = $(this).attr('_status');
			const statusPaymentOrder = $(this).attr('_statusPayment');
			const paymentOrder = $(this).attr('_payment');

			$('#txtOrderIdUpdateModal').val(_orderID);
			$('#scOrderStatusUpdateModal').val(statusOrder);

			if(+paymentOrder === 2){
				$('#scOrderStatusPaymentUpdateModal').parent().addClass('d-none');
			} else{
				$('#scOrderStatusPaymentUpdateModal').parent().removeClass('d-none');
			}

			$('#scOrderStatusPaymentUpdateModal').val([1,2,3].includes(+statusPaymentOrder) ? 1 : 0);
		});

		$('.btnConfirmUpdateStatusOrder').on('click', function () {
			const orderID 				= $('#txtOrderIdUpdateModal').val();
			const statusOrder 			= $('#scOrderStatusUpdateModal').val();
			const statusOrderPayment 	= $('#scOrderStatusPaymentUpdateModal').val();

			const dataUpdate = { orderID };
			statusOrder 		&& (dataUpdate.status 		 = statusOrder);
			statusOrderPayment 	&& (dataUpdate.statusPayment = statusOrderPayment);

			updateStatusOrder(dataUpdate)
		});

		// =============================== DETAIL ORDER SCRIPT ==================================

		// $(document).on('click', '.btn-remove-file-order-line', function () {
		// 	const orderLineID 	= $(this).attr('_orderLineID');
		// 	const fileID		= $(this).attr('_fileID');
		// 	const accept 		= confirm('Bạn có chắc chắn muốn xoá file?');
		// 	if(!accept) return;

		// 	if(!orderLineID || !fileID){
		// 		return toastr.warning('Không thể xoá file vui lòng thử reload lại trang', 'THÔNG BÁO')
		// 	}

		// 	$.ajax({
		// 		type: "POST",
		// 		url: `<%= CF_ROUTINGS_ORDER.DELETE_FILE_IN_ORDER_LINE %>`,
		// 		data: { orderLineID, fileID },
		// 	}).done(resp => {
		// 		$(this).parent().remove();
		// 	}).fail(err => toastr.error(err.message, 'THÔNG BÁO'))
		// });

		// $('.input-file-order-line').on('change', async function () {
		// 	const orderLineID 		= $(this).attr('_orderLineID');
		// 	const files 			= $(this).prop('files');

		// 	if(files.length){
		// 		$(`.zone-upload-file .wrapper-list-file[_orderLineID="${orderLineID}"] .box-file`).last().after(`
		// 			<div class="box-file mr-1 mb-2 box-processing">
		// 				<div class="progress progress-upload-file">
		// 					<div 
		// 						class="progress-bar" 
		// 						role="progressbar" 
		// 						aria-valuenow="0" 
		// 						aria-valuemin="0" 
		// 						aria-valuemax="100" 
		// 						style="width: 0%;">
		// 					</div>
		// 				</div>
		// 			</div>
		// 		`)
		// 		$('.input-file-order-line').prop('disabled', true);

		// 		await addFileToUpload(files, links => {
		// 			const { name, size, type } = files[0];

		// 			const infoFile = {
		// 				name,
		// 				size,
		// 				type,
		// 				path: links[0].uri,
		// 			}

		// 			$(`.box-processing`).remove();
		// 			$('.input-file-order-line').prop('disabled', false);

		// 			updateOrderLine({ orderLineID, file: infoFile });

		// 			$(`.zone-upload-file .wrapper-list-file[_orderLineID="${orderLineID}"] .box-file`).last().after(`
		// 				<div class="box-file mr-1 mb-2">
		// 					<button class="btn-remove-file-order-line" _orderLineID="${orderLineID}" _fileID="">
		// 						<i class="fas fa-times"></i>
		// 					</button>
		// 					<a href="${infoFile.path}" download="${infoFile.path}" target="_blank">
		// 						${infoFile.name}
		// 					</a>
		// 				</div>
		// 			`);
		// 		}, percentage => {
		// 			$(`.box-processing .progress-bar`).css('width', `${percentage}%`);
		// 		})
		// 	}

		// });
		

	});
</script>