<script>
    $(document).on("click", ".btnCreateAccount", function(e){
        e.preventDefault();
        window.location.href = "/admin/account";
    })

    $(document).on("click", ".btnRemoveAccount", function(e){
        e.preventDefault();
        let accountID = $(this).attr("_accountID");
        let that = this;
        console.log({ accountID });
        if (confirm("Bạn có chắc chắn xóa không?")) {
            $.ajax({
                url: `/admin/account/delete/${accountID}`,
                method: "GET",
                success: resp => {
                    if ( resp.infoAccount.error == false && resp.infoAccount.data ) {
                        toastr.success("Bạn đã xóa thành công", "THÔNG BÁO");
                        setTimeout(function() {
                            location.reload();
                        }, 700);
                    } else {
                        console.log({ resp });
                    }
                }
            })
        }
    })

    $(document).on("click", ".btnUpdateAccount", function(e){
        e.preventDefault();
        let accountID = $(this).attr("_accountID");
        window.location.href = `/admin/account/update/${accountID}`;
        // console.log({ aa: $(".modalUpdate") });
        // $(".modalUpdate").modal('show');
    })

    $(document).on("click", ".newSletter", function(e){
        // e.preventDefault();
        let accountID = $(this).attr("_accountID");
        // console.log({ accountID });
        let status = $(`#${accountID}`).is(":checked");
        let menuID = $(this).attr("_menuID");
        let point;
        status == true ? point = 1 : point = 0;
        $.ajax({
            url: `/admin/account/newsletter?accountID=${accountID}&newSletter=${point}`,
            method: 'GET',
            success: function(resp){
                if(!resp.infoAccount.error){
                    toastr.info("Cập nhật thành công", "Thông Báo");
                }else{
                    alert('Cập nhật Thất Bại');
                }
            },
            error: function(){
                alert('Xóa Thất Bại');
            }
        })
        // $.ajax({
        //     url: `/admin/account/delete/${accountID}`,
        //     method: "GET",
        //     success: resp => {
        //         if( resp.infoAccount.error == false && resp.infoAccount.data ){
        //             $(that).parents(".odd").remove();
        //         }else{
        //             console.log({ resp });
        //         }
        //     }
        // })
    })

    function setData({ result }){
        result && result.length && result.forEach((item, index) => {
            let stringApp = "";
            if( item.newSletter == 1 ){
                stringApp = `
                    <div style="float: left;"><input type="checkbox"  id="${ item._id }" switch="none" checked="checked"> 
                        <label for="${ item._id }" data-on-label="On" data-off-label="Off">
                    </div>
                `;
            }else{
                stringApp = `
                    <div style="float: left;">
                        <input type="checkbox"  id="${ item._id }" switch="none"> 
                        <label for="${ item._id }" data-on-label="On" data-off-label="Off">
                    </div>
                `;
            }
            let element = `
            <tr role="row" class="odd">
                <td colspan="1" tabindex="0" class="sorting_1">${ index + 1 }</td>
                <td colspan="2" tabindex="0" class="sorting_1"><a href="/admin/account/${ item._id }">
                    ${ item.firstName || '' } ${ item.lastName || '' }</a>
                </td>
                <td colspan="2">${ item.company || '' }</td>
                <td colspan="2">${ item.email || '' }</td>
                <td colspan="2">${ item.address || '' }</td>
                <td colspan="2">${ item.phone || '' }</td>
                <td colspan="2" >
                    ${stringApp}
                </td>
                <td colspan="2">
                    <div class="btn-group ml-1 mo-mb-2">
                        <button type="button" class="btn btn-primary waves-light waves-effect dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Tác vụ</button>
                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(603px, 216px, 0px);">
                            <!-- <a class="dropdown-item btnCreateMenuChild"  href="#"><i class="fa fa-plus-circle"></i> Tạo danh mục con</a>  -->
                            <a class="dropdown-item btnUpdate" _update="true"  href="#"><i class="fa fa-edit"></i> Chỉnh sửa</a> 
                            <a class="dropdown-item btnRemove"  href="#"><i class="fa fa-trash"></i> Xóa</a> 
                        </div>
                    </div>

                </td>
            </tr>
            `;
            $("tbody").append(element);
        });
    }


    $(document).on("keyup change", ".txtSearch, .limitAccount", function(e){
        e.preventDefault();
        let key = $(".txtSearch").val();
        let limitAccount =  $('.limitAccount option:selected').val()

        console.log({ key, limitAccount });
        $.ajax({
            url: `/admin/account/search?key=${key}&limit=${limitAccount}`,
            method: "GET",
            success: resp => {
                if( resp.listAccount.error == false && resp.listAccount.data.length ){
                    $("tbody").empty();
                    setData({ result: resp.listAccount.data })
                }else{
                    console.log({ resp });
                }
            }
        })

    })

</script>