<script>
    $(document).ready( function(){

        $(".btnShowPopupAddReviewCustomer").click(function(){
            $(".popup-create-review-customer").modal("show");
        })

        $(".btnConfirmAddReviewCustomer").click(async function(){

            let name = $("#txtName").val();

            if(!name)
                return toastr.warning("Vui lòng nhập tên từ khóa", "Thông Báo");

            $(".popup-create-review-customer").modal("hide");
            $.ajax({
                url: '<%= CF_ROUTINGS_ACCOUNT.ADD_KEYWORD%>',
                method: 'POST',
                data: { name },
                success: function(resp) {
                    if (resp.error){
                        toastr.warning("Có lỗi vui lòng kiểm tra lại", "Thông báo");
                    }else{
                        toastr.success("Thêm thành công", "Thông báo");
                        return setTimeout(() => {
                            window.location.reload();
                        }, 500);
                    }
                },
                error: function(error) {
                    console.log(error);
                }
            })
        })

      
        // Cập nhật thông tin
        $(".btnUpdateKeyword").click(function() {
            $(".popup-create-review-customer").modal("show");
            $('.btnConfirmAddReviewCustomer').hide();
            $('.btnConfirmUpdateReviewCustomer').show();

            let keywordID = $(this).attr("_keywordID");
            $(".btnConfirmUpdateReviewCustomer").attr("_keywordID", keywordID);
            $.ajax({
                url: `/admin/info-keyword/${keywordID}`,
                method: 'GET',
                success: function(resp) {
                    if (resp.error){
                    }else{
                        let { name } = resp.data;
                        $("#txtName").val(name);
                    }
                },
                error: function(error) {
                    console.log(error);
                }
            })
        });

        $(".btnRemoveKeyword").click(function() {
            let keywordID = $(this).attr("_keywordID");
            let confirmRemove = confirm("Bạn chắc chắn xóa từ khóa này?");
            if(!confirmRemove)
                return;
            $.ajax({
                url: `/admin/remove-keyword/${keywordID}`,
                method: 'GET',
                success: (resp) => {
                    if (resp.error){
                    }else{
                        $(this).closest("tr").remove();
                    }
                },
                error: function(error) {
                    console.log(error);
                }
            })
        });

        // Xác nhận cập nhật review của khách hàng
        $(".btnConfirmUpdateReviewCustomer").click(async function() {
            let keywordID = $(this).attr("_keywordID");
            let name = $("#txtName").val();
            if(!name)
                return toastr.warning("Vui lòng nhập từ khóa tìm kiếm", "Thông Báo");
            $(".popup-create-review-customer").modal("hide");
          
            $.ajax({
                url: `/admin/update-keyword/${keywordID}`,
                method: 'POST',
                data: { name  },
                success: function(resp) {
                    if (resp.error){
                        toastr.warning("Có lỗi trong quá trình thực hiện", "Thông báo");
                    }else{
                        toastr.success("Cập nhật thành công", "Thông báo");
                        return setTimeout(() => {
                            window.location.reload();
                        }, 500);
                    }
                },
                error: function(error) {
                    console.log(error);
                }
            })
        })
    })
</script>