<script>
    $(document).ready(function(){

        $('.list-product-table').dataTable({
            ...languageDataTable,
            "iDisplayLength": 25, 
        })

        let menuChild = '<%=menuChild ? menuChild : ""%>';
        let menuParent = '<%=menuParent ? menuParent: ""%>';

        if(menuChild){
            $('#menu-children').val(menuChild).change();
        }

        $('#menu-parent').on('change', function () {
            let valueMenuID = $(this).val();
            if(valueMenuID){
                $.ajax({
                    url: `/menu/get-list-menu-child-of-parent/${valueMenuID}`,
                    method: 'GET',
                    success: (resp) => {
                        if(!resp.error){
                            let listMenuChild = resp.data;
                            let dataAppend = ``;
                            if(listMenuChild && listMenuChild.length){
                                listMenuChild.forEach(childMenu => {
                                    if(menuChild && menuChild.toString() == childMenu._id.toString()){
                                        dataAppend += `<option selected value="${childMenu._id}">${childMenu.name}</option>`;
                                    }else{
                                        dataAppend += `<option value="${childMenu._id}">${childMenu.name}</option>`;
                                    }
                                })
                            }else{
                                dataAppend += `<option value="">Không có danh mục con</option>`;
                            }
                            $('#menu-children').empty();
                            $('#menu-children').append(dataAppend);
                        }else{
                            // toastr.error('Có lỗi sảy ra vui lòng thử lại', 'Thông báo');
                        }
                    },
                    error: function(){
                        toastr.error('Có lỗi sảy ra vui lòng thử lại', 'Thông báo');
                    }
                })
            }else{
                $('#menu-children').empty();
                $('#menu-children').append('<option value="">Tất cả</option>');
            }
        }).change();

        
        $('#btnSearchProduct').on('click', function(e){
            let menuParent = $('#menu-parent').val();
            let menuChild = $('#menu-children').val();

            if(menuParent && !menuChild){
                toastr.warning('Danh mục không tồn tại', 'Thông báo');
            }else if(!menuParent && !menuChild){
                location.href = `/admin/list-product`;
            }else{
                location.href = `/admin/list-product?menuChild=${menuChild}&menuParent=${menuParent}`;
            }
            
        })

        initEditor("#txtIntroProduct, #txtNoteOrder, #txtPriceList");

        $('.btnRemoveProduct').on('click', function(e){
            let productID = $(this).attr("_productID");
            if (confirm("Bạn có chắc chắn xóa không?")) {
                $.ajax({
                    url: `/product/remove-v2/${productID}`,
                    method: 'GET',
                    success: (resp) => {
                        console.log({ resp });
                        if(!resp.error){
                            toastr.success('Xóa thành công', 'Thông báo');
                            $(this).closest('tr').remove();
                        }else{
                            toastr.error('Xóa thất bại', 'Thông báo');
                        }
                    },
                    error: function(){
                        toastr.error('Xóa thất bại', 'Thông báo');
                    }
                })
            }
            return false;
        });

        //Search
        $(".txtSearch").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("tbody tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

        $('#menu-parent').select2();
        $('#menu-children').select2();

    })


</script>