<script>
	$(document).ready(function () {

		const priceShip = new Cleave('#txtPriceShip', {
			numeral: true,
			numeralThousandsGroupStyle: 'thousand'
		});

		const priceShipUpdate = new Cleave('#txtPriceShipUpdate', {
			numeral: true,
			numeralThousandsGroupStyle: 'thousand'
		});
		
		$('.btn-open-popup-create-price-ship').on('click', function () {
			$('.popup-create-price-ship').modal('show');
		});

		$('.btn-open-popup-update-price-ship').on('click', function () {
			const priceShipID = $(this).attr('_priceShipID');

			$.ajax({
				type: 'GET',
				url: `<%= CF_ROUTINGS_ORDER.INFO_PRICE_SHIP %>?priceShipID=${priceShipID}`,
			}).done(resp => {
				const { error, message, data } = resp;

				if(error){
					if(message === 'price_ship_is_not_exists'){
						return toastr.warning('Giá vận chuyển không tồn tại', 'THÔNG BÁO');
					}
					return toastr.warning(message, 'THÔNG BÁO');
				}

				const { _id, name, price, from, to, status } = data;
				$('#txtPriceShipID').val(_id);
				$('#txtNamePriceShipUpdate').val(name);
				$('#txtFromPriceShipUpdate').val(from);
				$('#txtToPriceShipUpdate').val(to);
				$('#switchStatusPriceShip').prop('checked', status === 1);
				priceShipUpdate.setRawValue(price);

			}).fail(err => toastr.error(err.message, 'THÔNG BÁO'))

			$('.popup-update-price-ship').modal('show');
		});

		$('.btnConfirmCreatePriceShip').on('click', function () {
			const name 	= $('#txtNamePriceShip').val().trim();
			const price = priceShip.getRawValue();
			const from 	= $('#txtFromPriceShip').val().trim();
			const to 	= $('#txtToPriceShip').val().trim();

			if(!name || !price){
				return toastr.warning('Bạn cần nhập đầy đủ tên và giá', 'THÔNG BÁO');
			}
			$('.popup-create-price-ship').modal('hide');

			$.ajax({
				type: "POST",
				url: `<%= CF_ROUTINGS_ORDER.ADD_PRICE_SHIP %>`,
				data: { name, price, from, to }
			}).done(resp => {
				const { error, message } = resp;

				if(error){
					switch (message) {
						case 'param_invalid':
							return toastr.warning('Bạn cần nhập đầy đủ tên, giá và phạm vi số kg', 'THÔNG BÁO');
						case 'name_existed':
							return toastr.warning('Tên đã tồn tại', 'THÔNG BÁO');
						case 'add_price_ship_failed':
							return toastr.warning('Thêm giá vận chuyển thất bại', 'THÔNG BÁO');
						default:
							return toastr.warning(message, 'THÔNG BÁO');
					}
				}

				toastr.success('Tạo giá vận chuyển thành công', 'THÔNG BÁO');
				setTimeout(() => location.reload(), 1000);
			}).fail(err => toastr.error(err.message, 'THÔNG BÁO'))

		});

		$('.btnConfirmUpdatePriceShip').on('click', function () {
			const priceShipID 	= $('#txtPriceShipID').val().trim();
			const name 			= $('#txtNamePriceShipUpdate').val().trim();
			const price 		= priceShipUpdate.getRawValue();
			const from 			= $('#txtFromPriceShipUpdate').val().trim();
			const to 			= $('#txtToPriceShipUpdate').val().trim();
			const status		= $('#switchStatusPriceShip').prop('checked') ? 1 : 0;

			if(!name || !price || !from || !to){
				return toastr.warning('Bạn cần nhập đầy đủ tên, giá và phạm vi số kg', 'THÔNG BÁO');
			}

			$.ajax({
				type: "POST",
				url: `<%= CF_ROUTINGS_ORDER.UPDATE_PRICE_SHIP %>`,
				data: { priceShipID, name, price, from, to, status }
			}).done(resp => {
				const { error, message } = resp;

				if(error){
					switch (message) {
						case 'price_ship_is_not_exists':
							return toastr.warning('Giá vận chuyển không tồn tại', 'THÔNG BÁO');
						default:
							return toastr.warning(message, 'THÔNG BÁO');
					}
				}

				toastr.success('Cập nhật giá vận chuyển thành công', 'THÔNG BÁO');
				setTimeout(() => location.reload(), 1000);
			}).fail(err => toastr.error(err.message, 'THÔNG BÁO'))

			$('.popup-update-price-ship').modal('hide');
		});

		$('.btnDeletePriceShip').on('click', function (e) {
			const priceShipID 	= $(this).attr('_priceShipID');
			const accept 		= confirm('Bạn có chắc chắn muốn xoá giá vận chuyển?');
			if(!accept || !priceShipID) return;

			$.ajax({
				type: "GET",
				url: `<%= CF_ROUTINGS_ORDER.DELETE_PRICE_SHIP %>?priceShipID=${priceShipID}`,
			}).done(resp => {
				$(this).closest('tr').remove();
				toastr.success('Xoá giá vận chuyển thành công', 'THÔNG BÁO');
			}).fail(err => toastr.error(err.message, 'THÔNG BÁO'))
		});

	});
</script>