<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous"></script>
<script>
    $(document).ready(function(){

		$("#tableListCategory").dataTable({
			...languageDataTable
		});

		$("#tableListBlog").dataTable({
			...languageDataTable
		});

		$('tbody').sortable({
			stop: function(e, ui){
				let sortTableArray = [];
				$("tr").each(function(index) {
					let categoryID = $(this).attr("_categoryID");
					sortTableArray.push({ _id: categoryID, index: index });
				});

				sortTableArray.shift();

				$.ajax({
					url: `/admin/update-order-category`,
					method: 'POST',
					data: {arrayObject: sortTableArray},
					success: function(resp){
						if(!resp.error){
							toastr.info('Thông báo','Cập nhật thành công');
							setTimeout(() => {
								location.reload();
							}, 300);
						}else{
							toastr.error('Thông báo','Cập nhật thất bại');
						}
					},
					error: function(){
						toastr.error('Thông báo','Cập nhật thất bại');
					}
				})
			}
		});

		$('.btn-show-modal-create-category').on('click', function () {
			$('.popup-create-category').modal('show');
		});

		$('#txtModalName').on('keyup', function () {
			let nameToSlug = convertToSlug($(this).val());
			$('#txtModalSlug').val(nameToSlug);
		});

		$('#txtModalNameUpdate').on('keyup', function () {
			let nameToSlug = convertToSlug($(this).val());
			$('#txtModalSlugUpdate').val(nameToSlug);
		});

		$('.btnConfirmAddCategory').on('click', function () {
			let name 		= $('#txtModalName').val().trim();
			let slug 		= $('#txtModalSlug').val().toLowerCase().trim();
			let description = $('#txtModalDescription').val().trim();
			let status 		= $('#txtModalStatus').val();

			if(!name || !slug)
				return toastr.warning('Bạn cần nhập đầy đủ tên và slug cho danh mục', 'THÔNG BÁO');

			$(this).attr('disabled', true);
            $.ajax({
                url: `<%= CF_ROUTINGS_ACCOUNT.ADD_CATEGORY %>`,
                method: 'POST',
                data: { name, slug, description, status }
            }).done(resp => {
				console.log({ resp });
                if(!resp.error){
                    toastr.info('Tạo danh mục thành công', 'THÔNG BÁO');

					setTimeout(() => location.reload(), 1000);
                }else{
                    toastr.error('Tạo danh mục thất bại', 'THÔNG BÁO');
                }
            })
            .fail(err => console.error(err))
            .always(() => {
                $('.popup-create-category').modal('hide');

                // reset fields
                $('#txtModalName').val('');
                $('#txtModalSlug').val('');
                $('#txtModalDescription').val('');
                $('#txtModalStatus').val(1);

                $(this).attr('disabled', false);
            });
		})


		$('.btn-show-modal-update-category').on('click', function () {
			$('.popup-update-category').modal('show');

			let categoryID = $(this).attr('_categoryID');
			$.ajax({
				type: "GET",
				url: `<%= CF_ROUTINGS_ACCOUNT.INFO_CATEGORY %>/?categoryID=${categoryID}&type=API`,
			}).done(resp => {
				let { error, data } = resp;

                if(error)
                    return toastr.error('Xảy ra lỗi', 'THÔNG BÁO');

                let { _id, name, slug, description, status } = data;

				$('#txtModalCategoryIDUpdate').val(_id);
                $('#txtModalNameUpdate').val(name);
                $('#txtModalSlugUpdate').val(slug);
                $('#txtModalDescriptionUpdate').val(description);
                $('#txtModalStatusUpdate').val(status);
			}).fail(err => console.error(err))
		});

		$('.btnConfirmUpdateCategory').on('click', function () {
			let categoryID	= $('#txtModalCategoryIDUpdate').val();
			let name 		= $('#txtModalNameUpdate').val().trim();
			let slug 		= $('#txtModalSlugUpdate').val().toLowerCase().trim();
			let description = $('#txtModalDescriptionUpdate').val().trim();
			let status 		= $('#txtModalStatusUpdate').val();

			if(!name || !slug)
				return toastr.warning('Bạn cần nhập đầy đủ tên và slug cho danh mục', 'THÔNG BÁO');

			$(this).attr('disabled', true);
            $.ajax({
                url: `<%= CF_ROUTINGS_ACCOUNT.UPDATE_CATEGORY %>`,
                method: 'POST',
                data: { categoryID, name, slug, description, status }
            }).done(resp => {
                if(!resp.error){
                    toastr.info('Cập nhật danh mục thành công', 'THÔNG BÁO');

					setTimeout(() => location.reload(), 1000);
                }else{
                    toastr.error('Cập nhật danh mục thất bại', 'THÔNG BÁO');
                }
            })
            .fail(err => console.error(err))
            .always(() => {
                $('.popup-update-category').modal('hide');

                // reset fields
				$('#txtModalCategoryIDUpdate').val('');
                $('#txtModalNameUpdate').val('');
                $('#txtModalSlugUpdate').val('');
                $('#txtModalDescriptionUpdate').val('');
                $('#txtModalStatusUpdate').val(1);

                $(this).attr('disabled', false);
            });
			
		})

		$('.btnDeleteCategory').on('click', function () {
			let categoryID = $(this).attr('_categoryID');
			let accept = confirm('Bạn có thực sự muốn xóa danh mục không?');
			if(!categoryID || !accept) return;

			$.ajax({
				type: "GET",
				url: `<%= CF_ROUTINGS_ACCOUNT.DELETE_CATEGORY %>/?categoryID=${categoryID}`
			}).done(resp => {
				let { error, message } = resp;

				if(error){
					return toastr.warning(`Xóa thất bại: ${message}`, 'THÔNG BÁO');
				}

                toastr.success('Xóa thành công', 'THÔNG BÁO');
				$(this).closest('tr').remove();
			}).fail(err => console.error(err))
		});

		$('.btnDeleteBlog').on('click', function () {
			let blogID = $(this).attr('_blogID');
			let accept = confirm('Bạn có thực sự muốn xóa post không?');
			if(!blogID || !accept) return;

			$.ajax({
				type: "GET",
				url: `<%= CF_ROUTINGS_ACCOUNT.DELETE_POST %>/?postID=${blogID}`
			}).done(resp => {
				let { error, message } = resp;

				if(error){
					return toastr.warning(`Xóa thất bại: ${message}`, 'THÔNG BÁO');
				}

                toastr.success('Xóa thành công', 'THÔNG BÁO');
				$(this).closest('tr').remove();
			}).fail(err => console.error(err))
		});

    })
</script>