<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous"></script>

<script>
    $(document).ready(function(){

        $('#datatableMenuParent').dataTable({
            ...languageDataTable
        });

        $('tbody').sortable({
            stop: function(e, ui){
                let sortTableArray = [];
                $( "tr" ).each(function(index) {
                    let menuID = $(this).attr("_menuID");
                    sortTableArray.push({ _id: menuID, index: index });
                });

                sortTableArray.shift();

                $.ajax({
                    url: `/menu/update-order`,
                    method: 'POST',
                    data: {arrayObjectMenu: sortTableArray},
                    success: function(resp){
                        if(!resp.error){
                            toastr.success('Thông báo','Cập nhật thành công');
                            setTimeout(() => {
                                location.reload();
                            }, 300);
                        }else{
                            toastr.error('Thông báo','Cập nhật thất bại');
                        }
                    },
                    error: function(){
                        toastr.error('Thông báo','Cập nhật thất bại');
                    }
                })
            }
        });

        //Xử lý 3 tác vụ cùng một modal
        $('.btnCreateMenuMain, .btnCreateMenuChild, .btnUpdate').on('click', function(e){
            let menuID = $(this).attr("_menuID");
            let update = $(this).attr("_update");
            //console.log({ update });
            if(menuID){
                $(".btnSubmitCreateMenu").attr("_menuID", menuID);
            }else{
                $(".btnSubmitCreateMenu").attr("_menuID", "");
            }

            if(update == "true"){
                $.ajax({
                    url: `/menu/${menuID}`,
                    method: 'GET',
                    success: function(resp){
                        let infoMenu = resp.data;
                        // console.log({ infoMenu });
                        
                        if(!resp.error){
                            $(".txtName").attr("value", infoMenu.name);
                            $(".txtDescription").text(infoMenu.description);
                            $(".txtURL").val(infoMenu.slug);

                            $(".btnSubmitCreateMenu").text("Cập nhật");
                            $('.modal-title').text("Cập nhật");
                            $(".btnSubmitCreateMenu").attr("_action", "update")
                        }else{
                            toastr.error('Thông báo','Thất bại');
                        }
                    },
                    error: function(){
                        toastr.error('Thông báo','Thất bại');
                    }
                })
                
            }else{
                $(".btnSubmitCreateMenu").text("Tạo mới");
                $('.modal-title').text("Tạo mới");
            }

            e.preventDefault();
            $('.form-create-menu-main').modal('show');
        })

        //HIỂN THỊ SLUG TIÊU ĐỀ
        $('.txtName').on('keyup', function(e){
            let nameMenu = $(this).val();
            let URLMenu = convertToSlug(nameMenu);
            $('.txtURL').val(URLMenu);
        })

        $('.btnSubmitCreateMenu').on('click', async function(e){
            e.preventDefault();

            let ACTION_ADD = "add";
            let ACTION_UPDATE = "update";
            let name = $('.txtName').val();
            let description = $('.txtDescription').val();
            let menuID = $(this).attr("_menuID");
            let action = $(this).attr("_action");
            let image = $(".txtImageMenu")[0].files[0];
            let infoImage;
            let pathImage;
            if(image){
                infoImage = {
                    name: image.name,
                    size: image.size
                }
                let infoUploadS3 = await getLinkS3(image);
                if(infoUploadS3){
                   pathImage = infoUploadS3.data;
                   infoImage.path = pathImage;
                }
            }

            if(!name)
                return toastr.warning("Vui lòng nhập tên","Thông Báo");
            let data = { name, description, parent: menuID, image: infoImage }

            disableAndLoading(this);

            if(menuID && action == ACTION_ADD){ //Thêm menu con
                $.ajax({
                    url: `/menu/add`,
                    method: 'POST',
                    data:{ data: JSON.stringify(data) },
                    success: (resp) => {
                        console.log(resp);
                        if(!resp.error){
                            toastr.success('Thêm thành công', 'Thông báo');
                            setTimeout(() => {
                                return window.location.reload(true);
                            }, 500);
                        }else{
                            enableAndStopLoading(this);
                            if(resp.message == "url_is_existed"){
                                toastr.warning('URL đã tồn tại', 'Thông báo');
                            }
                        }
                    },
                    error: function(){
                        enableAndStopLoading(this);
                        toastr.error('Thêm Thất Bại', 'Thông báo');
                    }
                })
            }
            if(!menuID && action == ACTION_ADD){ //Thêm menu cha
                $.ajax({
                    url: `/menu/add`,
                    method: 'POST',
                    data:{ data: JSON.stringify(data) },
                    success: (resp) => {
                        console.log(resp);
                        if(!resp.error){
                            toastr.success('Thêm thành công', 'Thông báo');
                            setTimeout(() => {
                                return window.location.reload(true);
                            }, 500);
                        }else{
                            enableAndStopLoading(this);
                            if(resp.message == "url_is_existed"){
                                toastr.warning('URL đã tồn tại', 'Thông báo');
                            }
                        }
                    },
                    error: function(){
                        enableAndStopLoading(this);
                        toastr.error('Thêm Thất Bại', 'Thông báo');
                    }
                })
            }
            
            if(menuID && action == ACTION_UPDATE){ //Update menu
                $.ajax({
                    url: `/menu/update/${menuID}`,
                    method: 'POST',
                    data:{ data: JSON.stringify(data) },
                    success: (resp) => {
                        if(!resp.error){
                            toastr.success('Cập nhật thành công', 'Thông báo');
                            setTimeout(() => {
                                return window.location.reload(true);
                            }, 500);
                        }else{
                            enableAndStopLoading(this);
                            if(resp.message == "url_is_existed"){
                                return toastr.warning('URL đã tồn tại', 'Thông báo');
                            }
                            toastr.error('Cập nhật thất bại', 'Thông báo');
                        }
                    },
                    error: function(){
                        enableAndStopLoading(this);
                        toastr.error('Cập nhật thất bại', 'Thông báo');
                    }
                })
            }
        })

        $('.btnRemoveMenu').on('click', function(e){
            let menuID = $(this).attr("_menuID");
            if (confirm("Bạn có chắc chắn xóa không?")) {
                $.ajax({
                    url: `/menu/remove/${menuID}`,
                    method: 'GET',
                    success: (resp) => {
                        if(!resp.error){
                            toastr.success('Xóa thành công', 'Thông báo');
                            setTimeout(() => {
                                return window.location.reload(true);
                            }, 500);
                        }else{
                            toastr.error('Xóa Thất Bại', 'Thông báo');
                        }
                    },
                    error: function(){
                        toastr.error('Xóa Thất Bại','Thông báo');
                    }
                })
            }
            return false;
        });

        


        //Cập nhật trạng thái menu
        $('.status-change').change(function(){
            let status = $(this).is(":checked");
            let menuID = $(this).attr("_menuID");
            let point;
            status == true ? point = 1 : point = 0;
            $.ajax({
                url: `/menu/update-status/${menuID}/${point}`,
                method: 'GET',
                success: function(resp){
                    if(!resp.error){
                        toastr.success('Cập nhật thành công','Thông báo');
                    }else{
                        toastr.error('Cập nhật thất bại', 'Thông báo');
                    }
                },
                error: function(){
                    toastr.error('Cập nhật thất bại','Thông báo');
                }
            })
            
        });

        //Search
        $(".txtSearch").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("tbody tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    })
</script>