<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous"></script>
<script>
    $(document).ready(function(){

        $('#datatableMenuChild, .list-product-table').dataTable({
            ...languageDataTable,
            "iDisplayLength": 25, 
        });

        $('.list-menu-child').sortable({
            stop: function(e, ui){
                let sortTableArray = [];
                $( "tr" ).each(function(index) {
                    let menuID = $(this).attr("_menuID");
                    sortTableArray.push({ _id: menuID, index: index });
                });

                sortTableArray.shift();

                $.ajax({
                    url: `/menu/update-order`,
                    method: 'POST',
                    data: {arrayObjectMenu: sortTableArray},
                    success: function(resp){
                        if(!resp.error){
                            toastr.success('Thông báo','Cập nhật thành công');
                            setTimeout(() => {
                                location.reload();
                            }, 300);
                        }else{
                            toastr.error('Thông báo','Cập nhật thất bại');
                        }
                    },
                    error: function(){
                        toastr.error('Thông báo','Cập nhật thất bại');
                    }
                })
            }
        });

        //Xử lý 3 tác vụ cùng một modal
        $('.btnCreateMenu, .btnCreateMenuChild, .btnUpdateChild').on('click', function(e){
            let menuID = $(this).attr("_menuID");
            let update = $(this).attr("_update");
            //console.log({ update });
            if(menuID){
                $(".btnSubmitMenuChild").attr("_menuID", menuID);
            }else{
                $(".btnSubmitMenuChild").attr("_menuID", "");
            }

            if(update == "true"){
                $.ajax({
                    url: `/menu/${menuID}`,
                    method: 'GET',
                    success: function(resp){
                        let infoMenu = resp.data;
                        
                        if(!resp.error){
                            $(".txtName").attr("value", infoMenu.name);
                            $(".txtDescription").text(infoMenu.description);
                            $(".txtURL").val(infoMenu.slug);

                            $(".btnSubmitMenuChild").text("Cập nhật");
                            $('.modal-title').text("Cập nhật");
                            $(".btnSubmitMenuChild").attr("_action", "update")
                        }else{
                            toastr.success('Thông báo', 'Lấy thông tin thất Bại');
                        }
                    },
                    error: function(){
                        toastr.success('Thông báo', 'Lấy thông tin thất Bại');
                    }
                })
                
            }else{
                $(".btnSubmitMenuChild").text("Tạo mới");
                $('.modal-title').text("Tạo mới");
            }

            e.preventDefault();
            $('.form-create-menu-main').modal('show');
        })

         //HIỂN THỊ SLUG TIÊU ĐỀ
         $('.txtName').on('keyup', function(e){
            let nameMenu = $(this).val();
            let URLMenu = convertToSlug(nameMenu);
            $('.txtURL').val(URLMenu);
        })

        $('.btnSubmitMenuChild').on('click',async function(e){
            e.preventDefault();
            let ACTION_ADD = "add";
            let ACTION_UPDATE = "update";
            let name = $('.txtName').val();
            let description = $('.txtDescription').val();
            let menuID = $(this).attr("_menuID");
            let action = $(this).attr("_action");
            let image = $(".txtImageMenu")[0].files[0];
            let infoImage;
            let pathImage;
            if(image){
                infoImage = {
                    name: image.name,
                    size: image.size
                }
                let infoUploadS3 = await getLinkS3(image);
                if(infoUploadS3){
                   pathImage = infoUploadS3.data;
                   infoImage.path = pathImage;
                }
            }
            if(!name)
                return toastr.warning("Vui lòng nhập tên","Thông Báo");
            let data = { name, description, parent: menuID, image: infoImage }
            $(".form-create-menu-main").modal("hide");
            if(menuID && action == ACTION_ADD){ //Thêm menu con
                $.ajax({
                    url: `/menu/add`,
                    method: 'POST',
                    data:{ data: JSON.stringify(data) },
                    success: function(resp){
                        console.log({ resp });
                        if(!resp.error){
                            toastr.success('Thông báo','Thêm thành công');
                            setTimeout(() => {
                                return window.location.reload(true);
                            }, 500);
                        }else{
                            if(resp.message == 'url_is_existed'){
                                toastr.warning('Đã có tên này. Vui lòng đặt tên khác','Thông báo');
                            }
                        }
                    },
                    error: function(){
                        toastr.success('Thông báo', 'Thêm Thất Bại');
                    }
                })
            }
            
            if(menuID && action == ACTION_UPDATE){ //Update menu
                $.ajax({
                    url: `/menu/update/${menuID}`,
                    method: 'POST',
                    data:{ data: JSON.stringify(data) },
                    success: function(resp){
                        if(!resp.error){
                            toastr.success('Thông báo','Cập nhật thành công');
                            setTimeout(() => {
                                return window.location.reload(true);
                            }, 500);
                        }else{
                            enableAndStopLoading(this);
                            toastr.error('Thông báo','Cập nhật thất bại');
                        }
                    },
                    error: function(){
                        enableAndStopLoading(this);
                        toastr.error('Thông báo','Cập nhật thất bại');
                    }
                })
            }
        })

        //Xóa menu
        $('.btnRemoveMenu').on('click', function(e){
            let menuID = $(this).attr("_menuID");
            if (confirm("Bạn có chắc chắn xóa không?")) {
                $.ajax({
                    url: `/menu/remove/${menuID}`,
                    method: 'GET',
                    success: function(resp){
                        if(!resp.error){
                            toastr.success('Thông báo', 'Xóa thành công');
                            return window.location.reload(true);
                        }else{
                            toastr.success('Thông báo', 'Xóa Thất Bại');
                        }
                    },
                    error: function(){
                        toastr.success('Thông báo', 'Xóa Thất Bại');
                    }
                })
            }
            return false;
        });

        $('.btnRemoveProduct').on('click', function(e){
            let productID = $(this).attr("_productID");
            if (confirm("Bạn có chắc chắn xóa không?")) {
                $.ajax({
                    url: `/product/remove-v2/${productID}`,
                    method: 'GET',
                    success: (resp) => {
                        console.log({ resp });
                        if(!resp.error){
                            toastr.success('Xóa thành công', 'Thông báo');
                            $(this).closest('tr').remove();
                        }else{
                            toastr.error('Xóa thất bại', 'Thông báo');
                        }
                    },
                    error: function(){
                        toastr.error('Xóa thất bại', 'Thông báo');
                    }
                })
            }
            return false;
        });

        //Cập nhật trạng thái menu
        $('.status-change').change(function(){
            let status = $(this).is(":checked");
            let menuID = $(this).attr("_menuID");
            let point;
            status == true ? point = 1 : point = 0;
            $.ajax({
                url: `/menu/update-status/${menuID}/${point}`,
                method: 'GET',
                success: function(resp){
                    if(!resp.error){
                        toastr.success('Thông báo', 'Cập nhật thành công');
                    }else{
                        toastr.success('Thông báo', 'Cập nhật Thất Bại');
                    }
                },
                error: function(){
                    toastr.success('Thông báo', 'Xóa Thất Bại');
                }
            })
            
        });

        //Search
        $(".txtSearch").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("tbody tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    })
</script>