<script>
    $(document).ready(function(){

		$("#tableListBlog").dataTable({
			...languageDataTable
		});

        let getFormBlog = () => {
            let title             = $('#txtTitle').val().trim();
            let slug              = $('#txtSlug').val().trim();
            let description       = $('#txtShortDescription').val().trim();
            let category          = $('#txtCategory').val();
            let status            = $('#switchStatus')[0].checked ? 1 : 0;
            let seo               = $('#txtSeo').val().trim();
            let content           = tinyMCE.get('txtContent').getContent();

            return { title, slug, description, category, status, seo, content };
        }

        let getFormUpdateBlog = () => {
            let title             = $('#txtTitleUpdate').val().trim();
            let slug              = $('#txtSlugUpdate').val().trim();
            let description       = $('#txtShortDescriptionUpdate').val().trim();
            let category          = $('#txtCategoryUpdate').val();
            let status            = $('#switchStatusUpdate')[0].checked ? 1 : 0;
            let seo               = $('#txtSeoUpdate').val().trim();
            let content           = tinyMCE.get('txtContentUpdate').getContent();

            return { title, slug, description, category, status, seo, content };
        }

		const slugPrevious = $('#txtSlugUpdate').val();

        initEditor("#txtContent", {
			height: 800
		});
        initEditor("#txtContentUpdate", {
			height: 800
		});

		function checkSlugExists(slug) {
			return new Promise(resolve => {
				$.get(`<%= CF_ROUTINGS_ACCOUNT.LIST_POST%>/?type=API&slug=${slug}`,
					function (resp) {
						const { error, data } = resp.listPosts;
						if(!error && data.length){
							resolve({ error: true });
						}else{
							resolve({ error: false });
						}
					}
				);
			})
		}

		function ajaxAddPost({ dataAdd, image }) {
			let fd = new FormData();
            fd.append('data', JSON.stringify(dataAdd));
            image && fd.append('file', image[0]);

            $.ajax({
                url: `<%= CF_ROUTINGS_ACCOUNT.ADD_POST %>`,
                method: 'POST',
                data: fd,
                contentType: false,
                processData: false,
            }).done(resp => {
                let { error, message } = resp;

				if(error){
					return toastr.error(`Thêm thất bại: ${message}`, 'THÔNG BÁO');
				}

                toastr.success("Thêm thành công", "THÔNG BÁO");
                setTimeout(() => location.href = '/admin/list-post', 1000);
            }).fail(err => toastr.error(err.message, 'THÔNG BÁO'))
		}

		function ajaxUpdatePost({ dataUpdate, image }) {
			let fd = new FormData();
            fd.append('data', JSON.stringify(dataUpdate));
            image && fd.append('file', image[0]);

            $.ajax({
                url: `<%= CF_ROUTINGS_ACCOUNT.UPDATE_POST %>`,
                method: 'POST',
                data: fd,
                contentType: false,
                processData: false,
            }).done(resp => {
                let { error, message } = resp;

				if(error){
					return toastr.error(`Cập nhật thất bại: ${message}`, 'THÔNG BÁO');
				}

                toastr.success("Cập nhật thành công", "THÔNG BÁO");
            }).fail(err => console.error(err))
		}

        $("#blogImage, #blogImageUpdate").on('change', readURL);
        $('#txtTitle, #txtTitleUpdate').on('input', function(){
            const titleToSlug = convertToSlug($(this).val().trim());

            $('#txtSlug').val(titleToSlug);
            $('#txtSlugUpdate').val(titleToSlug);
        })

        $('#btnAddBlog').on('click', async function(){
            let dataAdd = getFormBlog();
            let { error, msg } = checkValidate(dataAdd);
            if(error) return toastr.error(msg, 'THÔNG BÁO');

            let image = $('#blogImage').prop('files');
			dataAdd.pathImage = '';

			if(image.length){
				await addFileToUpload(image, links => {
					dataAdd.pathImage = links[0].uri;
					ajaxAddPost({ dataAdd, image });
				})
			} else{
				ajaxAddPost({ dataAdd });
			}
        })

        $('#btnUpdateBlog').on('click', async function () {
            let dataUpdate = getFormUpdateBlog();
            let { error, msg } = checkValidate(dataUpdate);
            if(error) return toastr.error(msg, 'THÔNG BÁO');

            // if(slugPrevious !== dataUpdate.slug){
			// 	const { error } = await checkSlugExists(dataUpdate.slug);
			// 	if(error){
			// 		delete dataUpdate.slug;
			// 		return toastr.warning('Slug đã tồn tại', 'THÔNG BÁO');
			// 	}
			// }

			let image = $('#blogImageUpdate').prop('files');
			dataUpdate.postID = $(this).attr('_postID');
			dataUpdate.pathImage = '';

			if(image.length){
				await addFileToUpload(image, links => {
					dataUpdate.pathImage = links[0].uri;
					ajaxUpdatePost({ dataUpdate, image });
				})
			} else{
				ajaxUpdatePost({ dataUpdate });
			}
        });

        $('.btnDeleteBlog').on('click', function () {
			let blogID = $(this).attr('_blogID');
			let accept = confirm('Bạn có thực sự muốn xóa post không?');
			if(!blogID || !accept) return;

			$.ajax({
				type: "GET",
				url: `<%= CF_ROUTINGS_ACCOUNT.DELETE_POST %>/?postID=${blogID}`
			}).done(resp => {
				let { error, message } = resp;

				if(error){
					return toastr.warning(`Xóa thất bại: ${message}`, 'THÔNG BÁO');
				}

                toastr.success('Xóa thành công', 'THÔNG BÁO');
				$(this).closest('tr').remove();
			}).fail(err => console.error(err))
		});

    });
</script>