<link rel="stylesheet" href="../../../../template/admin/plugins/chartist/css/chartist.min.css"/>
<link rel="stylesheet" href="../../../../template/admin/plugins/chartist/js/chartist-plugin-tooltip.min.js"/>
<link rel="stylesheet" href="../../../../template/admin/plugins/chartist/js/chartist.min.js"/>
<script>
    $(document).ready( function(){
        $("#list-customer-table").dataTable({
            ...languageDataTable
        })
        $.ajax({
            url: `/admin/accounts/created-month`,
            method: "GET",
            success: resp => {
                if ( resp.dataDate.error == false && resp.dataDate.data.length ){
                    console.log({ dataDate: resp.dataDate });
                    var data = {
                        // A labels array that can contain any sort of values
                        labels: resp.dataDate.data.map(function (rec) {
                            return rec.month;
                        }),
                        // ['Mon', 'Tue', 'Wed', 'Thu', 'Fri'],
                        // Our series array that contains series objects or in this case series data arrays
                        series: [resp.dataDate.data.map(function (rec) {
                            return rec.total;
                        })]
                        // [
                            // [12, 9, 7, 8, 5],
                            // [2, 1, 3.5, 7, 3],
                            // [1, 3, 4, 5, 6]
                        // ]
                    };
                    
                    // var options = {
                    //     width: 300,
                    //     height: 300
                    // };
                    
                    new Chartist.Line('#simple-line-chart2', data);
                    // setData({ datas: resp.dataDate.data })

                    // var myChart2 = new Chart(document.getElementById('myChart123'), {
                    //     type: 'bar',
                    //     data: {
                    //         labels: resp.dataDate.data.map(function (rec) {
                    //             return rec.month;
                    //         }),
                    //         datasets: [{
                    //             label: '# of Votes',
                    //             data: resp.dataDate.data.map(function (rec) {
                    //                 return rec.total;
                    //             }),
                    //             backgroundColor: [
                    //                 'rgba(255, 99, 132, 0.2)',
                    //                 'rgba(54, 162, 235, 0.2)',
                    //                 'rgba(255, 206, 86, 0.2)',
                    //                 'rgba(75, 192, 192, 0.2)',
                    //                 'rgba(153, 102, 255, 0.2)',
                    //                 'rgba(255, 159, 64, 0.2)'
                    //             ],
                    //             borderColor: [
                    //                 'rgba(255, 99, 132, 1)',
                    //                 'rgba(54, 162, 235, 1)',
                    //                 'rgba(255, 206, 86, 1)',
                    //                 'rgba(75, 192, 192, 1)',
                    //                 'rgba(153, 102, 255, 1)',
                    //                 'rgba(255, 159, 64, 1)'
                    //             ],
                    //             borderWidth: 1
                    //         }]
                    //     },
                    //     options: {
                    //         scales: {
                    //             y: {
                    //                 beginAtZero: true
                    //             }
                    //         }
                    //     }
                    // });

                }else{
                    console.log({ resp });
                }
            }
        })
    })

    // XỬ LÝ BỘ LỌC BÁO CÁO
    $('.btnSearchDataReport').on('click', function(){
        let from = $("#txtFromDate").val();
        let to = $("#txtToDate").val();
        if(!from || !to)
            return toastr.warning("Vui lòng nhập ngày để tìm kiếm", "Thông Báo");
        window.location.href = `/admin/home?from=${from}&to=${to}`
    });

    $('#txtChangeSearch').on('change', function(){
        let value = $(this).val();
        // Lọc theo tuần này
        if(value == 1){
            var firstday = new moment().startOf('isoWeek').format("YYYY-MM-DD");
            var lastday = new moment().endOf("isoWeek").format("YYYY-MM-DD");
            window.location.href = `/admin/home?from=${firstday}&to=${lastday}&type=1`
        }
        // Lọc theo tuần tháng này
        if(value == 2){
            var firstday = new moment().startOf('month').format("YYYY-MM-DD");
            var lastday = moment().endOf("month").format("YYYY-MM-DD");
            window.location.href = `/admin/home?from=${firstday}&to=${lastday}&type=2`
        }
        // Lọc theo quý tháng này
        if(value == 3){
            var firstday = new moment().startOf('quarter').format("YYYY-MM-DD");
            var lastday = moment().endOf("quarter").format("YYYY-MM-DD");
            window.location.href = `/admin/home?from=${firstday}&to=${lastday}&type=3`
        }
        // Lọc theo năm tháng này
        if(value == 4){
            var firstday = new moment().startOf('year').format("YYYY-MM-DD");
            var lastday = moment().endOf("year").format("YYYY-MM-DD");
            window.location.href = `/admin/home?from=${firstday}&to=${lastday}&type=4`
        }
    })
    
</script>