<link href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/dropzone.css" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/npm/smartwizard@5/dist/js/jquery.smartWizard.min.js"></script>
<script>

    $(document).ready(function(){
       // SmartWizard initialize
       $('#smartwizard').smartWizard({
          theme: 'arrows',
        //   keyboardSettings: {
        //   keyNavigation: true,
        //   keyLeft: [74], // J key code
        //   keyRight: [75] // K key code
        //   } 
       });
        $(".sw-btn-prev").html("Quay lại");
        $(".sw-btn-next").html("Kế tiếp");
    });
</script>
<script>
    let productID = "<%= infoProduct._id%>";
    $("#txtChooseVariantOption").select2();
    $("#blogImage").on('change', readURL);
    //Dropzone Avatar
    Dropzone.options.recommendationAvatar = {
        init: function() {
            this.on("addedfile", function(file) { 
            if (this.files.length > 1) {
                this.removeFile(this.files[0]);
            }
            });
        },
        maxFiles:1,
        acceptedFiles: ".jpeg,.jpg,.png,.gif"
    };

    function runCleave(inputID) {
        $(`#${inputID}`).toArray().forEach(function(field){
            new Cleave(field, {
                numeral: true,
                numeralThousandsGroupStyle: 'thousand'
            });
        });

        $(`.${inputID}`).toArray().forEach(function(field){
            new Cleave(field, {
                numeral: true,
                numeralThousandsGroupStyle: 'thousand'
            });
        });
    }

    runCleave('txtPriceBefore');
    runCleave('txtPriceAfter');
    runCleave('txtPriceBeforeVariant');
    runCleave('txtPriceAfterVariant');
    runCleave('txtPriceVariant');
    runCleave('txtPriceAfterDiscountVariant');
    runCleave('txtPriceVariantChild');
    runCleave('txtPriceAfterDiscountVariantChild');
    
    let arrImageRemoveID = [];
    let arrImageAdd= [];

    let arrFileAdd = []
    let arrFileRemoveID = [];

    //Dropzone Gallery
    Dropzone.options.recommendationGallery = {
        autoProcessQueue: true,
        addRemoveLinks: true,
        removedfile: function(file) {
            var _ref;
            arrImageAdd && arrImageAdd.length && arrImageAdd.forEach((fileAppend, index) => {
                if(fileAppend.name == file.name){
                    arrImageAdd.splice(index, 1);
                }
            })

            if(file && file._id){
                arrImageRemoveID = [...arrImageRemoveID, file._id];
            }
            
            //console.log({ arrImageRemoveID });
            return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
        },
        init: async function() {
            let myDropzone = this;
            let images = <%- JSON.stringify(_lodash.get(infoProduct, 'images')) %>
            console.log({images });
            for (const image of images) {
                //console.log(image)
                let { name, size, path, _id } = image;
                var file = {
                    _id,
                    name,
                    size,
                    status: Dropzone.ADDED,
                    accepted: true,
                    url: path
                };

                myDropzone.emit("addedfile", file);                                
                myDropzone.emit("thumbnail", file, path);
                myDropzone.emit("complete", file);
                myDropzone.files.push(file);
            }
            
            this.on("addedfile", function(file) { 
                arrImageAdd = [...arrImageAdd, file];
            });

        },
        maxFiles:10,
        acceptedFiles: ".jpeg,.jpg,.png,.gif"
    };

    // Dánh sách file của bài viết
   //Dropzone Document
    Dropzone.options.recommendationDocument = {
        autoProcessQueue: true,
        addRemoveLinks: true,
        removedfile: function(file) {
            var _ref;
            arrFileAdd && arrFileAdd.length && arrFileAdd.forEach((fileAppend, index) => {
                if(fileAppend.name == file.name){
                    arrFileAdd.splice(index, 1);
                }
            })

            if(file && file._id){
                arrFileRemoveID = [...arrFileRemoveID, file._id];
            }
            
            //console.log({ arrFileRemoveID });
            return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
        },
        init: async function() {
            this.on("addedfile", function(file) { 
                let url = 'https://s3-ap-southeast-1.amazonaws.com/ldk-software.hailuu/root/63b787b0-611a-471a-b43e-72e62a61ada6';
                myDropzone.emit("thumbnail", file, url);
                if (this.files.length > 4) {
                    toastr.warning('Không thể thêm hơn 4 tệp', 'Thông báo');
                    this.removeFile(this.files[4]);
                }
                
            });
            let myDropzone = this;
            // let infoProduct = await getInfoProduct(productID);
            // let { arrayFile } = infoProduct.data;
            let arrayFile = <%- JSON.stringify(_lodash.get(infoProduct, 'arrayFile')) %>
            for (const document of arrayFile) {
                let { name, size, path, _id } = document;
                let file = {
                    _id,
                    name,
                    size,
                    status: Dropzone.ADDED,
                    accepted: true,
                    url: 'https://s3-ap-southeast-1.amazonaws.com/ldk-software.hailuu/root/63b787b0-611a-471a-b43e-72e62a61ada6'
                };

                myDropzone.emit("addedfile", file);                                
                myDropzone.emit("thumbnail", file, file.url);
                myDropzone.emit("complete", file);
                myDropzone.files.push(file);
            }
            
            this.on("addedfile", function(file) { 
                arrFileAdd = [...arrFileAdd, file];
            });

        },
        maxFiles:4,
        //acceptedFiles: ".jpeg,.jpg,.png,.gif"
    };

    $(document).ready(function(){
        //Active tinyMCE
        initEditor("#txtIntroProduct, #txtNoteOrder, #txtPriceList",{
            height: 500
        });

        function generate(n) {
            var add = 1, max = 12 - add;   // 12 is the min safe number Math.random() can generate without it starting to pad the end with zeros.   
            if ( n > max ) {
                return generate(max) + generate(n - max);
            }
            max        = Math.pow(10, n+add);
            var min    = max/10; // Math.pow(10, n) basically
            var number = Math.floor( Math.random() * (max - min + 1) ) + min;
            return ("" + number).substring(add); 
        }

       // Xử lý tỷ lệ giảm giá
       $("#txtTyLeGiam").on("keyup", function(e){
            let percent = $(this).val();
            let percentAfterFormat = +percent.slice(0, -1);
            if(percentAfterFormat < 0 || percentAfterFormat > 100 || isNaN(+percentAfterFormat))
                return toastr.warning("Tỷ lệ giảm không hợp lệ", "Thông Báo")

            if(percent.includes("%")){
                let priceBefore = $("#txtPriceBefore").val();
                let priceBeforeAfterFormat = +priceBefore.split(',').join('');
                let priceAfter = priceBeforeAfterFormat - priceBeforeAfterFormat*percentAfterFormat/100;
                $("#txtPriceAfter").val(priceAfter);
                runCleave('txtPriceAfter');
            }
        });
        // convert name product to slug
        $('#txtName').on('keyup', function () {
			let nameToSlug = convertToSlug($(this).val());
			$('#txtURL').val(`${nameToSlug}-${generate(4)}`);
		});
        
        function delay(callback, ms) {
            var timer = 0;
            return function() {
                var context = this, args = arguments;
                clearTimeout(timer);
                timer = setTimeout(function () {
                callback.apply(context, args);
                }, ms || 0);
            };
        }

        //Check input require
        function checkFieldRequire(fields) {
            return new Promise(async resolve => {
                try {
                    let nextStep = true;
                    for (const field of fields) {
                        if(!field){
                            nextStep = false;
                        }
                    }
                    return resolve(nextStep);
                } catch (error) {
                    return resolve({ error: true, message: error.message });
                }
            })
        }

        //Function caculator ratio Price
        function caculateRatioPrice(classPriceBefore, classPriceAfter) {
            let priceBefore = $(`#${classPriceBefore}`).val();
            let priceAfter = $(`#${classPriceAfter}`).val();
            if(priceBefore && priceAfter ){
                //Fortmat price
                priceBefore = priceBefore.split(',').join('');
                priceAfter = priceAfter.split(',').join('');
                if(Number(priceBefore) > Number(priceAfter)){
                    let ratio = priceAfter/priceBefore*100;
                    ratio = (100-ratio);
                    $('#txtRatio').val(`${ratio.toFixed(1)}%`);
                }else{
                    $('#txtRatio').val(``);
                    return toastr.warning('Giá sau khi giảm phải thấp hơn giá gốc', 'Thông báo');
                }
            }
        }

        $(document).on('keyup', '#txtPriceBefore, #txtPriceAfter', delay(function(e) {
            caculateRatioPrice('txtPriceBefore', 'txtPriceAfter');
        }, 1000));

        $('#menu-parent').on('change', function () {
            let valueMenuID = $(this).val();
            let valueChild = $('#menu-children').attr("_valuechild");
            //console.log({ valueChild });
            $.ajax({
                url: `/menu/get-list-menu-child-of-parent/${valueMenuID}`,
                method: 'GET',
                success: (resp) => {
                    if(!resp.error){
                        let listMenuChild = resp.data;
                        let dataAppend = '';
                        if(listMenuChild && listMenuChild.length){
                            listMenuChild.forEach(childMenu => {
                                if(valueChild.toString().trim() == childMenu._id.toString().trim()){
                                    dataAppend += `<option selected value="${childMenu._id}">${childMenu.name}</option>`;
                                }else{
                                    dataAppend += `<option value="${childMenu._id}">${childMenu.name}</option>`;
                                }
                            })
                        }else{
                            dataAppend += `<option value="">Không có danh mục con</option>`;
                        }
                        $('#menu-children').empty();
                        $('#menu-children').append(dataAppend);
                    }else{
                        toastr.error('Có lỗi sảy ra vui lòng thử lại', 'Thông báo');
                    }
                },
                error: function(){
                    toastr.error('Có lỗi sảy ra vui lòng thử lại', 'Thông báo');
                }
            })
        }).change();

        //Create Product
        $(document).on('click', '.btnCreateProduct', async function(e) {
            e.preventDefault();
            //Fields for Product
            let name = $('#txtName').val();
            let description = $('#txtDescription').val();
            let menu = $('#menu-children').val();
            let introProduct = tinyMCE.get('txtIntroProduct').getContent();
            let noteOrder = tinyMCE.get('txtNoteOrder').getContent();
            let priceList = tinyMCE.get('txtPriceList').getContent();
            let color = $('#txtColor').val();
            let priceBefore = $('#txtPriceBefore').val();
            let priceAfter = $('#txtPriceAfter').val();

            let flashSale = $('#switch_flase_sale').prop("checked");
            let flashPrint = $('#switch_flash_print').prop("checked");
          

            let avatar = Dropzone.forElement(".dropzone").files;
            let gallery = Dropzone.forElement("#recommendationGallery").files;
            let document = Dropzone.forElement("#recommendationDocument").files;
            
            if(!name)
                return toastr.warning('Vui lòng nhập tên sản phẩm', 'Thông báo');
            if(!description)
                return toastr.warning('Vui lòng nhập mô tả sản phẩm', 'Thông báo');
            if(!color)
                return toastr.warning('Vui lòng nhập màu sắc sản phẩm', 'Thông báo');
            if(!priceBefore)
                return toastr.warning('Vui lòng nhập giá sản phẩm', 'Thông báo');
            if(!menu)
                return toastr.warning('Vui lòng chọn một danh mục con', 'Thông báo');

            //Fortmat price
            priceBefore = priceBefore && priceBefore.split(',').join('');
            priceAfter = priceAfter && priceAfter.split(',').join('');

            //Check price
            if(priceAfter && priceBefore && Number(priceAfter) >= Number(priceBefore)){
                return toastr.warning('Giá sau khi giảm phải thấp hơn giá gốc', 'Thông báo');
            }

            if(flashSale == true && !priceAfter){
                return toastr.warning('Bạn cần phải nhập giá giảm khi áp dụng Flashsale', 'Thông báo');
            }

            let ratioSale = 0;
            if(priceAfter && priceBefore){
                ratioSale = Number(priceAfter)/Number(priceBefore)*100;
                ratioSale = (100-ratioSale).toFixed(0);
            }

            let variantOption = $("#txtChooseVariantOption").val();
            if(!variantOption.length)
                return toastr.warning('Vui lòng chọn thuộc tính cho sản phẩm', 'Thông báo');

            let dataInsert = {
                name,
                description,
                menu,
                introProduct,
                noteOrder,
                priceList,
                color,
                priceBefore,
                priceAfter,
                ratioSale,
                flashSale,
                flashPrint,
                variantOption
            }

            let fd = new FormData();
            if(avatar && avatar.length == 0){
                return toastr.warning('Vui lòng thêm hình ảnh sản phẩm', 'Thông báo');
            }

            //If existed avatar and images product => toastr waiting...
            // if(avatar && avatar.length || gallery && gallery.length || document && document.length){
            //     toastr.info('Đang xử lý, vui lòng đợi...', 'Thông báo');
            // }

            //Get link S3 if avatar product is exist
            if(avatar && avatar.length){
                let pathImage = await getLinkS3(avatar);
                if(pathImage){
                    dataInsert.pathImage = pathImage.data;
                }
                fd.append('file', avatar[0]);
            }

            //Get link S3 if images product is exist
            let arrLinkS3ImageProduct = [];
            if(gallery && gallery.length){
                for (let file of gallery) {
                    let { name, size } = file;
                    let pathImageGallery = await getLinkS3(file);
                    arrLinkS3ImageProduct = [...arrLinkS3ImageProduct, { name, size, pathImageGallery: pathImageGallery.data }];
                }
                dataInsert.gallery = JSON.stringify(arrLinkS3ImageProduct)
            }

            //Get link S3 if file product is exist
            let arrLinkS3FileProduct = [];
            if(document && document.length){
                for (let file of document) {
                    let { name, size, type } = file;
                    let pathDocument = await getLinkS3(file);
                    arrLinkS3FileProduct = [...arrLinkS3FileProduct, {name, size, type, pathDocument: pathDocument.data }];
                }
                dataInsert.document = JSON.stringify(arrLinkS3FileProduct)
            }
            
            let confirmCreate = confirm("Bạn chắc chắn, những thuộc tính của sản phẩm này chứ, nếu tạo xong bạn không có quyền chỉnh sửa thuộc tính");
            if(!confirmCreate)
                return;

            fd.append('data', JSON.stringify(dataInsert))
            // disableAndLoading(this)
            $.ajax({
                url: `<%= CF_ROUTINGS_PRODUCT.ADD_PRODUCT%>`,
                method: 'POST',
                data: fd,
                contentType: false,
                processData: false,
                success: (resp) => {
                    if(!resp.error){
                        toastr.success('Thêm thành công', 'Thông báo');
                        let { _id: productID } = resp.data;
                    }else{
                        // enableAndStopLoading(this);
                        // if(error.message = "name_is_existed"){
                        //     return toastr.warning('Đã có tên sản phẩm này', 'Thông báo');
                        // }
                        // toastr.error('Có lỗi sảy ra', 'Thông báo');
                    }
                },
                error: function(){
                    // enableAndStopLoading(this);
                    toastr.error('Có lỗi sảy ra vui lòng thử lại', 'Thông báo');
                }
            })
        })

        $('#attribute').select2();
        $('#menu-parent').select2();
        $('#menu-children').select2();
        
        $(document).on('click', '.btnRemoveVariant', function(e) {
            $(this).closest('tr').remove();
            return toastr.info('Xoá sản phẩm con thành công', "Thông báo");
        })
        
        let arrVariantReceive = [];
        $(document).on('click', '.btnCreateVariant', async function(e) {
            e.preventDefault();
            let name = $('#txtNameChild').val();

            $('.list-variant').append(`
                <tr>
                    <td style="width: 10%;" class="idVariant">${Math.floor(100000 + Math.random() * 900000)}</td>
                    <td style="width: 10%;"></td>
                    <td style="width: 10%;" contenteditable="true"  class="txtVarianPrevious" _name="${name}">${name}</td>
                    <td style="width: 10%;"></td>
                    <td style="width: 10%;"></td>
                    <td style="width: 10%;"></td>
                    <td style="width: 10%;"></td>
                    <td style="width: 10%;">
                        <div style="margin-top: 12px" class="btn-group mb-2">
                            <div class="btn-group mb-2">
                                <button class="btn btn-secondary btn-sm" type="button">
                                    Thao tác
                                </button>
                                <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="sr-only">...</span>
                                </button>
                                <div class="dropdown-menu" x-placement="top-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(34px, -83px, 0px);">
                                    <a class="dropdown-item btnAddVariant" _parent="${name}"><i class="fa fa-edit"></i> Tạo thuộc tính con</a> 
                                    <a class="dropdown-item btnRemoveVariant"><i class="fa fa-trash"></i> Xóa</a> 
                                </div>
                            </div>  
                        </div>    
                    </td>
                </tr>
            `)
        })

        $(document).on('click', '.btnAddVariant', async function(e) {
            let parent = $(this).closest("tr").find(".idVariant").text();
            $(this).closest("tr").after(`
                <tr>
                    <td style="width: 10%;" class="idVariant">${Math.floor(100000 + Math.random() * 900000)}</td>
                    <td style="width: 10%;">${parent}</td>
                    <td style="width: 10%;"></td>
                    <td style="width: 10%;" contenteditable="true"  class="txtVarianPrevious" _name="${parent}">${parent}</td>
                    <td style="width: 10%;" contenteditable="true">0</td>
                    <td style="width: 10%;" contenteditable="true">0</td>
                    <td style="width: 10%;" contenteditable="true">0</td>
                    <td style="width: 10%;">
                        <div style="margin-top: 12px" class="btn-group mb-2">
                            <div class="btn-group mb-2">
                                <button class="btn btn-secondary btn-sm" type="button">
                                    Thao tác
                                </button>
                                <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="sr-only">...</span>
                                </button>
                                <div class="dropdown-menu" x-placement="top-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(34px, -83px, 0px);">
                                    <a class="dropdown-item btnAddVariant" _parent="1"><i class="fa fa-edit"></i> Tạo thuộc tính con</a> 
                                    <a class="dropdown-item btnRemoveVariant"><i class="fa fa-trash"></i> Xóa</a> 
                                </div>
                            </div>  
                        </div>    
                    </td>
                </tr>
            `)
        })
        $(document).on('click', '.btnRemoveVariant', async function(e) {
            $(this).closest("tr").remove();
        })
        //=============================NEW=================================
        // Xử lý  xóa thông số cơ bản
        $(document).on('click', '.remove-thong-so-co-ban', async function(e) {
            $(this).closest(".item-thong-so-co-ban").remove();
            $(this).closest(".item-thuoc-tinh-con").remove();
        })
        // Xử lý  thêm thông số cơ bản
        $(document).on('click', '.btn-them-thong-so-co-ban', async function(e) {
            $("#container-thong-so-co-ban").append(`
                <br>
                <div class="row item-thong-so-co-ban">
                    <div class="col-sm-11">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" class="form-control txtTitleParameters" placeholder="Tiêu đề">
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control txtParameters"  placeholder="Thông số">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                        <textarea class="form-control txtDescriptionParameters" rows="3" placeholder="Mô tả"></textarea>
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-1 d-flex align-items-center">
                    <img class="remove-thong-so-co-ban" src="/template/hailuu-fe/assets/images/minus.svg" alt="remove" width="24px" height="24px">
                    </div>
                </div>
            `)
        })

        // Xử lý add thuộc tính cha
        $(document).on('click', '.btn-add-thuoc-tinh-cha', async function(e) {
            $(".popup-create-variant-value").modal("show");
            // $(".container-thuoc-tinh-cha").append(`
            //     </br>
            //     <div class="row item-thong-so-co-ban">
            //         <div class="col-sm-11">
            //             <div class="row">
            //             <div class="col-md-12">
            //                 <input class="form-control txtItemVariant" type="text" placeholder="VD: In 1 mặt">
            //             </div>
            //         </div>
            //         <br>
            //         <div class="row">
            //             <div class="col-md-6">
            //                 <input class="form-control txtPriceVariant" type="text" placeholder="Giá gốc">
            //             </div>
            //             <div class="col-md-6">
            //                 <input class="form-control txtPriceAfterDiscountVariant" type="text" placeholder="Giá sau khi giảm">
            //             </div>
            //             </div>   
            //         </div>
            //         <div class="col-sm-1 d-flex align-items-center">
            //             <img class="remove-thong-so-co-ban" src="/template/hailuu-fe/assets/images/minus.svg" alt="remove" width="24px" height="24px">
            //         </div>
            //     </div>
            // `)
            // runCleave('txtPriceVariant');
            // runCleave('txtPriceAfterDiscountVariant');
            // runCleave('txtPriceVariantChild');
            // runCleave('txtPriceAfterDiscountVariantChild');
        })

        $(document).on('click', '.btnConfirmVariant', async function(e) {
            let nameVariantParent = $("#txtNameVariantParent").val();
            if(!nameVariantParent)
                return toastr.warning("Vui lòng nhập tên thuộc tính cha", "Thông báo");
            let arrayVariantParent = [];

            $(".container-thuoc-tinh-cha").find(".item-thong-so-co-ban").each((index, item) => {
                let variantItem = $(item).find(".txtItemVariant").val();
                let priceVariantItem = $(item).find(".txtPriceVariant").val();
                let priceAfterDiscountVariantItem = $(item).find(".txtPriceAfterDiscountVariant").val();
                if(!variantItem)
                    return toastr.warning("Vui lòng nhập thuộc tính cha", "Thông báo");
                if(!priceVariantItem)
                    return toastr.warning("Vui lòng nhập giá thuộc tính cha", "Thông báo");
                arrayVariantParent.push(variantItem);
            })

            $(".txtChooseVariantParent").empty();
            $(".container-thuoc-tinh-con").empty();
            arrayVariantParent.forEach((element, index )=> {
                $(".txtChooseVariantParent").append(`
                    <option value="variant-${index}">${element}</option>
                `)
                $(".container-thuoc-tinh-con").append(`
                    <div class="row box-thuoc-tinh-con variant-${index}"> 
                    </div>
                `)
            });
        })

        $(document).on('click', '.btn-add-thuoc-tinh-con', async function(e) {
            // let variantParent = $(".txtChooseVariantParent").val();
            // $(`.${variantParent}`).append(`
            //     <div class="item-thuoc-tinh-con">
            //         <div class="row col-sm-12">
            //             <div class="col-sm-11">
            //                 <div class="row">
            //                     <div class="col-md-12">
            //                         <input class="form-control txtItemVariantChild" type="text" placeholder="VD: In 1 mặt">
            //                     </div>
            //                 </div>
            //                 <br>
            //                 <div class="row">
            //                     <div class="col-md-6">
            //                         <input class="form-control txtPriceVariantChild" type="text" placeholder="Giá gốc">
            //                     </div>
            //                     <div class="col-md-6">
            //                         <input class="form-control txtPriceAfterDiscountVariantChild" type="text" placeholder="Giá sau khi giảm">
            //                     </div>
            //                 </div>   
            //                 <br>
            //             </div>
            //             <div class="col-sm-1 d-flex align-items-center">
            //                 <i class="fas fa-minus-circle remove-thong-so-co-ban" style="font-size: 20px; color: red;"></i>
            //             </div> 
            //         </div> 
            //     </div> 
            // `)
            // runCleave('txtPriceVariant');
            // runCleave('txtPriceAfterDiscountVariant');
            // runCleave('txtPriceVariantChild');
            // runCleave('txtPriceAfterDiscountVariantChild');
            let variantParent = $(".txtChooseVariantParent").val();
            $(`.${variantParent}`).append(`
                <div class="item-thuoc-tinh-con">
                    <div class="row col-sm-12">
                        <div class="col-sm-11">
                            <div class="row">
                                <div class="col-md-12">
                                    <input class="form-control txtItemVariantChild" type="text" placeholder="VD: In 1 mặt">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <input class="form-control txtPriceVariantChild" type="text" placeholder="Giá gốc">
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control txtPriceAfterDiscountVariantChild" type="text" placeholder="Giá sau khi giảm">
                                </div>
                            </div>   
                            <br>
                        </div>
                        <div class="col-sm-1 d-flex align-items-center">
                            <img class="remove-thong-so-co-ban" src="/template/hailuu-fe/assets/images/minus.svg" alt="remove" width="24px" height="24px">
                        </div> 
                    </div> 
                </div> 
            `)
            runCleave('txtPriceVariant');
            runCleave('txtPriceAfterDiscountVariant');
            runCleave('txtPriceVariantChild');
            runCleave('txtPriceAfterDiscountVariantChild');
        })

        $(document).on('click', '.btnAddAndUpdateProduct', async function(e) {
            let productID = $(this).attr("_productID");
            let name = $('#txtName').val();
            let description = $('#txtDescription').val();
            let url = $('#txtURL').val();

            let menu = $('#menu-children').val();
            let priceBefore = $('#txtPriceBefore').val();
            let ratioSale = $('#txtTyLeGiam').val().slice(0, -1);
            let priceAfter = $('#txtPriceAfter').val();
            //Fortmat price
            priceBefore = priceBefore && priceBefore.split(',').join('');
            priceAfter = priceAfter && priceAfter.split(',').join('');

            let flashSale = $('#switch_flase_sale').prop("checked");
            let flashPrint = $('#switch_flash_print').prop("checked");

            let introProduct = tinyMCE.get('txtIntroProduct').getContent();
            let noteOrder = tinyMCE.get('txtNoteOrder').getContent();
            let priceList = tinyMCE.get('txtPriceList').getContent();
            
            let avatar =   $("#blogImage")[0].files[0];
            let fileExcel = $("#excel-file")[0].files[0]
            let fileIllustrator = $("#illustrator-file")[0].files[0]
            let fileVectorEPS = $("#vector-eps-file")[0].files[0]
            let filePDF = $("#pdf-file")[0].files[0]

            //Thông số cơ bản
            let basicParameters = [];
            $(`#container-thong-so-co-ban`).find(".item-thong-so-co-ban").each((index, item) => {
                let titleParameters = $(item).find(".txtTitleParameters").val();
                let parameters = $(item).find(".txtParameters").val();
                let descriptionParameters = $(item).find(".txtDescriptionParameters").val();
                if(!titleParameters)
                    return toastr.warning("Vui lòng nhập tiêu đề thông số cơ bản", "Thông báo");
                if(!parameters)
                    return toastr.warning("Vui lòng nhập thông số cơ bản", "Thông báo");
                basicParameters.push({ title: titleParameters, parameters, description: descriptionParameters });
            });

            // let nameVariantParent = $("#txtNameVariantParent").val();
            // let nameVariantChild  = $("#txtNameVariantChild").val();
            // let propertyVariantParent = [];
            // let propertyVariantChild = [];
            // let basicParameters = [];

            // let typeShowParent = $('input[name=type_show_parent]:checked').val()
            // let typeShowChild = $('input[name=type_show_child]:checked').val()

            // $(".container-thuoc-tinh-cha").find(".item-thong-so-co-ban").each((index, item) => {
            //     let variantItem = $(item).find(".txtItemVariant").val();
            //     let priceVariantItem = $(item).find(".txtPriceVariant").val();
            //     let priceAfterDiscountVariantItem = $(item).find(".txtPriceAfterDiscountVariant").val();
            //     if(!variantItem)
            //         return toastr.warning("Vui lòng nhập thuộc tính cha", "Thông báo");
            //     if(!priceVariantItem)
            //         return toastr.warning("Vui lòng nhập giá thuộc tính cha", "Thông báo");
            //     priceVariantItem = priceVariantItem && priceVariantItem.split(',').join('');
            //     priceAfterDiscountVariantItem = priceAfterDiscountVariantItem && priceAfterDiscountVariantItem.split(',').join('');
            //     propertyVariantParent.push({ id: index, name: variantItem, price: priceVariantItem, priceAfter: priceAfterDiscountVariantItem })
            // });

            // propertyVariantParent.forEach(variant => {
            //     $(`.variant-${variant.id}`).find(".item-thuoc-tinh-con").each((index, item) => {
            //         let variantItemChild = $(item).find(".txtItemVariantChild").val();
            //         let priceVariantItemChild = $(item).find(".txtPriceVariantChild").val();
            //         let priceAfterDiscountVariantItemChild = $(item).find(".txtPriceAfterDiscountVariantChild").val();
            //         if(!variantItemChild)
            //             return toastr.warning("Vui lòng nhập thuộc tính con", "Thông báo");
            //         if(!priceVariantItemChild)
            //             return toastr.warning("Vui lòng nhập giá thuộc tính con", "Thông báo");
            //         priceVariantItemChild = priceVariantItemChild && priceVariantItemChild.split(',').join('');
            //         priceAfterDiscountVariantItemChild = priceAfterDiscountVariantItemChild && priceAfterDiscountVariantItemChild.split(',').join('');
            //         propertyVariantChild.push({ parentID: variant.id, name: variantItemChild, price: priceVariantItemChild, priceAfter: priceAfterDiscountVariantItemChild })
            //     });
            // })
            
            if(!name)
                return toastr.warning('Vui lòng nhập tên sản phẩm', 'Thông báo');
            if(!description)
                return toastr.warning('Vui lòng nhập mô tả sản phẩm', 'Thông báo');
            if(!priceBefore)
                return toastr.warning('Vui lòng nhập giá sản phẩm', 'Thông báo');
            if(!menu)
                return toastr.warning('Vui lòng chọn một danh mục con', 'Thông báo');

            // let variant = {
            //     typeShowParent,
            //     typeShowChild,
            //     nameVariantParent,
            //     nameVariantChild,   
            //     propertyVariantParent, 
            //     propertyVariantChild,  
            // }
            
            let dataUpdate = {
                name,
                description,
                url,
                menu,
                introProduct,
                noteOrder,
                priceList,
                priceBefore,
                priceAfter,
                ratioSale: Number(ratioSale),
                flashSale,
                flashPrint,
                basicParameters,
                status: 1,
                //variant
            }

            if(avatar || fileExcel || fileIllustrator || fileVectorEPS || filePDF || arrImageAdd.length > 0) {
                toastr.info('Đang cập nhật sản phẩm. Vui lòng đợi...', 'Thông báo');
            }

            if(avatar){
                let pathImage = await getLinkS3(avatar);
                if(pathImage){
                    dataUpdate.pathImage = pathImage.data;
                }
            }

            if(fileExcel){
                let pathfileExcel = await getLinkS3(fileExcel);
                if(pathfileExcel){
                    dataUpdate.pathfileExcel = pathfileExcel.data;
                }
            }

            if(fileIllustrator){
                let pathfileIllustrator = await getLinkS3(fileIllustrator);
                if(pathfileIllustrator){
                    dataUpdate.pathfileIllustrator = pathfileIllustrator.data;
                }
            }

            if(fileVectorEPS){
                let pathfileVectorEPS = await getLinkS3(fileVectorEPS);
                if(pathfileVectorEPS){
                    dataUpdate.pathfileVectorEPS = pathfileVectorEPS.data;
                }
            }

            if(filePDF){
                let pathfilePDF = await getLinkS3(filePDF);
                if(pathfilePDF){
                    dataUpdate.pathfilePDF = pathfilePDF.data;
                }
            }

            let arrLinkS3ImageProduct = [];
            if(arrImageAdd && arrImageAdd.length){
                for (let file of arrImageAdd) {
                    let { name, size } = file;
                    let pathImageGallery = await getLinkS3(file);
                    arrLinkS3ImageProduct = [...arrLinkS3ImageProduct, {name, size, pathImageGallery: pathImageGallery.data }];
                }
                dataUpdate.gallery = JSON.stringify(arrLinkS3ImageProduct);
            }

            disableAndLoading(this)

            $.ajax({
                url: `/product/update/${productID}`,
                method: 'POST',
                data: dataUpdate,
                success: function(resp){
                    if(!resp.error){
                        toastr.success('Cập nhật thành công', 'Thông báo');
                        setTimeout(() => {
                            return window.location.reload(true);
                        }, 500);
                    }else{
                        enableAndStopLoading(this);
                        toastr.warning('Có lỗi trong quá trình cập nhật', 'Thông báo');
                    }
                },
                error: function(){
                    enableAndStopLoading(this);
                    toastr.warning('Có lỗi trong quá trình cập nhật', 'Thông báo');
                }
            })
        })
        
        $(document).on('keyup', '.txtUpdateVariant', delay(function(e) {
            let name = $(this).val();
            let variantID = $(this).attr("_variantID");
            if(!name)
                return toastr.warning("Không được bỏ trống", "Thông báo");

            $.ajax({
                url: `<%= CF_ROUTINGS_ACCOUNT.UPDATE_VARIANT%>`,
                method: 'POST',
                data: { variantID, name },
                success: function(resp) {
                    console.log({ resp })
                    if (resp.error){
                        toastr.error('Thất Bại', 'Thông báo');
                    }else{
                        toastr.info('Lưu thành công', 'Thông báo');
                    }
                },
                error: function(error){
                    console.log({ error })
                }
            });
        }, 500));


        $(document).on('keyup', '.txtItemVariant', delay(function(e) {
            let name = $(this).val();
            let variantValueID = $(this).attr("_variantValueID");
            if(!name)
                return toastr.warning("Không được bỏ trống", "Thông báo");

            $.ajax({
                url: `<%= CF_ROUTINGS_ACCOUNT.UPDATE_VARIANT_VALUE%>`,
                method: 'POST',
                data: { variantValueID, name },
                success: function(resp) {
                    console.log({ resp })
                    if (resp.error){
                        toastr.error('Thất Bại', 'Thông báo');
                    }else{
                        toastr.info('Lưu thành công', 'Thông báo');
                    }
                },
                error: function(error){
                    console.log({ error })
                }
            });
        }, 500));

        $(document).on('keyup', '.txtPriceVariant', delay(function(e) {
            let price_at_compare = $(this).val();
            price_at_compare =  price_at_compare && price_at_compare.split(',').join('');
            let productVariantValueID = $(this).attr("_productVariantValueID");
            $.ajax({
                url: `<%= CF_ROUTINGS_ACCOUNT.UPDATE_PRODUCT_VARIANT_VALUE%>`,
                method: 'POST',
                data: { productVariantValueID, price_at_compare },
                success: function(resp) {
                    console.log({ resp })
                    if (resp.error){
                        toastr.error('Thất Bại', 'Thông báo');
                    }else{
                        toastr.info('Lưu thành công', 'Thông báo');
                    }
                },
                error: function(error){
                    console.log({ error })
                }
            });
        }, 500));


        $(document).on('keyup', '.txtPriceAfterDiscountVariant', delay(function(e) {
            let price = $(this).val();
            price =  price && price.split(',').join('');
            let productVariantValueID = $(this).attr("_productVariantValueID");
            $.ajax({
                url: `<%= CF_ROUTINGS_ACCOUNT.UPDATE_PRODUCT_VARIANT_VALUE%>`,
                method: 'POST',
                data: { productVariantValueID, price },
                success: function(resp) {
                    console.log({ resp })
                    if (resp.error){
                        toastr.error('Thất Bại', 'Thông báo');
                    }else{
                        toastr.info('Lưu thành công', 'Thông báo');
                    }
                },
                error: function(error){
                    console.log({ error })
                }
            });
        }, 500));


        $(document).on('keyup', '.txtUpdateWeightProductVariantValue', delay(function(e) {
            let weight = $(this).val();
            let productVariantValueID = $(this).attr("_productVariantValueID");
            $.ajax({
                url: `<%= CF_ROUTINGS_ACCOUNT.UPDATE_PRODUCT_VARIANT_VALUE%>`,
                method: 'POST',
                data: { productVariantValueID, weight },
                success: function(resp) {
                    console.log({ resp })
                    if (resp.error){
                        toastr.error('Thất Bại', 'Thông báo');
                    }else{
                        toastr.info('Lưu thành công', 'Thông báo');
                    }
                },
                error: function(error){
                    console.log({ error })
                }
            });
        }, 500));

        runCleave('txtPriceProductVariantValueCreate');
        runCleave('txtPriceAtCompareProductVariantValueCreate');
        $(document).on('click', '.btnConfirmAddVariantValue', function(e) {
            let product = $(this).attr("_productID");
            let variant = $(this).attr("_variantID");
            let name = $("#txtNameVariantValueCreate").val();
            let price_at_compare = $("#txtPriceAtCompareProductVariantValueCreate").val();
            let price = $("#txtPriceProductVariantValueCreate").val();
            price_at_compare =  price_at_compare && price_at_compare.split(',').join('');
            price =  price && price.split(',').join('');

            if(!name || !price_at_compare)  
                return toastr.warning("Vui lòng nhập đầy đủ thông tin", "Thông Báo");

            $.ajax({
                url: `<%= CF_ROUTINGS_ACCOUNT.ADD_VARIANT_VALUE_AND_PRODUCT_VARIANT_VALUE%>`,
                method: 'POST',
                data: { variant, product, name, price, price_at_compare },
                success: function(resp) {
                    if (resp.error){
                        toastr.error('Thất Bại', 'Thông báo');
                    }else{
                        toastr.info('Thêm thành công', 'Thông báo');
                        window.location.reload();
                    }
                },
                error: function(error){
                    console.log({ error })
                }
            });
        })  
        
        $(document).on('click', '.remove-variant-value', function(e) {
            if(!confirm("Bạn chắc chắn xóa thuộc tính này"))
                return;
            let variantValueID = $(this).attr("_variantValue");
            $.ajax({
                url: `/admin/variant/remove-variant-value/${variantValueID}`,
                method: 'GET',
                success: function(resp) {
                    console.log({ resp });
                    if (resp.error){
                        toastr.error('Thất Bại', 'Thông báo');
                    }else{
                        toastr.info('Xóa thành công', 'Thông báo');
                        window.location.reload();
                    }
                },
                error: function(error){
                    console.log({ error })
                }
            });
        })
        
        $('input[name="type_show_parent"]').on('change', function(e) {
            let typeShow = $(this).val();
            let variantID = $(this).attr("_variantID");
            console.log({ typeShow, variantID });
            $.ajax({
                url: `<%= CF_ROUTINGS_ACCOUNT.UPDATE_TYPE_SHOW_VARIANT%>`,
                method: 'POST',
                data: { typeShow, variantID },
                success: function(resp) {
                    console.log({ resp })
                    if (resp.error){
                        toastr.error('Thất Bại', 'Thông báo');
                    }else{
                        toastr.info('Lưu thành công', 'Thông báo');
                    }
                },
                error: function(error){
                    console.log({ error })
                }
            });
        });

        $('input[name="type_show_child"]').on('change', function(e) {
            let typeShow = $(this).val();
            let variantID = $(this).attr("_variantID");
            $.ajax({
                url: `<%= CF_ROUTINGS_ACCOUNT.UPDATE_TYPE_SHOW_VARIANT%>`,
                method: 'POST',
                data: { typeShow, variantID },
                success: function(resp) {
                    console.log({ resp })
                    if (resp.error){
                        toastr.error('Thất Bại', 'Thông báo');
                    }else{
                        toastr.info('Lưu thành công', 'Thông báo');
                    }
                },
                error: function(error){
                    console.log({ error })
                }
            });
        });

        $(document).on('change', '.txtChooseVariantParent', async function(e) {
            let variantValueID = $(this).val();
            $(".container-thuoc-tinh-con").empty()
            if(variantValueID){
                $.ajax({
                    url: `/admin/variant/list-variant-value-child/${variantValueID}`,
                    method: 'GET',
                    success: function(resp) {
                        console.log({ resp })
                        if (resp.error){
                            toastr.error('Thất Bại', 'Thông báo');
                        }else{
                            let listVariantValueAndProductVariantValue = resp.data;
                            
                            listVariantValueAndProductVariantValue.forEach(item => {
                                $(".container-thuoc-tinh-con").append(`
                                <div class="row item-thong-so-co-ban">
                                    <div class="col-sm-11">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label for="combobox">Giá trị</label>
                                                <input class="form-control txtItemVariant" type="text" placeholder="VD: In 1 mặt" _variantValueID="${item.variantValue._id}" value="${item.variantValue.name}">
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                                <div class="col-md-4">
                                                    <label for="combobox">Giá gốc</label>
                                                    <input class="form-control txtPriceVariant txtUpdatePriceProductVariantValue" type="text" placeholder="Giá gốc" _productVariantValueID="${item.productVariantValue._id}" value="${item.productVariantValue.price_at_compare}">
                                                </div>
                                                <div class="col-md-4">
                                                    <label for="combobox">Giá sau khi giảm</label>
                                                    <input class="form-control txtPriceAfterDiscountVariant txtUpdatePriceProductVariantValue" type="text" placeholder="Giá sau khi giảm"  _productVariantValueID="${item.productVariantValue._id}" value="${item.productVariantValue && item.productVariantValue.price || ""}">
                                                </div>
                                                <div class="col-md-4">
                                                    <label for="combobox">Cân nặng(KG)</label>
                                                    <input class="form-control txtUpdateWeightProductVariantValue" type="text" placeholder="Cân nặng"  _productVariantValueID="${item.productVariantValue._id}" value="${item.productVariantValue && item.productVariantValue.weight || 0}">
                                                </div>
                                        </div>   
                                        </div>
                                        <div class="col-sm-1 d-flex align-items-center">
                                            <i class="fas fa-trash remove-variant-value" _variantValue="${item.variantValue._id}"></i>
                                        </div>
                                    </div>
                                    <br>
                                `);
                            })
                            runCleave('txtUpdatePriceProductVariantValue');
                        }
                    },
                    error: function(error){
                        console.log({ error })
                    }
                }).done(function(){
                    $(".container-thuoc-tinh-con").append(`
                        <button class="btn col-sm-12 btn-add-thuoc-tinh-con" _variantValue = "${variantValueID}">Thêm thuộc tính con</button>
                    `);
                });
            }
            // $(".box-thuoc-tinh-con").hide();
            // $(`.${value}`).show();
        }); 

        $(document).on('click', '.btn-add-thuoc-tinh-con', async function(e) {
            let variantValueID = $(this).attr("_variantValue");
            $(".btnConfirmAddVariantValueChild").attr("_variantValue", variantValueID);
            $(".popup-create-variant-value-child").modal("show");
        })
        runCleave('txtPriceAtCompareProductVariantValueChildCreate');
        runCleave('txtPriceProductVariantValueChildCreate');
        $(document).on('click', '.btnConfirmAddVariantValueChild', async function(e) {
            let parentID = $(this).attr("_variantValue");
            let variantID = $(this).attr("_variantChildID");
            let name = $("#txtNameVariantValueChildCreate").val();
            let price_at_compare = $("#txtPriceAtCompareProductVariantValueChildCreate").val();
            let price = $("#txtPriceProductVariantValueChildCreate").val();
            price_at_compare =  price_at_compare && price_at_compare.split(',').join('');
            price =  price && price.split(',').join('');
            if(!name || !price_at_compare)
                return toastr.warning("Vui lòng nhập đầy đủ thông tin", "Thông báo");
            $.ajax({
                url: `<%= CF_ROUTINGS_ACCOUNT.ADD_VARIANT_VALUE_CHILD%>`,
                method: 'POST',
                data: { variantID, parentID, name, price_at_compare, price, product: productID },
                success: function(resp) {
                    if (resp.error){
                        toastr.error('Thất Bại', 'Thông báo');
                    }else{
                        toastr.info('Thêm hành công', 'Thông báo');
                        setTimeout(() => {
                            window.location.reload();
                        }, 500);
                    }
                },
                error: function(error){
                    console.log({ error })
                }
            });

        })
    })
</script>