<link href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/dropzone.css" rel="stylesheet"/>
<script>

    let productID = '<%=infoProduct._id%>'

    //Get info product
    function getInfoProduct(productID) {
        return new Promise(async resolve => {
            try {
                $.ajax({
                    url: `/product/${productID}`,
                    method: 'GET',
                    success: function(resp){
                        //console.log(resp);
                        if(!resp.error){
                            let infoProduct = resp.data;

                            if(!infoProduct)
                                return resolve({ error: true, message: 'cannot_get_product' });
                            return resolve({ error: false, data: infoProduct });
                            // var mockFile = { name, size, status: Dropzone.ADDED, accepted: true };
                            // Dropzone.emit("addedfile", mockFile);                                
                            // Dropzone.emit("thumbnail", mockFile, path);
                            // Dropzone.emit("complete", mockFile);
                            // Dropzone.files.push(mockFile);

                        }else{
                            toastr.error('Đã có lỗi sảy ra', 'Thông báo');
                        }
                    },
                    error: function(){
                        toastr.error('Đã có lỗi sảy ra', 'Thông báo');
                    }
                })
                
            } catch (error) {
                return resolve({ error: true, message: error.message });
            }
        })
    }
    
    //Fortmat thousands
    function numberWithCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    function checkFieldRequire(fields) {
        return new Promise(async resolve => {
            try {
                let nextStep = true;
                for (const field of fields) {
                    if(!field){
                        nextStep = false;
                    }
                }
                return resolve(nextStep);
            } catch (error) {
                return resolve({ error: true, message: error.message });
            }
        })
    }

    //Dropzone Avatar
    Dropzone.options.recommendationAvatarUpdate = {
        paramName: 'NewImages',
        autoProcessQueue: true,
        init: async function() {
            let myDropzone = this;
            let infoProduct = await getInfoProduct(productID);
            let { name, size, path } = infoProduct.data.avatar;
            var file = {
                name,
                size,
                status: Dropzone.ADDED,
                accepted: true,
                url: path
            };

            myDropzone.emit("addedfile", file);                                
            myDropzone.emit("thumbnail", file, path);
            myDropzone.emit("complete", file);
            myDropzone.files.push(file);

            this.on("addedfile", function(file) { 
                if (this.files.length > 1) {
                    arrAvatarAdd = [file];
                    this.removeFile(this.files[0]);
                }
            });

        },
        maxFiles:1,
        acceptedFiles: ".jpeg,.jpg,.png,.gif"
    };

    let arrImageRemoveID = [];
    let arrImageAdd= [];
    let arrAvatarAdd;
    let arrFileAdd = []
    let arrFileRemoveID = [];

    //Dropzone Gallery
    Dropzone.options.recommendationGalleryUpdate = {
        autoProcessQueue: true,
        addRemoveLinks: true,
        removedfile: function(file) {
            var _ref;
            arrImageAdd && arrImageAdd.length && arrImageAdd.forEach((fileAppend, index) => {
                if(fileAppend.name == file.name){
                    arrImageAdd.splice(index, 1);
                }
            })

            if(file && file._id){
                arrImageRemoveID = [...arrImageRemoveID, file._id];
            }
            
            //console.log({ arrImageRemoveID });
            return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
        },
        init: async function() {
            let myDropzone = this;
            let infoProduct = await getInfoProduct(productID);
            let { images } = infoProduct.data;
            for (const image of images) {
				//console.log(image)
                let { name, size, path, _id } = image;
                var file = {
                    _id,
                    name,
                    size,
                    status: Dropzone.ADDED,
                    accepted: true,
                    url: path
                };

                myDropzone.emit("addedfile", file);                                
                myDropzone.emit("thumbnail", file, path);
                myDropzone.emit("complete", file);
                myDropzone.files.push(file);
            }
            
            this.on("addedfile", function(file) { 
                arrImageAdd = [...arrImageAdd, file];
            });

        },
        maxFiles:10,
        acceptedFiles: ".jpeg,.jpg,.png,.gif"
    };

    //Dropzone Document
    Dropzone.options.recommendationDocumentUpdate = {
        autoProcessQueue: true,
        addRemoveLinks: true,
        removedfile: function(file) {
            var _ref;
            arrFileAdd && arrFileAdd.length && arrFileAdd.forEach((fileAppend, index) => {
                if(fileAppend.name == file.name){
                    arrFileAdd.splice(index, 1);
                }
            })

            if(file && file._id){
                arrFileRemoveID = [...arrFileRemoveID, file._id];
            }
            
            //console.log({ arrFileRemoveID });
            return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
        },
        init: async function() {
            this.on("addedfile", function(file) { 
                let url = 'https://s3-ap-southeast-1.amazonaws.com/ldk-software.hailuu/root/63b787b0-611a-471a-b43e-72e62a61ada6';
                myDropzone.emit("thumbnail", file, url);
                if (this.files.length > 4) {
                    toastr.warning('Không thể thêm hơn 4 tệp', 'Thông báo');
                    this.removeFile(this.files[4]);
                }
                
            });
            let myDropzone = this;
            let infoProduct = await getInfoProduct(productID);
            let { arrayFile } = infoProduct.data;
            for (const document of arrayFile) {
                let { name, size, path, _id } = document;
                let file = {
                    _id,
                    name,
                    size,
                    status: Dropzone.ADDED,
                    accepted: true,
                    url: 'https://s3-ap-southeast-1.amazonaws.com/ldk-software.hailuu/root/63b787b0-611a-471a-b43e-72e62a61ada6'
                };

                myDropzone.emit("addedfile", file);                                
                myDropzone.emit("thumbnail", file, file.url);
                myDropzone.emit("complete", file);
                myDropzone.files.push(file);
            }
            
            this.on("addedfile", function(file) { 
                arrFileAdd = [...arrFileAdd, file];
            });

        },
        maxFiles:4,
        //acceptedFiles: ".jpeg,.jpg,.png,.gif"
    };

    function runCleave(inputID) {
        $(`#${inputID}`).toArray().forEach(function(field){
            new Cleave(field, {
                numeral: true,
                numeralThousandsGroupStyle: 'thousand'
            });
        });
    }

    runCleave('txtPriceBefore');
    runCleave('txtPriceAfter');
    runCleave('txtPriceBeforeVariant');
    runCleave('txtPriceAfterVariant');
    runCleave('txtWeightVariant');

    $(document).on('click', '.dz-remove', function(e) {
        alert("OK")
    })

$(document).ready(function() {

    initEditor("#txtIntroProduct, #txtNoteOrder, #txtPriceList");

    function delay(callback, ms) {
        var timer = 0;
        return function() {
            var context = this, args = arguments;
            clearTimeout(timer);
            timer = setTimeout(function () {
            callback.apply(context, args);
            }, ms || 0);
        };
    }
    
    let arrImageRemove = [];
    let arrImageInsert = [];

    function caculateRatioPrice(classPriceBefore, classPriceAfter) {
        let priceBefore = $(`#${classPriceBefore}`).val();
        let priceAfter = $(`#${classPriceAfter}`).val();
        if(priceBefore && priceAfter ){
            //Fortmat price
            priceBefore = priceBefore.split(',').join('');
            priceAfter = priceAfter.split(',').join('');
            if(Number(priceBefore) > Number(priceAfter)){
                let ratio = priceAfter/priceBefore*100;
                ratio = (100-ratio);
                $('#txtRatio').val(`${ratio.toFixed(1)}%`);
            }else{
                $('#txtRatio').val(``);
                return toastr.warning('Giá sau khi giảm phải thấp hơn giá gốc', 'Thông báo');
            }
        }
    }

    $('#menu-parent').on('change', function () {
        let valueMenuID = $(this).val();
        let valueChild = $('#menu-children').attr("_valuechild");
        //console.log({ valueChild });
        $.ajax({
            url: `/menu/get-list-menu-child-of-parent/${valueMenuID}`,
            method: 'GET',
            success: (resp) => {
                if(!resp.error){
                    let listMenuChild = resp.data;
                    let dataAppend = '';
                    if(listMenuChild && listMenuChild.length){
                        listMenuChild.forEach(childMenu => {
                            if(valueChild.toString().trim() == childMenu._id.toString().trim()){
                                dataAppend += `<option selected value="${childMenu._id}">${childMenu.name}</option>`;
                            }else{
                                dataAppend += `<option value="${childMenu._id}">${childMenu.name}</option>`;
                            }
                        })
                    }else{
                        dataAppend += `<option value="">Không có danh mục con</option>`;
                    }
                    $('#menu-children').empty();
                    $('#menu-children').append(dataAppend);
                }else{
                    toastr.error('Có lỗi sảy ra vui lòng thử lại', 'Thông báo');
                }
            },
            error: function(){
                toastr.error('Có lỗi sảy ra vui lòng thử lại', 'Thông báo');
            }
        })
    }).change();

    //Caculate to ratio price
    $(document).on('keyup', '#txtPriceBefore, #txtPriceAfter', delay(function(e) {
        caculateRatioPrice('txtPriceBefore', 'txtPriceAfter');
    }, 1000));

    //Update product
    $('.btnUpdateProduct').on('click', async function(e){
        e.preventDefault();
        //Fields for product
        let name = $('#txtName').val();
        let description = $('#txtDescription').val();
        let menu = $('#menu-children').val();
        let introProduct = tinyMCE.get('txtIntroProduct').getContent();
        let noteOrder = tinyMCE.get('txtNoteOrder').getContent();
        let priceList = tinyMCE.get('txtPriceList').getContent();
        let color = $('#txtColor').val();
        let priceBefore = $('#txtPriceBefore').val();
        let priceAfter = $('#txtPriceAfter').val();
        let status = $('.select-status').val();

        let flashSale = $('#switch_flase_sale').prop("checked");
        let flashPrint = $('#switch_flash_print').prop("checked");

        //File ảnh
        let avatar = Dropzone.forElement(".dropzone").files;

        //Fortmat price
        priceBefore = priceBefore && priceBefore.split(',').join('');
        priceAfter = priceAfter && priceAfter.split(',').join('');

        let ratioSale = 0;
        if(priceAfter && priceBefore){
            ratioSale = Number(priceAfter)/Number(priceBefore)*100;
            ratioSale = (100-ratioSale).toFixed(0);
            //flashSale = true;
        }

        if(flashSale == true && !priceAfter){
            return toastr.warning('Bạn cần phải nhập giá giảm khi áp dụng Flashsale', 'Thông báo');
        }

        //Check price
        if(priceAfter && priceBefore && Number(priceAfter) >= Number(priceBefore)){
            return toastr.warning('Giá sau khi giảm phải thấp hơn giá gốc', 'Thông báo');
        }

        //Check have gallery
        let valueGalleryProduct = $('#recommendationGalleryUpdate').children('.dz-image-preview').length;

        if(avatar && avatar.length == 0){
            return toastr.warning('Vui lòng thêm hình ảnh sản phẩm', 'Thông báo');
        }

        if(avatar && avatar.length || arrImageAdd && arrImageAdd.length){
            toastr.info('Đang xử lý, vui lòng đợi...', 'Thông báo');
        }

        let arrLinkS3ImageProduct = [];
        if(arrImageAdd && arrImageAdd.length){
            for (let file of arrImageAdd) {
                let { name, size } = file;
                let pathImageGallery = await getLinkS3(file);
                arrLinkS3ImageProduct = [...arrLinkS3ImageProduct, {name, size, pathImageGallery: pathImageGallery.data }];
            }
        }

        let avatarProduct = [];
        if(arrAvatarAdd && arrAvatarAdd.length){
            for (let file of arrAvatarAdd) {
                let { name, size } = file;
                let pathImageAvatar = await getLinkS3(file);
                avatarProduct = [...avatarProduct, {name, size, pathImageAvatar: pathImageAvatar.data }];
            }
        }

        let arrLinkS3FileProduct = [];
        if(arrFileAdd && arrFileAdd.length){
            for (let file of arrFileAdd) {
                let { name, size } = file;
                let pathDocument = await getLinkS3(file);
                arrLinkS3FileProduct = [...arrLinkS3FileProduct, {name, size, pathDocument: pathDocument.data }];
            }
        }

        $.ajax({
            url: `/product/update/${productID}`,
            method: 'POST',
            data: { name, description, menu, introProduct, noteOrder, priceList, 
                    status, color, priceBefore: Number(priceBefore), priceAfter: priceAfter && Number(priceAfter),
                    ratioSale, flashSale, flashPrint, avatar: JSON.stringify(avatarProduct[0]), gallery: JSON.stringify(arrLinkS3ImageProduct), 
                    galleryIDRemove:  JSON.stringify(arrImageRemoveID), document: JSON.stringify(arrLinkS3FileProduct), documentIDRemove: JSON.stringify(arrFileRemoveID)},
            success: function(resp){
                if(!resp.error){
                    toastr.success('Cập nhật thành công', 'Thông báo');
                    setTimeout(() => {
                        return window.location.reload(true);
                    }, 500);
                }else{
                    toastr.error('Cập nhật thất Bại', 'Thông báo');
                }
            },
            error: function(){
                toastr.error('Cập nhật thất Bại', 'Thông báo');
            }
        })
    });
    
    //Show modal update variant
    $(".btnUpdateVariant").click(function(){
        $(".popup-update-variant").modal('show');
        let variantID = $(this).attr('_variantID');
        $('.btnConfirmUpdateVariant').attr("_variantID", variantID);
        $.ajax({
            url: `/variant/${variantID}`,
            method: 'GET',
            success: function(resp){
                if(!resp.error){
                    let { variantOptions, priceBefore, priceAfter, weigth  } = resp.data;
                    let nameVariantText = ""
                    console.log({ variantOptions });
                    variantOptions.forEach((variantOption, index1) => { 
                        nameVariantText += variantOption.name
                        if (index1 < variantOptions.length - 1) { 
                            nameVariantText +=" > "
                        } 
                    })
                    console.log({ nameVariantText });
                    $("#txtNameVariantChild").val(nameVariantText);
                    $("#txtPriceBeforeVariantChild").val(priceBefore);
                    $("#txtPriceAfterVariantChild").val(priceAfter);
                    $("#txtWeightVariantChild").val(weigth);

                    runCleave("txtPriceBeforeVariantChild");
                    runCleave("txtPriceAfterVariantChild");
                    runCleave("txtWeightVariantChild");

                    console.log({ variantOptions, priceBefore, priceAfter, weigth });
                }else{
                    toastr.error('Có lỗi sảy ra khi cập nhật', 'Thông báo');
                }
            },
            error: function(){
                toastr.error('Có lỗi sảy ra khi cập nhật', 'Thông báo');
            }
        })
    });

    //Show modal add variant
    $(".btnCreateVariant").click(function(){
        $('.btnConfirmUpdateVariant').removeAttr('_variantID');
        $('.btnConfirmUpdateVariant').removeAttr('_indexvariant');
        $(".popup-update-variant").modal('show');
        $("#txtMass").val("");
        $("#txtPriceBeforeVariant").val("");
        $("#txtPriceAfterVariant").val("");
        $('h5').text('Tạo mới sản phẩm con');

    });

    $(".btnRemoveVariant").click(function(){
        let variantID = $(this).attr('_variantID');
        if (confirm("Bạn có chắc chắn xóa không?")) {
            $.ajax({
                url: `/variant/remove/${variantID}`,
                method: 'GET',
                success: (resp) => {
                    if(!resp.error){
                        toastr.info('Xoá sản phẩm con thành công', 'Thông báo');
                        $(this).closest('tr').remove();
                    }else{
                        toastr.error('Có lỗi sảy ra khi xoá', 'Thông báo');
                    }
                },
                error: function(){
                    toastr.error('Có lỗi sảy ra khi xoá', 'Thông báo');
                }
            })
        }
        return false;
    });

    //Update variant
    $(".btnConfirmUpdateVariant").click(async function(){
        let variantID = $(this).attr('_variantID');
        let weight = $("#txtWeightVariantChild").val();
        let priceAfter = $("#txtPriceAfterVariantChild").val();
        let priceBefore = $("#txtPriceBeforeVariantChild").val();

        if(!priceBefore)
            return toastr.warning("Vui lòng nhập số tiền gốc", "Thông Báo");

        if(!weight)
            return toastr.warning("Vui lòng nhập cân năng", "Thông Báo");

        priceBefore = priceBefore && priceBefore.split(',').join('');
        priceAfter = priceAfter && priceAfter.split(',').join('');
        weight = weight && weight.split(',').join('');
        if(priceAfter && Number(priceAfter) > Number(priceBefore))
            return toastr.warning("Số tiền sau khi giảm không được lơn số tiền gốc", "Thông Báo");

        $.ajax({
            url: `/variant/update-variant/${variantID}`,
            method: 'POST',
            data: {  priceBefore, priceAfter, weight },
            success: (resp) => {
                if(!resp.error){
                    toastr.info('Cập nhật thành công', 'Thông báo');
                    setTimeout(() => {
                        window.location.reload();
                    }, 300);
                }else{
                    toastr.error('Có lỗi sảy ra khi cập nhật', 'Thông báo');
                }
            },
            error: function(){
                enableAndStopLoading(this);
                toastr.error('Có lỗi sảy ra khi cập nhật', 'Thông báo');
            }
        })
        
    });

    $('#attribute').select2();
    $('#face-number').select2();
    $('#print-specification').select2();
    $('#select-amount').select2();
    $('.select-status').select2();
    $('#select-status').select2();
    $('#menu-parent').select2();
    $('#menu-children').select2();

    $("#txtChooseProductVariant").select2();

    let variantOptionLength =  "<%= infoProduct.variantOption.length%>"
    // insert vào variant_v2
    $(".btnAddProdctVariant").click(async function(){
        let variantOptions = [];
        for (let index = 0; index < variantOptionLength; index++) {
            variantOptions.push($(`.txtChooseProductVariant${index}`).val());
        }
        let priceBefore = $("#txtPriceBeforeVariant").val();
        let priceAfter = $("#txtPriceAfterVariant").val();
        let weight = $("#txtWeightVariant").val();
        let productID = $(this).attr("_productID");
        if(!variantOptions.length)
            return toastr.warning("Vui lòng chọn thuộc tính", "Thông Báo");
        if(!priceBefore)
            return toastr.warning("Vui lòng nhập số tiền gốc", "Thông Báo");

        if(!weight)
            return toastr.warning("Vui lòng nhập cân năng", "Thông Báo");
        priceBefore = priceBefore && priceBefore.split(',').join('');
        priceAfter = priceAfter && priceAfter.split(',').join('');
        weight = weight && weight.split(',').join('');

        console.log({ priceAfter,  priceBefore});
        if(Number(priceAfter) > Number(priceBefore))
            return toastr.warning("Số tiền sau khi giảm không được lơn số tiền gốc", "Thông Báo");

        $.ajax({
            url: `/add-product-variant-v2`,
            method: 'POST',
            data: { variantOptions, weight, priceBefore, priceAfter, productID },
            success: function(resp) {
                if (resp.error){
                    if(resp.message == "variant_is_existed_at_product"){
                        return toastr.error('Sản phẩm đã tồn tại', 'Thông báo');
                    }
                    toastr.error('Thêm thất Bại', 'Thông báo');
                }else{
                    toastr.info('Thêm sản phẩm con thành công', 'Thông báo');
                    setTimeout(() => {
                        window.location.reload();
                    }, 200);
                }
            },
            error: function(error){
                console.log({ error })
            }
        });
    })
})
</script>