<style>
    .img-wraps:hover .close {
       opacity: 1;
       color: #ff0000 ;
    }
    .select2-selection__rendered{
      line-height: 33px !important;
   }
   .select2-container .select2-selection--single {
      height: 35px !important;
   }
   .select2-container{
      width: 100% !important;
   }
   .avatar-upload {
        position: relative;
        max-width: 205px;
        margin: 35px auto;
    }
    .avatar-upload .avatar-edit {
        position: absolute;
        right: 12px;
        z-index: 1;
        top: 10px;
    }
    .avatar-upload .avatar-edit input {
        display: none;
    }
    .avatar-upload .avatar-edit input + label {
        display: inline-block;
        width: 34px;
        height: 34px;
        margin-bottom: 0;
        border-radius: 100%;
        background: #FFFFFF;
        border: 1px solid transparent;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
        cursor: pointer;
        font-weight: normal;
        transition: all 0.2s ease-in-out;
    }
    .avatar-upload .avatar-edit input + label:hover {
        background: #f1f1f1;
        border-color: #d6d6d6;
    }
    .avatar-upload .avatar-edit input + label:after {
        content: "\f040";
        font-family: 'FontAwesome';
        color: #757575;
        position: absolute;
        top: 10px;
        left: 0;
        right: 0;
        text-align: center;
        margin: auto;
    }
    .avatar-upload .avatar-preview {
        width: 192px;
        height: 192px;
        position: relative;
        border-radius: 100%;
        border: 6px solid #F8F8F8;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    }
    .avatar-upload .avatar-preview > div {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .qrcode-preview {
        width: 190px;
        height: 190px;
        position: relative;
        border: 6px solid #F8F8F8;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
        margin: 30px auto;
    }
    .qrcode-preview > img {
        width: 100%
    }
    .img-wraps {
       position: relative;
       display: inline-block;
       /* border: 1px red solid; */
       font-size: 0;
    }
    .img-wraps .close {
       position: absolute;
       top: 2px;
       right: 2px;
       z-index: 100;
       /* background-color: #FFF; */
       padding: 5px 2px 2px;
       color: #000;
       font-weight: bold;
       cursor: pointer;
       /* opacity: .2; */
       text-align: center;
       font-size: 30px;
       line-height: 10px;
       border-radius: 50%;
    }
    .img-wraps:hover .close {
       opacity: 1;
       color: #ff0000 ;
    }
    /* .tox-tinymce{
        max-height: 250px !important;
    } */
    .tab-content{
      height: 100% !important;
   }
   .tab-pane{
      padding: 0 !important;
   }
 </style>
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                   <div class="page-title-box">
                      <h4 class="page-title">Thay đổi thông tin công ty</h4>
                      <!-- <ol class="breadcrumb">
                         <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                         <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                         <li class="breadcrumb-item active">Thay đổi thông tin công ty</li>
                      </ol> -->
                   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <div class="col">
                                <div class="form-group row pt-1">
                                    <div class="col-sm-12">
                                        <label>Email</label>
                                        <input class="form-control" type="text" placeholder="Nhập Email" id="txtEmail" value="<%= infoCompany && infoCompany.email %>">
                                    </div>
                                </div>
                                <div class="form-group row pt-1">
                                    <div class="col-sm-12">
                                        <label>Hotline</label>
                                        <input class="form-control" type="text" placeholder="Nhập số Hotline" id="txtHotline" value="<%= infoCompany && infoCompany.hotline %>">
                                    </div>
                                </div>
                                <div class="form-group row pt-1">
                                    <div class="col-sm-12">
                                        <label>Slogan</label>
                                        <input class="form-control" type="text" placeholder="Nhập Slogan" id="txtSlogun" value="<%= infoCompany && infoCompany.slogun %>">
                                    </div>
                                </div>
                                <div class="form-group row pt-1">
                                    <div class="col-sm-12">
                                        <div class="row gutters">
                                            <div class="form-group col-xl-6"><label>Giờ mở cửa</label> 
                                                <input type="time" class="form-control" id="txtOpenTime" value="<%= infoCompany && infoCompany.openTime %>">
                                            </div>
                                            <div class="form-group col-xl-6"><label>Giờ đóng cửa</label> 
                                                <input type="time" class="form-control" id="txtCloseTime" value="<%= infoCompany && infoCompany.closeTime %>">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row pt-1">
                                    <div class="col-sm-12">
                                        <label>Địa chỉ</label>
                                        <input class="form-control" type="text" placeholder="Nhập địa chỉ" id="txtAddress" value="<%= infoCompany && infoCompany.address %>">
                                    </div>
                                </div>
                                <div class="form-group row pt-1">
                                    <div class="col-sm-12">
                                        <label>Facebook</label>
                                        <input class="form-control" type="text" placeholder="Nhập địa chỉ Facebook" id="txtFacebook" value="<%= infoCompany && infoCompany.facebook %>">
                                    </div>
                                </div>
                                <div class="form-group row pt-1">
                                    <div class="col-sm-12">
                                        <label>Mô tả Ngắn</label>
                                        <textarea class="form-control" id="txtsortDes" rows="5" placeholder="Nhập mô tả ngắn"><%= infoCompany && infoCompany.sortDes %></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="card-body">
                                        <!-- Nav tabs -->
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active show" data-toggle="tab" href="#MTD" role="tab" aria-selected="false">MÔ TẢ DÀI</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#HTTT" role="tab" aria-selected="false">HÌNH THỨC THANH TOÁN</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#GHVVC" role="tab" aria-selected="false">GIAO HÀNG VÀ VẬN CHUYỂN</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#DHOL" role="tab" aria-selected="false">ĐẶT HÀNG ONLINE</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#CSBH" role="tab" aria-selected="false">CHÍNH SÁCH BẢO HÀNH</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#QDSD" role="tab" aria-selected="false">QUY ĐỊNH SỬ DỤNG</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#BMTT" role="tab" aria-selected="false">BẢO MẬT THÔNG TIN</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#CSDTH" role="tab" aria-selected="false">CHÍNH SÁCH ĐỔI TRẢ HÀNG</a>
                                            </li>
                                        </ul>
                
                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                            <div class="tab-pane p-3 active show" id="MTD" role="tabpanel">
                                                <textarea class="form-control" id="txtContent" rows="5"  placeholder="Nhập mô tả dài"><%= infoCompany && infoCompany.longDes %></textarea>
                                            </div>
                                            <div class="tab-pane p-3" id="HTTT" role="tabpanel">
                                                <textarea class="form-control" id="txtPaymentforms" rows="5"  placeholder="Nhập mô tả dài"><%= infoCompany && infoCompany.paymentforms %></textarea>
                                            </div>
                                            <div class="tab-pane p-3" id="GHVVC" role="tabpanel">
                                                <textarea class="form-control" id="txtDeliveryAndShipping" rows="2"  placeholder="Nhập mô tả dài"><%= infoCompany && infoCompany.deliveryAndShipping %></textarea>
                                            </div>
                                            <div class="tab-pane p-3" id="DHOL" role="tabpanel">
                                                <textarea class="form-control" id="txtOrderOnline" rows="2"  placeholder="Nhập mô tả dài"><%= infoCompany && infoCompany.orderOnline %></textarea>
                                            </div>

                                            <div class="tab-pane p-3" id="CSBH" role="tabpanel">
                                                <textarea class="form-control" id="txtWarrantyPolicy" rows="2"  placeholder="Nhập mô tả dài"><%= infoCompany && infoCompany.warrantyPolicy %></textarea>
                                            </div>

                                            <div class="tab-pane p-3" id="QDSD" role="tabpanel">
                                                <textarea class="form-control" id="txtUsageRules" rows="2"  placeholder="Nhập mô tả dài"><%= infoCompany && infoCompany.usageRules %></textarea>
                                            </div>

                                            <div class="tab-pane p-3" id="BMTT" role="tabpanel">
                                                <textarea class="form-control" id="txtInformationSecurity" rows="2"  placeholder="Nhập mô tả dài"><%= infoCompany && infoCompany.informationSecurity %></textarea>
                                            </div>

                                            <div class="tab-pane p-3" id="CSDTH" role="tabpanel">
                                                <textarea class="form-control" id="txtRefundPolicy" rows="2"  placeholder="Nhập mô tả dài"><%= infoCompany && infoCompany.refundPolicy %></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <div class="col">
                                <h4 class="mt-0 header-title">Hình ảnh công ty</h4>
                                <div class="container">
                                    <div class="avatar-upload">
                                        <div class="avatar-edit">
                                            <input type="file" id="txtAvatar" accept=".png, .jpg, .jpeg" _type="<% if (infoCompany && infoCompany.avatar) { %>update<% } else { %>new<% } %>"/>
                                            <label for="txtAvatar"></label>
                                        </div>
                                        <div class="avatar-preview">
                                            <% if (infoCompany && infoCompany.avatar) { %>
                                                <div id="imagePreview" style="background-image: url(<%= infoCompany.avatar.path %>);"></div>
                                            <% } else { %>
                                                <div id="imagePreview" style="background-image: url(https://via.placeholder.com/500x500);"></div>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label><b>Bộ sưu tập</b></label>
                                <!-- <div class="fallback">
                                      <input type="file" 
                                         class="filepond"
                                         name="filepond" 
                                         multiple 
                                         data-allow-reorder="true"
                                         data-max-file-size="3MB"
                                         data-max-files="3">
                                   </div> -->
                                   <input type="file" 
                                      class="filepond"
                                      name="filepond" 
                                      multiple 
                                      data-allow-reorder="true"
                                      data-max-file-size="3MB"
                                      data-max-files="5"
                                      accept=".png, .jpg, .jpeg" 
                                      >
     
                                   <!-- end col -->
                                </br>   
                                <div class="gallery txtGalleryProductAdd">
                                    <% infoCompany && infoCompany.gallery && infoCompany.gallery.length && infoCompany.gallery.forEach( image => { %> 
                                        <div class="img-wraps" data-src="<%= image.path %>">
                                            <span class="close deleteImage" _type="imgGallery" _imgName="<%= image.name %>" _imageID = "<%= image._id %>">&times;</span>
                                            <a data-src="<%= image.path %>" href="<%= image.path %>" class="effects khongtrung">
                                                <img style="object-fit: contain;" src="<%= image.path %>" value="<%= image.name %>" width="120px" height="120px" class="img-responsive" alt="LDK SoftWare">
                                                <div class="overlay">
                                                </div>
                                            </a>
                                        </div>
                                    <% }); %> 
                                </div>
                             </div>
                            
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <button type="button" class="btn btn-success btn-block waves-effect waves-light btn-lg" id="btnAddInfoCompany">Thay Đổi</button>
                                    <!-- <a href="/category/list-category" class="btn btn-outline-success btn-block waves-effect waves-light btn-lg">Quay lại danh sách</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <!-- container-fluid -->
    </div>
</div>
