@font-face {
    font-family: Open Sans Semibold;
    src: url('../assets/fonts/Open_Sans/OpenSans-SemiBold.ttf');
}
@font-face {
    font-family: Open Sans Bold;
    src: url('../assets/fonts/Open_Sans/OpenSans-Bold.ttf');
}
@font-face {
    font-family: Open Sans ExtraBold;
    src: url('../assets/fonts/Open_Sans/OpenSans-ExtraBold.ttf');
}
@font-face {
    font-family: Open Sans;
    src: url('../assets/fonts/Open_Sans/OpenSans-Regular.ttf');
}
@font-face {
    font-family: Open Sans Italic;
    src: url('../assets/fonts/Open_Sans/OpenSans-Italic.ttf');
}
@font-face {
    font-family: Roboto Bold;
    src: url('../assets/fonts/Roboto/Roboto-Bold.ttf');
}
@font-face {
    font-family: Playfair Display;
    src: url('../assets/fonts/Playfair_Display/');
}
@font-face {
    font-family: Playfair Display Bold;
    src: url('../assets/fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf');
}

* {
	padding: 0;
	margin: 0;
}

html, body{
	font-family: 'Open Sans';
}

a {
	text-decoration: none;
}

img{
	object-fit: contain;
}