/* START CSS FOOTER */

.container-footer{
	width: 100%;
	color: var(--color-white);
}

.container-footer > div{
	/*height: 312px;*/
	padding-top: 50px;
}

.container-footer div{
	background-color: #191C1F;
}

.container-footer .footer-column-title{
	font-size: var(--fz-17);
	font-family: var(--ff-bold);
	font-weight: var(--fw-700);
}

.container-footer .footer-column-description{
	display: block;
	font-size: var(--fz-13);
	font-family: var(--ff-regular);
}

.footer-column-1 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	padding-bottom: 20px;
}
.footer-column-1 img {
	height: 70px;
}
.container-footer .footer-column-2 a,
.container-footer .footer-column-3 a{
	display: block;
	color: var(--color-white);
	line-height: 30px;
}

.container-footer .footer-column-2 a:hover,
.container-footer .footer-column-3 a:hover{
	text-decoration: underline;
}

.container-footer .footer-column-4 .tel-phone{
	background-color: #FE6F61;
	border: .5px solid #FFFFFF;
	border-radius: 21px;
	padding: 5px;
	text-align: center;
	width: 170px
}

.footer-column-4 .footer-column-title{
	text-transform: uppercase;
}

.footer-column-4 .email-contact,
.footer-column-4 .employee-advisory{
	margin: 10px;
}

.footer-column-4 .employee-advisory{
	font-weight: var(--fw-600);
}

.footer-column-4 .employee-advisory .employee-phone{
	color: #FE6F61;
}

.container-footer .footer-description{
	padding: 20px 30px;
	border-top:  1px solid #535353;
	font-size: var(--fz-13);
	color: #B9B9B9;
}


/* END CSS FOOTER */
