.container-header {
	width: 100%;
}

.container-header a{
	text-decoration: none;
	color: var(--color-white);
}

.container-header > div{
	height: 50px;
	padding: 0 var(--pd-justify) 0 var(--pd-justify);
	background-color: var(--color-primary);
	box-sizing: border-box;
}

.container-header .header-1{
	background-color: var(--color-sub);
	box-sizing: border-box;
}

.container-header .header-2{
	height: 79px;
	box-sizing: border-box;
}

.container-header .header-intro > span{
	display: inline-block;
	border-radius: 16px;
	border: 1px solid rgba(255,255,255, .27);
	background-color: #2873A3;
	color: white;
	padding: 5px 20px 5px 20px;
	font-size: var(--fz-13);
	font-family: var(--ff-semibold);
}

.container-header .header-contact a{
	color: white;
	font-size: var(--fz-13);
	display: inline-block;
	margin-right: 40px;
	height: 100%;
}

.container-header .header-contact span{
	color: var(--color-white);
	display: inline-block;
	margin-right: 15px;
}

.header-2 .wrapper-search{
	position: relative;
}

.header-2 .wrapper-search input.input-search{
	width: 100%;
	height: 44px;
	border-radius: 9px;
	padding-left: 20px;
	padding-right: 40px;
	opacity: 76%;
	border: none;
	outline: none;
	filter: drop-shadow(0 2px, 4px, rgba(0,0,0,.18));
}

.header-2 .wrapper-search input.input-search:focus{
	opacity: 100% !important;
}

.header-2 .wrapper-search a.btn-search {
	position: absolute;
    right: 0;
    padding: 10px;
    padding-right: 20px;
    cursor: pointer;
}

.header-2 .wrapper-cart a{
	font-size: 14px;
}

.header-2 .wrapper-account span{
	font-size: var(--fz-13);
}

.header-2 .menu-contact{
	position: absolute;
	right: 10px;
	top: 40px;
	width: 189px;
	background-color: var(--color-white);
	border-radius: 12px;
	padding: 0 10px 0 10px;
	text-align: start;
	display: none;
	z-index: 100;
}

.header-2 .menu-contact a{
	align-items: center;
	padding: 18px 15px 18px 15px;
	font-size: var(--fz-13);
	color: black;
	display: block;
	height: 30px;
}

.header-2 .menu-contact a:last-child{
	height: 73px;
}

.header-2 .menu-contact a:last-child span{
	color: #F56B5E;
}

.header-2 .menu-contact a:hover{
	opacity: .5;
}

.container-header .header-3{
	height: 64px;
	color: var(--color-black);
	background-color: var(--color-white);
	box-shadow: 0 3px 6px rgba(157,157,157, .16);
	position: relative;
	box-sizing: border-box;
}

.header-3 > div{
	padding-left: var(--pd-justify);
	padding-right: var(--pd-justify);
}

.header-3 .header-main-category a{
	display: block;
	line-height: 64px;
	text-align: center;
}

.header-3 .header-main-category a.active{
	background-color: #D9F4FF;
}

.header-3 .header-main-category span{
	color: #006CB2;
	text-transform: uppercase;
	vertical-align: middle;
	font-size: var(--fz-16);
	font-family: var(--ff-regular);
	font-weight: var(--fw-700);
}

.header-3 .header-sub-category a{
	font-size: 14px;
	color: var(--color-black);
	width: 104px;
	height: 50px;
	padding: 0 20px 0 20px;
}

.header-3 .header-sub-category a.active img{
	transform: rotate(180deg);
}

.header-3 .header-sub-category a span{
	display: inline-block;
}

.header-3 .header-sub-category a img{
	margin-left: 12px;
}



/* START CSS MENU SERVICE ON HEADER */

.header-3 .wrapper-column-menu-child-service{
	position: absolute;
	top: 63px;
	left: 0;
	width: 100%;
	padding: 30px;
	background-color: var(--color-white);
	z-index: 1050;
	box-shadow: 0 20px 40px rgba(87, 87, 87, .25);
}

.wrapper-column-menu-child-service h4{
	text-transform: uppercase;
	font-size: var(--fz-15);
	font-family: var(--ff-bold);
	color: var(--color-primary);
}

.wrapper-column-menu-child-service{
	color: var(--color-black);
}

.wrapper-column-menu-child-service ul{
	list-style-image: url('../assets/images/Ellipse 19.png');	
}

.wrapper-column-menu-child-service ul li a{
	text-transform: capitalize;
	color: var(--color-black);
	font-size: var(--fz-13);
	font-family: var(--ff-regular);
	line-height: 25px;
 }

 .wrapper-column-menu-child-service ul li label{
 	background-color: #FE6F61;
 	border-radius: 4px;
 	color: var(--color-white);
 	font-size: 10px;
 	font-family: var(--ff-bold);
 	padding: 2px 5px 2px 5px;
 	margin-left: 3px;
 }

/* END CSS MENU SERVICE ON HEADER */



/* START CSS MENU CATEGORY ON HEADER */

.wrapper-column-menu-service{
	position: absolute;
	left: 140px;
	top: 63px;
	width: 80%;
	padding: 35px;
	background-color: var(--color-white);
	z-index: 1050;
	box-shadow: 0 20px 40px rgba(87, 87, 87, .25);
	box-sizing: border-box;
}

.wrapper-column-menu-service h4{
	text-transform: uppercase;
	font-size: var(--fz-15);
	font-family: var(--ff-bold);
	color: var(--color-primary);
	margin-bottom: 25px;
	margin-left: 35px;
}

.wrapper-column-menu-service p{
	display: block;
	margin-top: 5px;
	font-size: var(--fz-12);
	font-family: var(--ff-regular);
	text-transform: capitalize;
}

.wrapper-column-menu-service .box-menu-service{
	width: 20%;
}

.wrapper-column-menu-service .box-menu-service img{
	width: 60px;
	height: 60px;
}


/* END CSS MENU CATEGORY ON HEADER */



/* START CSS DROPDOWN ACCOUNT */

.dropdown-menu-account{
	border-radius: 12px;
	border: none;
	/*padding: 20px 30px 20px 15px;*/
	filter: drop-shadow(0 10px 30px rgba(0,0,0,.16));
}
.dropdown-menu-account li:first-child{
	margin-top: 10px;
}
.dropdown-menu-account a{
	color: var(--color-black);
	font-size: var(--fz-14);
	font-family: var(--ff-semibold);
	line-height: 32px;
	padding: 5px 35px 5px 25px;
}

.dropdown-menu-account li:last-child a{
	color: #FF0000;
}

/* END CSS DROPDOWN ACCOUNT */







/* START RESPONSIVE */

@media only screen and (max-width: 1050px) {
	.header-3 > div{
		padding-left: 20px;
		padding-right: 20px;
	}
	.wrapper-column-menu-service{
		left: 90px;
	}
}

@media only screen and (max-width: 970px) {
	.container-header .header-intro > span{
		font-size: 11px;
	}
}

@media only screen and (max-width: 940px) {
	.header-3 .header-main-category span{
		font-size: var(--fz-13);
	}
}

@media only screen and (max-width: 900px) {
	.container-header > div{
		padding: 0;
	}

	.container-header .header-intro > span{
		font-size: var(--fz-10);
	}

	.container-header .header-contact a{
		font-size: var(--fz-10);
	}

	.wrapper-cart{
		margin-left: 10px;
	}

	.wrapper-cart a{
		font-size: var(--fz-10) !important
	}

	.wrapper-account a span{
		font-size: var(--fz-10) !important
	}

	.wrapper-column-menu-service{
		width: 100%;
		left: 20px;
	}
}

@media only screen and (max-width: 682px) {
	.header-3{
		height: 100px !important;
		background-color: red;
	}
	.header-3 .header-main-category span{
		display: none;
	}
}


@media only screen and (max-width: 600px) {
	.wrapper-account a span{
		display: none !important;
	}

	.wrapper-cart a span{
		display: none;
	}

	.container-header > div{
		height: 80px;
	}
	.header-1 .header-intro{
		text-align: center;
	}
	.header-1 .header-contact{
		margin-top: 10px;
		text-align: center;
	}
	.header-3{
		height: 0 !important;
	}
	.header-3 .header-3-menu{
		display: none !important;
	}
	.header-3 .wrapper-column-menu-service{
		left: 0;
		top: 180px;
		bottom: 50px;
		position: fixed;
		overflow: auto;
	}
	.header-3 .wrapper-column-menu-service > div h4{
		margin-left: 20px;
	}
}

@media only screen and (max-width: 570px) {
	.header-2 .col-sm-2{
		text-align: center;
	}

	.container-header .header-2{
		height: 100px;
		padding-bottom: 5px;
	}

	.header-2 .wrapper-logo > img{
		width: 115px;
	}

	.header-2 .wrapper-cart,
	.header-2 .wrapper-account{
		display: none;
	}
}

@media only screen and (max-width: 375px) {
	.header-1{
		display: none;
	}

	.toggle-contact{
		display: block !important;
	}

	.toggle-contact img{
		width: 20px;
	}

	.header-3 .wrapper-column-menu-service{
		top: 100px;
	}
}
