/*.slick-list{
	height: 440px;
	padding: 25px;
}

.slick-arrow{
	content: '';
	width: 50px;
}*/

.container-common{
	padding-left: var(--pd-justify);
	padding-right: var(--pd-justify);
}

.line-short{
	width: 61px;
	border: 2px solid #006CB2;	
}

.line-dash{
	border: 1px dashed #707070;
	border-spacing: 5px;
}

.container-title-search{
	text-align: center;
}

.container-title-search h5{
	text-transform: capitalize;
	font-size: 30px;
	font-family: var(--ff-bold);
	font-weight: var(--fw-700);
	color: var(--color-primary);
}

.container-title-search p{
	font-size: var(--fz-15);
	font-family: var(--ff-regular);
	color: var(--color-black);
}

.list-filter-result-search span{
	color: var(--color-black);
	text-transform: capitalize;
	font-size: var(--fz-14);
	font-family: var(--ff-semibold);
}

.container-suggest-other-service{
	width: 50%;
}

.status-red{
	font-family: var(--ff-regular);
	color: var(--color-red);
}

.status-green{
	font-family: var(--ff-regular);
	color: var(--color-green);
}

.title-dark-common{
	text-transform: capitalize;
	font-size: 30px;
	color: var(--color-sub-dark);
	font-family: var(--ff-bold);
	font-weight: var(--fw-700);
}

.box-common{
	padding: 30px;
    border-radius: 8px;
    border: 1px solid #E3E3E3;
}

.box-dropzone-file .progress{
	width: 162px;
	height: 6px;
	border-radius: 5px;
	margin-top: -6px;
}

.box-dropzone-file .progress .progress-bar{
	height: 6px;
	background-color: #079DDA !important;
}

.box-dropzone-file .text-uploading{
	display: block;
	font-size: var(--fz-13);
	font-family: var(--ff-regular);
	color: var(--color-black);
}

.title-blend{
	font-size: 30px;
	font-family: var(--ff-bold);
	color: var(--color-black) !important;
}

.title-blend span{
	color: var(--color-primary);
}

.btn-common{
	border-radius: 8px;
	background-color: var(--color-primary);
	color: var(--color-white);
	font-family: var(--ff-bold);
	font-size: var(--fz-16);
	transition: 200ms;
}

.btn-common:hover{
	background-color: var(--color-primary);
	opacity: .9;
}

.title-blend-2{
	text-transform: capitalize;
	font-size: 30px;
	font-family: var(--ff-bold);
	color: var(--color-sub-dark);
}

.title-blend-2 span{
	color: var(--color-primary);
}

.wrapper-item-card-common{
	margin-right: 20px;
}

.wrapper-product-tab ul::-webkit-scrollbar,
.wrapper-post-tab ul::-webkit-scrollbar,
.wrapper-tab-common::-webkit-scrollbar{
    height: 5px;
    display: none;
}
.wrapper-product-tab ul::-webkit-scrollbar-thumb,
.wrapper-post-tab ul::-webkit-scrollbar-thumb,
.wrapper-tab-common::-webkit-scrollbar-thumb{
    background: #CBC3C3;
    border-radius: 10px;
}
.wrapper-product-tab ul::-webkit-scrollbar-thumb:hover,
.wrapper-post-tab ul::-webkit-scrollbar-thumb:hover,
.wrapper-tab-common::-webkit-scrollbar-thumb:hover{
    background: #ccc;
}
.wrapper-product-tab ul:hover::-webkit-scrollbar,
.wrapper-post-tab ul:hover::-webkit-scrollbar,
.wrapper-tab-common:hover::-webkit-scrollbar{
    display: block;
}






/* START CSS CART MENU */

.wrapper-cart a{
	display: block;
	border-radius: 10px;
	width: 138px;
	height: 50px;
	text-align: center;
	line-height: 50px;
}

.wrapper-cart a.active{
	background-color: rgba(255, 255, 255, .18);
}

.wrapper-cart div{
	background-color: #FE6F61;
	color: var(--color-white);
	width: 26px;
	height: 26px;
	left: 50px;
	top: 10px;
}

.wrapper-menu-popup-cart,
.wrapper-menu-popup-edit-cart{
	position: absolute;
	right: 235px;
	top: 120px;
	width: 432px;
	padding: 30px;
	background-color: var(--color-white);
	border-radius: 14px;
	box-shadow: 0 10px 30px rgba(0,0,0,.16);
	z-index: 1050;
	box-sizing: border-box;
}

.wrapper-menu-popup-edit-cart{
	top: 0;
	right: 400px;
}

.wrapper-menu-popup-edit-cart:after{
	content: '';
	position: absolute;
	right: -5px;
	top: 20px;
	width: 40px;
	height: 40px;
	background-color: var(--color-white);
	transform: rotate(45deg);
}

.wrapper-menu-popup-cart h4{
	color: var(--color-sub-dark);
	font-size: 22px;
	font-family: var(--ff-bold);
	margin-bottom: 20px;
}

.wrapper-menu-popup-cart__product-detail img{
	width: 100px;
	height: 100px;
}

.wrapper-menu-popup-cart__product-detail h6{
	font-size: var(--fz-15);
	font-family: var(--ff-semibold);
}

.wrapper-menu-popup-cart__product-detail span{
	display: block;
	color: #383838;
	font-size: var(--fz-13);
	font-family: var(--ff-regular);
	line-height: 25px;
}

.wrapper-menu-popup-cart__product-detail a{
	color: var(--color-primary);
	font-size: var(--fz-13);
	font-family: var(--ff-bold);
}

.wrapper-menu-popup-cart__product > a{
	display: flex;
	justify-content: center;
}

.wrapper-menu-popup-cart .btn-my-cart{
	height: 62px;
	font-family: var(--ff-semibold);
	transition: 200ms;
}

.wrapper-menu-popup-cart .btn-my-cart:hover{
	box-shadow: 0 10px 20px rgba(7, 157, 218, .30);	
}

.wrapper-menu-popup-cart .btn-my-cart span{
	vertical-align: middle;
}

.row-input-edit-cart > div:nth-child(1){
	line-height: 30px;
}

.row-input-edit-cart > div:nth-child(2) select{
	border-radius: 8px;
}

.row-input-edit-cart > div:nth-child(2) strong{
	font-size: var(--fz-15);
	font-family: var(--ff-bold);
	line-height: 30px;
}

.row-input-edit-cart > div:nth-child(2) span{
	line-height: 30px;
}

.row-input-edit-cart.row-total b{
	font-size: var(--fz-15);
	font-family: var(--ff-bold);
}

.row-input-edit-cart.row-total strong{
	font-size: var(--fz-17);
	font-family: var(--ff-bold);
	display: block;
}

.row-input-edit-cart.row-total .status-red{
	font-size: var(--fz-12);
	font-family: var(--ff-regular);
	margin-top: -10px;
}

.wrapper-button-edit-cart button{
	width: 173px;
	height: 50px;
	border-radius: 10px;
	font-size: var(--fz-16);
	font-family: var(--ff-semibold);
	transition: 200ms;
}

.wrapper-button-edit-cart button:hover{
	box-shadow: 0 10px 20px rgba(7, 157, 218, .30);
}

.wrapper-button-edit-cart button.btn-cancel-update-my-cart{
	background-color: var(--color-white);
	border: 1px solid #449CD5;
	color: var(--color-primary);
	box-shadow: none;
}

/* END CSS CART MENU */



/* START CSS SEGMENT */

.container-segment{
	margin-top: 50px;
}

.wrapper-segment > div{
	padding: 20px 25px 20px 25px;
	border-radius: 12px;
	border: 1px solid rgba(0,0,0,.3);
	width: 378px;
	margin-right: 10px;
}

.wrapper-segment .segment-title{
	font-size: var(--fz-16);
	color: #179C77;
	font-family: var(--ff-regular);
	font-weight: var(--fw-700);
}

.wrapper-segment .segment-description{
	font-size: 12px;
	color: #525F7E;
}

/* END CSS SEGMENT */


/* START CSS FLASH - SALE */

.container-flash-sale{
	margin-top: 80px;
}

.wrapper-flash-sale{
	height: 400px;
}

.container-flash-sale .flash-sale-title span{
	font-size: 30px;
	vertical-align: middle;
	color: #FA0026;
	font-family: var(--ff-regular);
	font-weight: var(--fw-700);
}

.container-flash-sale .flash-sale-see-all a{
	color: #FE6F61;
	font-size: var(--fz-14);
	font-family: var(--ff-semibold);
}

.btn-slick-next,
.btn-slick-previous{
	position: absolute;
	width: 27px;
	height: 45px;
	border-radius: 5px;
	border: none;
	background-color: var(--color-white);
	top: 30%;
	z-index: 1;
}

.btn-slick-previous{
	left: 20px;
}

.btn-slick-next{
	right: 20px;
}

.btn-slick-next.slick-disabled,
.btn-slick-previous.slick-disabled{
	opacity: .5;
}

.btn-slick-next img,
.btn-slick-previous img{
	left: 3px;
}

.slick-list {
  	padding: 100px 50px;
  	margin: -100px -50px;
  	margin-right: 0;
}

.wrapper-card{
	position: relative;
	width: 200px;
	/*height: 400px;*/
	border-radius: 12px;
	border: none;
	outline: none;
	transition: 200ms;
}

.wrapper-card .card-text{
 	display: none;
}

.wrapper-card:hover{
	transform: scale(1.1);
	filter: drop-shadow(0 10px 20px rgba(0,0,0, .16));
	z-index: 3;
}

.wrapper-card:hover .card-text,
.wrapper-card:hover .btn-add-cart{
	display: block;
}

.wrapper-card .card-title{
	font-size: var(--fz-15);
	font-family: var(--ff-semibold);
}

.wrapper-card .card-text{
	font-size: var(--fz-13);
	font-family: var(--ff-regular);
}

.wrapper-card .card-price .card-price-text{
	font-size: var(--fz-17);
	font-family: var(--ff-bold);
	font-weight: var(--fw-700);
	color: var(--color-primary);
}

.wrapper-card .card-price .card-cost-text{
	padding: 5px;
	background-color: #FF0000;
	border-radius: 6px;
	display: inline-block;
	font-size: var(--fz-12);
	color: var(--color-white);
	font-family: var(--ff-regular);
}

.wrapper-card .discount-card{
	position: absolute;
	right: 0;
}

.wrapper-card .discount-card span{
	position: absolute;
	color: var(--color-white);
	top: 10px;
	right: 5px;
}

.wrapper-card .flash-sale-card{
	position: absolute;
	left: -15px;
	top: -10px;
}

.wrapper-card .btn-add-cart{
	background-color: var(--color-primary);
	font-size: var(--fz-16);
	font-family: var(--ff-bold);
	font-weight: var(--fw-700);
	transition: 200ms filter;
	display: none;
}

.wrapper-card .btn-add-cart:hover{
	filter: drop-shadow(0 10px 20px rgba(7, 157, 218, .3));	
}

/* END CSS FLASH - SALE */






/* START CSS PRODUCT FAVORITE */

.container-product-favorite .product-favorite-title span{
	font-size: 30px;
	text-transform: capitalize;
	font-family: var(--ff-bold);
	font-weight: var(--fw-700);
}

.container-product-favorite .product-favorite-title span:nth-child(1){
	color: var(--color-sub-dark);
}

.container-product-favorite .product-favorite-title span:nth-child(2){
	color: var(--color-primary);
}

.container-product-favorite .product-favorite-tab{
	position: relative;
	height: 100%;
	margin-top: 18px;
}

.container-product-favorite .product-favorite-tab a{
	display: inline-block;
	color: var(--color-black);
	text-transform: uppercase;
	font-size: var(--fz-13);
	font-family: var(--ff-bold);
	font-weight: var(--fw-700);
	border-bottom: 2px solid transparent;
	padding: 0 10px 0 10px;
	height: 100%;
	transition: 200ms;
}

.container-product-favorite .product-favorite-tab a.active{
	border-bottom: 2px solid #FE6F61;
	border-radius: 2px;
	color: #FE6F61;
}

.product-favorite-item{
	height: 300px;
}

.product-favorite-item .flash-sale-card{
	top: -23px;
}

.product-favorite-item .discount-card{
	top: -23px;
	right: 10px;
}

.product-favorite-item .discount-card span{
	top: 33px;
	font-size: var(--fz-17);
	font-family: 'Bebas Neue', cursive;
}

.container-product-favorite .btn-see-other-service span{
	text-transform: capitalize;
	color: #FE6F61;
	font-size: var(--fz-14);
	font-family: var(--ff-semibold);
}

/* END CSS PRODUCT FAVORITE */


/* START CSS NEW PRODUCT */

.container-new-product{
	margin-top: 70px;
}

.container-new-product{
	height: 400px;
}

.container-new-product .new-product-see-all a{
	color: #FE6F61;
	font-size: var(--fz-14);
	font-family: var(--ff-semibold);
}

.container-new-product .new-product-title span{
	font-size: 30px;
	text-transform: capitalize;
	font-family: var(--ff-bold);
	font-weight: var(--fw-700);
}

.container-new-product .new-product-title span:nth-child(1){
	color: var(--color-sub-dark);
}

.container-new-product .new-product-title span:nth-child(2){
	color: var(--color-primary);
}

/* END CSS NEW PRODUCT */


/* START CSS LIST SERVICE */

.container-list-service{
	margin-top: 80px;
}

.container-list-service > div{
	padding: 0;
}

.container-list-service .btn-see-other-service span{
	text-transform: capitalize;
	color: #FE6F61;
	font-size: var(--fz-14);
	font-family: var(--ff-semibold);
}

.container-list-service .list-service-title span{
	font-size: 30px;
	text-transform: capitalize;
	font-family: var(--ff-bold);
	font-weight: var(--fw-700);
}

.container-list-service .list-service-title span:nth-child(1){
	color: var(--color-sub-dark);
}

.container-list-service .list-service-title span:nth-child(2){
	color: var(--color-primary);
}

.container-list-service .list-service-tab{
	position: relative;
	height: 100%;
	margin-top: 18px;
}

.container-list-service .list-service-tab a{
	color: var(--color-black);
	text-transform: uppercase;
	font-size: var(--fz-13);
	font-family: var(--ff-bold);
	font-weight: var(--fw-700);
	border-bottom: 2px solid transparent;
	padding: 0 10px 0 10px;
	transition: 200ms;
	height: 50px;
	margin-right: 20px;
	margin-bottom: -18px;
}

.container-list-service .list-service-tab a.active{
	border-bottom: 2px solid #FE6F61;
	border-radius: 2px;
	color: #FE6F61;
}

.container-list-service .list-service-item{
	height: 300px;
}



/* END CSS LIST SERVICE */


/* START CSS GALLERY */

.container-gallery{
	margin-top: 80px;
}

.container-gallery .main-image-gallery{
	background-image: url('../assets/images/214 copy.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 432px;
	margin-bottom: 15px;
}

.container-gallery .sub-image-gallery div:nth-child(1){
	background-image: url('../assets/images/5340371 copy.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 204px;
	margin-bottom: 17px;
}

.container-gallery .sub-image-gallery div:nth-child(2){
	background-image: url('../assets/images/business-card-mockup_68806-244.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 211px;
}

/* END CSS GALLERY */


/* START CSS PROCEDURE */

.container-procedure{
	margin-top: 70px;
}

.container-procedure .procedure-title{
	text-align: center;
	text-transform: capitalize;
	font-size: 30px;
	font-family: var(--ff-bold);
	font-weight: var(--fw-700);
}

.container-procedure .procedure-title div:nth-child(1){
	color: var(--color-sub-dark);
}

.container-procedure .procedure-title div:nth-child(2){
	color: var(--color-primary);
}

.container-procedure .card{
	border: none;
}

.container-procedure .card .card-title{
	color: #32325D;
	font-size: 20px;
	font-family: var(--ff-bold);
	font-weight: var(--fw-700);
}

.container-procedure .card .card-text{
	color: #525F7E;
	font-size: 15px;
	font-family: var(--ff-regular);
}

.container-procedure .procedure-item{
	position: relative;
}

.procedure-item .procedure-arrow{
	position: absolute;
	top: 0px;
	left: 60%;
	z-index: 2;
}

/* END CSS PROCEDURE */



/* START CSS HEADER BOTTOM RESPONSIVE */

.container-header-bottom{
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: var(--color-primary);
	z-index: 1060;
	width: 100%;
	box-sizing: border-box;
}

.container-header-bottom hr{
	background-color: var(--color-white);
	margin-top: 0px;
}

.container-header-bottom span{
	display: block;
}

.container-header-bottom a{
	border-top: 3px solid transparent;
	color: var(--color-white);
	text-align: center;
	text-transform: capitalize;
	font-size: var(--fz-12);
	font-family: var(--ff-regular);
	opacity: 80%;
	transition: 200ms;
	height: 100%;
	padding: 10px 20px 10px 20px;
}

.container-header-bottom a.active{
	opacity: 100%;
	font-family: var(--ff-bold);
	border-top: 3px solid #FFFFFF;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.container-header-bottom a img{
	width: 24px;
	height: 24px;
	margin-bottom: 5px;
}

.container-header-bottom .btn-popup-cart div{
	background-color: #FE6F61;
	width: 26px;
	height: 26px;
	border: 1px solid #FFFFFF;
	line-height: 26px;
	top: 10px;
	right: 10px;
}



/* END CSS HEADER BOTTOM RESPONSIVE */



/* START RESPONSIVE */

@media only screen and (max-width: 995px) {
	.procedure-item .procedure-arrow{
		left: 50%;
	}
	.procedure-item .procedure-arrow img{
		width: 150px
	}
	.container-suggest-other-service{
		width: 80%;
	}
	.container-customer-talk > div:nth-child(2){
        padding-bottom: 50px;
        padding-top: 100px !important;
        padding-left: 100px !important;
        padding-right: 100px !important;
    }
}

@media only screen and (max-width: 767px) {
	.procedure-item .procedure-arrow{
		display: none;
	}
	.list-filter-result-search{
		margin-top: 10px;
	}
	.container-list-service .list-service-tab{
		margin-bottom: 20px;
		height: 40px;
	}
	.container-list-service hr{
		display: none;
	}
	.container-gallery .main-image-gallery,
	.container-gallery .sub-image-gallery{
		margin-top: -100px;		
	}
	.container-gallery .main-image-gallery,
	.container-gallery .sub-image-gallery div{
		background-size: 100% 205px !important;
	}
	.header-2 .wrapper-account{
		margin-left: 0 !important;
	}
}

@media only screen and (max-width: 630px) {
	.container-product-favorite{
		padding-left: 30px;
		padding-right: 30px;
	}
}

@media only screen and (max-width: 600px) {
	.container-new-product{
		padding-left: 40px;
		padding-right: 40px;
	}
	.container-qc,
	.container-gallery,
	.container-flash-sale,
	.container-list-service{
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media only screen and (max-width: 575px) {
	.container-product-favorite hr{
		display: none;
	}
	.container-product-favorite .product-favorite-tab{
		margin-bottom: 20px;
		height: 40px;
	}

	.container-procedure .procedure-title{
		font-size: 23px;
	}
	.container-procedure > div{
		margin-bottom: -30px;
	}
	.container-header-bottom{
		display: block !important;
	}
	.header-2 .wrapper-cart,
	.header-2 .wrapper-account{
		display: none;
	}
	.product-favorite-item .wrapper-card,
	.list-service-item .wrapper-card{
		width: 180px;
	}
}

@media only screen and (max-width: 545px) {
	.container-product-favorite{
		margin-top: -40px;
	}
}

@media only screen and (max-width: 525px) {
	.container-product-favorite .product-favorite-title span,
	.container-list-service .list-service-title span,
	.container-flash-sale .flash-sale-title span,
	.container-new-product .new-product-title span,
	.container-procedure .procedure-title{
		font-size: 20px;
	}

	.container-new-product,
	.container-flash-sale,
	.container-product-favorite,
	.container-qc,
	.container-list-service,
	.container-gallery,
	.container-procedure,
	.container-list-post{
		padding-left: 0 !important;
		padding-right: 0 !important;
		box-sizing: border-box;
	}

	.wrapper-list-service{
		justify-content: center !important;
	}

	.product-favorite-item .wrapper-card,
	.list-service-item .wrapper-card{
		width: 150px;
	}
	.wrapper-item-card-common{
		margin-right: 0;
	}

	/* OUTSTANDING PROJECT */
	.container-title-outstanding-project p{
		width: 100% !important;
	}

	/* LIST POST */
	.container-list-post .row-header h1{
		font-size: 30px !important;
	}
}

@media only screen and (max-width: 475px) {
	.container-customer-talk > div:nth-child(2){
		display: flex !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

@media only screen and (max-width: 375px) {
	.container-new-product > div + hr,
	.container-flash-sale > div + hr{
		display: none;
	}
	.container-qc{
		margin-top: -40px !important;
	}
	.container-procedure .procedure-item .card img{
		margin-bottom: -50px;
	}
	
	.container-suggest-other-service{
		width: 100%;
	}
	.container-title-search{
		padding: 20px;
	}

	.container-list-service .list-service-tab{
		overflow: auto;	
	}
	.container-list-service .list-service-tab a:first-child,
	.container-list-service .list-service-tab a:last-child{
		width: 60px;
	}
	.container-list-service .list-service-tab a{
		height: 30px;
		width: 85px;
		padding: 0;
		margin-right: 20px;
		text-align: center;
	}
	.wrapper-item-card-common .wrapper-card{
		width: 140px !important;
	}
	.wrapper-item-card-common .btn-add-cart{
		font-size: var(--fz-12);
	}

	/* GALLERY */
	.container-gallery div{
		padding: 0;
	}
	.container-gallery .main-image-gallery{
		margin-bottom: -10px;
	}
	.container-gallery .sub-image-gallery div:nth-child(1){
		margin-bottom: 0;
	}

	/* PRODUCT FAVORITE */
	.container-product-favorite .product-favorite-tab{
		height: 40px;
		justify-content: flex-start !important;
	}
	.container-product-favorite .product-favorite-tab a{
		text-align: center;
	}

	/* SEGMENT */
	.container-segment{
		margin-top: 15px;
	}
	.container-segment > div{
		padding-left: var(--pd-justify-375);
		padding-right: var(--pd-justify-375);
	}
	.wrapper-segment{
		align-items: center !important;
		justify-content: center !important;
		margin-right: -46px;
	}
	.wrapper-segment > div{
		flex-wrap: wrap;
		width: 228px;
		height: 197px;
		padding: 5px 25px 5px 25px;
	}

	/* FOOTER */
	.container-footer .footer-description{
		text-align: left !important;
		padding: 20px 10px;
	}
	.container-footer .footer-description div:first-child {
		padding-bottom: 10px;
	}
	.footer-column-1 {
		padding-bottom: 0;
	}
	.footer-column-1 img {
		display: none;
	}

	/* DETAIL ACCOUNT */
	.container-detail-account{
		margin-top: 0 !important;
	}
	.container-detail-account .col-12,
	.container-detail-account > div{
		padding: 0 !important;
	}
	.container-detail-account .container > .row:last-child{
		padding: 20px;
	}
	.box-detail-account.box-personal-category h6,
	.box-detail-account.box-personal-category hr{
		display: none;
	}
	.box-detail-account.box-personal-category .wrapper-personal-tab ul{
		padding: 0 !important;		
		display: flex;
		overflow: auto;
	}
	.box-detail-account.box-personal-category .wrapper-personal-tab li a{
		width: 170px;
		display: block;
	}
	.box-detail-account:not(.box-contact-responsive){
		width: 100%;
		border-radius: 0 !important;
		padding: 20px !important;
		border: none;
	}
	.wrapper-detail-account h5{
		font-size: 22px !important;
	}
	.wrapper-detail-account button{
		width: 100% !important;
	}
	.wrapper-detail-account .btn-outline-danger{
		display: block !important;
	}
	.box-detail-account.box-form-account > div:first-child{
		display: none;
	}

	/* LIST ADDRESS */
	.wrapper-list-address .box-address{
		padding: 10px !important;
	}
	.wrapper-list-address .box-address .box-address__action{
		text-align: left !important;
	}

	/* LIST ORDER, INFO ORDER */
	.wrapper-list-order .column-list-order,
	.wrapper-list-order .column-list-order + hr{
		display: none;
	}
	.wrapper-list-order .box-order .text-end{
		margin-top: 10px;
	}
	.wrapper-list-order .box-order .wrapper-info-order .date-order,
	.wrapper-list-order .box-order .wrapper-info-order .status-order{
		display: block !important;
	}
	.wrapper-list-order .box-order .wrapper-info-order span{
		display: none;
	}
	.wrapper-list-order .box-order img{
		width: 48px;
		height: 48px;
	}
	.wrapper-list-order .box-order > div:nth-child(2){
		display: none;
	}
	.wrapper-info-order .group-field{
		margin-bottom: 15px
	}
	.wrapper-info-order .box-order-line > div:nth-child(1) span{
		display: none;
	}
	.wrapper-info-order .box-order-line div:nth-child(2){
		margin-top: 10px;
	}

	/* LIST SERVICE */
	.container-list-service{
		margin-top: 10px;
	}
	.list-function-print{
		padding: 10px !important;
		justify-content: left !important;
	}
	.list-function-print a:first-child{
		margin-left: -10px !important;
	}
	.list-function-print a{
		margin-left: 0 !important;
		width: 200px !important;
		text-align: center;
	}
	.list-filter-result-search{
		justify-content: center !important;
	}

	/* LIST RESULT SEARCH */
	.container-suggest-other-service,
	.container-suggest-other-service + .container-list-service{
		display: none;
	}

	/* OUTSTANDING PROJECT */
	.container-title-outstanding-project{
		padding: 0;
		margin-bottom: 30px;
	}
	.container-title-outstanding-project h5{
		font-size: 20px !important;
	}
	.container-title-outstanding-project + .container-list-service > div:first-child{
		display: none;
	}
	.container-list-service-v2 .btn-load-more-project{
		width: 90%;
	}

	/* DETAIL POST  */
	.container-detail-post{
		padding: 0;
		margin-top: 0 !important;
	}
	.wrappper-detail-post{
		padding: 0 !important;
	}
	.container-detail-post .container-cover-post > div img,
    .container-detail-post .container-cover-post{
        padding: 0 !important;
    }
	.container-comment-post{
		margin-top: -50px !important;
	}
	.container-list-comment .date-comment,
	.container-comment-post .date-comment,
	.container-comment-post .group-star{
		display: block !important;
	}
	.container-comment-post > div{
		padding: 10px !important;
		border-bottom: none !important;
		box-shadow: none !important;
	}
	.container-comment-post .btn-send-comment{
		width: 100%;
	}
	.container-other-post,
	.wrappper-detail-post nav,
	.container-comment-post .planes,
	.wrapper-comment > div:nth-child(2){
		display: none !important;
	}

	/* LIST POST  */
	.wrapper-list-post .row > div{
		margin-bottom: 0 !important;
	}
	.wrapper-list-post .btn-detail-post{
		display: none;
	}
	.wrapper-list-post{
		padding: 0 !important;
	}

	/* INFO & CONTACT  */
	.container-intro h1{
		font-size: 25px !important;
	}
	.container-intro p{
		font-size: var(--fz-13) !important;
	}
	.container-about > div:nth-child(1) > div:nth-child(1){
		padding: 0 0 20px 10px !important;
	}
	.container-about > div:nth-child(2){
		display: block !important;
	}
	.container-about .wrapper-info-cty{
		display: none;
	}
	.container-employee{
        display: none;
    }
    .container-quote{
        padding: 0;
    }
    .container-quote > div:first-child{
        display: none;
    }
    .container-quote > div:nth-child(2){
        display: block !important;
    }
    .container-quote > div:nth-child(2) > div:nth-child(2) img{
        margin-top: -40px;
    }
    .container-quote > div:nth-child(2) > div:nth-child(2) span{
        margin-top: 20px;
    }

	/* ORDER SUCCESS */
	.container-order-success{
		margin: 100px 0 100px 0 !important;
	}
	.container-order-success nav{
		display: none;
	}
	.container-order-success h5{
		font-size: 20px !important;
	}
	.container-order-success p{
		font-size: var(--fz-13) !important;
		margin-bottom: -10px !important;
	}

	/* DETAIL SERVICE */
	.container-detail-product{
		margin-top: 0 !important;
	}
	.container-detail-product .container,
	.container-detail-product .row > .col-12{
		padding: 0 !important;
	}
	.container-detail-product .box-detail-product{
		border: none;
		padding: 30px 0 10px 0;
	}
	.container-detail-product .box-detail-product:first-child{
		padding: 0;		
	}
	.box-detail-product .wrapper-detail-product .detail-product,
	.box-detail-product .wrapper-product-amount{
		padding: 20px;
	}
	.box-detail-product .wrapper-detail-product > img{
		width: 100% !important;
		height: auto !important;
		margin-bottom: 10px;
		border-radius: 0 !important;
	}
	.item-list-service .wrapper-card{
        height: auto !important;
    }

    /* COMMENT SERVICE */
    .wrapper-product-content-tab-comment .row-group-star .group-star{
    	justify-content: center !important;
    }
    .wrapper-product-content-tab-comment .btn-send-comment{
    	width: 100%
    }

    /* TABLE PRICE */
    .table-list-price-service thead th{
        font-size: var(--fz-14) !important;
        padding: 20px !important;
    }

    /* CART */
    .box-order-line .wrapper-info-order span{
    	display: none !important;
    }
    .box-order-line > div:first-child img{
    	width: 48px;
    	height: 48px;
    }
    .box-order-line .box-dropzone-file:not(.no-file) > img{
    	width: 40px !important;
    	height: 40px !important;
    }
    .box-order-line .box-dropzone-file:not(.no-file) > a img{
    	width: 18px !important;
    	height: 18px !important;
    	margin-left: 10px;
    }
    .row-detail-cart hr,
    .row-detail-cart .box-order-line,
    .row-detail-cart .row-address-order,
    .row-detail-cart .row-payment-order{
    	margin-right: 0 !important;
    }
    .row-address-order > h4,
    .row-payment-order > h4{
    	font-size: 22px
    }


    /* SWIPER SLIDE */
    /*.swiper-slide.slide-customer-item{
    	height: calc((100% - 30px) / 2) !important;
    }*/
}
