.modal-custom {
	display: none;
}

.modal-custom.show{
	position: fixed;
    top: 0;
    left: 0;
    z-index: 1060;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    background: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-custom .modal-custom-dialog{
	transform: translateY(-200px);
	position: relative;
	/* width: 70.5%; */
	width: 1000px;
	height: 592px;
	background-color: var(--color-white);
	border-radius: 20px;
	transition: 500ms transform
}

.modal-custom.show .modal-custom-dialog{
	transform: translateY(0);
}

.modal-custom .btn-close-modal{
	position: absolute;
	right: 22px;
	top: 22px;
	width: 30px;
	height: 30px;
	font-size: 16px;
	border-radius: 50%;
	background-color: var(--color-white);

	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-custom-body .wrapper-form-modal{
	padding-left: 50px;
	padding-right: 50px;
	text-align: center;
}

.modal-custom-body .btn-back-step{
	position: relative;
	top: 20px;
	left: 10px;
}

.wrapper-form-modal .modal-custom-title h5{
	text-transform: capitalize;
	color: var(--color-primary);
	font-size: 40px;
	font-family: var(--ff-roboto-bold);
	font-weight: var(--fw-700);
}

.wrapper-form-modal .modal-custom-title p{
	color: #4D4F5C;
	font-size: var(--fz-16);
	font-family: var(--ff-regular);
}

.wrapper-form-modal .modal-custom-form input.is-invalid{
	border: 1px solid red;
}

.wrapper-form-modal .modal-custom-form input{
	border-radius: 8px;
	background-color: #F4F4F4;
	height: 50px;
	border: none;
	margin-bottom: 20px;
}

.wrapper-form-modal .modal-custom-form button{
	background-color: var(--color-primary);
	height: 61px;
	border-radius: 8px;
	font-size: var(--fz-16);
	font-family: var(--ff-bold);
	font-weight: var(--fw-700);
	transition: 200ms;
}

.wrapper-form-modal .modal-custom-form button:hover{
	filter: drop-shadow(0 10px 20px rgba(7, 157, 218, .30));
}

.wrapper-form-modal .modal-custom-form label{
	font-size: var(--fz-15);
	font-family: var(--ff-regular);
}

.wrapper-form-modal .modal-custom-form label a{
	font-weight: var(--fw-600);
	color: var(--color-black);
}

.wrapper-form-modal .invalid-feedback{
	font-size: var(--fz-14);
	font-family: var(--ff-regular);
	color: #FF0000;
}

.modal-custom-footer{
	position: absolute;
	bottom: 30px;
	font-size: var(--fz-15);
	font-family: var(--ff-regular);
}

.modal-custom-footer a{
	color: var(--color-primary);
	font-weight: var(--fw-700);
}

.modal-send-otp .wrapper-input-otp input{
	display: inline-block;
	width: 53px;
	height: 79px;
	text-align: center;
	font-size: 30px;
	margin-right: 5px;
	color: #5F5858;
}

@media only screen and (max-width: 1090px) {
	.wrapper-menu-popup-edit-cart{
		left: 0;
		top: 100px !important;
	}
	.wrapper-menu-popup-edit-cart:after{
		left: 30px;
		top: -5px !important;
		z-index: -1 !important
	}
}

@media only screen and (max-width: 900px) {
	.wrapper-menu-popup-cart{
		right: 130px !important;
	}
}

@media only screen and (max-width: 780px) {
	.modal-custom-body .wrapper-form-modal{
		padding-left: 10px;
		padding-right: 10px;
	}
	.modal-send-otp .wrapper-form-modal{
		padding-left: 0;
		padding-right: 0;
	}
}

@media only screen and (max-width: 600px) {
	.wrapper-menu-popup-cart{
		top: 160px !important;
	}
}

@media only screen and (max-width: 575px) {
	.modal-custom-body > .container > .row > div:nth-child(2) button + img{
		display: none;
	}
	.wrapper-menu-popup-cart{
		position: fixed !important;
		right: 0 !important;
		width: 100% !important;
		bottom: 0;
	}
	.wrapper-menu-popup-cart .btn-my-cart img{
		width: 25px;
		height: 25px;
	}
	.wrapper-menu-popup-edit-cart{
		position: fixed !important;
		width: 100% !important
	}
	.wrapper-menu-popup-edit-cart:after{
		display: none;
	}
}

@media only screen and (max-width: 375px) {
	.modal-custom-body .wrapper-form-modal{
		padding-left: 20px;
		padding-right: 20px;
	}
	.modal-custom-dialog{
		border-radius: 0 !important;
		height: 100% !important;
	}
	.wrapper-form-modal .modal-custom-footer{
		width: 100%;
		left: 0;
	}
	.wrapper-form-modal .modal-custom-footer span{
		display: block;
	}
	.modal-send-otp .wrapper-form-modal{
		padding-left: 0;
		padding-right: 0;
	}
	.modal-send-otp .wrapper-input-otp input{
		margin-right: 0 !important;
	}
	.wrapper-menu-popup-cart,
	.wrapper-menu-popup-edit-cart{
		margin-top: -60px !important;
		border-radius: 0 !important;
	}
	.wrapper-menu-popup-edit-cart{
		margin-top: 0px !important;
		bottom: 0
	}
	.container-header-bottom a{
		padding: 15px !important;
	}
}

