:root{
	--pd-justify: 70px;
	--pd-justify-375: 20px;

	--color-primary: #006CB2;
	--color-sub: #0E6298;
	--color-sub-dark: #00367A;
	--color-white: #FFFFFF;
	--color-black: #000000;
	--color-red: #FE6F61;
	--color-green: #179C77;

	--fz-10: 10px;
	--fz-12: 12px;
	--fz-13: 13px;
	--fz-14: 14px;
	--fz-15: 15px;
	--fz-16: 16px;
	--fz-17: 17px;

	--fw-600: 600;
	--fw-700: 700;

	--ff-semibold: 'Open Sans Semibold', sans-serif;
	--ff-bold: 'Open Sans Bold', sans-serif;
	--ff-extra-bold: 'Open Sans ExtraBold', sans-serif;
	--ff-regular: 'Open Sans', sans-serif;
	--ff-italic: 'Open Sans Italic', sans-serif;
	--ff-roboto-bold: 'Roboto Bold', sans-serif;
	--ff-playfair-display: 'Playfair Display', sans-serif;
	--ff-playfair-display-bold: 'Playfair Display Bold', sans-serif;
}
