/* navbar */
.header--about {
    position: relative;
    background-color: white;
    border-bottom: 1px solid var(--clr-boder);
}

/*  */
.about__header {
    padding: 25px 0;
}
.about__header-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.top-nav .menu-about li a {
    color: var(--title);
}
.about__header-image {
    padding-right: 90px;
    height: 85vh;
}
.about__header-image-wrap {
    padding: 25px;
    position: relative;
    /* height: 570px; */
    height: 100%;
    width: 100%;
    /* background: transparent url('../assets/img/two-factory.jpg') 0% 0% no-repeat padding-box; */
    /* background-size: cover; */
}
.about__header-image-wrap::after {
    content: "";
    position: absolute;
    height: 50%;
    width: 100%;
    background-color: var(--clr-primary);
    bottom: 0;
    left: 0;
    z-index: -1;
}
.about__header-image-wrap-pic {
    width: 100%;
    height: 100%;
}
.about__header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.about__header-content-title {
    position: relative;
    padding-bottom: 20px;
    color: var(--unnamed-color-32325d);
    font-size: 3.5rem;
    font-weight: bold;
    width: 100%;
    text-transform: capitalize;
}
.about__header-content-title::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 3px;
    bottom: 0;
    left: 0%;
    background: #FFD200 0% 0% no-repeat padding-box;
}
.about__header-content-wrap {
    padding: 20px 0;
    color: #525F7E;
    /* color: var(--clr-font-low); */
}
.about__header-image-wrap-bg {
    height: 100%;
    width: 100%;
    background: transparent url('../assets/img/two-factory.jpg') 0% 0% no-repeat padding-box;
    background-size: cover;
    background-position: center;
    position: relative;
}
.about__header-image-wrap-wave {
    position: absolute;
    top: 10%;
    left: -1%;
    height: 40px;
    width: 60px;
    background: transparent url('../assets/img/Group\ 827.png') 0% 0% no-repeat padding-box;
}
.about__header-content-control {
    width: 100%;
}
.about__header-content-control-item {
    width: 100%;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #525F7E;
    /* color: var(--clr-font-low); */
    padding: 10px 0;
}
.about__header-content-control-item-icon {
    width: 40px;
    height: 40px;
    padding: 7px;
    margin-right: 10px;
}
.about__talen-header-title {
    font-size: 3.5rem;
}
.about__header-content-control-item-icon img {
    width: 100%;
    height: 100%;
}
.about__header-content-control-item-text {
}
.about__talen-header {
}
.about__talen-container {
}
.about__talen-container-wrap {
    justify-content: center;
}
.about__talen-container-item {
    width: 100%;
    height: 100%;
}
.about__talen-container-item-picture {
    width: 100%;
    height: 260px;
    display: block;
}
.about__talen-container-item-picture-img {
    height: 100%;
    width: 100%;
}
.about__talen-container-item-content {
    padding: 15px 0;
}
.about__talen-container-item-content-title {
    font-size: 2.2rem;
    color: var(--unnamed-color-32325d);
    font-weight: bold;
}
.about__talen-container-item-content-sub {
    font-size: 1.5rem;
    /* color: var(--clr-font-low); */
    color: #525F7E;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin: 5px 0 !important;
}
.about__talen-container-item-content-link {
    color: var(--clr-primary);
    font-weight: bold;
}
.about__talen-container-item-content-link:hover {
    color: var(--unnamed-color-32325d);
}
.about__pictue-container {
}
.about__picture-container-item {
    width: 100%;
    height: 285px;
    border: 1px solid white;
}
.about__picture-container-item-img {
    width: 100%;
    height: 100% !important;
}

/*  ====================== RESPONSIVE ====================== */

/* MOBILE < 740px */
@media (max-width: 740px) {
    .about__header {
        padding: 0;
    }
    .about__header-content-title {
        font-size: 3.5rem;
    }
    .about__talen-header-title {
        text-align: left;
        font-size: 3.5rem;
    }
    .about__talen {
        padding: 0 35px !important;
    }
    .about__header-wrap {
        flex-direction: column;
    }
    .about__talen-header-title::before {
        left: 0 !important;
    }   
    .about__header-image {
        padding-right: 0px;
        height: 73vh;
    }
    .about__header-image-wrap {
        padding: 0;
        padding-bottom: 25px;
        height: 560px;
    }
    .about__header-content {
        padding: 40px 35px;
    }
    .about__header-content-wrap {
        padding: 0;
        padding-top: 10px;
    }
    .about__header-content-wrap-text {
        padding: 10px 0;
    }
    .about__header-image-wrap-wave {
        display: none;
    }
    .about__picture-container-item {
        height: 100%;
    }
    .col-2-5:last-child {
        display: none;
    }
}
@media (min-width: 740px) and (max-width: 1024px) {
    .about__header-image {
        padding-right: 25px;
    }
    .col-2-5:last-child {
        display: none;
    }
}
@media (min-width: 1024px) {
}
