#gallery .modal {
    margin: 10% auto;
}
#gallery img {
    height: 75vw;
    object-fit: cover;
}

#carouselPicture {
    height: 100%;
    margin: 0 -10px;
}
#pictureModalSlider {
    z-index: 10000;
    padding: 0 !important;
}
#pictureModalSlider .modal-dialog {
    height: 100%;
    max-width: none;
    width: 100%;
    padding: 70px 180px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0 auto;
    position: revert;
    background-color: rgba(110, 110, 110, 0.5);
}
#pictureModalSlider .modal-content {
    position: revert;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
}
#pictureModalSlider .modal-content .modal-body {
    height: 100%;
    padding: 0;
    background: transparent 0% 0% no-repeat padding-box;
    /* border: 8px solid rgba(0, 0, 0, 0.2); */
    border-radius: 15px;
    overflow: hidden;
}
#pictureModalSlider .btn-modal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 30px;
    background: none;
    border: none;
    color: white;
    outline: none;
    z-index: 2;
    font-size: 3rem;
}
.carousel-inner {
    height: 100%;
}
.carousel-item {
    height: 100%;
}
.carousel-item img {
    height: 100%;
    object-fit: cover;
}
* {
    transition: 0.3s;
}

#gallery.custom {
    padding: 0 15px;
}
#gallery.custom img {
    display: block;
    margin: 15px 0;
    border-radius: 300px 30px 300px 300px;
}
#gallery.custom img:hover {
    border-radius: 30px 90px 30px 30px;
}
#pictureModalSlider.custom .modal-content {
    background: none;
    border: none;
}
#pictureModalSlider.custom .modal-header {
    border: none;
}
#pictureModalSlider.custom .modal-header button {
    background: none;
    border-radius: 100px 100px 0 0;
    padding: 5px 10px;
    opacity: 1;
    position: relative;
    top: 3px;
    border: solid 2px white;
}
#pictureModalSlider.custom .modal-header span {
    color: white;
}
#pictureModalSlider.custom .modal-body {
    padding: 0;
    height: 100%;
    border: none;
    position: relative;
}

.carousel-control-prev,
.carousel-control-next {
    font-size: 1rem;
    top: auto;
    opacity: 1;
    bottom: -52px;
    bottom: 0;
    width: 12% !important;
    height: fit-content;
    top: 50%;
}
.carousel-control-prev:hover .carousel-control-prev-icon {
    background-color: white;
}
.carousel-control-next:hover .carousel-control-next-icon {
    background-color: white;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    height: 30px;
    width: 30px;
    background-size: 30px;
    outline: none;
    background-color: #a2a2a2;
    padding: 25px 10px;
    border-radius: 7px;
}
.carousel-control-next-icon {
    background-image: url("/template/hailuu-fe/assets/images/chevron-thin-right.svg");
    background-size: 10px;
}
.carousel-control-prev-icon {
    background-image: url("/template/hailuu-fe/assets/images/chevron-thin-left.svg");
    background-size: 10px;
}
.carousel-indicators {
    bottom: -60px;
}
.carousel-indicators li {
    height: 30px;
    border-radius: 100px;
    background: none;
    border: solid 2px white;
}
.carousel-indicators li:hover,
.carousel-indicators li.active {
    background: white;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.switch-wrap {
    text-align: center;
    background-color: #b1fbc1;
    padding: 30px;
    border-radius: 3px;
    margin: 30px 0 0;
}

.switch-text {
    display: block;
    margin: 0.5em;
}
.carousel-item-background {
    background-size: cover !important;
    background-position: center !important;
    position: relative;
    background-color: white;
}

/*  ====================== RESPONSIVE ====================== */

/* MOBILE < 740px */
@media (max-width: 740px) {
    .switch-text {
        margin: 0 1em 0 0;
    }
    .switch {
        margin: 0;
    }
    .switch-wrap {
        position: fixed;
        bottom: 0;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        width: 100%;
        justify-content: center;
        padding: 10px;
    }
    #gallery img {
        height: 35vw !important;
    }
    #pictureModalSlider .modal-dialog {
        padding: 0;
        width: 100%;
    }
    #pictureModalSlider .modal-content {
        /* height: 60%; */
        height: fit-content;
    }
    
    #pictureModalSlider .modal-content .modal-body {
        border: none;
        overflow: auto;
        padding: 0 30px;
    }
    #pictureModalSlider .modal-content .carousel-inner {
        border-radius: 20px;
    }
    .carousel-control-prev,
    .carousel-control-next {
        /* display: none; */
    }
    #pictureModalSlider .btn-modal-close {
        height: 30px;
        position: absolute;
        top: 10px;
        display: flex;
        padding: 0;
        right: 10px;
        width: 30px;
        border: none;
        /* background: white; */
        color: var(--clr-font-black);
        outline: none;
        z-index: 2;
        border-radius: 50%;
        font-size: 2.5rem;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    #pictureModalSlider .btn-modal-close span {
        position: relative;
        bottom: 5%;
    }
    .home-projects__title::before {
        left: 37%;
    }
   
}
/* 740px <= TABLET < 1024px */
@media (min-width: 740px) and (max-width: 1024px) {
    /* #pictureModalSlider .modal-dialog {
        height: 70%;
        width: 100%;
        margin: 11rem auto;
    } */
    .home-projects__title::before {
        left: 43%;
    }
}
@media (max-width: 740px) {
    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        background-color: rgb(231 231 231 / 70%);
    }
    .carousel-control-prev, .carousel-control-next {
        top: 37%;
    }
    .carousel-control-prev {
        left: 20px;
    }
    .carousel-control-next {
        right: 20px;
    }
    .modal-open .modal {
        padding-left: 40px;
        padding-right: 30px;
    }
}

/* DESKTOP >= 1024px */
@media (min-width: 1024px) {
}
