/*.slick-list{
	height: 440px;
	padding: 25px;
}

.slick-arrow{
	content: '';
	width: 50px;
}*/

/* DEMO LAYOUT */

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
}
.col-xs-15 {
	width: 20%;
	float: left;
}
@media (min-width: 576px) {
	.col-sm-15 {
		width: 50%;
		float: left;
	}
}
@media (min-width: 768px) {
	.col-sm-15 {
		width: 33.33%;
		float: left;
	}
}
@media (min-width: 992px) {
	.col-md-15 {
		width: 25%;
		float: left;
	}
}
@media (min-width: 1200px) {
	.col-lg-15 {
		width: 20%;
		float: left;
	}
}
.container-common{
	padding-left: var(--pd-justify);
	padding-right: var(--pd-justify);
}

.line-short{
	width: 60px;
	/* border: 2px solid #006CB2; */
	border-radius: 50px;
	background: #006CB2;
    height: 2px;
}

.line-dash{
	border: 1px dashed #b3b3b3;
    border-spacing: 5px;
    position: relative;
    border-block-start-style: unset;
    border-block-end-width: initial;
    border-bottom-width: medium;
}
.line-dash::after {
	content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #F7F7F7;
    top: -25px;
    left: 102%;
    border: 1px solid #E2E2E2;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-transform: rotate(-45deg);
}

.line-dash::before {
	content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #F7F7F7;
    top: -25px;
    right: 102%;
    border: 1px solid #E2E2E2;
    border-left: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-transform: rotate(45deg);
}

.container-title-search{
	text-align: center;
}

.container-title-search h5{
	text-transform: capitalize;
	font-size: 30px;
	font-family: var(--ff-bold);
	font-weight: var(--fw-700);
	color: var(--color-primary);
}
.menu-category-mobile { 
 display: none;
}
.container-title-search p{
	font-size: var(--fz-15);
	font-family: var(--ff-regular);
	color: var(--color-black);
}

.list-filter-result-search span{
	color: var(--color-black);
	text-transform: capitalize;
	font-size: var(--fz-14);
	font-family: var(--ff-semibold);
}

.container-suggest-other-service{
	width: 50%;
}

.status-red{
	font-family: var(--ff-regular);
	color: var(--color-red);
}

.status-green{
	font-family: var(--ff-regular);
	color: var(--color-green);
}

.title-dark-common{
	text-transform: capitalize;
	font-size: 30px;
	color: var(--color-sub-dark);
	font-family: var(--ff-bold);
	font-weight: var(--fw-700);
}

.box-common{
	padding: 30px;
    border-radius: 8px;
    border: 1px solid #E3E3E3;
}

.box-common-cart{
	padding: 30px 40px 30px 40px;
    border-radius: 8px;
    border: 1px solid #E3E3E3;
}

.box-dropzone-file .progress{
	width: 162px;
	height: 6px;
	border-radius: 5px;
	margin-top: -6px;
}

.box-dropzone-file .progress .progress-bar{
	height: 6px;
	background-color: #079DDA !important;
}

.box-dropzone-file .text-uploading{
	display: block;
	font-size: var(--fz-13);
	font-family: var(--ff-regular);
	color: var(--color-black);
}

.title-blend{
	font-size: 30px;
	font-family: var(--ff-bold);
	color: var(--color-black) !important;
}

.title-blend span{
	color: var(--color-primary);
}

.btn-common{
	border-radius: 8px;
	background-color: var(--color-primary);
	color: var(--color-white);
	font-family: var(--ff-bold);
	font-size: var(--fz-16);
	transition: 200ms;
}

.btn-common:hover{
	background-color: var(--color-primary);
	opacity: .9;
}

.title-blend-2{
	text-transform: capitalize;
	font-size: 30px;
	font-family: var(--ff-bold);
	color: var(--color-sub-dark);
}

.title-blend-2 span{
	color: var(--color-primary);
}

.wrapper-item-card-common{
	margin-right: 20px;
}

.wrapper-product-tab ul::-webkit-scrollbar,
.wrapper-post-tab ul::-webkit-scrollbar,
.wrapper-tab-common::-webkit-scrollbar{
    height: 5px;
    display: none;
}
.wrapper-product-tab ul::-webkit-scrollbar-thumb,
.wrapper-post-tab ul::-webkit-scrollbar-thumb,
.wrapper-tab-common::-webkit-scrollbar-thumb{
    background: #CBC3C3;
    border-radius: 10px;
}
.wrapper-product-tab ul::-webkit-scrollbar-thumb:hover,
.wrapper-post-tab ul::-webkit-scrollbar-thumb:hover,
.wrapper-tab-common::-webkit-scrollbar-thumb:hover{
    background: #ccc;
}
.wrapper-product-tab ul:hover::-webkit-scrollbar,
.wrapper-post-tab ul:hover::-webkit-scrollbar,
.wrapper-tab-common:hover::-webkit-scrollbar{
    display: block;
}

.wrapper-menu-popup-cart .container-list-product-cart::-webkit-scrollbar{
	width: 3px;
	display: none;
}
.wrapper-menu-popup-cart .container-list-product-cart::-webkit-scrollbar-thumb{
    background: #CBC3C3;
	border-radius: 10px;
}
.wrapper-menu-popup-cart .container-list-product-cart::-webkit-scrollbar-thumb:hover{
    background: #CCC;
}
.wrapper-menu-popup-cart .container-list-product-cart:hover::-webkit-scrollbar{
    display: block;
}

.btn-toggle-menu-filter__wrap:hover .btn-toggle-menu-filter img {
	transform: rotate(180deg)
}
.btn-toggle-menu-filter__wrap {
	padding-right: 30px;
}

.dropdown-menu-filter::after {
	content: '';
    top: -13px;
    height: 25px;
    width: 100%;
    position: absolute;
    background-color: transparent;
}

.btn-toggle-menu-filter__wrap:hover .dropdown-menu-filter {
	display: block !important;
}

.dropdown-menu-account, .dropdown-menu-filter {
	transform: none !important;
	top: 150% !important;
	right: 35px !important;
}
/* .wrapper-menu-popup-cart .container-list-product-cart{
	height: 500px;
	padding-right: 5px;
} */

.container-backdrop.active{
	position: fixed;
    top: 0;
    left: 0;
    display: block !important;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
	background: rgba(0, 0, 0, .4);
	z-index: 1060;
}

.pagination-comment ul li{
	margin-right: 10px;
}

.pagination-comment ul a{
	/* width: 29px;
	height: 29px; */
	border-radius: 8px;
	border: 1px solid #CBCBCB;
	font-size: var(--fz-14);
	font-family: var(--ff-semibold);
	color: #383838;
}

.pagination-comment ul li.active a{
	color: var(--color-white);
	background-color: var(--color-primary) !important;
	border-color: var(--color-primary) !important;
}


/* START CSS CART MENU */

.wrapper-cart a{
	display: block;
	border-radius: 10px;
	width: 138px;
	height: 50px;
	text-align: center;
	line-height: 50px;
}

.wrapper-cart a.active{
	background-color: rgba(255, 255, 255, .18);
}

.wrapper-cart div{
	background-color: #FE6F61;
	color: var(--color-white);
	width: 26px;
	height: 26px;
	left: 50px;
	top: 10px;
}
.swal2-actions {
	justify-content: space-around !important;
	flex-direction: row-reverse !important;
}
.swal2-styled.swal2-cancel, .swal2-styled.swal2-confirm {
	min-width: 150px !important;
}

.wrapper-menu-popup-cart,
.wrapper-menu-popup-edit-cart{
	position: absolute;
	right: 235px;
	top: 120px;
	width: 432px;
	padding: 30px;
	background-color: var(--color-white);
	border-radius: 14px;
	box-shadow: 0 10px 30px rgba(0,0,0,.16);
	z-index: 1050;
	box-sizing: border-box;
	/* overflow-y: scroll !important; */
}

.wrapper-menu-popup-edit-cart{
	top: 0;
	right: 400px;
}

.wrapper-menu-popup-edit-cart:after{
	content: '';
	position: absolute;
	right: -5px;
	top: 20px;
	width: 40px;
	height: 40px;
	background-color: var(--color-white);
	transform: rotate(45deg);
}

.wrapper-menu-popup-cart h4{
	color: var(--color-sub-dark);
	font-size: 22px;
	font-family: var(--ff-bold);
	margin-bottom: 20px;
}

.wrapper-menu-popup-cart__product-detail img{
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 8px;
}

.wrapper-menu-popup-cart__product-detail h6{
	font-size: var(--fz-15);
	font-family: var(--ff-semibold);
}

.wrapper-menu-popup-cart__product-detail span,
.wrapper-menu-popup-cart__product-detail .price-product-popup-cart{
	display: block;
	color: #383838;
	font-size: var(--fz-13);
	font-family: var(--ff-regular);
	line-height: 25px;
}

.wrapper-menu-popup-cart__product-detail .price-product-popup-cart span{
	display: inline-block;
}

.wrapper-menu-popup-cart__product-detail a{
	color: var(--color-primary);
	font-size: var(--fz-13);
	font-family: var(--ff-bold);
}

.wrapper-menu-popup-cart__product > a{
	display: flex;
	justify-content: center;
}

.wrapper-menu-popup-cart .btn-my-cart{
	height: 62px;
	font-family: var(--ff-semibold);
	transition: 200ms;
}
.wrapper-menu-popup-cart .btn-my-cart a{
	height: 100%;
	line-height: 49px;
}

.wrapper-menu-popup-cart .btn-my-cart:hover{
	box-shadow: 0 10px 20px rgba(7, 157, 218, .30);	
}

.wrapper-menu-popup-cart .btn-my-cart span{
	vertical-align: middle;
}

.row-input-edit-cart > div:nth-child(1){
	line-height: 30px;
}

.row-input-edit-cart > div:nth-child(2) select{
	border-radius: 8px;
}

.row-input-edit-cart > div:nth-child(2) strong{
	font-size: var(--fz-15);
	font-family: var(--ff-bold);
	line-height: 30px;
}

.row-input-edit-cart > div:nth-child(2) span{
	line-height: 30px;
}

.row-input-edit-cart.row-total b{
	font-size: var(--fz-15);
	font-family: var(--ff-bold);
}
.btn-remove-address--mobile {
	color: #dc3545;
	padding: 5px 10px;
	display: none !important;
}
.row-input-edit-cart.row-total strong{
	font-size: var(--fz-17);
	font-family: var(--ff-bold);
	display: block;
}

.row-input-edit-cart.row-total .status-red{
	font-size: var(--fz-12);
	font-family: var(--ff-regular);
	margin-top: -10px;
}

.wrapper-button-edit-cart button{
	width: 173px;
	height: 50px;
	border-radius: 10px;
	font-size: var(--fz-16);
	font-family: var(--ff-semibold);
	transition: 200ms;
}

.wrapper-button-edit-cart button:hover{
	box-shadow: 0 10px 20px rgba(7, 157, 218, .30);
}

.wrapper-button-edit-cart button.btn-cancel-update-my-cart{
	background-color: var(--color-white);
	border: 1px solid #449CD5;
	color: var(--color-primary);
	box-shadow: none;
}

/* END CSS CART MENU */



/* START CSS SEGMENT */

.container-segment{
	margin-top: 50px;
}

.wrapper-segment > div{
	padding: 20px 25px 20px 25px;
	border-radius: 12px;
	border: 1px solid rgba(0,0,0,.3);
	width: 378px;
	margin-right: 10px;
}

.wrapper-segment .segment-title{
	font-size: var(--fz-16);
	color: #179C77;
	font-family: var(--ff-regular);
	font-weight: var(--fw-700);
}

.wrapper-segment .segment-description{
	font-size: 12px;
	color: #525F7E;
}

/* END CSS SEGMENT */


/* START CSS FLASH - SALE */

.container-flash-sale{
	margin-top: 80px;
}
.slick-list {
	width: 100% !important;
}
.slick-list .slick-track{
	width: 100% !important;
}
.slick-track{
	display: flex !important;
    /* justify-content: space-between !important; */
}
.slick-track .slick-slide {
    width: fit-content !important;
	margin-right: 30px;
}

.slick-track .slick-slide:last-child {
	margin-right: 110px;
}

.wrapper-order-service .slick-track .slick-slide {
	margin-right: 30px;
}
.wrapper-flash-sale{
	height: 360px;
	z-index: 1000;
	margin-bottom: 45px;
	padding: 0 35px;
	padding-right: 0;
	padding-left: 10px;
}
.wrapper-card:hover .card-title {
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
/* .wrapper-flash-sale .slick-list .slick-track{
	width: auto !important;
} */
/* .wrapper-flash-sale .slick-list .slick-track .slick-slide{
	width: auto !important;
} */

.container-flash-sale .flash-sale-title span{
	font-size: 30px;
	vertical-align: middle;
	color: #FA0026;
	font-family: var(--ff-regular);
	font-weight: var(--fw-700);
}

.container-flash-sale .flash-sale-see-all a{
	color: #FE6F61;
	font-size: var(--fz-14);
	font-family: var(--ff-semibold);
}

.btn-slick-next,
.btn-slick-previous{
	position: absolute;
	width: 27px;
	height: 45px;
	border-radius: 5px;
	border: none;
	background-color: var(--color-white);
	top: 23%;
	z-index: 1;
}

.btn-slick-previous{
	left: 25px;
}
.wrapper-new-product .slick-slider {
	padding-right: 0 !important;
}
.btn-slick-next{
	right: 5px;
}

.btn-slick-next.slick-disabled,
.btn-slick-previous.slick-disabled{
	opacity: .5;
	display: block !important; 
}

.btn-slick-next img,
.btn-slick-previous img{
	left: 3px;
}

.slick-list {
  	padding: 100px 50px;
  	margin: -100px -50px;
  	margin-right: 0;
}

.wrapper-card{
	position: relative;
	width: 200px;
	/*height: 400px;*/
	border-radius: 12px;
	border: none;
	outline: none;
	transition: 200ms;
}

.wrapper-card .card-text,
.wrapper-card .card-description{
 	display: none !important;
}

.wrapper-card .card-body{
	/* padding: 0 10px; */
	padding: 0;
	padding-top: 10px;
	/* padding-bottom: 10px; */
}
.card-price {
	/* padding-bottom: 10px !important; */
	margin-bottom: 10px !important;
}
.wrapper-card:hover{
	transform: scale(1.1);
	box-shadow: 0 10px 20px rgba(0,0,0, .16);
	z-index: 5;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	height: fit-content;
	padding-top: 10px;
}
.wrapper-card:hover .wrapper-card .card-body{
	padding: 0 !important;
	padding-bottom: 10px;
}

.wrapper-card:hover .card-text,
.wrapper-card:hover .btn-add-cart{
	display: block !important;
}

.wrapper-card:hover .card-description
{
	display: -webkit-box !important;
}

.wrapper-card .card-title{
	font-size: var(--fz-16);
	font-family: var(--ff-semibold);
	margin-top: 0 !important;
}

.wrapper-card .card-text{
	font-size: var(--fz-13);
	font-family: var(--ff-regular);
}

.wrapper-card .card-price .card-price-text{
	font-size: var(--fz-17);
	font-family: var(--ff-bold);
	font-weight: var(--fw-700);
	color: var(--color-primary);
}

.wrapper-card .card-price .card-cost-text{
	padding: 5px;
	background-color: #FF0000;
	border-radius: 6px;
	display: inline-block;
	font-size: var(--fz-12);
	color: var(--color-white);
	font-family: var(--ff-regular);
}

.wrapper-card .discount-card{
	position: absolute;
	right: 0;
	top: 0;
}

.wrapper-card .discount-card span{
	position: absolute;
	color: var(--color-white);
	font-weight: bold;
	top: 10px;
	right: 5px;
}

.wrapper-card .flash-sale-card{
	position: absolute;
	left: -15px;
	top: -10px;
}

.wrapper-card .btn-add-cart{
	padding: 10px 0 10px 0;
	border-radius: 7px;
	font-size: 13px;
	background-color: var(--color-primary);
	/* font-size: var(--fz-12); */
	font-family: var(--ff-bold);
	font-weight: var(--fw-700);
	transition: 200ms;
	display: none;
}

.wrapper-card .btn-add-cart:hover{
	box-shadow: 0 10px 20px rgba(7, 157, 218, .3);
	/* filter: drop-shadow(0 10px 20px rgba(7, 157, 218, .3));	 */
}

/* END CSS FLASH - SALE */


.box-contact .wrapper-contact button span a {
	color: white;
}



/* START CSS PRODUCT FAVORITE */
.container-product-favorite {
	margin-bottom: 80px;
}

.container-product-favorite .product-favorite-title span{
	font-size: 30px;
	text-transform: capitalize;
	font-family: var(--ff-bold);
	font-weight: var(--fw-700);
}

.container-product-favorite .product-favorite-title span:nth-child(1){
	color: var(--color-sub-dark);
}

.container-product-favorite .product-favorite-title span:nth-child(2){
	color: var(--color-primary);
}

.container-product-favorite .product-favorite-tab{
	position: relative;
	height: 100%;
	margin-top: 18px;
}

.container-product-favorite .product-favorite-tab a{
	display: inline-block;
	color: var(--color-black);
	text-transform: uppercase;
	font-size: var(--fz-13);
	font-family: var(--ff-semibold);
	border-bottom: 2px solid transparent;
	padding: 0 10px 0 10px;
	height: 100%;
	transition: 200ms;
}

.container-product-favorite .product-favorite-tab a.active{
	border-bottom: 2px solid #FE6F61;
	border-radius: 2px;
	color: #FE6F61;
}

.product-item-card{
	height: 330px;
	margin-right: 40px;
}
.wrapper-item-card-common__service {
	margin-right: 0 !important;
}
.product-item-card:last-child{
	margin-right: 0;
}
.title_content__home {
	border-bottom: 1px solid gainsboro;
    padding-bottom: 17px !important;
	margin-bottom: 17px;
	z-index: 10000;
}
.product-item-card .wrapper-card > a > img.card-img-top{
	height: 200px !important;
	border-radius: 10px;
	object-fit: cover;
}

.product-favorite-item{
	height: 300px;
}

.product-favorite-item .flash-sale-card{
	top: -23px;
}

.product-favorite-item .discount-card{
	top: -23px;
	right: 10px;
}

.product-favorite-item .discount-card span{
	top: 33px;
	font-size: var(--fz-17);
	font-family: 'Bebas Neue', cursive;
}

.container-product-favorite .btn-see-other-service span{
	text-transform: capitalize;
	color: #FE6F61;
	font-size: var(--fz-14);
	font-family: var(--ff-semibold);
}

/* END CSS PRODUCT FAVORITE */


/* START CSS NEW PRODUCT */

.container-new-product{
	margin-top: 10px;
}

.container-new-product{
	height: 400px;
}

.container-new-product .new-product-see-all a{
	color: #FE6F61;
	font-size: var(--fz-14);
	font-family: var(--ff-semibold);
}
/* .toastr-wrap {
	position: fixed;
} */

.toastr-wrap {
	/* display: none; */
}
.toastr-wrap {
	position: fixed;
    top: 7%;
    z-index: 100000;
    padding: 15px 30px !important;
    outline: 0;
    background: white;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* border: 2px solid #5a5a5a; */
    border-radius: 15px;
    box-shadow: 5px 0 40px rgb(0 0 0 / 30%);
}
.toastr-wrap .toastr-wrap--icon { 
	margin-right: 20px;
	height: 30px;
	width: 30px;
}
.toastr-wrap--success.show {
	display: flex !important;
}
.toastr-wrap--warning.show {
	display: flex !important;
}
.toastr-wrap--error.show {
	display: flex !important;
}
.toastr-wrap .toastr-wrap--content {
	font-weight: bold;
	color: black;
}
.container-new-product .new-product-title span{
	font-size: 30px;
	text-transform: capitalize;
	font-family: var(--ff-bold);
	font-weight: var(--fw-700);
}

.container-new-product .new-product-title span:nth-child(1){
	color: var(--color-sub-dark);
}

.container-new-product .new-product-title span:nth-child(2){
	color: var(--color-primary);
}

/* END CSS NEW PRODUCT */


/* START CSS LIST SERVICE */

.container-list-service{
	margin-top: 80px;
}

.container-list-service > div{
	padding: 0;
}

.container-list-service .btn-see-other-service span{
	text-transform: capitalize;
	color: #FE6F61;
	font-size: var(--fz-14);
	font-family: var(--ff-semibold);
}

.container-list-service .list-service-title span{
	font-size: 30px;
	text-transform: capitalize;
	font-family: var(--ff-bold);
	font-weight: var(--fw-700);
}

.container-list-service .list-service-title span:nth-child(1){
	color: var(--color-sub-dark);
}

.container-list-service .list-service-title span:nth-child(2){
	color: var(--color-primary);
}

.container-list-service .list-service-tab{
	position: relative;
	height: 100%;
	margin-top: 18px;
}

.container-list-service .list-service-tab a{
	color: var(--color-black);
	text-transform: uppercase;
	font-size: var(--fz-13);
	font-family: var(--ff-semibold);
	border-bottom: 2px solid transparent;
	padding: 0 10px 0 10px;
	transition: 200ms;
	height: 50px;
	margin-right: 20px;
	margin-bottom: -18px;
}

.container-list-service .list-service-tab a:last-child {
	margin-right: 0;
}

.container-list-service .list-service-tab a.active{
	border-bottom: 2px solid #FE6F61;
	border-radius: 2px;
	color: #FE6F61;
}

.container-list-service .list-service-item{
	height: 300px;
}

.detail-product {
	width: 100%;
}

/* END CSS LIST SERVICE */

.wrapper-order-service__temp .slick-list .slick-track .slick-slide {
	margin-right: 10px !important;
}
.wrapper-order-service__temp__mobile {
	display: none;
}

/* START CSS GALLERY */

.container-gallery{
	margin-top: 80px;
}



/* END CSS GALLERY */


/* START CSS PROCEDURE */

.container-procedure{
	margin-top: 70px;
}

.container-procedure .procedure-title{
	text-align: center;
	text-transform: capitalize;
	font-size: 30px;
	font-family: var(--ff-bold);
	font-weight: var(--fw-700);
}

.container-procedure .procedure-title div:nth-child(1){
	color: var(--color-sub-dark);
}

.container-procedure .procedure-title div:nth-child(2){
	color: var(--color-primary);
}

.container-procedure .card{
	border: none;
}

.container-procedure .card .card-title{
	color: #32325D;
	font-size: 20px;
	font-family: var(--ff-bold);
	font-weight: var(--fw-700);
	width: 200px;
}

.container-procedure .card .card-text{
	color: #525F7E;
	font-size: 15px;
	font-family: var(--ff-regular);
}

.container-procedure .procedure-item{
	position: relative;
}

.container-procedure .procedure-item .card.text-center {
	padding: 0 30px;
}

.procedure-item .procedure-arrow{
	position: absolute;
	top: 0px;
	left: 60%;
	z-index: 2;
}

/* END CSS PROCEDURE */



/* START CSS HEADER BOTTOM RESPONSIVE */

.container-header-bottom{
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: var(--color-primary);
	z-index: 1060;
	width: 100%;
	box-sizing: border-box;
}

.container-header-bottom hr{
	background-color: var(--color-white);
	margin-top: 0px;
}

.container-header-bottom span{
	display: block;
}

.container-header-bottom a{
	border-top: 3px solid transparent;
	color: var(--color-white);
	text-align: center;
	text-transform: capitalize;
	font-size: var(--fz-12);
	font-family: var(--ff-regular);
	opacity: 80%;
	transition: 200ms;
	height: 100%;
	padding: 10px 20px 10px 20px;
}

.container-header-bottom a.active{
	opacity: 100%;
	font-family: var(--ff-bold);
	border-top: 3px solid #FFFFFF;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.container-header-bottom a img{
	width: 24px;
	height: 24px;
	margin-bottom: 5px;
}

.container-header-bottom .btn-popup-cart div{
	background-color: #FE6F61;
	width: 26px;
	height: 26px;
	border: 1px solid #FFFFFF;
	line-height: 26px;
	top: 10px;
	right: 10px;
}
.card-image-footer--svg {
	padding: 70px 0 !important;
}

.title__upload_file__mobile {
	display: none;
}

/* END CSS HEADER BOTTOM RESPONSIVE */

.wrapper-item-card-common .card-description{
	color: #383838;
	font-size: var(--fz-13);
	font-family: var(--ff-regular);
	display: block;
	margin-bottom: 10px !important;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.text-capitalize__limit {
	display: -webkit-box !important;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.img-banner-service{
	height: 100%;
    width: 100%;
    object-fit: cover;
    padding: 0;
}
.banner-service__wrap {
	border-radius: 15px;
    height: 355px;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

.container-gallery a{
	width: 100%;
	height: 100%;
	display: block;
}

.slick-list {
	width: auto !important;
}
/* START RESPONSIVE */

@media only screen and (max-width: 1375px) {
	.slick-track .slick-slide {
		width: fit-content !important;
		margin-right: 5px;
	}
	.btn-toggle-menu-filter__wrap {
		padding-right: 15px;
	}
	.dropdown-menu-filter {
		right: 25px !important;
	}
}

@media only screen and (max-width: 995px) {

	.container-procedure .card .card-title{ 
		width: 100%;
	}
	.slick-track .slick-slide {
		width: fit-content !important;
		margin-right: 10px;
	}

	.banner-service__wrap {
		height: 255px;
	}
	.slick-list {
		width: auto !important;
	}
	.procedure-item .procedure-arrow{
		left: 50%;
	}
	.procedure-item .procedure-arrow img{
		width: 150px
	}
	.container-suggest-other-service{
		width: 80%;
	}
	.container-customer-talk > div:nth-child(2){
        padding-bottom: 50px;
        padding-top: 100px !important;
        padding-left: 100px !important;
        padding-right: 100px !important;
    }
}

@media only screen and (max-width: 767px) {
	.container-procedure .card .card-title{ 
		width: 100%;
	}
	.banner-service__wrap {
		height: 185px;
	}
	.banner-service__wrap {
		height: 175px;
	}
	.procedure-item .procedure-arrow{
		display: none;
	}
	.list-filter-result-search{
		margin-top: 10px;
	}
	.container-list-service .list-service-tab{
		margin-bottom: 20px;
		height: 40px;
	}
	.container-list-service hr{
		display: none;
	}
	.container-gallery .main-image-gallery,
	.container-gallery .sub-image-gallery{
		margin-top: -100px;		
	}
	.container-gallery .main-image-gallery,
	.container-gallery .sub-image-gallery div{
		background-size: 100% 205px !important;
	}
	.header-2 .wrapper-account{
		margin-left: 0 !important;
	}
}

@media only screen and (max-width: 630px) {
	.container-product-favorite{
		padding-left: 30px;
		padding-right: 30px;
	}
}

@media only screen and (max-width: 600px) {
	.container-new-product{
		padding-left: 40px;
		padding-right: 40px;
		margin-top: 0 !important;
	}
	.container-qc,
	.container-gallery,
	.container-flash-sale,
	.container-list-service{
		padding-left: 20px;
		padding-right: 20px;
	}
	.container-gallery {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}

@media only screen and (max-width: 575px) {
	.box_uploadfile__mobile {
		padding: 0 !important;
	}
	.swiper-customer__mobile {
		height: fit-content !important;
		padding: 20px 0 !important;
		background: white !important;
	}
	.wrapper-info-order h6 {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 1;
		overflow: hidden;
	}
	.swiper-customer__mobile .swiper-slide.slide-customer-item {
		height: fit-content !important;
	}
	.swiper-customer__mobile .customer-intro {
		text-align: center !important;
	}
	.swiper-customer__mobile .customer-intro .customer-name{
		padding-top: 20px ;
	}
	.flex-swiper-customer__mobile {
		flex-direction: column !important;
		align-items: center !important;
	}
	.btn-toggle-menu-filter__wrap {
		padding-right: 0 !important;
	}
	.dropdown-menu-filter {
		width: fit-content;
	}
	.container-procedure .card .card-title{ 
		width: 100%;
	}
	.container-list-product-favorite.wrapper-order-service__temp__mobile {
		display: block;
		padding: 0 10px !important;
	}
	/* .wrapper-order-service__temp__mobile .product-item-card .wrapper-card > a > img.card-img-top {
		height: 200px !important;
	} */
	.wrapper-order-service__temp {
		display: none;
	}
	/* .slick-track .slick-slide {
		width: 45% !important;
		margin-right: 30px;
	} */
	.item-list-service .wrapper-card img {
		width: 100% !important;
		object-fit: cover;
	}
	.banner-service__wrap { 
		height: 150px;
	}
	.menu-category-mobile {
		display: block;
	}
	.modal-child-service, .menu-category-desktop {
		display: none !important;
	}
	.wrapper-product-content-tab {
		/* padding: 30px 20px !important; */
		padding: 0;
	}
	.wrapper-item-card-common:nth-child(2n) .wrapper-card {
		float: right !important;
	}
	.wrapper-item-card-common:last-child .wrapper-card {
		/* z-index: 10000; */
	}
	.title-blend {
		margin-top: 0 !important;
	}
	.container-product-favorite hr{
		display: none;
	}
	.container-product-favorite .product-favorite-tab{
		margin-bottom: 20px;
		height: 40px;
	}
	
	.container-procedure .procedure-title{
		font-size: 23px;
	}
	.container-procedure > div{
		margin-bottom: -30px;
	}
	.container-header-bottom{
		display: block !important;
		z-index: 100000000010000000001000000000;
	}
	.container-header .header-1,
	.container-header .header-2,
	.container-header .header-2 > div,
	.container-header .header-3{
		z-index: 1035;
	}
	.container-backdrop.active{
		display: none !important;
	}
	.header-2 .wrapper-cart,
	.header-2 .wrapper-account{
		display: none;
	}
	.product-favorite-item .wrapper-card,
	.list-service-item .wrapper-card{
		width: 180px;
	}
	.wrapper-menu-popup-cart,
	.wrapper-menu-popup-edit-cart{
		padding-bottom: 120px;
	}
}

@media only screen and (max-width: 545px) {
	.container-product-favorite{
		margin-top: -20px;
	}
	.title_content__home {
		border-bottom: none !important;
	}
	.slick-track .slick-slide {
		margin-right: 10px;
	}
	.wrapper-flash-sale {
		padding-left: 0;
	}
	.container-list-product-favorite {
		padding: 0 !important;
		z-index: 10000;
	}
}

@media only screen and (max-width: 525px) {
	.container-product-favorite .product-favorite-title span,
	.container-list-service .list-service-title span,
	.container-flash-sale .flash-sale-title span,
	.container-new-product .new-product-title span,
	.container-procedure .procedure-title{
		font-size: 20px;
	}

	.container-new-product,
	.container-flash-sale,
	.container-product-favorite,
	.container-qc,
	.container-list-service,
	.container-gallery,
	.container-procedure,
	.container-list-post{
		padding-left: 0 !important;
		padding-right: 0 !important;
		box-sizing: border-box;
	}

	.wrapper-list-service{
		justify-content: flex-start !important;
	}

	.product-favorite-item .wrapper-card,
	.list-service-item .wrapper-card{
		width: 150px;
	}
	.wrapper-item-card-common{
		margin-right: 0;
	}

	/* OUTSTANDING PROJECT */
	.container-title-outstanding-project p{
		width: 100% !important;
	}

	/* LIST POST */
	.container-list-post .row-header h1{
		font-size: 30px !important;
	}
}

@media only screen and (max-width: 995px) {
	.container-procedure .procedure-item .card.text-center {
		padding: 0;
	}
	.container-customer-talk > div:nth-child(2){
		display: flex 3!important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

/* @media only screen and (max-width: 375px) { */
@media only screen and (max-width: 575px) {

	.box-order-line .files {
		padding: 5px !important;
	}
	.box-order-line .box-dropzone-file {
		padding: 5px !important;
	}
	details.custom-select input[type=radio]:checked {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
	.box-order-line .files .file-name a .img-file {
		width: 30px !important;
		height: 30px !important;
		margin-right: 10px !important;
	}

	.box-order-line .box-drag-and-drop {
		width: 100%;
		justify-content: flex-start !important;
		align-items: center !important;
		padding: 5px !important;
	}
	.wrappper-detail-post .line-dash {
		display: none !important;
	}
	.container-list-service-v2 .list-service-item-v2 {
		height: 180px !important;
	}

	.container-list-service-v2 .card__item img {
		height: 300px!important;
	}
	
	.box-order-line .files .file-name a {
		font-size: 14px !important;
		display: flex;
		align-items: center;
	}
	.container-gallery .sub-image-gallery div:nth-child(2) {
		margin-left: 0 !important;
	}
	.banner_home {
		width: 107%;
		left: -12px;
		position: relative;
		z-index: -1;
	}
	.title__upload_file {
		display: none;
	}
	.title__upload_file__mobile {
		display: block;
	}
	.wrapper-flash-sale {
		z-index: 100010110;
		height: 300px;
		margin-bottom: 75px;
	}
	.title_content__fashsale {
		z-index: 1000100011 !important;
	}
	.title_content__home {
		margin-bottom: 0;
	}
	.container-new-product {
		height: 350px;
	}
	.container-all-product-or-menu-product__allsevices {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}
	.product-item-card{
		height: 310px !important;
	}
	.banner-service__wrap {
		border-radius: 0;
	}
	.product-item-card .wrapper-card > a > img.card-img-top{
		height: 160px !important;
	}
	.wrapper-new-product .slick-list{
		padding: 100px 40px !important;
		padding-bottom: 130px !important;
	}
	.container-procedure .procedure-item .card.text-center {
		padding: 0;
	}
	.title_content__home {
		z-index: 100010001;
	}
	.container-product-favorite {
		margin-bottom: 75px;
	}
	.product-item-card .wrapper-card > a > img.card-img-top {
		object-fit: cover;
		border-radius: 8px;
	}
	.wrapper-menu-popup-cart, .wrapper-menu-popup-edit-cart {
		overflow-y: scroll !important;
	}
	.ava-img-comment {
		width: 80px !important;
	}
	.wrapper-comment__content {
		width: 100%;
	}
	.list-connect--custom {
		padding-bottom: 30px;
	}
	.list-filter-result-search--mobile {
		display: none !important;
	}
	.banner-girl-mobile {
		padding: 0 !important;
		margin-bottom: 20px;
	}
	.banner-girl-mobile  img {
		width: 100% !important;
	}
	.wrap-quote-contact {
		padding: 0 20px;
	}
	.wrap-quote-contact span {
		font-size: 20px;
	}
	.btn-remove-address {
		display: none !important;
	}
	.btn-remove-address--mobile {
		font-size: 14px;
		cursor: pointer;
		background-color: transparent !important;
    	height: fit-content !important;
		font-family: var(--ff-semibold);
		display: inline-block !important;
	}
	::-webkit-scrollbar {
		display: none !important;
	}
	[data-star-rating] {
		justify-content: center !important;
		padding: 10px 0 !important;
	}
	.box-order-pay .btn-create-order {
		margin-bottom: 5px !important;
	}

	.box-order-line .box-dropzone-file, .box-order-line .files {
		margin-top: 10px !important;
	}
	.container-header-bottom .btn-popup-cart div {
		right: 0 !important;
	}
	.align-items-center, .justify-content-start {
		padding: 0 10px !important;
	}
	.box-detail-product h4.title-other-service {
		padding-left: 20px !important;
	}
	.list-service-title__wrap {
		padding: 0 !important;
	}
	.item-list-service {
		width: 50% !important;
	}
	.wrapper-order-service {
		width: 100%;
		/* justify-content: space-between !important; */
		padding-left: 20px !important;
		padding-right: 20px !important;
	}
	.wrapper-product-tab ul {
		flex-wrap: nowrap !important;
		justify-content: flex-start !important;
	}
	.wrapper-product-tab .wrapper-product-tab ul { 
		justify-content: flex-start !important;
	}
	.container-footer {
		margin-bottom: 90px;
	}
	.wrapper-card:hover {
		padding: 0 10px !important;
		padding-top: 10px !important;
	}

	.dropdown-menu-account, .dropdown-menu-filter {
		transform: none !important;
		top: 120% !important;
		left: 21% !important;
	}
	.card-body {
		padding: 1rem 0 !important;
	}
	.container-common--wrap {
		padding-left: 0 !important;
	}
	.container-list-product-favorite .wrapper-item-card-common {
		width: 50% !important;
	}
	.wrapper-item-card-common {
		margin-right: 0 !important;
		width: 95% !important;
	}
	.wrapper-item-card-common__service {
		margin-right: 0 !important;
		width: 50% !important;
	}
	.slick-slide .wrapper-item-card-common__service {
		width: 100% !important;
	}
	.wrapper-item-card-common__temp {
		margin-right: 0 !important;
		width: 48% !important;
	}
	.wrapper-item-card__main {
		justify-content: space-between !important;
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.container-list-service-v2 .list-service-item-v2:hover{
		transform: scale(1.2) !important;
	}
	.container-list-service-v2 .list-service-item-v2:hover .wrapper-info-project {
		width: 110% !important;
		box-shadow: 3px 6px 6px -5px #999 !important;
	}
	.swiper-container-pointer-events {
		height: 150px !important;
	}
	.swiper-slide {
		width: 100% !important;
		padding: 0 !important;
	}
	.swiper-slide img {
		object-fit: cover !important;
	}
	.container-new-product > div + hr,
	.container-flash-sale > div + hr{
		display: none;
	}
	.container-qc{
		margin-top: -40px !important;
		margin-top: 20px !important;
	}
	.img-banner-service {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}
	.container-procedure .procedure-item .card img{
		margin-bottom: -50px;
	}
	
	.container-suggest-other-service{
		width: 100%;
	}
	.container-title-search{
		padding: 10px 10px;
		margin-bottom: 1.5rem !important;
	}
	.container-list-service {
		padding: 0 10px !important;
	}
	.container-list-service .list-service-tab{
		overflow: auto;	
	}
	.container-list-service .list-service-tab a{
		height: 30px;
		width: max-content;
		padding: 0;
		margin-right: 20px;
		text-align: center;
	}
	.wrapper-item-card-common .wrapper-card{
		/* width: 140px !important; */
		width: 100% !important;
	}
	.flash-sale-item.wrapper-item-card-common .wrapper-card{
		/* width: 140px !important; */
		/* width: fit-content !important; */
	}
	.slick-slide .wrapper-item-card-common .wrapper-card {
		/* width: 200px !important; */
		width: 145px !important;
	}
	.slick-slide .item-list-service.wrapper-item-card-common .wrapper-card {
		width: 95% !important;
	}
	/* .slick-track .slick-slide {
		margin-right: 0;
	} */
	.slick-list .slick-track {
		width: max-content !important;
	}
	.slick-list {
		width: auto !important;
	}
	.card-price {
		display: flex;
		flex-direction: column;
	}
	.wrapper-item-card-common .btn-add-cart{
		font-size: var(--fz-12);
	}
	.wrapper-card .card-price .card-cost-text {
		width: fit-content;
		margin-top: 5px;
	}

	/* GALLERY */
	.container-gallery div{
		padding: 0;
	}
	.container-gallery .main-image-gallery{
		margin-bottom: -10px !important;
		margin-right: 0 !important;
	}
	.container-gallery .sub-image-gallery div:nth-child(1){
		margin: 0 !important;
	}

	/* PRODUCT FAVORITE */
	.container-product-favorite .product-favorite-tab{
		height: 40px;
		justify-content: flex-start !important;
	}
	.container-product-favorite .product-favorite-tab a{
		text-align: center;
		margin-right: 10px;
	}

	/* SEGMENT */
	.container-segment{
		margin-top: 15px;
	}
	.container-flash-sale {
		margin-top: 30px;
	}
	.container-segment > div{
		padding-left: var(--pd-justify-375);
		padding-right: var(--pd-justify-375);
	}
	.wrapper-segment{
		align-items: center !important;
		justify-content: center !important;
		/* margin-right: -46px; */
		width: 230px;
		margin-right: 10px;
	}
	.wrapper-segment > div{
		flex-wrap: wrap;
		width: 228px;
		height: 197px;
		padding: 5px 25px 5px 25px;
	}

	/* FOOTER */
	.container-footer .footer-description{
		text-align: left !important;
		padding: 20px 10px;
	}
	.container-footer .footer-description div:first-child {
		padding-bottom: 10px;
	}
	.footer-column-1 {
		padding-bottom: 0;
	}
	.footer-column-1 img {
		display: none;
	}

	/* DETAIL ACCOUNT */
	.container-detail-account{
		margin-top: 0 !important;
	}
	.container-detail-account .col-12,
	.container-detail-account > div{
		padding: 0 !important;
	}
	.container-detail-account .container > .row:last-child{
		padding: 20px;
	}
	.box-detail-account.box-personal-category h6,
	.box-detail-account.box-personal-category hr{
		display: none;
	}
	.box-detail-account.box-personal-category .wrapper-personal-tab ul{
		padding: 0 !important;		
		display: flex;
		overflow: auto;
	}
	.box-detail-account.box-personal-category .wrapper-personal-tab li a{
		width: max-content;
		display: inline-block;
		margin-right: 15px;
	}
	.box-detail-account:not(.box-contact-responsive){
		width: 100%;
		border-radius: 0 !important;
		padding: 20px !important;
		border: none;
	}
	.wrapper-btn-account-mobile {
		padding: 0 10px !important;
	}
	.wrapper-detail-account h5{
		font-size: 22px !important;
		padding: 0 20px !important;
	}
	.wrapper-detail-account button{
		width: 100% !important;
		margin-bottom: 15px !important;
	}
	.wrapper-detail-account .btn-outline-danger{
		display: block !important;
	}
	.box-detail-account.box-form-account > div:first-child{
		display: none;
	}

	/* LIST ADDRESS */
	.wrapper-list-address .box-address{
		padding: 10px !important;
	}
	.wrapper-list-address .box-address .box-address__action{
		text-align: left !important;
		justify-content: flex-start !important;
		margin-top: 10px;
	}
	.wrapper-list-address .box-address .box-address__action a{
		margin-bottom: 0 !important;
	}

	/* LIST ORDER, INFO ORDER */
	.wrapper-list-order .column-list-order,
	.wrapper-list-order .column-list-order + hr{
		display: none;
	}
	.wrapper-list-order .box-order .text-end{
		margin-top: 10px;
	}
	.wrapper-list-order .box-order .wrapper-info-order .date-order,
	.wrapper-list-order .box-order .wrapper-info-order .status-order{
		display: block !important;
	}
	.wrapper-list-order .box-order .wrapper-info-order span{
		display: none;
	}
	.wrapper-list-order .box-order img{
		width: 48px;
		height: 48px;
		object-fit: cover;
	}
	.wrapper-list-order .box-order > div:nth-child(2){
		display: none;
	}
	.wrapper-info-order .group-field{
		margin-bottom: 15px
	}
	.wrapper-info-order .box-order-line > div:nth-child(1) span{
		display: none;
	}
	.wrapper-info-order .box-order-line div:nth-child(2){
		margin-top: 10px;
	}

	/* LIST SERVICE */
	.container-list-service{
		margin-top: 10px;
	}
	.list-function-print{
		padding: 10px !important;
		justify-content: left !important;
	}
	.list-function-print a:first-child{
		margin-left: -10px !important;
	}
	.list-function-print a{
		margin-left: 0 !important;
		width: 200px !important;
		text-align: center;
	}
	.list-filter-result-search{
		justify-content: center !important;
		position: relative !important;
	}

	/* LIST RESULT SEARCH */
	.container-suggest-other-service,
	.container-suggest-other-service + .container-list-service{
		/* display: none; */
	}

	/* OUTSTANDING PROJECT */
	.container-title-outstanding-project{
		padding: 0;
		margin-bottom: 30px;
	}
	.container-title-outstanding-project h5{
		font-size: 20px !important;
	}
	.container-title-outstanding-project + .container-list-service > div:first-child{
		display: none;
	}
	.container-list-service-v2 .btn-load-more-project{
		width: 90%;
	}

	/* DETAIL POST  */
	.container-detail-post{
		padding: 0;
		margin-top: 0 !important;
	}
	.wrappper-detail-post{
		padding: 0 !important;
	}
	.container-detail-post .container-cover-post > div img,
    .container-detail-post .container-cover-post{
        padding: 0 !important;
    }
	.container-comment-post{
		margin-top: -50px !important;
	}
	.container-list-comment .date-comment,
	.container-comment-post .date-comment,
	.container-comment-post .group-star{
		display: block !important;
	}
	.container-comment-post > div{
		padding: 10px !important;
		border-bottom: none !important;
		box-shadow: none !important;
	}
	.container-comment-post .btn-send-comment{
		width: 100%;
	}
	.container-other-post,
	.wrappper-detail-post nav,
	.container-comment-post .planes,
	.wrapper-comment > div:nth-child(2){
		display: none !important;
	}

	/* LIST POST  */
	.wrapper-list-post .row > div{
		margin-bottom: 0 !important;
	}
	.wrapper-list-post .btn-detail-post{
		display: none;
	}
	.wrapper-list-post{
		padding: 0 !important;
	}

	/* INFO & CONTACT  */
	.container-intro h1{
		font-size: 25px !important;
	}
	.container-intro p{
		font-size: var(--fz-13) !important;
	}
	.container-about > div:nth-child(1) > div:nth-child(1){
		padding: 0 0 20px 10px !important;
	}
	.container-about > div:nth-child(2){
		display: block !important;
	}
	.container-about .wrapper-info-cty{
		display: none;
	}
	.container-employee{
        display: none;
    }
    .container-quote{
        padding: 0;
    }
    .container-quote > div:first-child{
        display: none;
    }
    .container-quote > div:nth-child(2){
        display: block !important;
    }
    .container-quote > div:nth-child(2) > div:nth-child(2) img{
        margin-top: -40px;
    }
    .container-quote > div:nth-child(2) > div:nth-child(2) span{
        margin-top: 20px;
    }

	/* ORDER SUCCESS */
	.container-order-success{
		margin: 100px 0 100px 0 !important;
	}
	.container-order-success nav{
		display: none;
	}
	.container-order-success h5{
		font-size: 20px !important;
	}
	.container-order-success p{
		font-size: var(--fz-13) !important;
		margin-bottom: -10px !important;
	}

	/* DETAIL SERVICE */
	.container-detail-product{
		margin-top: 0 !important;
	}
	.container-detail-product .container,
	.container-detail-product .row > .col-12{
		padding: 0 !important;
	}
	.container-detail-product .box-detail-product{
		border: none;
		padding: 30px 0 10px 0;
	}
	.container-detail-product .box-detail-product .row {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	.container-detail-product .box-detail-product:first-child{
		padding: 0;
	}
	.box-detail-product .wrapper-detail-product .detail-product,
	.box-detail-product .wrapper-product-amount{
		width: 100%;
		padding: 20px;
		padding-top: 0 !important;
	}
	.box-detail-product .wrapper-detail-product > img{
		width: 100% !important;
		height: auto !important;
		margin-bottom: 10px;
		margin-right: 0 !important;
		border-radius: 0 !important;
	}
	.item-list-service .wrapper-card{
        height: auto !important;
    }

    /* COMMENT SERVICE */
    .wrapper-product-content-tab-comment .row-group-star .group-star{
    	justify-content: center !important;
    }
    .wrapper-product-content-tab-comment .btn-send-comment{
    	width: 100%
    }

    /* TABLE PRICE */
    .table-list-price-service thead th{
        font-size: var(--fz-14) !important;
        padding: 20px !important;
    }

    /* CART */
    .box-order-line .wrapper-info-order span{
    	display: none !important;
    }
    .box-order-line > div:first-child img{
		width: 60px;
		height: 60px;
    }
	.wrapper-list-order .box-order img {
		width: 60px;
		height: 60px;
	}
    .box-order-line .box-dropzone-file:not(.no-file) > img{
    	width: 40px !important;
    	height: 40px !important;
    }
    .box-order-line .box-dropzone-file:not(.no-file) > a img{
    	width: 18px !important;
    	height: 18px !important;
    	margin-left: 10px;
    }
    .row-detail-cart hr,
    .row-detail-cart .box-order-line,
    .row-detail-cart .row-address-order,
    .row-detail-cart .row-payment-order{
    	margin-right: 0 !important;
    }
    .row-address-order > h4,
    .row-payment-order > h4{
    	font-size: 22px
    }


    /* SWIPER SLIDE */
    /*.swiper-slide.slide-customer-item{
    	height: calc((100% - 30px) / 2) !important;
    }*/
}
