<script>
	$(document).ready(function () {

		let indexAvaCommentLink = 1
		let starRatingControl = new StarRating('.star-rating-comment', {
			tooltip: false,
		});

		function htmlRowComment(infoComment, indexAvaComment) {
			let totalStar = infoComment.star || 0;
			let htmlStar = '';

			for( let index = 0; index < 4; index++) {
				htmlStar += `<img src="/template/hailuu-fe/assets/images/start-favorite-outline.svg" alt="Star" class="img-fluid">`
			}

			return `
				<div class="row wrapper-comment">
					<div class="col-12 col-sm-10 d-flex">
						<img src="/template/hailuu-fe/assets/images/ava_${indexAvaComment}.svg" alt="" class="img-fluid me-3 ava-img-comment">
						<div class="wrapper-comment__content mt-4">
							<div class="d-flex">
								<h6>${infoComment.fullname}</h6>
								<div class="group-star d-flex ms-3">
									${htmlStar}
								</div>
							</div>
							<div class="date-comment">
								${moment(infoComment.createAt).format('DD/MM/YYYY')}
							</div>
							<p>${infoComment.content}</p>
						</div>
					</div>
					<div class="col-12 col-sm-2 mt-3">
						${moment(infoComment.createAt).format('DD/MM/YYYY')}
					</div>
					<div class="d-flex justify-content-end" style="margin-top: -15px;">
						<hr style="width: 90%;">
					</div>
				</div>
			`;
		}

		function htmlRowCommentPageLink(infoComment) {
			let totalStar = infoComment.star || 0;
			let htmlStar = '';

			for( let index = 0; index < 4; index++) {
				htmlStar += `<img src="/template/hailuu-fe/assets/images/start-favorite-outline.svg" alt="Star" class="img-fluid">`
			}

			let imgAva = ""
			if (indexAvaCommentLink < 6) { 
				imgAva = `<img src="/template/hailuu-fe/assets/images/ava_${indexAvaCommentLink}.svg" alt="" class="img-fluid me-3 ava-img-comment">`
				indexAvaCommentLink ++  
			} else { 
				indexAvaCommentLink = 1;  
				imgAva = `<img src="/template/hailuu-fe/assets/images/ava_${indexAvaCommentLink}.svg" alt="" class="img-fluid me-3 ava-img-comment">`
				indexAvaCommentLink ++  
			}  
			
			return `
				<div class="row wrapper-comment">
					<div class="col-12 col-sm-10 d-flex">
						${imgAva}
						<div class="wrapper-comment__content mt-4">
							<div class="d-flex">
								<h6>${infoComment.fullname}</h6>
								<div class="group-star d-flex ms-3">
									${htmlStar}
								</div>
							</div>
							<div class="date-comment">
								${moment(infoComment.createAt).format('DD/MM/YYYY')}
							</div>
							<p>${infoComment.content}</p>
						</div>
					</div>
					<div class="col-12 col-sm-2 mt-3">
						${moment(infoComment.createAt).format('DD/MM/YYYY')}
					</div>
					<div class="d-flex justify-content-end" style="margin-top: -15px;">
						<hr style="width: 90%;">
					</div>
				</div>
			`;
		}

		$('.post-content img').addClass('img-fluid');

		$('#btnSendCommentPost').on('click', function () {
			let indexAvaComment = Number($(this).attr("_indexAvaComment"));
			const blogID 	= $('#inputPostIDComment').val().trim();
			const fullname 	= $('#inputFullnameComment').val().trim();
			const email 	= $('#inputEmailComment').val().trim();
			const content 	= $('#inputContentComment').val().trim();
			const star 		= $(".star-rating-comment").val();

			if(!fullname || !email || !content){
				return toastrWarning('Bạn cần nhập đầy đủ các trường');
			}

			if(!validEmail(email)){
				return toastrWarning('Email không đúng định dạng');
			}

			$.ajax({
				type: "POST",
				url: `<%= CF_ROUTINGS_ACCOUNT.ADD_COMMENT %>`,
				data: { blogID, fullname, email, content, star }
			}).done(resp => {
				const { error, message, data } = resp;

				if(error){
					switch (message) {
						case 'params_not_valid':
							return toastrWarning('Bạn cần nhập đầy đủ các trường');
						case 'insert_faild':
							return toastrWarning('Thêm bình luận thất bại');
						default:
							return toastrWarning(message);
					}
				}

				$('.container-list-comment').prepend(htmlRowComment(data, indexAvaComment));
				$('#inputContentComment').val('');
			}).fail(err => toastrWarning(`Có lỗi khi thêm bình luận: ${err.message}`))

		});

		$('.page-link').on('click', function () {
			let postID 		= `<%= infoPost._id %>`;
			let totalPage 	= +$(this).attr('_totalPage');
			let thisPage 	= $(this);
			let currentPage = 1;
			$('.container-list-comment').empty();
			if(thisPage.hasClass('page-previous') || thisPage.hasClass('page-next')){
				currentPage = +$('.page-item.active').children('.page-link').attr('_currentPage');

				if(thisPage.hasClass('page-previous')){

					if(currentPage <= 1){
						thisPage.parent().addClass('disabled');
						currentPage = 1;
					} else{
						thisPage.parent().removeClass('disabled');
						currentPage = currentPage - 1;
					}

					// currentPage = currentPage > 1 ? currentPage - 1 : 1;
					$('.page-item.active').removeClass('active').prev().addClass('active');
				}

				if(thisPage.hasClass('page-next')){

					if(currentPage === totalPage){
						thisPage.parent().addClass('disabled');
						currentPage = totalPage;
					} else{
						thisPage.parent().removeClass('disabled');
						currentPage = currentPage + 1;
					}

					// currentPage = currentPage === totalPage ? currentPage + 1 : totalPage;
					$('.page-item.active').removeClass('active').next().addClass('active');
				}

			} else{
				$('.page-item').removeClass('active');
				currentPage = +thisPage.attr('_currentPage');
				thisPage.parent().addClass('active');
			}

			if(currentPage > 1){
				$('.page-previous').parent().removeClass('disabled');
			} else{
				$('.page-previous').parent().addClass('disabled');
			}

			if(currentPage < totalPage){
				$('.page-next').parent().removeClass('disabled');
			} else{
				$('.page-next').parent().addClass('disabled');
			}

			$.ajax({
				type: "GET",
				url: `<%= CF_ROUTINGS_ACCOUNT.LIST_COMMENT %>`,
				data: { postID, page: currentPage }
			}).done(resp => {
				const { error, message, data } = resp;
				if(error || !data.listCommentByPost.length) return;

				let htmlComment = '';
				data.listCommentByPost.map((comment, index) => {
					htmlComment += htmlRowCommentPageLink(comment);
				})

				$('.container-list-comment').html(htmlComment);
			}).fail(err => console.error(err))
		});


	});
</script>