<script>
    $(document).ready(function () {
        $("#btnUpdatePassword").on("click", function(){
            let oldPassword = $("#inputOldPassword").val();
            let newPassword = $("#inputNewPassword").val();
            let confirmNewPassword = $("#inputConfirmPassword").val();

            if(!oldPassword || !newPassword || !confirmNewPassword )
                return toastrWarning("Vui lòng nhập đầy đủ thông tin!");
            if(newPassword != confirmNewPassword)
                return toastrWarning("Mật khẩu xác nhận không đúng!");
            $.ajax({
                url: `<%= CF_ROUTINGS_CUSTOMER.CHANGE_PASSWORD%>`,
                method: 'POST',
                data: { oldPassword, password: newPassword },
                success: function(resp) {
                    if (resp.error){
                        return toastrWarning("Mật khẩu cũ không đúng, vui lòng kiểm tra lại!");
                    }else{
                        return toastrSuccess("Mật khẩu của bạn đã được cập nhật");
                    }
                },
                error: function(error){
                    console.log({ error })
                }
            });
        })
    })
</script>