<script>
	$(document).ready(function () {

		let arrOrderLine = [];

		const updateOrderLine = ({ orderLineID, file }) => {
			return new Promise(resolve => {
				$.ajax({
					type: "POST",
					url: `<%= CF_ROUTINGS_ORDER.PUSH_FILE_TO_ORDER_LINE %>`,
					data: { orderLineID, file },
				}).done(resp => {
					const { error, message, fileID } = resp;

					if(error){
						return toastrWarning(message);
					}

					resolve();
					// toastrSuccess('Thêm file thành công');
				}).fail(err => console.error(err))
			})
		}

		const uploadFileOrderLine = async (orderLineID, files, containerDropzone) => {
			if(files.length){
				containerDropzone.find('.box-drag-and-drop').addClass('d-none');
				containerDropzone.find('.box-processing-upload-file').removeClass('d-none');

				await addFileToUpload(files, links => {
					const { name, size, type } = files[0];

					const infoFile = {
						name,
						size,
						type,
						path: links[0].uri,
					}
					arrOrderLine = [...arrOrderLine, {
						orderLineID,
						file: infoFile
					}]
					// updateOrderLine({ orderLineID, file: infoFile });
					let fileImg = '';

					if (infoFile.type === 'application/pdf') {
						fileImg = '<img src="/template/hailuu-fe/assets/images/Asset 1@4x-8@2x.png" alt="Pdf File" class="img-file">'
					} else if(infoFile.type === 'application/illustrator') {
						fileImg = '<img src="/template/hailuu-fe/assets/images/Mask Group 126@2x.png" alt="AI File" class="img-file">'
					} else if(infoFile.type === 'image/x-eps') {
						fileImg = '<img src="/template/hailuu-fe/assets/images/Mask Group 127@2x.png" alt="EPS File" class="img-file">'
					} else if(infoFile.type === 'application/vnd.ms-excel' || infoFile.type === 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet') {
						fileImg = '<img src="/template/hailuu-fe/assets/images/Mask Group 125@2x.png" alt="Excel File" class="img-file">'
					} else{
						fileImg = '<img src="/template/hailuu-fe/assets/images/Asset 1@4x-8.svg" alt="Excel File" class="img-file">';
					}

					$('#btnUpdateOrder').removeClass('d-none');
					containerDropzone.toggleClass('d-none');
					containerDropzone.parent().find('.files').removeClass('d-none').append(`
						<div class="file-name my-2 d-flex justify-content-between align-items-center" data-id="${infoFile.name}">

							<a href="${infoFile.path}" download="${infoFile.path}" target="_blank" style="color: black" title="${infoFile.name}">
								${fileImg}
								${infoFile.name.length > 25 ? infoFile.name.substr(0, 25) + '...' : infoFile.name}
							</a>
							<a href="javascript:void(0)" class="btn-remove-file-order-line" _fileID="" _orderLineID="${orderLineID}">
								<img src="/template/hailuu-fe/assets/images/Mask Group 104.svg" alt="Delete" class="img-fluid">
							</a>
						</div>
					`);
					containerDropzone.find('.box-drag-and-drop').removeClass('d-none');
					containerDropzone.find('.box-processing-upload-file').addClass('d-none');
					containerDropzone.find('.box-processing-upload-file .text-uploading span').text('0%');
					containerDropzone.find('.box-processing-upload-file .progress-bar').css('width', '0%');

				}, percentage => {
					percentage = `${Math.ceil(percentage)}%`;
					containerDropzone.find('.box-processing-upload-file .text-uploading span').text(percentage);
					containerDropzone.find('.box-processing-upload-file .progress-bar').css('width', percentage);
				})
			}
		}

		$('.box-order-line').each(function (_, elem) { 
			const orderLineID 	= $(this).attr('_orderLineID');
			const dropZoneID	= `#boxDropzoneFile-${orderLineID}`;

			new FileDropzone({
				target: dropZoneID,
				fileHoverClass: 'entered',
				clickable: true,
				multiple: false,
				forceReplace: false,
				// accept: '',
				unique: true,
				noFolder: true,
				onChange: async function () {
					let files = this.getFiles();
					let containerDropzone = $(dropZoneID);
					await uploadFileOrderLine(orderLineID, files, containerDropzone);
				},
				onLeave: function () {
					$(elem).find(dropZoneID).css('opacity', '1');
				},
				onHover: function () {
					$(elem).find(dropZoneID).css('opacity', '.6');
				},
				onDrop: function () {
					$(elem).find(dropZoneID).css('opacity', '1');
				},
				onInvalid: function (files) {
					console.log(files);
					alert('File invalid');
				},
				beforeAdd: function (files) {
					// console.log({ __beforeAdd: files });
				}
			})
		});

		$('#btnUpdateOrder').on('click', async function () {
			let updateOrderLinePromise = arrOrderLine.map(orderLine => {
				const { orderLineID, file } = orderLine;
				return updateOrderLine({ orderLineID, file });
			})
			await Promise.all(updateOrderLinePromise);
			location.reload();
		});
	
		$(document).on('click', '.btn-remove-file-order-line', function (e) {
			const orderLineID 		= $(this).attr('_orderLineID');
			const containerListFile = $(this).closest('.files');

			arrOrderLine = arrOrderLine.filter(orderLine => orderLine.orderLineID !== orderLineID);
			containerListFile.addClass('d-none');
			$(this).closest('.box-order-line').find('.box-dropzone-file').removeClass('d-none');
			$(this).parent().remove();

			// const orderLineID 	= $(this).attr('_orderLineID');
			// const fileID		= $(this).attr('_fileID');
			// const accept 		= confirm('Bạn có chắc chắn muốn xoá file?');
			// if(!accept) return;

			// if(!orderLineID || !fileID){
			// 	return toastrWarning('Không thể xoá file vui lòng thử reload lại trang')
			// }

			// $.ajax({
			// 	type: "POST",
			// 	url: `<%= CF_ROUTINGS_ORDER.DELETE_FILE_IN_ORDER_LINE %>`,
			// 	data: { orderLineID, fileID },
			// }).done(resp => {
				
			// 	const containerListFile = $(this).closest('.files');
			// 	containerListFile.addClass('d-none');
			// 	$(this).closest('.box-order-line').find('.box-dropzone-file').removeClass('d-none');
			// 	$(this).parent().remove();
			// 	toastrSuccess('Xoá file thành công');
			// }).fail(err => toastrError(err.message))
		});

	});
</script>
