<script>

	const rowProductCart = dataOrderLine => {
		if(!dataOrderLine) return '';

		let listVariantProduct = dataOrderLine.listVariantAndVariantValue;
		let { _id: orderLineID, product, productProperty } = dataOrderLine.infoOrderLine;
		let { _id: variantID, price_at_compare: priceBefore, price: priceAfter } = productProperty || {};
		let percentDiscountValue 	= percentDiscount(priceAfter, priceBefore);
		let htmlProductProperty 	= '';
		let htmlInputProperty 		= '';

		if(productProperty && productProperty.variant_values && productProperty.variant_values.length){
			productProperty.variant_values.map(variantValue => {
				let { name, variant } = variantValue;
				htmlProductProperty += `
					<span> ${variant.name}: ${name} </span>
				`;
			})
		}

		if (listVariantProduct && listVariantProduct.length) {
			listVariantProduct.map(variant => {
				let htmlVariantValue = '';

				variant.listVariantValue.map(variantValue => {
					htmlVariantValue += `
						<option value="${variantValue._id}"> 
							${variantValue.name}
						</option>
					`;
				})

				htmlInputProperty += `
					<div class="row row-input-edit-cart mb-3">
						<div class="col-4 d-flex align-items-center" style="font-size: 14px"> ${variant.variant.name} </div>
						<div class="col-8">
							<select class="form-select scChangeVariant" _productID="${product._id}" _orderLineID="${orderLineID}">
								${htmlVariantValue}
							</select>
						</div>
					</div>
				`;
			})
		}

		return `
			<div class="wrapper-menu-popup-cart__product position-relative d-flex justify-content-between mb-3" _productID="${product._id}" _orderLineID="${orderLineID}">
				<div class="wrapper-menu-popup-cart__product-detail d-flex">
					<img src="${product.avatar && product.avatar.path}" alt="Product" class="img-fluid me-3">
					<div>
						<h6> ${product.name} </h6>
						<div class="list-variant-orderline">
							${htmlProductProperty}
						</div>
						<div class="price-product-popup-cart">
							Giá tiền:
							<span>
								${formatter.format(priceAfter || priceBefore || product.priceAfter || product.priceBefore)}
							</span>
						</div>
						<a href="javascript:void(0)" class="btn-edit-orderline" _orderLineID="${orderLineID}" _productID="${product._id}">Chỉnh sửa</a>
					</div>
				</div>
				<a href="javascript:void(0)" class="btn-remove-cart" _orderLineID="${orderLineID}">
					<img src="/template/hailuu-fe/assets/images/Mask Group 104.svg" alt="" class="img-fluid">
				</a>

				<div class="wrapper-menu-popup-edit-cart position-absolute d-none">
					<h4 class="mb-4">Chỉnh Sửa Sản Phẩm</h4>

					<div class="container-list-variant-product">
						${htmlInputProperty}
					</div>
					<input type="hidden" class="inputVariantID" value="${variantID}">

					<div class="row row-input-edit-cart mb-3">
						<div class="col-4 d-flex align-items-center" style="font-size: 14px">Đơn giá</div>
						<div class="col-8 d-flex justify-content-between px-4">
							<strong class="orderline-price-before">
								${formatter.format(priceBefore || 0)}
							</strong>
							<span>VND</span>
						</div>
					</div>

					<div class="row row-input-edit-cart row-total mb-3">
						<div class="col-4" style="font-size: 15px">
							<b>Thành Tiền</b>
						</div>
						<div class="col-8">
							<strong>
								<span class="orderline-price-after">
									${formatter.format(priceAfter || priceBefore || 0)}
								</span>
								VND
							</strong>
							<div class="status-red ${!priceAfter && 'd-none'}">
								<strike>
									<span class="orderline-price-before">
										${formatter.format(priceBefore || 0)}
									</span>
									VND
								</strike>
								<span>
									(Giảm <span class="orderline-percent-discount">${percentDiscountValue}</span> %)
								</span>
							</div>
						</div>
					</div>

					<div class="d-grid gap-2 d-md-block wrapper-button-edit-cart d-flex">
						<button class="btn btn-primary btn-cancel-update-my-cart">Hủy</button>
						<button class="btn btn-primary btn-common btn-update-cart" _orderLineID="${orderLineID}" style="margin-left: 15px;">
							Cập Nhật
						</button>
					</div>
				</div>

			</div>
		`;
	}

	const rowProductEditCart = dataOrderLine => {
		if(!dataOrderLine) return '';

		let listVariantProduct = dataOrderLine.listVariantAndVariantValue;
		let { _id: orderLineID, product, productProperty } = dataOrderLine.infoOrderLine;
		let htmlInputProperty = '';

		if (listVariantProduct && listVariantProduct.length) {
			listVariantProduct.map(variant => {
				let { variant: infoVariant, listVariantValue } = variant;
				let htmlVariantValue = '';

				let variantSelected = productProperty.variant_values.map(variantValueSelected => variantValueSelected._id.toString());

				listVariantValue.map(variantValue => {
					htmlVariantValue += `
						<option value="${variantValue._id}" ${variantSelected.includes(variantValue._id.toString()) && 'selected'}>
							${variantValue.name}
						</option>
					`;
				})

				htmlInputProperty += `
					<div class="row row-input-edit-cart mb-3">
						<div class="col-4 d-flex align-items-center" style="font-size: 14px"> ${infoVariant.name} </div>
						<div class="col-8">
							<select class="form-select scChangeVariant" _productID="${product._id}" _orderLineID="${orderLineID}">
								${htmlVariantValue}
							</select>
						</div>
					</div>
				`;
			})
		}

		return htmlInputProperty;
	}

	const getListChildVariant = variantValue => {
		return new Promise(resolve => {
			$.ajax({
                url: `/admin/variant/list-variant-value-child/${variantValue}`,
                method: 'GET',
            }).done(resolve)
		})
	}

	const validateCreateAccount = (email, fullname, password) => {
		const invalidBlock 	= $('.invalid-feedback-register');
		const inputsError = [
			'#inputEmailCreateAccount',
			'#inputFullnameCreateAccount',
			'#inputPasswordCreateAccount'
		]

		if(!email && !fullname && !password){
			enableError(inputsError, invalidBlock, 'Bạn cần nhập đầy đủ tất cả các trường');
			return false;
		} else{
			disableError(inputsError, invalidBlock);
		}

		if(!email){
			enableError([inputsError[0]], invalidBlock, 'Email không được để trống');
			return false;
		} else{
			disableError([inputsError[0]], invalidBlock);

			if(!validEmail(email)){
				enableError([inputsError[0]], invalidBlock, 'Email không đúng định dạng');
				return false;
			}
		}

		if(!fullname){
			enableError([inputsError[1]], invalidBlock, 'Bạn cần nhập họ và tên');
			return false;
		} else{
			disableError([inputsError[1]], invalidBlock);
		}

		if(!password){
			enableError([inputsError[2]], invalidBlock, 'Bạn cần nhập mật khẩu');
			return false;
		} else{
			disableError([inputsError[2]], invalidBlock);
		}

		return true;
	}

	const clearInputFormCreateAccount = () => {
		$('#inputEmailCreateAccount').val('');
		$('#inputFullnameCreateAccount').val('');
		$('#inputPasswordCreateAccount').val('');
	}

	const toastrSuccess = (text) => {
		$(".toastr-wrap--success").addClass("show");
		$(".toastr-wrap--content").html(text);
		setTimeout(() => {
			$(".toastr-wrap--success").removeClass("show");
		}, 2000);
	}

	const toastrWarning = (text) => {
		$(".toastr-wrap--warning").addClass("show");
		$(".toastr-wrap--content").html(text);
		setTimeout(() => {
			$(".toastr-wrap--warning").removeClass("show");
		}, 2000);
	}

	const toastrError = (text) => {
		$(".toastr-wrap--error").addClass("show");
		$(".toastr-wrap--content").html(text);
		setTimeout(() => {
			$(".toastr-wrap--error").removeClass("show");
		}, 2000);
	}

	const validateLoginAccount = (email, password) => {
		const invalidBlock 	= $('.invalid-feedback-login');
		const inputsError = [
			'#inputEmailLoginAccount',
			'#inputPasswordLoginAccount'
		]

		if(!email && !password){
			enableError(inputsError, invalidBlock, 'Bạn cần nhập đầy đủ tất cả các trường');
			return false;
		} else{
			disableError(inputsError, invalidBlock);
		}

		if(!email){
			enableError([inputsError[0]], invalidBlock, 'Email không được để trống');
			return false;
		} else{
			disableError([inputsError[0]], invalidBlock);

			if(!validEmail(email)){
				enableError([inputsError[0]], invalidBlock, 'Email không đúng định dạng');
				return false;
			}
		}

		if(!password){
			enableError([inputsError[1]], invalidBlock, 'Bạn cần nhập mật khẩu');
			return false;
		} else{
			disableError([inputsError[1]], invalidBlock);
		}

		return true;
	}

	const clearInputFormLoginAccount = () => {
		$('#inputEmailLoginAccount').val('');
		$('#inputPasswordLoginAccount').val('');
	}

	$("#inputEmailLoginAccount, #inputPasswordLoginAccount").on("keyup", function(){
		if($("#inputEmailLoginAccount").val() &&  $("#inputPasswordLoginAccount").val()){
			$("#btnLoginAccount").removeAttr("disabled")
		}else{
			$("#btnLoginAccount").attr('disabled', 'disabled');
		}
	})

	$("#txtEmalForgotPassword").on("keyup", function(){
		if($("#txtEmalForgotPassword").val()){
			$(".btn-send-email-forgot-password").removeAttr("disabled")
		}else{
			$(".btn-send-email-forgot-password").attr('disabled', 'disabled');
		}
	})

	$("#inputEmailCreateAccount, #inputFullnameCreateAccount, #inputPasswordCreateAccount").on("keyup", function(){
		if($("#inputEmailCreateAccount").val() &&  $("#inputFullnameCreateAccount").val() &&  $("#inputPasswordCreateAccount").val()){
			$("#btnCreateAccount").removeAttr("disabled")
		}else{
			$("#btnCreateAccount").attr('disabled', 'disabled');
		}
	})

	// <% if(!infoUser){%>
	// 	$('#nav-comment-tab').on('click', function () {
	// 		$(".modal-signin").addClass("show");
	// 	})
	// <%}%>

	$('#btnCreateAccount').on('click', function () {
		const email 		= $('#inputEmailCreateAccount').val().trim();
		const fullname 		= $('#inputFullnameCreateAccount').val().trim();
		const password 		= $('#inputPasswordCreateAccount').val().trim();

		if(!validateCreateAccount(email, fullname, password)) return;

		$.ajax({
			type: "POST",
			url: `<%= CF_ROUTINGS_CUSTOMER.REGISTER %>`,
			data: { fullname, email, password }
		}).done(resp => {
			const { error, message } = resp;

			if(error){
				switch (message) {
					case 'email_existed':
						return toastrWarning('Email đã tồn tại');
					case 'params_not_valid':
						return toastrWarning('Bạn cần nhập đầy đủ các trường');
					default:
						return toastrWarning(message);
				}
			}
			toastrSuccess('Đăng ký Thành Công');

			setTimeout(() => {
				clearInputFormCreateAccount();
				$('.modal-signup').removeClass('show');
				$('.modal-signin').addClass('show');
			}, 500);
		}).fail(console.error)
	});

	$('#btnLoginAccount').on('click', function () {
		const email 	= $('#inputEmailLoginAccount').val().trim();
		const password 	= $('#inputPasswordLoginAccount').val().trim();

		if(!validateLoginAccount(email, password)) return;

		$.ajax({
			type: "POST",
			url: `<%= CF_ROUTINGS_CUSTOMER.LOGIN %>`,
			data: { email, password }
		}).done(resp => {
			const { error, message, data } = resp;

			if(error){
				switch (message) {
					case 'email_not_exist':
					case 'password_is_wrong':
						return toastrWarning('Email hoặc mật khẩu không đúng');
					case 'user_blocked':
						return toastrWarning('Tài khoản đã bị khoá');
					case 'user_deleted':
						return toastrWarning('Tài khoản đã bị xoá'); 
					default:
						return toastrWarning(message);
				}
			}

			localStorage.setItem('token_enduser', data.token);
			toastrSuccess('Đăng Nhập Thành Công');
			$('.modal-signin').removeClass('show');
			clearInputFormLoginAccount();

			setTimeout(() => location.reload(), 1000);
		}).fail(err => toastrWarning('Đăng Nhập Thất Bại'))
	});

	$('.btnLogout').on('click', function () {
		localStorage.removeItem('token_enduser');
		location.replace(`<%= CF_ROUTINGS_CUSTOMER.LOGOUT %>`);
	});

	$("#txtSearchHeader").on("keyup", _.debounce(function(e){
		let keyword = $(this).val();
		$('.wrapper-list-result-search').empty();
		if(keyword.length == 0){
			$('.wrapper-list-result-search').append(`
				<h4 class="text-uppercase mb-4">TỪ KHÓA HAY DÙNG</h4>
				<% KEY_WORD.forEach((keyword, index) => { %>
					<a href="javascript:void(0)">
						<p class="keyword-search-product"><%= keyword.name%></p>
					</a>
					<% if (index < KEY_WORD.length -1) { %>
						<hr>
					<% } %>
				<% }) %>
			`);
		}else{
			// Nếu nhấn enter chuyển sang trang bộ lọc
			if(e.keyCode == 13){
				return window.location.href = `/tim-kiem?tu-khoa=${keyword}&hien-thi=1`
			}
			$.ajax({
				url: `/product/search/${keyword}`,
				method: 'GET',
				success: function(resp) {
					if (resp.error){
					}else{
						let listProduct = resp.data;
						let itemProduct = "";
						listProduct.forEach(product => {
							itemProduct += `
								<a href="/san-pham/${product.slug}">
									<p>
										<img src="${product.avatar.path}" alt="" class="img-fluid me-3">
										${product.name }
									</p>
								</a>
							`
						});
						$('.wrapper-list-result-search').append(`
							<h4 class="text-uppercase mb-4">GỢI Ý TÌM KIẾM</h4>
							${itemProduct}
						`);
					}
				},
				error: function(error){
					console.log({ error })
				}
			});
		}
	}, 300));

	$('.btn-search').on('click', function () {
		let keyword = $("#txtSearchHeader").val();
		if(keyword){
			return window.location.href = `/tim-kiem?tu-khoa=${keyword}&hien-thi=1`
		}
	});

	$("body").on("click", ".keyword-search-product",function(){
		let keyword = $(this).text();
		$("#txtSearchHeader").val(keyword);
		$("#txtSearchHeader").keyup();
	})

	<% if(infoUser){ %>
		// $(document).on('click', function (e) {
		// 	const wrapperPopupCart = $('.wrapper-menu-popup-cart');

		// 	console.log(e.target, !wrapperPopupCart.is(e.target), wrapperPopupCart.has(e.target).length)

		// 	if(!wrapperPopupCart.is(e.target) && wrapperPopupCart.has(e.target).length === 0){
		// 		wrapperPopupCart.addClass('d-none');
		// 		$('.btn-popup-cart').removeClass('active');
		// 	}
		// });

		$('.btn-popup-cart').on({
			'click': function(){
				$(this).toggleClass('active');
				$('.wrapper-menu-popup-cart').toggleClass('d-none');
				$('.menu-home-mobile').removeClass('active')
				$('.menu-category-mobile').removeClass('active')
				$('.menu-account-mobile').removeClass('active')
			},
			'focusout': function(){
				const wrapperPopupCart = $('.wrapper-menu-popup-cart');

				if(!wrapperPopupCart.is(":hover")) {
					wrapperPopupCart.addClass('d-none');
					$(this).removeClass('active');
				}
			}
		})

		$('.wrapper-menu-popup-cart').on('focusout', function (e) {
			if(!$(this).is(":hover")) {
				$(this).addClass('d-none');
				$('.btn-popup-cart').removeClass('active');
			}
		})

		$('.wrapper-menu-popup-edit-cart').on('focusout', function () {
			if(!$(this).is(":hover")) {
				$('.wrapper-menu-popup-cart').addClass('d-none');
				$('.btn-popup-cart').removeClass('active');
			}
		})

		// $('.btn-popup-cart').on('click', function(){
		// 	$(this).toggleClass('active');
		// 	$('.wrapper-menu-popup-cart').toggleClass('d-none');
		// 	$('.menu-home-mobile').removeClass('active')
		// 	$('.menu-category-mobile').removeClass('active')
		// 	$('.menu-account-mobile').removeClass('active')
		// })
	<% } else{ %>
		$('.btn-popup-cart').on('click', function(){
			toastrWarning("Vui lòng đăng nhập!");
			$('.menu-home-mobile').removeClass('active')
			$('.menu-category-mobile').removeClass('active')
			$('.menu-account-mobile').removeClass('active')
			setTimeout(() => {
				$('.modal-signin').addClass('show');
			}, 500);
		})
	<%}%>

	$('.back-login').on('click', function(){
		$(".modal-custom").removeClass("show");
		$(".modal-signin").addClass("show");
 	})

	$('.back-press-email-forgot-pass').on('click', function(){
		$(".modal-custom").removeClass("show");
		$(".modal-forgot-password").addClass("show");
	})

	$(document).on('click', '.btn-add-cart', function () {
		<% if(!infoUser){ %>
			return $(".modal-signin").addClass("show");
		<% } %>

		const productID = $(this).attr('_productID');
		const variantID = $(this).attr('_variantID');
		if(!productID) return;

		// Thêm giỏ hàng trong chi tiết sản phẩm
		// if($(this).hasClass('btn-add-cart-product')){

			// let variantOptions 	= [];
			// $(`.txtChangeVariant[_productID=${productID}]`).each((i, elem) => {
			// 	$(elem).val() && (variantOptions[variantOptions.length] = $(elem).val().trim());
			// })

			// if(!variantOptions.length){
			// 	return toastrWarning("Bạn cần chọn thuộc tính cho sản phẩm");
			// }
		// }

		$.ajax({
			type: "POST",
			url: `<%= CF_ROUTINGS_ORDER.ADD_TO_CART %>`,
			data: { productID, variantID }
		}).done(resp => {
			const { error, message, data } = resp;

			if(error){
				switch (message) {
					case 'product_not_exist':
						return toastrWarning('Sản phẩm không tồn tại');
					case 'product_is_exist_in_cart':
						return toastrWarning('Sản phẩm đã tồn tại trong giỏ hàng');
					case 'add_to_cart_failed':
						return toastrWarning('Thêm sản phẩm vào giỏ hàng thất bại');
					default:
						return toastrWarning(`Không thể thêm sản phẩm vào giỏ hàng: ${message}`);
				}
			}

			// Cộng thêm số lượng sản phẩm trong giỏ hàng
			const totalProductInCart = +$('.wrapper-cart > div').text().trim() + 1;
			$('.wrapper-cart > div').removeClass('d-none').text(totalProductInCart);
			$('.wrapper-menu-popup-cart > h4 > span').text(totalProductInCart);
			$('.container-header-bottom .btn-popup-cart .rounded-circle').text(totalProductInCart);
			$('.wrapper-menu-popup-cart .container-list-product-cart').prepend(rowProductCart(data));
			$('.nothing-cart').addClass('d-none');
			toastrSuccess('Thêm thành công vào giỏ hàng');
		}).fail(err => toastrWarning("Vui lòng đăng nhập để sử dụng chức năng này!"))
	});

	$(document).on('click', '.btn-update-cart', function () {
		const orderLineID 	= $(this).attr('_orderLineID');
		const popupEdit 	= $(`.wrapper-menu-popup-cart__product[_orderLineID=${orderLineID}]`);
		const variantID		= popupEdit.find('.wrapper-menu-popup-edit-cart .inputVariantID').val();

		if(!variantID || !orderLineID) return toastrWarning("Sản phẩm hiện không có những tuỳ chọn này!");

		$.ajax({
			url: `<%= CF_ROUTINGS_ORDER.UPDATE_ORDER_LINE %>`,
			method: 'POST',
			data: { orderLineID, variantID }
		}).done(resp => {
			const { error, message, data } = resp;

			if(error){
				return toastrError("Cập nhật giỏ hàng thất bại!");
			}

			const wrapperPopupCart = $(this).closest('.wrapper-menu-popup-cart__product');
			const priceProductCart = popupEdit.find('.wrapper-menu-popup-edit-cart .orderline-price-after').text().trim();
			const { price_at_compare: priceBefore, price: priceAfter, variant_values } = data.productProperty;

			if(variant_values && variant_values.length){
				let htmlListVariantOrderLine = '';

				// Hiển thị tối đa 2 thuộc tính đã chọn trong giỏ hàng (> 2 => lỗi design)
				variant_values.map((variantValue, index) => {

					// <!--  <2 để show field chất lượng => fix lỗi design -->
					if(index < 1){
						let { name, variant } = variantValue;
						htmlListVariantOrderLine += `<span> ${variant.name}: ${name} </span>`
					}
				})

				wrapperPopupCart.find('.list-variant-orderline').html(htmlListVariantOrderLine);
			}

			// start close popup cart
			$(this).toggleClass('active');
			$('.wrapper-menu-popup-cart').toggleClass('d-none');
			$('.menu-home-mobile').removeClass('active')
			$('.menu-category-mobile').removeClass('active')
			$('.menu-account-mobile').removeClass('active')
			// end close popup cart

			$(this).closest('.wrapper-menu-popup-edit-cart').addClass('d-none');

			wrapperPopupCart
				.find('.wrapper-menu-popup-cart__product-detail .price-product-popup-cart span')
				.text(formatter.format(priceAfter || priceBefore))

			wrapperPopupCart
				.find('.wrapper-menu-popup-cart__product-detail a')
				.text('Chỉnh sửa')
				.removeClass('active');

			toastrSuccess('Cập nhật giỏ hàng thành công');
		}).fail(err => toastrError(err.message))
	});

	$(document).on('click', '.btn-remove-cart', function () {
		const orderLineID 	= $(this).attr('_orderLineID');
		const accept		= confirm('Bạn có chắc chắn muốn xoá sản phẩm khỏi giỏ hàng?');
		if(!accept || !orderLineID) return;

		$.ajax({
			type: "GET",
			url: `<%= CF_ROUTINGS_ORDER.DELETE_ORDER_LINE %>?orderLineID=${orderLineID}`,
		}).done(resp => {
			const { error, message } = resp;

			if(error){
				toastrError(`Xoá thất bại: ${message}`);
			}

			// Trừ số lượng sản phẩm trong giỏ hàng
			const totalProductInCart = +$('.wrapper-cart > div').text().trim() - 1;
			$('.wrapper-cart > div').removeClass('d-none').text(totalProductInCart);
			$('.wrapper-menu-popup-cart > h4 > span').text(totalProductInCart);
			$('.container-header-bottom .btn-popup-cart .rounded-circle').text(totalProductInCart);

			$(this).closest('.wrapper-menu-popup-cart__product').remove();
		}).fail(err => toastrError(err.message))
	});

	$(document).on('click', '.btn-edit-orderline', function () {
		const orderLineID 	= $(this).attr('_orderLineID');
		const productID 	= $(this).attr('_productID');

		$.ajax({
			type: 'GET',
			url: `<%= CF_ROUTINGS_ORDER.INFO_ORDER_LINE %>?orderLineID=${orderLineID}`,
		}).done(resp => {
			// console.log({ __BTN_EDIT_ORDERLINE: resp });
			const { error, message, data } = resp;

			if(error){
				return toastrWarning(message, 'THÔNG BÁO');
			}

			let listVariantProduct = data.listVariantAndVariantValue;
			let { product, productProperty } = data.infoOrderLine;
			let { price_at_compare: priceBefore, price: priceAfter } = productProperty;

			const wrapperEditCart 		= $(`.wrapper-menu-popup-edit-cart[_orderLineID=${orderLineID}]`);
			const percentDiscountValue 	= percentDiscount(priceAfter, priceBefore);

			if(priceAfter){
				wrapperEditCart.find('.row-input-edit-cart .orderline-price-after').text(formatter.format(priceAfter));
				wrapperEditCart.find('.row-input-edit-cart .orderline-price-before').text(formatter.format(priceBefore));
				wrapperEditCart.find('.row-input-edit-cart .orderline-percent-discount').text(percentDiscountValue);
				wrapperEditCart
					.find('.row-total .orderline-price-before')
					.text(formatter.format(priceBefore))
					.closest('.status-red')
					.removeClass('d-none');
			} else{
				wrapperEditCart.find('.row-input-edit-cart .orderline-price-before').text(formatter.format(priceBefore));
				wrapperEditCart.find('.row-input-edit-cart .orderline-price-after').text(formatter.format(priceBefore));
				wrapperEditCart.find('.row-total .status-red').addClass('d-none');
			}

			wrapperEditCart.find('.container-list-variant-product').html(rowProductEditCart(data));
		}).fail(err => toastrError(err.message, 'THÔNG BÁO'))
	});

	$(document).on('change', '.scChangeVariant', async function () {
		let orderLineID 	= $(this).attr('_orderLineID');
		let productID 		= $(this).attr('_productID');
		let parentID 		= $(this).val();
		let variantOptions 	= [];

		if(parentID){
			let { data: listVariantChild } = await getListChildVariant(parentID);

			if(listVariantChild && listVariantChild.length){
				let selectVariantNext = $(this).closest('.row-input-edit-cart').next('.row-input-edit-cart');
				let htmlVariantNext = '';

				listVariantChild.forEach(variant => {
					let { _id, name } = variant.variantValue;
					htmlVariantNext += `<option value="${_id}">${name}</option>`;
				});

				selectVariantNext.find('.scChangeVariant').html(htmlVariantNext);
			}
		}

		$(`.scChangeVariant[_orderLineID=${orderLineID}]`).each((i, elem) => {
			// console.log({ __VALUE: $(elem).val().trim(), length: $(`.scChangeVariant[_orderLineID=${orderLineID}]`) });
			variantOptions[variantOptions.length] = $(elem).val().trim();
		})

		$.ajax({
			url: `<%= CF_ROUTINGS_ACCOUNT.INFO_PRODUCT_VARIANT_VALUE %>`,
			method: 'POST',
			data: { variant_values: variantOptions }
		}).done(resp => {
			const { error, message, data } = resp;
			const popupEdit = $(`.wrapper-menu-popup-cart__product[_orderLineID=${orderLineID}]`).find('.wrapper-menu-popup-edit-cart');

			if(error) {
				popupEdit.find('.inputVariantID').val('');
				popupEdit.find('.orderline-price-before').text(0);
				popupEdit.find('.orderline-price-after').text(0);
				popupEdit.find('.orderline-percent-discount').closest('.status-red').addClass('d-none');
				return;
			};

			const { _id: productValueID, price_at_compare: priceBefore, price: priceAfter } = data;

			popupEdit.find('.orderline-price-before').text(formatter.format(priceBefore));
			popupEdit.find('.inputVariantID').val(productValueID);

			if(priceAfter){
				popupEdit.find('.orderline-price-after').text(formatter.format(priceAfter));
				popupEdit.find('.orderline-percent-discount').text(percentDiscount(priceBefore, priceAfter));
				popupEdit.find('.orderline-percent-discount').closest('.status-red').removeClass('d-none');
			} else{
				popupEdit.find('.orderline-price-after').text(formatter.format(priceBefore));
				popupEdit.find('.orderline-percent-discount').closest('.status-red').addClass('d-none');
			}

		}).fail(err => toastrError(err.message))
	});

	$("body").on("click", ".btn-send-email-forgot-password",function(){
		let email = $("#txtEmalForgotPassword").val();

		if(!checkEmail(email))
			return toastrWarning("Email không hợp lệ!")
		$.ajax({
			url: `/recover-password`,
			method: 'POST',
			data: { email }, 
			success: function(resp) {
				if (resp.error){
					return toastrWarning("Email không tồn tại trên hệ thống.")
				}else{
					toastrSuccess("Gửi mail thành công")
					$(".modal-send-otp").addClass("show");
					$(".modal-forgot-password").removeClass("show");
					$(".btnConfirmCodeReset").attr("email", email);
					$(".btn-send-email-forgot-password-again").attr("email", email);
				}
			},
			error: function(error){
				console.log({ error })
			}
		});
	})

	$("body").on("click", ".btn-send-email-forgot-password-again",function(){
		let email = $(this).attr("email");
		if(!checkEmail(email))
			return toastrWarning("Email không hợp lệ!")
		$.ajax({
			url: `/recover-password`,
			method: 'POST',
			data: { email }, 
			success: function(resp) {
				if (resp.error){
					return toastrWarning("Email không tồn tại trên hệ thống!")
				}else{
					return toastrSuccess("Gửi mail thành công")
				}
			},
			error: function(error){
				console.log({ error })
			}
		});
	})

	$("body").on("click", ".btnConfirmCodeReset",function(){
		let email = $(this).attr("email");
		let code1 = $(".number-otp-1").val();
		let code2 = $(".number-otp-2").val();
		let code3 = $(".number-otp-3").val();
		let code4 = $(".number-otp-4").val();
		let code5 = $(".number-otp-5").val();
		let code6 = $(".number-otp-6").val();
		if(code1 == "" || code2 =="" || code3 == "" || code4 == "" || code5 == "" || code6 == "")
			return toastrWarning("Vui lòng nhập đầy đủ code")

		let code = 	`${code1}${code2}${code3}${code4}${code5}${code6}`;
		$.ajax({
			url: `/change-password`,
			method: `POST`,
			data: { email, code },
			success: function(resp) {
				if(resp.error) {
					return toastrWarning("Mã không hợp lệ hoặc quá thời gian")
				}
				$(".modal-create-new-password").addClass("show");
				$(".modal-send-otp").removeClass("show");
				$(".btnConfimUpdatePassword").attr("email", email);
				$(".btnConfimUpdatePassword").attr("code", code);
			}, error: function(err) {
				return toastrWarning("Mã không hợp lệ hoặc quá thời gian")
			}
		})
	})

	$("body").on("click", ".btnConfimUpdatePassword",function(){
		let password = $("#txtNewPassword").val();
		let confirmPassword = $("#txtNewPasswordConfirm").val();
		if(password != confirmPassword)
			return toastrWarning("Mật khẩu xác nhận không đúng!")
		let code = $(this).attr("code");
		let email = $(this).attr("email");
		$.ajax({
			url: `/update-pass-recover`,
			method: 'POST',
			data: { code, email, password },
			success: function(resp) {
				if (resp.error){
					return toastrError("Cập nhật mật khẩu thất bại")
				}else{
					toastrSuccess("Cập nhật mật khẩu thành công")
					$(".modal-create-new-password").removeClass("show");
					$(".modal-signin").addClass("show");
				}
			},
			error: function(error){
				console.log({ error })
			}
		});

	})

	$("body").on("click", ".btnShowMenuServiceChilds",function(){

		var scrollPosition = [
			self.pageXOffset || document.documentElement.scrollLeft || document.body.scrollLeft,
			self.pageYOffset || document.documentElement.scrollTop  || document.body.scrollTop
		];
			
		let menuID = $(this).attr("_menuID");

		var html = $('html'); // it would make more sense to apply this to body, but IE7 won't have that
		html.data('scroll-position', scrollPosition);
		html.data('previous-overflow', html.css('overflow'));
		html.css('overflow', 'hidden');
		window.scrollTo(scrollPosition[0], scrollPosition[1]);

		$.ajax({
			url: `/info-menu-child-and-product/${menuID}`,
			method: 'GET',
			success: function(resp) {
				if (resp.error){
					toastrError("Thất Bại")
				}else{
					let { name, slug, description, image, products } = resp.data;
					$("#imageMenuChild").attr("src", image.path)
					$("#titleMenuChilds").text(name);
					$("#descriptionMenuChilds").text(description);
					$(".container-list-product-childs").empty();

					products.forEach(product => {
						let descriptionText = "";
						if(product.description.length > 70){
							descriptionText = product.description.substring(1, 70) + "...";
						}else{
							descriptionText = product.description;
						}
						$(".container-list-product-childs").append(`
							<div onclick="window.location='/san-pham/${product.slug}'" class="d-flex box-child-service" style="cursor: pointer">
								<img src="${product.avatar.path}" alt="Product" class="img-fluid me-3" />
								<div class="wrapper-info-service">
									<h6 class="text-capitalize"><a href="/san-pham/${product.slug}" style="color: #212529">${product.name}</a></h6>
									<span class="text-capitalize text-capitalize__limit">
										${descriptionText}
									</span>
									<strong>${product.priceBefore.toLocaleString('vi-VN')} Đ</strong>
								</div>
							</div>
						`);
					});

					$(".modal-child-service").addClass("show")
				}
			},
			error: function(error){
				console.log({ error })
			}
		});
	})
	
</script>
