<script>
	$(document).ready(function () {
        // Script cho trang chủ
        $('.btnShowProductByMenu').on('click', function () {
            $(".btnShowProductByMenu").removeClass("active");
            $(this).addClass("active");
            let menuID = $(this).attr("_menuID");
			$(".container-all-product-or-menu-product").empty();

			$.ajax({
                url: `/product/list-product-by-menu-parent/${menuID}`,
                method: 'GET',
                success: function(resp) {
                    if (resp.error){
                        toastrError('Thất Bại');
                    }else{
						let slugMenu = resp.slugMenu;
						$(".btnSeeMoreService").attr("href", `/danh-muc/${slugMenu}?hien-thi=1`)

                        //appen data
                        let listAllProduct = resp.data;
                        listAllProduct.forEach(product => {
                            let item;
                            if (!product.priceAfter) {
                                item = `
									<div class="new-product-item product-item-card d-flex justify-content-center wrapper-item-card-common wrapper-item-card-common__service col-xs-15 col-lg-15 col-md-15 col-sm-15 col-6">
										<div class="card wrapper-card">
											<a href="/san-pham/${product.slug}"> 
												<img src="${product.avatar.path}" class="card-img-top img-fluid" alt="...">
											</a>
											<div class="card-body">
												<h5 class="card-title">
													<a href="/san-pham/${product.slug}" style="color: #212529;"> 
														${product.name}
													</a>
												</h5>
												<p class="card-price">
													<span class="card-price-text">${product.priceBefore.toLocaleString('vi-VN', {style : 'currency', currency : 'VND'})}</span>
												</p>
												<div class="d-grid gap-2">
													<a href="javascript:void(0)" class="btn btn-primary btn-add-cart" _productID="${product._id}">
														Thêm vào giỏ
													</a>
												</div>
											</div>
										</div>
									</div>`;
                            }else{ 
                                let itemFlasale = "";
                                if (product.flashSale){
                                    itemFlasale = `
                                        <div class="flash-sale-card" style="z-index: 1;">
                                            <img src="./template/hailuu-fe/assets/images/Group 18100.svg" alt="Flash - sale">
                                        </div>
                                    `;
                                }
                                item = `
									<div class="new-product-item product-item-card d-flex justify-content-center wrapper-item-card-common wrapper-item-card-common__service col-xs-15 col-lg-15 col-md-15 col-sm-15 col-6">
										<div class="card wrapper-card">
											<a href="/san-pham/${product.slug}" style="position: relative;">
												<img src="${product.avatar.path}" class="card-img-top img-fluid" alt="...">
												${itemFlasale}
												<div class="discount-card">
													<span>-${percentDiscount(product.priceBefore, product.priceAfter)} %</span>
													<img src="/template/hailuu-fe/assets/images/Rectangle 20506.png" alt="Discount">
												</div>
											</a>
										
											<div class="card-body">
												<h5 class="card-title">
													<a href="/san-pham/${product.slug}" style="color: #212529;"> 
														${product.name}
													</a>
												</h5>
												<p class="card-price">
													<span class="card-price-text">${product.priceAfter.toLocaleString('vi-VN', {style : 'currency', currency : 'VND'})}</span>
													<span class="card-cost-text">
														<strike>${product.priceBefore.toLocaleString('vi-VN', {style : 'currency', currency : 'VND'})}</strike>
													</span>
												</p>
												<div class="d-grid gap-2">
													<a href="javascript:void(0)" class="btn btn-primary btn-add-cart" _productID="${product._id}">
														Thêm vào giỏ
													</a>
												</div>
											</div>
										</div>
									</div>`;
                            }
                            $(".container-all-product-or-menu-product").append(item);
                        })

						if(listAllProduct.length >= 4){
							$('.container-all-product-or-menu-product').addClass('justify-content-between');
						} else{
							$('.container-all-product-or-menu-product').removeClass('justify-content-between');
						}
                    }
                },
                error: function(error){
                    console.log({ error })
                }
            });
        })

		$('.product-favorite-tab-item').on('click', function () {
			let type = $(this).attr("_type");
			$(".product-favorite-tab-item").removeClass("active");
			$(this).addClass("active");
			$(".btn-see-other-service-backend").attr("href", `/danh-muc/yeu-thich?hien-thi=1&type=${type}`)
			$(".container-list-product-favorite").empty();

			$.ajax({
				url: `/get-product-favorite-by-type?type=${type}`,
				method: 'GET',
				success: function(resp) {
					if (resp.error){
					}else{
                        //appen data
                        let listAllProduct = resp.data.listData;
                        listAllProduct.forEach(product => {
                            let item;
                            if (!product.priceAfter) {
                                item = `
									<div class="new-product-item product-item-card d-flex justify-content-center wrapper-item-card-common wrapper-item-card-common__service col-xs-15 col-lg-15 col-md-15 col-sm-15 col-6">
										<div class="card wrapper-card">
											<a href="/san-pham/${product.slug}"> 
												<img src="${product.avatar.path}" class="card-img-top img-fluid" alt="...">
											</a>
											<div class="card-body">
												<h5 class="card-title">
													<a href="/san-pham/${product.slug}" style="color: #212529;"> 
														${product.name}
													</a>
												</h5>
												<p class="card-price">
													<span class="card-price-text">${product.priceBefore.toLocaleString('vi-VN', {style : 'currency', currency : 'VND'})}</span>
												</p>
												<div class="d-grid gap-2">
													<a href="javascript:void(0)" class="btn btn-primary btn-add-cart" _productID="${product._id}">
														Thêm vào giỏ
													</a>
												</div>
											</div>
										</div>
									</div>`;
                            }else{ 
                                let itemFlasale = "";
                                if (product.flashSale){
                                    itemFlasale = `
                                        <div class="flash-sale-card" style="z-index: 1;">
                                            <img src="./template/hailuu-fe/assets/images/Group 18100.svg" alt="Flash - sale">
                                        </div>
                                    `;
                                }
                                item = `
									<div class="new-product-item product-item-card d-flex justify-content-center wrapper-item-card-common wrapper-item-card-common__service col-xs-15 col-lg-15 col-md-15 col-sm-15 col-6">
										<div class="card wrapper-card">
											<a href="/san-pham/${product.slug}" style="position: relative">
												<img src="${product.avatar.path}" class="card-img-top img-fluid" alt="...">
												${itemFlasale}
												<div class="discount-card">
													<span>-${percentDiscount(product.priceBefore, product.priceAfter)} %</span>
													<img src="/template/hailuu-fe/assets/images/Rectangle 20506.png" alt="Discount">
												</div>
											</a>
											
											<div class="card-body">
												<h5 class="card-title">
													<a href="/san-pham/${product.slug}" style="color: #212529;"> 
														${product.name}
													</a>
												</h5>
												<p class="card-price">
													<span class="card-price-text">${product.priceAfter.toLocaleString('vi-VN', {style : 'currency', currency : 'VND'})}</span>
													<span class="card-cost-text">
														<strike>${product.priceBefore.toLocaleString('vi-VN', {style : 'currency', currency : 'VND'})}</strike>
													</span>
												</p>
												<div class="d-grid gap-2">
													<a href="javascript:void(0)" class="btn btn-primary btn-add-cart" _productID="${product._id}">
														Thêm vào giỏ
													</a>
												</div>
											</div>
										</div>
									</div>`;
                            }
                            $(".container-list-product-favorite").append(item);
						})
					}
				},
				error: function(error){
					console.log({ error })
				}
			});
		})

		// $(document).on('click', '.btn-toggle-menu-filter', function (e) {
		// 	e.preventDefault();
		// 	let isShow = $(this).attr('isShow');
			
		// 	if(isShow == 1) {
		// 		$(this).attr('isShow', 2)
		// 		$('.dropdown-menu-filter').css('display', 'block')
		// 		$('.btn-toggle-menu-filter img').css('transform', 'rotate(180deg)')
		// 		$(this).addClass('btn-toggle-menu-filter_close')
		// 	} else {
		// 		$(this).attr('isShow', 1)
		// 		$('.dropdown-menu-filter').hide()
		// 		$(this).removeClass('btn-toggle-menu-filter_close')
		// 		$('.btn-toggle-menu-filter img').css('transform', 'rotate(0)')
		// 	}
			
		// });
 

		// $('body').on('click',  function () {
		// 	$(this).attr('isShow', 1);
		// 	$('.dropdown-menu-filter').css('display', 'none');
		// 	$('.btn-toggle-menu-filter img').css('transform', 'rotate(0)')
		// })
		
 })
</script>