<script>
    $(document).ready(function () {

        let indexAvaCommentLink = 1;
        $(".changeVariantValueParent").on("click", function(){
            $(".changeVariantValueParent").removeClass("active");
            $(this).addClass("active");
            let variantValue = $(this).attr("_variantvalue");
            $.ajax({
                url: `/admin/variant/list-variant-value-child/${variantValue}`,
                method: 'GET',
                success: function(resp) {
                    if (resp.error){
                        // toastr.error('Thất Bại', 'Thông báo');
                    }else{
                        let listData = resp.data;
                        let itemVariantValueFirst = listData[0]; 
                        $(".list-variant-value-childs").empty();
                        $(".list-variant-value-childs").attr("_parent", variantValue);
                        listData.forEach(element => {
                            $(".list-variant-value-childs").append(`
                                <option value="${element.variantValue._id}">${element.variantValue.name}</option>
                            `)
                        });

                        $(".list-variant-value-childs").trigger("change");
                    }
                },
                error: function(error){
                    console.log({ error })
                }
            });
        });

        $(".changeVariantValueTypeCombobox").on("change", function(){
            let variantValue = $(this).val();
            $.ajax({
                url: `/admin/variant/list-variant-value-child/${variantValue}`,
                method: 'GET',
                success: function(resp) {
                    if (resp.error){
                        // toastr.error('Thất Bại', 'Thông báo');
                    }else{
                        let listData = resp.data;
                        let itemVariantValueFirst = listData[0]; 
                        $(".list-variant-value-childs").eq(1).empty();
                        $(".list-variant-value-childs").eq(1).attr("_parent", variantValue);
                        listData.forEach(element => {
                            $(".list-variant-value-childs").eq(1).append(`
                                <option value="${element.variantValue._id}">${element.variantValue.name}</option>
                            `)
                        });
                        $(".list-variant-value-childs").eq(1).trigger("change");
                    }
                },
                error: function(error){
                    console.log({ error })
                }
            });
        });

        $(".list-variant-value-childs").on("change", function(){
            let variantValue = $(this).val();
            let parent = $(this).attr("_parent");
            if(!parent) return;
            // $(".wrapper-product-amount").empty();
            // $(".wrapper-product-amount").append(`
            //     <img src="/template/hailuu-fe/assets/images/Group 13217.svg" alt="girl">
            // `);

            $.ajax({
                url: `<%= CF_ROUTINGS_ACCOUNT.INFO_PRODUCT_VARIANT_VALUE%>`,
                method: 'POST',
                data: { variant_values: [parent, variantValue]},
                success: function(resp) {
                    
                    if (resp.error){
                        // toastr.error('Thất Bại', 'Thông báo');
                    }else{
                        let { _id, price_at_compare: priceBefore, price: priceAfter, product: productID } = resp.data;
                        let itemPrice;

                        if (priceAfter == 0 || priceAfter == null) { 
                            itemPrice = `<span class="me-4">${priceBefore.toLocaleString('vi-VN', {style : 'currency', currency : 'VND'})}</span>`
                        } else{
                            itemPrice = `
                                <span class="me-4">${priceAfter.toLocaleString('vi-VN', {style : 'currency', currency : 'VND'})}</span>
                                <span>
                                    <strike>${priceBefore.toLocaleString('vi-VN', {style : 'currency', currency : 'VND'})}</strike>
                                    -${percentDiscount(priceBefore, priceAfter)}%
                                </span>
                            `
                        }
                        $(".detail-price-backend").empty();
                        $(".detail-price-backend").append(`
                            ${itemPrice}
                        `)
                        // $(".wrapper-product-amount").append(`
                        //     <div class="detail-product-price text-start mt-4">
                        //         <div>Tổng tiền in ấn</div>
                        //         <div class="detail-price">
                        //         ${itemPrice}
                        //         </div>
                        //     </div>
                        //     <div class="d-grid gap-2 mt-3">
                        //         <button class="btn btn-primary btn-add-cart btn-add-cart-product" _productID="${productID}">
                        //             Thêm Vào Giỏ Hàng
                        //             <img src="/template/hailuu-fe/assets/images/Mask Group 101.svg" alt="Store Icon" class="ms-1">
                        //         </button>
                        //     </div>
                        // `);

						$('.btn-add-cart-product').attr('_variantID', _id);
                    }
                },
                error: function(error){
                    console.log({ error })
                }
            });
        })

        // Xử lý change variant value
        $(".changeVariantValueParent").eq(0).trigger("click");     
        $(".changeVariantValueTypeCombobox").trigger("change");     

        let starRatingControl = new StarRating('.star-rating-comment', {
			tooltip: false,
		});

        function htmlRowComment(infoComment) {
			let totalStar = infoComment.star || 0;
			let htmlStar = '';

			for( let index = 0; index < totalStar; index++) {
				htmlStar += `<img src="/template/hailuu-fe/assets/images/start-favorite.svg" alt="Star" class="img-fluit">`
			}

			for( let index = 0; index < 5 - totalStar; index++) {
				htmlStar += `<img src="/template/hailuu-fe/assets/images/start-favorite-outline.svg" alt="Star" class="img-fluid">`
			}

			return `
				<div class="row wrapper-comment">
					<div class="col-12 col-sm-10 d-flex">
						<img src="/template/hailuu-fe/assets/images/photo-1542909168-82c3e7fdca5c.png" alt="People" class="img-fluid me-3 ava-img-comment">
						<div class="wrapper-comment__content mt-4">
							<div class="d-flex">
								<h6>${infoComment.fullname}</h6>
								<div class="group-star d-flex ms-2">
									${htmlStar}
								</div>
							</div>
							<div class="date-comment">
								${moment(infoComment.createAt).format('DD/MM/YYYY')}
							</div>
							<p>${infoComment.content}</p>
						</div>
					</div>
					<div class="col-12 col-sm-2 mt-3">
						${moment(infoComment.createAt).format('DD/MM/YYYY')}
					</div>
					<div class="d-flex justify-content-end" style="margin-top: -15px;">
						<hr style="width: 90%;">
					</div>
				</div>
			`;
		}
        
        function htmlRowCommentLink(infoComment) {
			let totalStar = infoComment.star || 0;
			let htmlStar = '';

			for( let index = 0; index < totalStar; index++) {
				htmlStar += `<img src="/template/hailuu-fe/assets/images/start-favorite.svg" alt="Star" class="img-fluit">`
			}

			for( let index = 0; index < 5 - totalStar; index++) {
				htmlStar += `<img src="/template/hailuu-fe/assets/images/start-favorite-outline.svg" alt="Star" class="img-fluid">`
			}

            let imgAva = ""
			if (indexAvaCommentLink < 6) { 
				imgAva = `<img src="/template/hailuu-fe/assets/images/ava_${indexAvaCommentLink}.svg" alt="" class="img-fluid me-3 ava-img-comment">`
				indexAvaCommentLink ++  
			} else { 
				indexAvaCommentLink = 1;  
				imgAva = `<img src="/template/hailuu-fe/assets/images/ava_${indexAvaCommentLink}.svg" alt="" class="img-fluid me-3 ava-img-comment">`
				indexAvaCommentLink ++  
			}  

			return `
				<div class="row wrapper-comment">
					<div class="col-12 col-sm-10 d-flex">
                        ${imgAva}
						<div class="wrapper-comment__content mt-4">
							<div class="d-flex">
								<h6>${infoComment.fullname}</h6>
								<div class="group-star d-flex ms-2">
									${htmlStar}
								</div>
							</div>
							<div class="date-comment">
								${moment(infoComment.createAt).format('DD/MM/YYYY')}
							</div>
							<p>${infoComment.content}</p>
						</div>
					</div>
					<div class="col-12 col-sm-2 mt-3">
						${moment(infoComment.createAt).format('DD/MM/YYYY')}
					</div>
					<div class="d-flex justify-content-end" style="margin-top: -15px;">
						<hr style="width: 90%;">
					</div>
				</div>
			`;
		}
        
        $(".txtChangeVariant").on("change", function(){
            let productID = $(this).attr("_productID");
			let variantOptions 	= [];

			$(`.txtChangeVariant[_productID=${productID}]`).each((i, elem) => {
				$(elem).val() && (variantOptions[variantOptions.length] = $(elem).val().trim());
			})

            // $(".wrapper-product-amount").empty();
            // $(".wrapper-product-amount").append(`
            //     <img src="/template/hailuu-fe/assets/images/Group 13217.svg" alt="girl">
            // `);

            $.ajax({
                url: "/get-price-product",
                method: 'POST',
                data: { productID, variantOptions },
                success: function(resp) {
                    if (resp.error){
                        // return toastrError("Thất Bại");
                    } else{
						let { _id, priceBefore, priceAfter } = resp.data;

                        let itemPrice;
                        if (priceAfter == 0 || priceAfter == null) { 
                            itemPrice = `<span class="me-4">${priceBefore.toLocaleString('vi-VN', {style : 'currency', currency : 'VND'})}</span>`
                        } else{
                            itemPrice = `
                                <span class="me-4">${priceAfter.toLocaleString('vi-VN', {style : 'currency', currency : 'VND'})}</span>
                                <span>
                                    <strike>${priceBefore.toLocaleString('vi-VN', {style : 'currency', currency : 'VND'})}</strike>
                                    -${percentDiscount(priceBefore, priceAfter)}%
                                </span>
                            `
                        }
                        $(".detail-price-backend").empty();
                        $(".detail-price-backend").append(`
                            ${itemPrice}
                        `)
                        // $(".wrapper-product-amount").append(`
                        //     <div class="detail-product-price text-start mt-4">
                        //         <div>Tổng tiền in ấn</div>
                        //         <div class="detail-price">
                        //         ${itemPrice}
                        //         </div>
                        //     </div>
                        //     <div class="d-grid gap-2 mt-3">
                        //         <button class="btn btn-primary btn-add-cart btn-add-cart-product" _productID="${productID}">
                        //             Thêm Vào Giỏ Hàng
                        //             <img src="/template/hailuu-fe/assets/images/Mask Group 101.svg" alt="Store Icon" class="ms-1">
                        //         </button>
                        //     </div>
                        // `);
						$('.btn-add-cart-product').attr('_variantID', _id);
                    }
                },
                error: function(error){
                    console.log({ error })
                }
            });
        })
        
        $(".btnSoMatIn").on("click", function(){
            $(".property-1 .btnSoMatIn").removeClass("active");
            $(this).addClass("active");
        }) 

        $(".btn-send-comment").on("click", function(){
            let productID = $(this).attr("_idproduct");
            let indexAvaComment = Number($(this).attr("_indexAvaComment"));
            let fullname = $("#txtFulllnameComment").val();
            let email = $("#txtEmailComment").val();
            let content = $("#txtContentComment").val();
            let star = $(".star-rating").val();

            if(!fullname)
                return toastrWarning("Vui lòng nhập họ tên");
            if(!email)
                return toastrWarning("Vui lòng nhập email");
            if(!content)
                return toastrWarning("Vui lòng nhập nội dung");
            if(!star)
                return toastrWarning("Vui lòng nhập số sao đánh gia");
                
            if(!checkEmail(email))
                return toastrWarning("Email không đúng định dạng");

            $.ajax({
                url: `<%= CF_ROUTINGS_PUBLIC.ADD_COMMENT%>`,
                method: 'POST',
                data: { fullname, email, content, star, productID },
                success: function(resp) {
                    if (resp.error){
                        // return toastrError("Thất Bại");
                    }else{
                        toastrSuccess("Bình luận của bạn đã được hệ thống ghi nhận");
                        // $("#txtFulllnameComment").val("");
                        // $("#txtEmailComment").val("");
                        $("#txtContentComment").val("");

                        let starHtml = "";

                        for (let index = 0; index < star; index++) {
                            starHtml += `<img src="/template/hailuu-fe/assets/images/start-favorite.svg" alt="Star" class="img-fluid">`;
                        }

                        for( let index = 0; index < 5 - star; index++) {
                            starHtml += `<img src="/template/hailuu-fe/assets/images/start-favorite-outline.svg" alt="Star" class="img-fluid">`
                        }

                        $(".container-list-comment").prepend(`
                            <div class="row wrapper-comment">
                                <div class="col-12 col-sm-10 d-flex">
                                    <img src="/template/hailuu-fe/assets/images/ava_${indexAvaComment}.svg" alt="" class="img-fluid me-3 ava-img-comment">
                                    <div class="wrapper-comment__content mt-4">
                                        <div class="d-flex">
                                            <h6>${fullname}</h6>
                                            <div class="group-star d-flex ms-2">
                                                ${starHtml}
                                            </div>
                                        </div>
                                        <div class="date-comment">08/05/2021</div>
                                        <p>
                                            ${content}
                                        </p>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-2 mt-3">
                                    Vừa xong
                                </div>
                                <div class="d-flex justify-content-end" style="margin-top: -15px;">
                                    <hr style="width: 90%;">
                                </div>
                            </div>
                        `);
                    }
                },
                error: function(error){
                    console.log({ error })
                }
            }).done(function(){
                $.ajax({
                    url: `/comment/list-comment-rating`,
                    method: 'post',
                    data: { productID },
                    success: function(resp) {
                        if (resp.error){
                            toastr.error('Thất Bại', 'Thông báo');
                        }else{
                            let listCommentRating = resp.data;
                            let amountStart = 0
                            let amountComment = listCommentRating.length;
                            let amout1Star = 0;
                            let amout2Star = 0;
                            let amout3Star = 0;
                            let amout4Star = 0;
                            let amout5Star = 0;
                            listCommentRating.forEach(comment => {
                                amountStart +=  comment.star;
                                if(comment.star == 1 ){
                                    amout1Star += 1
                                }
                                if(comment.star == 2 ){
                                    amout2Star += 1
                                }
                                if(comment.star == 3 ){
                                    amout3Star += 1
                                }
                                if(comment.star == 4 ){
                                    amout4Star += 1
                                }
                                if(comment.star == 5 ){
                                    amout5Star += 1
                                }
                            });
                            let amout1StarPercent = (amout1Star/5)*100;
                            let amout2StarPercent = (amout2Star/5)*100;
                            let amout3StarPercent = (amout3Star/5)*100;
                            let amout4StarPercent = (amout4Star/5)*100;
                            let amout5StarPercent = (amout5Star/5)*100;
                            let avgStart = amountComment ? (amountStart/amountComment).toFixed(1) : 0;
                            // Tiến hành append dữ liệu mới
                            $(".txtScoreRating").html(`${avgStart}`);
                            $(".txtAmountComment").html(`${listCommentRating.length}`);
                            $(".container-amount-star").empty();
                            for( let index = 0; index < 5; index++ ) {
                                if (index < avgStart) {
                                    $(".container-amount-star").append(`
                                        <img style="margin-left:3px" src="/template/hailuu-fe/assets/images/start-favorite.svg" alt="">
                                    `)
                                }else{
                                    $(".container-amount-star").append(`
                                        <img style="margin-left:3px" src="/template/hailuu-fe/assets/images/start-favorite-outline.svg" alt="">
                                    `)
                                }
                            }
                            
                            $(".progressbar1").attr("style", `width: ${amout5StarPercent}%; border-radius: 20px;`);
                            $(".progressbar1").attr("aria-valuenow", `${amout5StarPercent}`);

                            $(".progressbar2").attr("style", `width: ${amout4StarPercent}%; border-radius: 20px;`);
                            $(".progressbar2").attr("aria-valuenow", `${amout5StarPercent}`);

                            $(".progressbar3").attr("style", `width: ${amout3StarPercent}%; border-radius: 20px;`);
                            $(".progressbar3").attr("aria-valuenow", `${amout3StarPercent}`);

                            $(".progressbar4").attr("style", `width: ${amout2StarPercent}%; border-radius: 20px;`);
                            $(".progressbar4").attr("aria-valuenow", `${amout2StarPercent}`);

                            $(".progressbar5").attr("style", `width: ${amout1StarPercent}%; border-radius: 20px;`);
                            $(".progressbar5").attr("aria-valuenow", `${amout1StarPercent}`);
                        }
                    },
                    error: function(error){
                        console.log({ error })
                    }
                });
            });
        })

        $('.page-link').on('click', function () {
			let productID 		= `<%= infoProduct._id %>`;
			let totalPage 	= +$(this).attr('_totalPage');
			let thisPage 	= $(this);
			let currentPage = 1;
            $('.container-list-comment').empty();
			if(thisPage.hasClass('page-previous') || thisPage.hasClass('page-next')){
				currentPage = +$('.page-item.active').children('.page-link').attr('_currentPage');

				if(thisPage.hasClass('page-previous')){

					if(currentPage <= 1){
						thisPage.parent().addClass('disabled');
						currentPage = 1;
					} else{
						thisPage.parent().removeClass('disabled');
						currentPage = currentPage - 1;
					}

					// currentPage = currentPage > 1 ? currentPage - 1 : 1;
					$('.page-item.active').removeClass('active').prev().addClass('active');
				}

				if(thisPage.hasClass('page-next')){

					if(currentPage === totalPage){
						thisPage.parent().addClass('disabled');
						currentPage = totalPage;
					} else{
						thisPage.parent().removeClass('disabled');
						currentPage = currentPage + 1;
					}

					// currentPage = currentPage === totalPage ? currentPage + 1 : totalPage;
					$('.page-item.active').removeClass('active').next().addClass('active');
				}

			} else{
				$('.page-item').removeClass('active');
				currentPage = +thisPage.attr('_currentPage');
				thisPage.parent().addClass('active');
			}

			if(currentPage > 1){
				$('.page-previous').parent().removeClass('disabled');
			} else{
				$('.page-previous').parent().addClass('disabled');
			}

			if(currentPage < totalPage){
				$('.page-next').parent().removeClass('disabled');
			} else{
				$('.page-next').parent().addClass('disabled');
			}

			$.ajax({
				type: "GET",
				url: `<%= CF_ROUTINGS_ACCOUNT.LIST_COMMENT_PRODUCT %>`,
				data: { productID, page: currentPage }
			}).done(resp => {
				const { error, message, data } = resp;
				if(error || !data.listData.length) return;

				let htmlComment = '';
				data.listData.map(comment => {
					htmlComment += htmlRowCommentLink(comment);
				})

				$('.container-list-comment').html(htmlComment);
			}).fail(err => console.error(err))
		});
    })
</script>