<script>
	$(document).ready(function () {
		function updateOrderLine({ orderLineID, file, containerDropzone }) {
			$.ajax({
				type: "POST",
				url: `<%= CF_ROUTINGS_ORDER.PUSH_FILE_TO_ORDER_LINE %>`,
				data: { orderLineID, file },
			}).done(resp => {
				const { error, message, fileID } = resp;

				if(error){
					return toastrWarning(message);
				}

				let fileImg = '';

				if (file.type === 'application/pdf') {
					fileImg = '<img src="/template/hailuu-fe/assets/images/Asset 1@4x-8@2x.png" alt="Pdf File" class="img-file">'
				} else if(file.type === 'application/illustrator') {
					fileImg = '<img src="/template/hailuu-fe/assets/images/Mask Group 126@2x.png" alt="AI File" class="img-file">'
				} else if(file.type === 'image/x-eps') {
					fileImg = '<img src="/template/hailuu-fe/assets/images/Mask Group 127@2x.png" alt="EPS File" class="img-file">'
				} else if(file.type === 'application/vnd.ms-excel' || file.type === 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet') {
					fileImg = '<img src="/template/hailuu-fe/assets/images/Mask Group 125@2x.png" alt="Excel File" class="img-file">'
				} else{
					fileImg = '<img src="/template/hailuu-fe/assets/images/Asset 1@4x-8.svg" alt="Excel File" class="img-file">';
				}

				containerDropzone.toggleClass('d-none');
				containerDropzone.parent().find('.files').removeClass('d-none').append(`
					<div class="file-name my-2 d-flex justify-content-between align-items-center" data-id="${file.name}">
						<a href="${file.path}" download="${file.path}" target="_blank" style="color: black" title="${file.name}">
							${fileImg}
							${file.name.length > 22 ? file.name.substr(0, 22) + '...' : file.name}
						</a>
						<a href="javascript:void(0)" class="btn-remove-file-order-line" _fileID="${fileID}" _orderLineID="${orderLineID}">
							<img src="/template/hailuu-fe/assets/images/Mask Group 104.svg" alt="Delete" class="img-fluid">
						</a>
					</div>
				`);
				containerDropzone.find('.box-drag-and-drop').removeClass('d-none');
				containerDropzone.find('.box-processing-upload-file').addClass('d-none');
				containerDropzone.find('.box-processing-upload-file .text-uploading span').text('0%');
				containerDropzone.find('.box-processing-upload-file .progress-bar').css('width', '0%');

				toastrSuccess('Thêm file thành công');
			}).fail(err => console.error(err))
		}

		async function uploadFileOrderLine(orderLineID, files, containerDropzone) {
			if(files.length){
				containerDropzone.find('.box-drag-and-drop').addClass('d-none');
				containerDropzone.find('.box-processing-upload-file').removeClass('d-none');

				await addFileToUpload(files, links => {
					const { name, size, type } = files[0];

					const infoFile = {
						name,
						size,
						type,
						path: links[0].uri,
					}
					updateOrderLine({ orderLineID, file: infoFile, containerDropzone });

				}, percentage => {
					percentage = `${Math.ceil(percentage)}%`;
					containerDropzone.find('.box-processing-upload-file .text-uploading span').text(percentage);
					containerDropzone.find('.box-processing-upload-file .progress-bar').css('width', percentage);
				})
			}
		}

		$('.box-order-line').each(function (_, elem) { 
			const orderLineID 	= $(this).attr('_orderLineID');
			const dropZoneID	= `#boxDropzoneFile-${orderLineID}`;

			new FileDropzone({
				target: dropZoneID,
				fileHoverClass: 'entered',
				clickable: true,
				multiple: false,
				forceReplace: false,
				// accept: '',
				unique: true,
				noFolder: true,
				onChange: async function () {
					let files = this.getFiles();
					// console.log({ __elem: this.element, files });

					let containerDropzone = $(dropZoneID);
					await uploadFileOrderLine(orderLineID, files, containerDropzone);
				},
				onLeave: function () {
					$(elem).find(dropZoneID).css('opacity', '1');
				},
				onHover: function () {
					$(elem).find(dropZoneID).css('opacity', '.6');
				},
				onDrop: function () {
					$(elem).find(dropZoneID).css('opacity', '1');
				},
				onInvalid: function (files) {
					console.log(files);
					alert('File invalid');
				},
				beforeAdd: function (files) {
					// console.log({ __beforeAdd: files });
				}
			})
		});

		$(document).on('click', '.btn-remove-file-order-line', function (e) {
			e.preventDefault();

			const orderLineID 	= $(this).attr('_orderLineID');
			const fileID		= $(this).attr('_fileID');
			const accept 		= confirm('Bạn có chắc chắn muốn xoá file?');
			if(!accept) return;

			if(!orderLineID || !fileID){
				return toastrWarning('Không thể xoá file vui lòng thử reload lại trang')
			}

			$.ajax({
				type: "POST",
				url: `<%= CF_ROUTINGS_ORDER.DELETE_FILE_IN_ORDER_LINE %>`,
				data: { orderLineID, fileID },
			}).done(resp => {
				const containerListFile = $(this).closest('.files');
				containerListFile.addClass('d-none');
				$(this).closest('.row-box-orderline').find('.box-dropzone-file').removeClass('d-none');
				$(this).parent().remove();
				// window.location.reload();

			}).fail(err => toastrError(err.message))
		});

		$('input[type="radio"][name="radioAddress"]').on('change', function () {
			const value = +$(this).val();

			if(value === 1 && !$('.option-address').length){
				toastrWarning('Hiện bạn chưa có địa chỉ, vui lòng tạo địa chỉ để nhận hàng');
			}
		});

		$('input[type="radio"][name="radioPayment"]').on('change', function () {
			const value = +$(this).val();

			if(value === 1){
				$('.bank-info').removeClass('d-none');
			} else{
				$('.bank-info').addClass('d-none');
			}
		});

		$(document).on('click', '.option-address__item', function (e) {
			$('.btn__address2').click();
		})
		

		$('.btn-create-order').on('click', function () {
			let orderLine 		= [...$('.box-order-line')].map(orderLine => $(orderLine).attr('_orderLineID'));
			let paymentMethod 	= $('input[type="radio"][name="radioPayment"]:checked').val();
			let address 		= $('input[type="radio"][name="radioAddress"]:checked').val();
			let price 			= $('.order-pay-value-amount').attr('_price').trim();
			let deliveryPrice	= $('.order-delivery-price').attr('_price').trim();
			let weight 			= $('.order-weight').attr('_weight').trim();
			let exportVAT 		= $('#exportVAT-web').prop('checked') ? 1 : 0;
			address = +address === 1 ? $('input[type="radio"][name="option-address"]:checked').val() : '';

			// console.log(x, y, screen.width, screen.availWidth);
			if(screen.width <= 767){
				exportVAT = $('#exportVAT-mobile').prop('checked') ? 1 : 0;
			}
			if(address === 'on'){
				return toastrWarning('Vui lòng chọn địa chỉ để nhận hàng');
			}
			if(!orderLine || !orderLine.length){
				return toastrWarning('Giỏ hàng của bạn đang trống');
			}
			if(!paymentMethod){
				return toastrWarning('Phương thức thanh toán không hợp lệ');
			}

			// console.log({ orderLine, price, weight, deliveryPrice, paymentMethod, address, exportVAT });
			// return alert(JSON.stringify({ orderLine, price, weight, deliveryPrice, paymentMethod, address, exportVAT }));

			Swal.fire({
				title: "Đặt hàng",
				text: 'Bạn có chắc chắn muốn đặt hàng?',
				icon: 'info',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: 'Xác nhận',
				cancelButtonText: 'Huỷ'
			}).then((result) => {
				/* Read more about isConfirmed, isDenied below */
				if (result.isConfirmed) {
					$.ajax({
						type: 'POST',
						url: `<%= CF_ROUTINGS_ORDER.ADD_ORDER %>`,
						data: {
							orderLine, weight, amount: price, deliveryPrice, 
							payment: paymentMethod, addressID: address, exportVAT
						},
					}).done(resp => {
						const { error, message, data } = resp;

						if(error){
							return toastrWarning(message);
						}

						if(data.PAY_URL){
							return location.replace(data.PAY_URL);
						}

						Swal.fire({
							position: 'center',
							icon: 'success',
							title: 'Đặt dịch vụ thành công',
							showConfirmButton: false,
							timer: 1500
						}).then(() => location.replace('/dat-hang-thanh-cong'))
					}).fail(err => toastrError(err.message))

				}
			})


		});
		

	});
</script>