<script>
    $(document).ready(function () {
        $('#txtCity').on('change', function () {
            $("#txtDistrict").empty();
            let value = $(this).val();

            // setSuccess("#txtCity");
            if ( value && value != ""){
                $.ajax({
                    url: `/list-districts/${value}`,
                    method: 'get',
                    success: resp => {
                        console.log({ resp,value });
                        let { listDistricts } = resp;
                        let listDistrict = Object.entries(listDistricts);
                        let dataAppend = "";
                        listDistrict.forEach(district => {
                            dataAppend += `<option value="${district[1].code}">${district[1].name_with_type}</option>`
                        })
                        if (!resp.error){
                            $("#txtDistrict").append(`<option id="emptyDistrict" value="" selected>Chọn Quận/Huyện</option>`);
                            $("#txtDistrict").append(dataAppend);
                            $("#txtWard").empty();
                            $("#txtWard").append(`
                                <option id="emptyWard" value="">Chọn Phường</option>
                            `);
                        }else{
                            return toastrError(`Thất bại`);
                        }
                    },
                    error: function(err) {
                        return toastrError(`Xóa thất bại`);
                    }
                });
            }else{
                $("#txtDistrict").append(`
                    <option id="emptyDistrict" value="">Chọn Quận/Huyện</option>
                `);
                $("#emptyDistrict").attr("selected", true);

                $("#txtWard").empty();
                $("#txtWard").append(`
                    <option id="emptyWard" value="">Chọn Phường</option>
                `);
                $("#emptyWard").attr("selected", true);
            }
            
        });

		//Xã, phường
        $('#txtDistrict').on('change', function () {
            $("#txtWard").empty();
            let value = $(this).val();
            if ( value && value != ""){
                $.ajax({
                    url: `/list-wards/${value}`,
                    method: 'get',
                    success: resp => {
                        let { listWards } = resp;
                        let listWard = Object.entries(listWards);
                        let dataAppend = "";
                        listWard.forEach(ward => {
                            dataAppend += `<option value="${ward[1].code}">${ward[1].name_with_type}</option>`
                        })
                        if (!resp.error){
                            $("#txtWard").append(`<option id="emptyWard" value="" selected>Chọn Phường</option>`);
                            $("#txtWard").append(dataAppend);
                        }else{
                            return toastrError(`Thất bại`);
                        }
                    },
                    error: function(err) {
                        return toastrError(`Xóa thất bại`);
                    }
                });
            }else{
                $("#txtWard").append(`
                    <option id="emptyWard" value="">Chọn Phường</option>
                `);
                $("#emptyWard").attr("selected", true);
            }
        });

        //Cập nhật địa chỉ mới
        $('#btnUpdateAddress').on('click', function () {
            let addressID = $(this).attr("_addressID");
            let receiverName = $("#inputReceiver").val();
            let receiverPhone = $("#inputPhone").val();
            let city = $("#txtCity").val();
            let district = $("#txtDistrict").val();    
            let ward = $("#txtWard").val();
            let address = $("#inputAddress").val();
            let addressDefault = 0;
            if ($('#defaultAddress').is(":checked")) {
                addressDefault = 1;
            }
            if(!receiverName || !receiverPhone || !city || !district || !ward || !address )
                return toastrWarning("Vui lòng nhập đầy đủ thông tin!");
            $.ajax({
                url: `/api/customer/update-address`,
                method: 'POST',
                data: { addressID, receiverName, receiverPhone, city, district, ward, address, addressDefault },
                success: function(resp) {
                    console.log({ resp });
                    if (resp.error){
                        toastrError('Thất Bại');
                    }else{
                        toastrSuccess('Địa chỉ của bạn đã được cập nhật');
                        // setTimeout(() => {
                        //     window.location.href = "/so-dia-chi"
                        // }, 500);
                    }
                },
                error: function(error){
                    console.log({ error })
                }
            });
        })

       

    })
</script>